[2021-07-17 15:46] ericdallo commented on #484
@sittim also, could you check if  the same behaviour happens if you use clojure-lsp via your editor?

[2021-07-17 15:53] sittim commented on #484
- No issues with `clojure -A:dev -Spath` but same issue in the editor, I looked through logs.
- No issue running [reagent-template](https://github.com/reagent-project/reagent-template)
- Seems to have an issue with [fulcro-template](https://github.com/fulcrologic/fulcro-template)

[2021-07-17 16:09] ericdallo commented on #484
That's odd, all those projects work for me, the fulcro one took 1-2 minutes the first time as it has a lot of dependencies but it worked

[2021-07-17 16:15] ericdallo commented on #484
@sittim I made a commit on master improving error handling and logging during project analysis, not sure it'll help with your issue, but I'd suggest testing it, if you'd like to test it you can just `make` on clojure-lsp to generate a `clojure-lsp` binary.

[2021-07-17 17:33] sittim commented on #484
cloned, built it and installed it.  It seems to work so far.  The db is populated with 51MB!

[2021-07-17 17:45] ericdallo commented on #484
Yeah, usually cljs libs like fulcro have a lot of dependencies, glad to know it works now

[2021-07-17 18:13] sittim commented on #484
@ericdallo, thank you, I love it, I edited the initial question so it is easier to understand and closing the issue.

[2021-07-17 18:28] #484 closed

[2021-07-17 18:28] ericdallo commented on #484
Thank you, don't forget to test the next release as this should work with the graalvm binary

[2021-07-19 22:57] sittim opened #485 "release 2021.07.19-14.46.52 gets killed by shell."
**Describe the bug**
clojure_lsp gets killed.

**To Reproduce**
1. Download latest clojure-lsp binary, unzip and install the `clojure_lsp` executable.
1. Clone repo https://github.com/fulcrologic/fulcro-template
1. Run `clojure-lsp clean-ns --verbose`
1. Result:
[code]

**Expected behavior**
Expected completion of analysis

**User details (please complete the following information):**
 - OS: Ubunt

[2021-07-19 23:05] sittim commented on #485
I also cloned latest commit of `clojure_lsp` and I get the same result.

[2021-07-19 23:18] sittim commented on #485
I undid 1 commit and it seems to have gone further:
[code]

[2021-07-19 23:28] sittim commented on #485
Got it!  to run the program, there must be at least 2.5G of available memory.  I was getting into an issue because shadow-cljs, all the REPLs were eating up the memory.

[2021-07-19 23:28] #485 closed

[2021-07-19 23:51] ericdallo commented on #485
Hum, it's odd that we don't get any exceptions when it's killed, probably GraalVM is hiding something.

[2021-07-20 09:52] sittim commented on #485
One more note, the latest released version works great, but it looks like it does use about 4.2G of memory to run the `clean-ns`.  I do development in VirtualBox virtual machine, so I needed to increase the memory size to 4.5G. Just for shadow-cljs and vim-iced, requires 2.3G of VM space:

![image](https://user-images.githubusercontent.com/8825037/126301856-0164f2d1-b3d7-411a-b772-748fa959ca95.png

[2021-07-20 12:54] ericdallo commented on #485
@sittim probably the memory is related with clj-kondo analysis which is the consuming part of the run, this usually happens one time per deps change, after that the external analysis are cached

[2021-07-21 15:29] ericdallo commented on #481
Probably the best idea is to wait for clj-kondo support it here: https://github.com/clj-kondo/clj-kondo/issues/1321 as adding this feature on clojure-lsp side would probably decrease performance as we don't have easy access to the document at the diagnostics time.

[2021-07-24 21:11] crinklywrappr opened #487 "NixOS: Never progresses past `Starting` state"
**Describe the bug**
Never progresses past the 'Starting' state.

**To Reproduce**
Execute on nixos, using the builtin package.

**Details**

I ran with `strace` and found that it's waiting for ... something.

![Screenshot from 2021-07-24 15-58-10](https://user-images.githubusercontent.com/56522/126881046-73139471-d483-4e3a-9b58-621947bc779d.png)

The file output from that run:

[code]

Emacs appe

[2021-07-24 21:18] ericdallo commented on #487
Thank you for the report, @crinklywrappr, could you try the embedded JVM binary from releases?
It's called `clojure-lsp` on [this Page](https://github.com/clojure-lsp/clojure-lsp/releases/tag/2021.07.19-14.46.52), just to confirm it's not a issue with your config/nix installation?

[2021-07-24 21:22] crinklywrappr commented on #487
Sure thing.  I am also going to try the build on nix unstable, since the stable version is a few releases old.

[2021-07-24 21:22] ericdallo commented on #487
Oh, for sure you should use the unstable one, also, I updated it recently

[2021-07-24 22:10] crinklywrappr commented on #487
The more recent version on unstable works fine.

[2021-07-24 22:10] #487 closed

[2021-07-24 22:36] crinklywrappr opened #488 "Emacs: `Error processing message (wrong-type-argument sequencep count)`"
**Describe the bug**
Displays this error message below the emacs modeline, after any interaction with the file (including simply moving the pointer around)

![Screenshot from 2021-07-24 17-22-38](https://user-images.githubusercontent.com/56522/126882338-505060bf-c121-4dca-bb2b-856367ad50c9.png)

I have seen this on Windows and Linux.  Screenshot taken w/ nixos

clojure-lsp 2021.07.19-14.46.52
clj-

[2021-07-24 22:38] ericdallo commented on #488
This is a client issue, or a lsp-mode bug or a bug with some package of yours, you can try to debug emacs with `M-x` `toggle-debug-on-error` to get the stacktrace.

[2021-07-24 22:38] #488 closed

[2021-07-25 05:42] zhming0 opened #489 "textDocument/Rename does not work under nvim.coc"
**Describe the bug**

Whenever I tried to do do rename using nvim.coc,  I get an "Invalid position for rename" error from CoC.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a bare minimum project with `deps.edn` (`:paths` set to `["./src"]`), `src/test.clj`
2. Add some sample code as per the screenshot below.
3. Try to rename the function name using LSP Client (in my case CoC)
4. See

[2021-07-25 09:24] zhming0 commented on #489
Did some further digging. I have found that the `./` part in `:path` seems to break both the `rename` and the `auto-add-ns-for-new-files` features. I changed the path to `["src"]` and it works.

Happy to close this issue and open a new one. Just confirming I am in the right path?

[2021-07-25 14:45] ericdallo commented on #489
thanks for the report, so it seems a particular issue with clojure-lsp auto resolving the source-paths from deps.edn :paths, right?
if so, please open a new issue with those details

[2021-07-25 14:56] #489 closed

[2021-07-28 07:13] dharrigan opened #492 "Unable to open up jar file when going to definition (for dependencyContents)"
Arch Linux,
neovim 0.5.0

[code]

Hi,

On trying to executed `clojure/dependencyContents` on, for example `clojure.string/join`, I receive these two errors (note that the exceptions, one after the other, are subtly different):

[code]

The URI that is being passed to clojure-lsp is like this:

`
jar:file:///home/david/.m2/repository/org/clojure/clojure/1.10.3/clojure-1.10.3.jar!/clojure/core.clj
`

[2021-07-28 09:12] dharrigan commented on #492
It seems that the `uri` being passed to `shared/uri->filename` is this:

`jar:file%3A///home/david/.m2/repository/org/clojure/clojure/1.10.3/clojure-1.10.3.jar%21/clojure/string.clj`

which causes the URL connection to fail, as it can't unescape the escaped characters (colon and question mark)

[2021-07-28 09:35] dharrigan commented on #492
More Details.

Since the change to `coc-clojure` as the language server (rather than using `clojure-lsp` directly, I've discovered I need to change the function LoadClojureContent (detailed above) to have this:

`CocRequest('clojure', ........` and not `CocRequest('clojure-lsp', ......`)

Doing that gets a step further, but then I observe a stack trace:

[code]

[2021-07-28 12:47] ericdallo commented on #492
@dharrigan we had some changes on namespaces, before it was clojure-lsp.main/extension but now is clojure-lsp.server/extension.
I have no ideas why the com client calls that directly and why that change broke vim though

[2021-07-28 12:48] ericdallo commented on #492
I'm not sure why that works for all other clients but vim, WDYT about the PR @LuisThiamNye ?

[2021-07-28 12:52] dharrigan commented on #492
Hi,

I don't think it was vim related, simply that was manifested as I use vim. I've done a patch, and tested on my local clone and it appears to have resolved it. Thoughts on the patch?

-=david=-

[2021-07-28 13:28] LuisThiamNye commented on #492
This, with the escaping, is not a valid URI:
`jar:file%3A///home/david/.m2/repository/org/clojure/clojure/1.10.3/clojure-1.10.3.jar%21/clojure/string.clj`

- https://en.wikipedia.org/wiki/Uniform_Resource_Identifier
- https://docs.oracle.com/javase/7/docs/api/java/net/JarURLConnection.html

I do not understand why there should be escaping in those places, and it is confusing that only the second c

[2021-07-28 13:29] ericdallo commented on #492
@dharrigan I'd like to understand here why the current behavior works for emacs/vscode and not for vim, I suspect clients are sending different URI patterns.
Could you share the `textDocument/definition request`? in your logs it seems it only contains the response one.

mine on emacs is:
[code]

[2021-07-28 14:05] dharrigan commented on #492
Hi,

This is on the unpatched, released version (I've truncated it a bit, in order to not to show all of the clojure core source code):

[code]

[2021-07-28 14:12] ericdallo commented on #492
It looks the same to me, I wonder what is the difference between the clients, @LuisThiamNye any thoughts?

[2021-07-28 14:13] ericdallo commented on #492
@dharrigan are you using `:dependency-scheme "jar"` or `:dependency-scheme "zipfile"` ?

[2021-07-28 14:17] dharrigan opened #495 "Semantic Highlighting - is it vim issue?"
Hi,

I've put together a very simple project showing semantic highlighting not working. I don't know if this is only a vim + coc issue.

Here's a link to the log:

* https://github.com/dharrigan/semantic-tokens/blob/master/semantic-tokens-log.txt

And here's an image of it not working

![Image showing no highlighting](https://github.com/dharrigan/semantic-tokens/blob/master/semantic-tokens.png)

-

[2021-07-28 14:18] dharrigan commented on #492
jar.

[2021-07-28 14:22] ericdallo commented on #492
We can see from the exceptions that it's happening for a lot of features, semantic-tokens, code-lens, document-highlighting

[2021-07-28 14:23] ericdallo commented on #492
so the issue is not in definition @dharrigan, that is the only that is correct, the issue is the other requests sending as escaped already

[2021-07-28 14:27] dharrigan commented on #492
Indeed, if I look at an example for the codeLens:

[code]

It's sending to clojure-lsp the escaped uri.

[2021-07-28 14:40] ericdallo commented on #495
Thanks for the report!
So, it seems a vim issue or something wrong with your vim theme?
We can see from the logs that clojure-lsp is returning an array of integers for the semantic tokens, let's get the first 25 elements and analyze them:
[code]
It follows a pattern to know what to collor, lets get the first 5 elements:
- `5` - means count 5 lines from last token (starts at top)
- `1` - means coun

[2021-07-28 14:43] dharrigan commented on #495
Hello,

Yup, a Coc (Vim) issue:

I've done some more digging and semantic highlighting is now disabled by default, *at a CoC level*, unless it is switched back on again :facepalm:

Here is the relevant commit:

https://github.com/neoclide/coc.nvim/commit/76f407d45640aeadc97a555eac0939217d0dd662

And thus, to enable semantic highlighing again, whack this beauty into your vim config:

`let g:coc_def

[2021-07-28 14:48] #495 closed

[2021-07-28 15:09] ericdallo commented on #492
yeah, so unfortunately it seems to be a wrong uri sent from vim client

[2021-07-28 15:17] dharrigan commented on #492
Hi,

Maybe so, but wouldn't it be okay to add in that patch, since the code itself looks to see if the URI start with a `jar:` schema first? In order to understand why, potentially, the client is sending the escaped URL, will require some investigation first. The patch could be removed at a later point?

[2021-07-28 15:47] dharrigan commented on #492
Hi,

Been looking through CoC and the relevant sections of the spec,as detailed here:

https://microsoft.github.io/language-server-protocol/specifications/specification-3-17/#documentUri

I believe CoC is parsing the URI, then sending it out encoded using the node module `vscode-uri`. This causes the string to be encoded, i.e.,

[code]

[code]

[2021-07-28 16:01] LuisThiamNye commented on #492
As for other editors, people would probably not notice. However, it might leave Vim with some weird issues as `filename->uri` would give a result inconsistent with what is passed to `uri->filename` — and I think URIs are used by clojure-lsp as a unique identifier.

Oh dear. vscode-uri has caused problems with Calva as well in the past due to the way it encodes URIs. If it is really not an option f

[2021-07-28 16:05] dharrigan commented on #492
Hi,

Just looking through the codebase of CoC, and I can see at line https://github.com/neoclide/coc.nvim/blob/5aa3197360a76200e8beb30c9957fac1205b7ad5/src/model/document.ts#L203 it initialises itself, and the block of code it invokes does a parse (starting from https://github.com/neoclide/coc.nvim/blob/5aa3197360a76200e8beb30c9957fac1205b7ad5/src/util/index.ts#L36).

This suggests to me, that eve

[2021-07-28 16:18] ericdallo commented on #492
maybe @bpringe can help here, how Calva handles/send URIs to clojure-lsp? does it uses vscode-uri or something else?

[2021-07-28 16:24] dharrigan commented on #492
After speaking with @ericdallo a bit of I'm going to rework my patch a bit to use java 11 URLDecoder inside a function with a try...catch. Using URLDecoer will probably a lot better than my attempt :-)

If any errors occurs, then it'll log the error and simply return the string as-is.

I'll work on that shortly.

[2021-07-28 16:26] ericdallo commented on #492
yeah, this makes it safer for existent clients and fixes it when it comes escaped.
I don't think we will have any issues with uniqueness as we use the filename from clj-kondo most of the time

[2021-07-29 00:27] bpringe commented on #492
I'm not sure about what the client library does to URIs before sending requests, but in some places where we manually send a request to clojure-lsp, we call `decodeURIComponent`. IIRC, I did that to fix an issue we had with URIs.

 Example: https://github.com/BetterThanTomorrow/calva/blob/5b2d1d7d43f62376c16f46765be7056a92a9504c/src/lsp/main.ts#L230

[2021-07-29 17:35] NoahTheDuke opened #497 "Off-by-one error when renaming a var that is declared"
**Describe the bug**
When I use the `document.renameCurrentWord` lsp functionality, all of the vars are correctly renamed except for places where it is in a `declare` call. In that case, the replacement happens one character to the right (leaving the initial letter of the original name around and overwriting the existing character one past the end of the name, usually a closing parenthesis).

**Sc

[2021-07-29 17:45] ericdallo commented on #497
Thanks for the report, I can confirm the issue, this is actually related with how we are persisting the row/col/name-row/name-col of the declare analysis, you can check that document-highlighting is not correct as well.
I can take a look at this later

[2021-07-31 15:15] knubie opened #498 "Option to disable source on hover?"
**Is your feature request related to a problem? Please describe.**
When using the hover feature in neovim, the source displayed at the bottom is usually not very useful and adds a lot of noise:
<img width="968" alt="Screen Shot 2021-07-31 at 11 03 44 AM" src="https://user-images.githubusercontent.com/431251/127744244-01405b57-2a05-4606-947e-b8becc482884.png">

**Describe the solution you'd like**

[2021-07-31 17:04] ericdallo commented on #498
I think neo vim should show only the file location, not the link location as well, is this using correct markdown?

[2021-07-31 17:04] ericdallo commented on #498
c/c @NoahTheDuke

[2021-07-31 17:07] knubie commented on #498
Even the link text by itself would still be pretty noisy.

[2021-07-31 17:35] ericdallo commented on #498
We can add a flag to disable it

[2021-07-31 19:22] knubie commented on #498
Awesome, thank you!

[2021-07-31 22:32] #492 closed

[2021-08-01 00:43] ericdallo commented on #497
@NoahTheDuke It's a clj-kondo bug, I opened https://github.com/clj-kondo/clj-kondo/issues/1342 and a fix https://github.com/clj-kondo/clj-kondo/pull/1343

[2021-08-01 00:46] #477 closed

[2021-08-01 00:56] ericdallo commented on #470
Closing as it's probably a client issue, LMK if need any help

[2021-08-01 00:56] #470 closed

[2021-08-01 14:52] #498 closed

[2021-08-01 15:10] ericdallo commented on #497
It was merged, I'll bump as soon a new clj-kondo release is available

[2021-08-02 22:31] ericdallo commented on #481
This was done on: https://github.com/clojure-lsp/clojure-lsp/pull/490 making it possible to suppress lint with `#_{:clj-kondo/ignore [:clojure-lsp/unused-public-var]}`

[2021-08-02 22:37] ericdallo opened #501 "[LSP] Support `workspace/semanticTokens/refresh`"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-3-17/#semanticTokens_refreshRequest)

We should force refresh tokens after renaming vars for example

[2021-08-02 22:39] ericdallo opened #502 "Don't require server restart after configuration change"
We should improve clojure-lsp configuration (`.lsp/config.edn`) to be able to not require a server restart after a configuration change.

Ideas:
- We can create some kind of component that hash the config file and check if it changed, or just re-read the config file, wherever it's the fastest.

[2021-08-04 15:04] ericdallo opened #505 "Suggest all available `add require...` code actions for multiple aliases of the same namespace"
ATM, if we have a code like:

`foo.clj`
[code]
And we have 2 different namespaces requiring with different alias like:
`bar.clj`
[code]
`baz.clj`
[code]

clojure-lsp doesn't return all possible alias if we try to require in a fourth namespace, actually we don't show any code action for that:
`qux.clj`
[code]

We could return 2 possible code actions:
- Add missing `foo` require as `some-foo`
- Add

[2021-08-05 07:00] lassemaatta opened #506 "An AssertationError is thrown when opening/analyzing a large project"
**Describe the bug**

I noticed that opening a (very) large project in emacs sometimes causes `clojure-lsp` to throw an exception after a while.

The exception does not seem to break `clojure-lsp`, at least not in an obvious way. I can still invoke `clojure-lsp` functions from `emacs` and everything seems to work ok.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a large project in ema

[2021-08-05 13:10] ericdallo commented on #506
Thanks for the report, It only affect linting the whole project after startup (which can be disabled with `lint-project-files-after-startup?`), it seems the channel clojure-lsp uses for diagnostics is reaching an overflow 🤔 I need to investigate the better way to fix it

[2021-08-05 14:48] ericdallo commented on #506
@lassemaatta Fixed on master, would you mind try the fix before next release? you can clone clojure-lsp and run `make` to generate a `clojure-lsp` binary on the root. It'll not be compiled wtih GraalVM but it's enough to test if the issue was fixed

[2021-08-05 15:16] #497 closed

[2021-08-05 15:16] #481 closed

[2021-08-05 19:01] #506 closed

[2021-08-06 00:50] corasaurus-hex opened #507 "symbol in bb.edn :paths causes crash"
My project had a [bb.edn](https://github.com/cljdoc/cljdoc/blob/b6956e2c4f6f17b6e0fc64b729e6b4b7b5428d29/bb.edn#L1) where the `:paths` vector had a symbol in it, like `:paths [script]`, and the latest clojure-lsp failed with this error:

[code]

But apparently babashka allows it to be a symbol (weird, but true). I've changed it from a symbol to a string but I spent so long debugging this that it s

[2021-08-06 00:52] ericdallo commented on #507
thank you for the report!
I didn't know a symbol were allowed as well, I'll update clojure-lsp to support handle that :)

[2021-08-06 00:52] ericdallo commented on #507
The previous releases didn't support read bb.edn, that's why it "worked" :)

[2021-08-06 00:55] corasaurus-hex commented on #507
well _that_ explains it 😅

[2021-08-06 00:56] corasaurus-hex commented on #507
thank you!

[2021-08-06 01:09] #507 closed

[2021-08-06 01:09] ericdallo commented on #507
Fixed, it should be available on next release!

[2021-08-06 01:15] ericdallo commented on #453
LMK if the issue keeps to happen

[2021-08-06 01:15] #453 closed

[2021-08-06 13:33] dharrigan opened #508 "Enhance CodeLens to show defs that are private and external to the namespace."
**Is your feature request related to a problem? Please describe.**

It's often quite difficult, in large namespaces, to know which functions (for example) are being used outside of that namespace, in other namespaces. Right now, with the help of clj-kondo, clojure-lsp would show me (as a codeLens feature), something like this:

![image](https://user-images.githubusercontent.com/427150/128516755-e4

[2021-08-06 13:35] ericdallo commented on #508
Looks a good idea, I just wonder if ` 6 private references, 3 external references` is not a long name, making the code not that clean with that much info?

[2021-08-06 13:37] ericdallo commented on #508
Also how thiw would behave when there are tests for this var?
At the momento we show: `1 reference | 1 test`

[2021-08-06 13:42] dharrigan commented on #508
I suppose it would ignore tests as being "external". If it's being used in a test, then that is marked as being so, i.e.,

![image](https://user-images.githubusercontent.com/427150/128519286-5d0a2631-89e5-4155-8967-40e29ca681b1.png)

I guess it would be additional information:

`(defn random-uuid > 4 private, 8 external references | 27 tests)`

[2021-08-06 13:45] ericdallo commented on #508
Yeah, `4 private, 8 external references | 27 tests` sounds like the minimal to me

[2021-08-06 15:52] p-himik opened #509 "Unable to navigate to CLJS files from CLJC files within a jar"
**Describe the bug**
Calva with clojure-lsp always navigates to a symbol inside a CLJ file even if the context suggests that there's such a symbol in a CLJS file as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `quil "3.1.0"` to your project's dependencies
2. Create a new `.cljs` file and add `(:require [quil.core])` in there
3. Navigate to the definition of `quil.core`
4. Notice

[2021-08-06 15:54] ericdallo commented on #509
thank you for the report!
I found that clojure-lsp is using the filename of the current file always instead of checking if that element analysis has a `:lang`, I'll try to check this later today

[2021-08-06 16:49] #509 closed

[2021-08-06 16:49] ericdallo commented on #509
Fixed on master! it should be availalbe on next release. In case you want to try, you can clone this repo and `make` to generate a `clojure-lsp` binary.

[2021-08-07 03:09] ericdallo commented on #505
After testing the code, clojure-lsp actually suggests the only available code action for the alias typed which is the correct approach.

[2021-08-07 03:09] #505 closed

[2021-08-10 14:58] introom opened #513 "Stale unused var warnings when the file is deleted"
I’ve a file containing unused vars. Now I deleted the file, but lsp (calva) still shows the problems in the problems tab.

[2021-08-10 15:03] ericdallo commented on #513
we probably need to return empty diagnostics when a didClose is sent and the file is not available anymore, I'll take a look soon

[2021-08-11 02:05] #513 closed

[2021-08-11 02:08] ericdallo commented on #513
Fixed on master, available on next release!

[2021-08-11 02:29] introom commented on #513
Thanks for the efforts!

[2021-08-11 16:00] seancorfield opened #515 "New EDN files should not have an (ns ...) form inserted"
**Describe the bug**
When a new EDN file is created in VS Code with Calva/LSP running, an `(ns ...)` form is inserted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new file called `example.edn` in the VS Code explorer somewhere within either `resources` or `src` (or `test`).

**Expected behavior**
An empty file should be created.

**User details (please complete the following inf

[2021-08-11 18:21] ericdallo commented on #515
Fixed on master, it should be available on next release, thank you for the report!

[2021-08-14 17:42] thecontinium opened #517 "Question: Completion with neovim+nvim-lsp + compe.nvim + clojure-lsp"
Hi

I am using a combination of plugins with neovim using the native lsp client and autocompletion with nvim-compe

This works well with a number of different lsp servers but I am seeing some strange behaviour when using with clojure-lsp.

I am not sure where the problem is ( in neovim or plugin or clojure-lsp ) and am trying to debug the issue.

The completion problem occurs when I start the line

[2021-08-14 19:26] ericdallo commented on #517
We need to understand if the issue is on client or server side, could you try to get the client<->server json log?

This log should be available somehow from your LSP client, I don't know anything about vim though

We seek here the response of `completion` request.

[2021-08-14 20:10] ericdallo commented on #517
Also, feel free to add an entry for nvim client here with the proper link on how to get that log: https://clojure-lsp.github.io/clojure-lsp/troubleshooting/#client-server-log

[2021-08-15 14:59] thecontinium commented on #517
Thanks.

Once I have things up and running I'll give a description of the setup I am using with settings etc.
The problem seems to be something to do with the snippets.
If I disable the snippets capabilities at setup for clojure-lsp then all works as expected.
I suspect this is something on the client.

[2021-08-15 15:01] ericdallo commented on #517
Hum, yeah, you can double-check if there is no exception from server checking the [server logs](https://clojure-lsp.github.io/clojure-lsp/troubleshooting/#server-log)

[2021-08-15 21:11] ericdallo commented on #501
I took a look and didn't find yet a reason for server call this method manually

[2021-08-16 15:55] kommen opened #519 "`clojure-lsp --version` doesn't print anything"
On the command line, `clojure-lsp --version` doesn't print the version information.

**To Reproduce**

[code]

**Expected behavior**
Version information printed

Other:
[code]

[2021-08-16 16:12] ericdallo commented on #519
Yeah, I'm having issue with releasing clojure-lsp, I'll fix it ASAP

[2021-08-16 16:16] ericdallo commented on #519
@kommen does the issue is just the version or clojure-lsp doesn't work for your editor as well?

[2021-08-16 16:20] ericdallo commented on #519
it seems to be a issue with graalvm compiled binary, but just for the --version

[2021-08-16 17:16] ericdallo commented on #519
Fixed on next release that is being released right now

[2021-08-16 17:16] #519 closed

[2021-08-19 22:26] ericdallo opened #522 "Expose LSP diagnostics (clj-kondo findings) on API"
Something like `clojure-lsp diagnostics` would make sense

[2021-08-19 22:28] ericdallo opened #523 "Only consider last line of classpath lookup"
This should avoid issues with tools that prints a lot of things to stdout instead of stderr before printing the real classpath like `shadow-cljs`, so getting only the last line of the output would probably work

[2021-08-19 22:29] ericdallo commented on #523
Should fix issues like https://github.com/BetterThanTomorrow/calva/issues/1050
c/c @bpringe

[2021-08-19 22:30] #454 closed

[2021-08-20 01:48] #523 closed

[2021-08-21 14:31] #517 closed

[2021-08-25 17:09] ericdallo opened #527 "[clean-ns] Remove duplicated aliases"
ATM clojure-lsp can't remove duplicated required namespaces with different aliases, even if one of them is unused, for example:

[code]

It'd be nice if clojure-lsp could remove at least the require that is not being used, or even better rename all usages of one of the alias to match the other alias and then remove the unusued one.

[2021-08-25 17:50] ericdallo opened #528 "Create .clj-kondo folder if not exists in project root"
This would probably solve a lot of issues with clj-kondo .cache dir not being created, making the project not aware of external deps.

We could create a `.clj-kondo/config.edn` with a empty edn with comments about how to configure it as well as suggested by @borkdude

[2021-08-26 13:20] ericdallo opened #531 "Report as unused public var if the function was self referred only"
The same issue clj-kondo had on private-vars, but for public ones: https://github.com/clj-kondo/clj-kondo/issues/1367

[2021-08-31 13:29] ericdallo opened #535 "[GraalVM] Bump to graalvm 21.2.0"
We are using 21.1.0 for a long time, we should bump to 21.2.0

[2021-08-31 14:25] ericdallo opened #536 "Fix `didChangeWatchedFiles` to correctly remove from analysis deleted files"
We are incorrectly/not removing from analysis during a `didChangeWatchedFiles`, we should fix that for avoid outdated analysis when user changing git branches or anything that could cause file changes not via editor

[2021-09-01 13:27] scotts777 opened #537 "Error initializing lsp server in latest version 2021.08.24-14.41.56"
**Describe the bug**
When LSP client is starting the clojure-lsp server and calls the initialize method, the server fails with an error in the .out log
"clojure.lang.Keyword cannot be cast to java.lang.String".  Works fine in previous version  2021.08.05-19.36.09.  See full exception from log below.

**To Reproduce**
run lsp client against the two different versions.

clojure trace logging:

[Trac

[2021-09-01 17:20] ericdallo commented on #537
Thanks for the report!

Could you paste you project.clj, deps.edn, bb.edn or shadow-cljs.edn?

[2021-09-01 18:00] scotts777 commented on #537
deps.edn

`{:paths ["cljsrc" "javaclasses" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "62ef1de18e076903374306060ac0e8a752e5

[2021-09-01 18:01] scotts777 commented on #537
I do have a config.edn is the project's .lsp directory

{
 :log-path "C:\\Users\\Scott\\clj-lsp.out"
 :auto-add-ns-to-new-files? false
 :project-specs [{:project-path "deps.edn"
                  :classpath-cmd ["C:\\Users\\Scott.E.Suler\\scoop\\apps\\pwsh\\current\\pwsh.exe" "-Command" "clojure" "-Spath"]}]}

[2021-09-01 19:07] ericdallo commented on #537
I can't repro the issue with the provided deps.edn, could you create a minimal project in a repository where the error happens?

[2021-09-01 20:07] scotts777 commented on #537
yes I will try to create a shareable minimal project.  This one is pretty minimal as however for work reasons I can't share it.  Is there a way to make the log more legible?  that is basically be created by item in the config.edn file inside the projects .lsp directory.  Is there a pretty print of something?  no matter how i view it (notepad, notepad++ vscode) , it is messy like that

[2021-09-01 21:30] ericdallo commented on #537
Probably a cat/vim int he log file would be better, otherwise it's something windows probably is messing up :/

[2021-09-01 23:39] ericdallo commented on #537
Also, I wonder why you have a custom `project-specs`, the default one doesn't work for you? something we could improve in clojure-lsp for windows?

[2021-09-02 03:18] scotts777 commented on #537
So because the case program is already so simple, I started looking at this by putting some log messages where the Exception is pointing to.  The error is occurring in shared.clj in the function `to-file`.  the shared/to-file function is being called from `source-paths.clj` from the `process-source-paths` function.

I put in a bunch of log/infos in the `process-source-paths` function so it looks l

[2021-09-02 13:19] ericdallo commented on #537
thanks for the debug! The input to that function really must be a string not a keyword so we need to pas correctly the string.
We had a recent change where we keywordize some params from initializationOptions, maybe @NoahTheDuke can help with that?

[2021-09-02 13:30] scotts777 commented on #537
I will give that a try Eric.  Thanks

[2021-09-02 19:47] ericdallo commented on #537
@scotts777 it's a bug, https://github.com/clojure-lsp/clojure-lsp/pull/540 should fix it

[2021-09-02 22:38] #537 closed

[2021-09-03 00:42] ericdallo commented on #535
Done on ac4a76a

[2021-09-03 00:42] #535 closed

[2021-09-04 16:21] #522 closed

[2021-09-05 02:23] #528 closed

[2021-09-06 00:15] #536 closed

[2021-09-06 19:29] simonacca opened #546 "`:clojure-lsp/unused-public-var` breaks with "No matching clause: `:off`""
**Describe the bug**

Whenever the `:clojure-lsp/unused public-var` linter is disabled by setting `{:level :off}`, some LSP features don't work anymore in Calva.

**To Reproduce**
Steps to reproduce the behavior:
1. Open vscode with calva
2. Write some clojure with an issue, for example `unresolved-symbol`
3. set `$YOURPROJECT/.clj-kondo/config.edn`
4. show "problems" view. ctrl-p -> "focus on pro

[2021-09-06 22:13] ericdallo commented on #546
Thanks for the report, I'll try to repro this

[2021-09-07 01:10] ericdallo commented on #546
@simonacca thank you for the detailed repro, but unfortunately I can't repo the issue :/
I do see that exception though from clojure-lsp log and I will fix it for the next release, maybe the could be related to this issue on Calva somehow

[2021-09-07 01:51] ericdallo commented on #546
@simonacca I fixed the exception, maybe this should fix your issue as well?

Could you test the clojure-lsp master? to generate a dev release you just need to run `make` on the repo root and then make calva use the generated `clojure-lsp` binary instead of the one it has built-in, there is a calva setting for that.

[2021-09-07 06:47] simonacca commented on #546
@ericdallo I can confirm that the issue is solved in master!

Thank you for the incredibly prompt resolution :)

[2021-09-07 06:47] #546 closed

[2021-09-09 03:22] askonomm opened #547 "Cannot navigate into JARS in Sublime Text, opens browser instead"
**Describe the bug**
Whenever I hover over a function or package that isn't in my own project (e.g any external dependency), I get a popup with a path to the function inside of a JAR. Clicking on that link will however prompt to open the path in the browser, where it obviously fails to open it, because it is inside of a JAR. Worth mentioning that it attempts to load the file with a http://zipfile/

[2021-09-09 03:25] askonomm commented on #547
I managed to stumble upon [this (abandoned) pull request in Sublime LSP](https://github.com/sublimelsp/LSP/pull/1711) where it seems to also attempt to fix a pretty similar issue, but where the discussion seems to suggest that it is not the fault of Sublime LSP, but rather the Language LSP. I'm not sure where the issue really is, but thought it might be useful to point this out as well.

[2021-09-09 10:17] pratik97 commented on #316
@ericdallo attaching the zip of the dummy project created with `lein new app hello` which is still throwing the warnings mentioned in the issue.
[hello.zip](https://github.com/clojure-lsp/clojure-lsp/files/7135655/hello.zip)

[2021-09-09 10:27] borkdude commented on #316
I think I'm getting now what's going wrong....

@ericdallo You also need to include https://github.com/clj-kondo/clj-kondo/blob/13066e47b8418072edc15a853164a2ef73ddc75a/script/compile#L20 in the graalvm resources :)
This will fix it the weird problem we were seeing with clojure.test.
Your clojure-lsp native image doesn't have the built-in clj-kondo caches for clojure.test, etc.

Feel free to do a

[2021-09-09 10:28] borkdude opened #548 "Include built-in clj-kondo cache in native image"
I think I'm getting now what's going wrong....

@ericdallo You also need to include https://github.com/clj-kondo/clj-kondo/blob/13066e47b8418072edc15a853164a2ef73ddc75a/script/compile#L20 in the graalvm resources :)
This will fix it the weird problem we were seeing with clojure.test.
Your clojure-lsp native image doesn't have the built-in clj-kondo caches for clojure.test, etc.

Feel free to do a

[2021-09-09 12:09] ericdallo commented on #548
Oh, that really makes sense now!

[2021-09-09 13:29] #548 closed

[2021-09-09 13:44] ericdallo commented on #547
@askonomm there is a flag that some editors pass like `emacs`, `vscode` but other doesn't pass like `vim` that should make that work, is the `:dependency-scheme`, check the [docs](dependency-scheme), passing a `:jar` should probably solve your issue. if so, the best would be to make the sublime-text client send that flag enabled for clojure-lsp, just like lsp-mode does [here](https://github.com/em

[2021-09-09 14:50] askonomm commented on #547
@ericdallo It seems to work in that it changes the URL prefix to `http://jar:file:///`, but still opens in the browser where it fails to actually open, and go-to-definition still says "Unable to open URI". But what you are saying is, it is probably the fault of Sublime LSP then, right? In that case I can continue this conversation in Sublime LSP's repo instead.

[2021-09-09 15:04] ericdallo commented on #547
oh, `http://jar:file:///`it's indeed wrong, it should be `file://jar:file:///`. can you confirm server is returning correct?

[2021-09-09 16:58] askonomm commented on #547
This may seem like a stupid question, but how do I confirm that?

[2021-09-09 17:01] ericdallo commented on #547
This should help: https://clojure-lsp.io/troubleshooting/#client-server-log

[2021-09-09 17:42] askonomm commented on #547
The log output when trying to go-to-definition of a function in a dependency is this:

[code]

The log output when trying to navigate to a namespace in a dependency:

[code]

And when trying to open a path in the popup that leads to a file inside of a JAR it still opens a browser, and that doesn't seem to update the log.

[2021-09-09 19:16] ericdallo commented on #547
yeah, the server is returning everything correct, unfortunately, this seems to be an issue with the Sublime text LSP client 😔

[2021-09-09 19:41] askonomm commented on #547
No worries at all! I'll continue the conversation at the Sublime LSP repo instead, thank you for all the help!

[2021-09-11 15:03] ericdallo opened #549 "Consider using another db instead of sqlite"
Since we started using graalvm we faced a lot of issues with sqlite and ATM we still don't have support for static linux or aarch64 because of sqlite.
We should consider using another db for that, some thoughts:
### Transit
- Really easy to use, but probably would need to make the same hack clj-kondo did [here](https://github.com/clj-kondo/clj-kondo/blob/master/src/clj_kondo/impl/cache.clj#L58-L60

[2021-09-13 16:34] bendlas commented on #191
I tried adding `lein-monolith` to plugins, for a monorepo that I'm working with. This shows the same behavior as before adding `lein-monolith`:

Cross-referencing files that already have been analyzed works fine. However, discovering all the project source files does not. Thus, e.g. if I run `lsp-find-references`, the result depends on what files I happen to have visited.

[2021-09-13 16:39] kstehn commented on #191
I had to define a config for the lsp in `.lsp/config.edn`.
There i referenced all source-paths that needs to be analyzed.

Example:
[code]

The classpath-cmd is only for windows relevant, without this i didn't got this working.

[2021-09-13 17:01] ericdallo commented on #191
@kstehn do you need to do that with lein bat for every clojure project? If so, could you open a new issue where we can work on making clojure-lsp understand lein for windows

[2021-09-13 17:02] ericdallo commented on #191
@bendlas we can improve clojure-lsp support for lein-monolilth to not need any extra config I think, would you mind creating a new issue with details and a minimal repro project?

[2021-09-13 18:22] ericdallo commented on #191
Yeah, We did some windows improvements some time ago :)
Nice

[2021-09-13 18:59] thecontinium commented on #517
For those of you who find there way here. This is now fixed in the update nvim-cmp [here](https://github.com/hrsh7th/nvim-cmp/issues/191)

[2021-09-13 19:42] bendlas opened #551 "Collect source-paths from project-specs"
**Is your feature request related to a problem? Please describe.**

When working with a code base consisting of multiple projects, I have to add `:source-paths` from all submodules, in order to get static analysis to work.

Otherwise, only such files are analyzed, that I already opened within the lsp session.

**Describe the solution you'd like**

Intuitively, I've tried adding all the submodules

[2021-09-13 19:50] ericdallo commented on #551
Thank you for the issue!

We could add support for lein-monolith but as you said, adding support for each of multiple plugins may be too much, maybe we can take an approach like you snippet to generate source-paths for whatever lein project, one of the issues I see is the need of leiningen context/requires to use that snippet

[2021-09-13 21:03] bendlas commented on #551
Wouldn't that also entail graal-compiling leiningen? Not sure if that's an option, TBH.

It would seem natural to re-use the existing [source path collection](https://github.com/clojure-lsp/clojure-lsp/blob/8a6cdb90fa2d0835bf74ddc005ac3e9b14db9424/src/clojure_lsp/source_paths.clj#L73). Apparently, that already does the `:profiles` expansion, that I also do in my snippet (y).

With that, the missin

[2021-09-13 21:10] ericdallo commented on #551
No, that is just for bringing external deps for clj-kondo analysis, so the source-paths discovery is something different unfortunately.

With that, the missing link would be how to collect subproject roots from a parent project, but having a config option for additional source-path roots should make such enhancements significantly easier.

Yeah, we already slurp and static analyze the project.clj,

[2021-09-13 21:15] bendlas commented on #551
Oh, in that case: shall I rewrite the ticket in terms of a new configuration option `:subproject-roots`?

[2021-09-13 21:19] ericdallo commented on #551
@bendlas I don't think we need a `:subproject-roots`, you can already use `:source-paths #{"subproject-1" "subproject-2"}` right?
My point is that I would like to improve clojure-lsp to automatically discover those subprojects

[2021-09-13 21:24] bendlas commented on #551
Ah yes, auto-discovery is another option to consider as well. I'd tend to not start there, and instead add it as sugar, or option default.

Overloading `:source-paths` for this seems dangerous. What if I have a file called `deps.edn` or `project.clj` as a regular source file in my classpath root?

[2021-09-13 21:30] bendlas commented on #551
Actually, let me change that proposal to `:local/roots` or `:local-roots`, because `deps.edn` already has a well-defined source for this, called `:local/root`.

[2021-09-13 21:42] ericdallo commented on #551
I see, so it'd be a different flag that will use the same logic it already uses to detect source-paths on project-root but for those specified dirs, right?
Do you think that would work for most lein plugins?

If so, clojure-lsp would merge the source-path discovery logic applied to those subdirectories + the project root one

[2021-09-13 21:49] bendlas commented on #551
Yes, essentially that.

In the sense that it would provide a clear target for supporting them, as part of further enhancements.

Unfortunately, leiningen doesn't have any sort of common infrastructure around that, AFAIK.

[2021-09-13 21:52] ericdallo commented on #551
Alright, I think it's a valid idea add a `:source-subpaths` as a set of relative paths, we will need to test if it's enough for lein-monolilth and other plugins though

[2021-09-13 22:21] bendlas commented on #551
After I wrongfully assumed that `:project-specs`, I think we also need dependency collection, i.e. to apply [](https://github.com/clojure-lsp/clojure-lsp/blob/234baa277634e738bdc7214cd2349611792ab7a8/src/clojure_lsp/crawler.clj#L68) to a set of relative paths in a similar fashion.

I can't think of a case where you'd collect source paths from a relative path, but not dependencies, but if you think

[2021-09-13 22:24] ericdallo commented on #551
for `:project-specs`, clojure-lsp will end up running a `lein classpath` in the project-root, won't that will bring the subprojects?

[2021-09-13 22:26] ericdallo commented on #551
for `:project-specs`, clojure-lsp will end up running a `lein classpath` in the project-root, won't that will bring the subprojects?

Also, the source-paths and classpath discovery are already too complex, I'd like to avoid adding more external vars complexity, that's why I suggested the automatic one

[2021-09-13 22:33] ericdallo commented on #551
Just giving a lot of more context about those things on clojure-lsp:
- clojure-lsp needs to know the classpath/files to analyze with clj-kondo to most of the features work, this is known as the classpath scan which is done during startup, the var to customize that is `:project-specs`.
- clojure-lsp also needs to know the source-paths of the project, to features like rename, auto add new ns forms f

[2021-09-13 22:49] bendlas commented on #551
Only if the plugin hooks into the classpath, to add the subprojects. Many don't; including the use case of not having a root `project.clj` at all, but just a buch of checkouts of interacting projects.

ok, does that also govern the case where `lsp-find-definition` jumps into a file from the classpath?

[2021-09-13 22:56] ericdallo commented on #551
Yeah, this sounds a bad pattern have code that is not included on the classpath in the end, anyway, adding that new setting show fix those cases right?

Yes, as clojure-lsp needs to have the analysis for that file to know that the definition is there.

[2021-09-13 23:28] bendlas commented on #551
I guess it is.

Sorry, I'm a bit confused now. So the classpath can be customized by `:project-specs`, will be analyzed for the purposes of `find-definition`, but ignored for `:source-paths` so that lsp won't try to rewrite stuff in your `.m2` folder; is that correct so far?

If so, I can add a project folder to `:source-subpaths` and `:project-specs`, in order to get both source folders and depen

[2021-09-13 23:40] ericdallo commented on #551
clojure-lsp during startup it:
- analyzes the classpath, `lein classpath`, and then caches it, only analyzing in a next deps change or not presence of `.lsp/.cache`.
- **Always** analyzes the project source-paths

sorry, I don't get it what you mean with that, clojure-lsp doesn't write anything to .m2, only analyze the paths from the return of lein classpath which probably has files on .m2

[2021-09-14 14:00] maxrothman opened #552 "Support rename file/folder tool-assisted refactoring"
Moving and renaming Clojure files is a pain. You have to go hunt down all the references to the file and update them as well. Moving or renaming a directory is even worse, since you have to do the same thing for every file in the directory tree. Seems like a job for tool-assisted refactoring!

**Describe the solution you'd like**
A tool exists for renaming Clojure(script) files or folders containi

[2021-09-14 14:02] ericdallo commented on #552
Thank you for the report!
this feature is new in protocol, meanwhile users can call `rename` on the `ns` form which should rename the file name and all references as well

[2021-09-14 15:59] cloudbuck3t opened #553 "lsp-find-definition: The connected server(s) does not support method textDocument/declaration."
[code]

Hi, I have Prelude (emacs) installed on my machine and I installed via `M-x package-install` "use-package"
I installed clojure-lsp via the brew install command, there was no prior version of Clojure-lsp to remove.

I edited my ~/.emacs.d/init.el to include the relevant emacs script located at https://clojure-lsp.io/clients/

**Expected behavior**
I expect to be able to use `M-x lsp-find-de

[2021-09-14 16:04] ericdallo commented on #553
thanks for the report @cloudbuck3t, I think it's a issue with your lsp-mode configuration, maybe the docs can has some bug.
Could you check if the function works after you `M-x` `lsp` on the clojure buffer?

[2021-09-14 16:08] cloudbuck3t commented on #553
Okay let's see
`M-x lsp`

[code]

[2021-09-14 16:10] ericdallo commented on #553
yeah, that's the issue, lsp-mode is not being able to start the server for some reason, I suspect this could be related to lsp-mode not finding clojure-lsp on your $PATH.
if `clojure-lsp --version` works in your terminal could you try launching emacs from the terminal and checking if the error happens again?

[2021-09-14 16:11] ericdallo commented on #553
This is a lib that usually fix this issue: https://github.com/purcell/exec-path-from-shell

[2021-09-14 16:24] cloudbuck3t commented on #553
Hi again.  I tried running emacs from the command line but it still gives me the same error.  I also tried installing exec-path-from-shell and adding in to init.el but I'm still encountering the same issue.  Should I specify the path where brew installed clojure-lsp in my init.el?

[2021-09-14 16:28] ericdallo commented on #553
that's a option @cloudbuck3t you can try something like `(setq lsp-clojure-custom-server-command '("/path/to/clojure-lsp"))`

[2021-09-14 16:32] cloudbuck3t commented on #553
Well, I changed that path to /usr/local/bin/clojure-lsp  and now it says

[code]

[2021-09-14 16:34] ericdallo commented on #553
that's odd, it seems it correctly found the clojure-lsp, but that error doesn't make much sense 🤔

[2021-09-14 16:37] cloudbuck3t commented on #553
Are there any preparatory steps for getting the definition finder to work?

[2021-09-14 16:40] ericdallo commented on #553
nope, this is a really simple feature that almost all LSP servers have, I suggest you ask for help on lsp-mode chat [here](https://discord.gg/swuxy5AAgT)

[2021-09-14 17:02] simon-katz opened #554 "Declarations to ignore unused public vars are initially ignored"
**Describe the bug**

In Emacs, `lsp-treemacs-errors-list` initially ignores unused public var declarations.

**To Reproduce**

Steps to reproduce the behavior:

1. Clone https://github.com/simon-katz/clojure-lsp-unused-public-var-misreports
2. In Emacs, navigate to `project.clj` and run `lsp-treemacs-errors-list`.
3. Note that the Errors List buffer has unused public var reports.

**Expected beha

[2021-09-14 18:08] cloudbuck3t commented on #553
So I moved the binary `clojure-lsp` to `/usr/local/bin` and now everything appears to work.  Thanks =)

[2021-09-14 18:08] #553 closed

[2021-09-14 23:44] ericdallo commented on #552
Related method on SPEC: https://microsoft.github.io/language-server-protocol/specification#workspace_willRenameFiles

[2021-09-14 23:47] ericdallo commented on #554
@simon-katz I found the issue on clojure-lsp and it's related with concurrency, it's not easy to fix unless my proposed improvement on clj-kondo is accepted

[2021-09-14 23:53] #547 closed

[2021-09-15 00:57] ericdallo commented on #531
@borkdude It seems it's not possible for clojure-lsp use this same logic for unused-public-vars as the analysis don't provide a :in-def or something like that.

[2021-09-15 01:42] ericdallo commented on #531
@borkdude after a lot of debugging, I realized that is not possible for clojure-lsp to add this logic unless we change to have some way to know that a var-usage is a var-usage of a defrecord.

Let me explain, clojure-lsp ATM includes the var-definition on find-references if `(not (identical? :var-definitions (:bucket %)))` [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_l

[2021-09-15 01:52] ericdallo commented on #531
If clj-kondo adds a `:defined-by 'clojure.core/defrecord` or something to the :var-usage of the defrecord, __not only the var-definition__, I think this code added [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/queries.clj#L191-L193) on clojure-lsp would work:
[code]

[2021-09-15 09:37] borkdude opened #555 "Consider exposing API via babashka pod"
When doing so, we can call the API directly from babashka scripts.

More info on how clj-kondo does this: https://github.com/clj-kondo/clj-kondo/blob/master/src/pod/borkdude/clj_kondo.clj

[2021-09-15 09:38] borkdude commented on #555
This is not the bug, please remove the bug label.

[2021-09-15 09:41] borkdude commented on #531
You already have this information available in `:var-definitions` right?

[2021-09-15 13:17] ericdallo commented on #555
Oh, interesting, I will take a look!

[2021-09-15 13:18] borkdude commented on #555
@ericdallo Here is an example of how to run the clj-kondo pod:

https://github.com/babashka/pod-registry/blob/master/examples/clj-kondo.clj

[2021-09-15 13:57] #554 closed

[2021-09-15 16:10] dharrigan opened #558 "Sort namespace when adding missing require/import"
Hi,

Presently, when clojure-lsp adds a missing require/import, the addition is done to the end of the list. I then have to issue another command to sort the namespace after the addition is done. It would be nicer if there was an opt-in way to tell clojure-lsp that after adding the missing require/import, to also sort the namespace requires/imports (or, maybe just insert the missing require/import

[2021-09-15 16:14] ericdallo commented on #558
thanks for the suggestion! seems a good optional addition

[2021-09-15 16:32] dpsutton opened #559 "`clean-ns` drops comments from ns form"
**Describe the bug**
Sorting the ns form does not preserve comments

**To Reproduce**

[code]

Sort-ns command yields
[code]

**Expected behavior**
The comment is added on purpose and should be preserved

**Screenshots**
#### Before
<img width="546" alt="image" src="https://user-images.githubusercontent.com/6377293/133472864-c715b7be-2a80-4ad4-b478-9828182ce53e.png">

#### After
<img width="444" a

[2021-09-15 16:37] dpsutton opened #560 "`clean-ns` uses case-sensitive sort in refers"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

[code]

sort-ns ->

[code]

**Expected behavior**
`:refer [defsetting Setting]` should not be sorted to have Setting come before defsetting

**Screenshots**
##### Before
<img width="882" alt="image" src="https://user-images.githubusercontent.com/6377293/133473763-62233abf-2991-46b6-bad3-e78ffdcbc804.png">

[2021-09-15 16:44] dpsutton opened #561 "`clean-ns` sorts imports with case-sensitivity"
**Describe the bug**

**To Reproduce**

notice `org.apache.sshd.client.SshClient` gets sorted above `org.apache.sshd.client.future.ConnectFuture` because `S` is before `f`

[code]

sort-ns ->

[code]

**Expected behavior**
It should ignore case in sorting. Having all of the "s" classes near each other makes sense `client.session.` and `client.SshClient`. Splitting on case like this makes sense acc

[2021-09-15 16:52] dpsutton opened #562 "`clean-ns` obliterates intentional newlines in refers"
**Describe the bug**
We can have some long lines when referring things from a namespace. We chop these up to keep the lines from being too long but sort-ns does not respect this

**To Reproduce**
[code]

sort-ns ->

[code]

**Expected behavior**

This might be a hard behavior to support. But these refers are common in some namespaces. Breaking up the long line is quite helpful for readability and

[2021-09-15 17:18] amithgeorge opened #563 "Read cljfmt settings from a file"
**Is your feature request related to a problem? Please describe.**
Calva use cljfmt for formatting. It also uses clojure-lsp for as the lsp client. clojure-lsp also uses cljfmt for its formatting actions. As it stands, it is possible for Calva to format differently from how clojure-lsp would format it. This could lead to false negatives when running clojure-lsp format checking on the CI.

**Descri

[2021-09-15 17:36] ericdallo commented on #562
@dpsutton I wonder if keeping the newlines should be the default behavior, not sure if a namespace like this:
[code]
should not be formatted to:
[code]

[2021-09-15 17:57] dpsutton commented on #562
Yeah i'm not sure where the complexity gets too much. I think ideally it could wrap at some line length limit. Then you could add new refers and sort and get a reasonable result. That might prove too hard and brings up questions. Like when you add one and it hits the limit, do you break the refer in half or just put a single refer on a newline. Maybe just preserving newlines is a good behavior tha

[2021-09-15 17:59] ericdallo commented on #563
Thank you for the suggestion, I think we can try to read from the same path Calva reads by default if the user doesn't provide the `:cljfmt-config-path` file.
@PEZ What is the default path Calva search for cljfmt configs?

[2021-09-15 18:10] ericdallo commented on #562
Yeah, I think we can think in some kind of opt-in variable for this one

[2021-09-15 19:40] PEZ commented on #563
Actually, there is no default. I thought there was, but I have been running with `cljmft.edn` in my User setting which I thought was the default. And also cljfmt itself doesn't seem to have a default file...

Does `cljfmt.edn` in the project root make sense? I think clj-kondo has a scheme where it finds config files from the linted file and up to some project root? Maybe we can mimic that behaviou

[2021-09-15 19:43] ericdallo commented on #563
Sure, we can make that setting available via the serverInfo LSP method that already exists and Calva uses.
Maybe I would just suggest to the file be something like `.cljfmt.edn` to follow the hidden files convention like .lsp and .clj-kondo and .vscode WDYT?

[2021-09-15 19:59] borkdude commented on #563
I personally like the hidden convention for config files like `.lsp`, `.clj-kondo`, `.circleci` but for bb I've chosen `bb.edn` in the project root similar to `deps.edn` and `package.json`.

[2021-09-15 20:00] PEZ commented on #563
Currently in Calva we hot-reload cljfmt config as the file is saved. With server-info we'd loose that, but I lean towards that that is OK. Maybe we can make the manual server-info command that we have side-effect that the formatting config is updated....

As for convention. There is also `deps.edn`, `project.clj`,  `shadow-cljs.edn` and the like. `.vscode`, `.clj-kondo` and `.lsp` are directories

[2021-09-15 20:08] ericdallo commented on #563
Yeah, I see `deps.edn`, `project.clj`, `shadow-cljs.edn` and `bb.edn` as the build file, it's important for the project run, the other ones are optional for linting, formatting, ide configuration.

[2021-09-15 20:12] PEZ commented on #563
I'm good with a hidden default file.

[2021-09-15 20:15] ericdallo commented on #563
@PEZ regarding the hot-reload config, probably we can make that happen after #502

[2021-09-16 01:45] ericdallo commented on #531
You are right @borkdude I thought it would be a bad performance search for the var-definition every time but I found a way to just find one time, I think everything is good for this feature indeed :)

[2021-09-16 01:48] #531 closed

[2021-09-16 02:54] #560 closed

[2021-09-16 02:54] #561 closed

[2021-09-16 08:58] borkdude commented on #531
@ericdallo Btw, I think we could leave out some data in the analysis: the var usages copy some of the fields of var-definitions (because 2 years ago I thought this would be "easier") but this results in more data than necessary. We could strip that data if it helps performance, using some option.

[2021-09-16 13:31] ericdallo commented on #531
Sure, sounds good, do you have the fields that would go away so I can check clojure-lsp, also it'd be good to do a performance test if that changed anything.

[2021-09-16 13:31] martinklepsch opened #566 "Moving vars/function to a different namespace"
After a coding spree I often realize that I'd like to rearrange some of my code. For instance I defined a utility function and would now like to also move that to the "utilities" namespace.

In these situations it would be create to trigger a command and basically rename a var including it's namespace portion.  For example I'd like to move `my.app.core/find-first` to `my.app.util/find-first`. Besi

[2021-09-16 13:34] ericdallo commented on #566
Thank you for the suggestion, it makes sense indeed, I think we can rely on the existing `rename` feature, where the user can just append the new namespace and clojure-lsp would take care of the rest

[2021-09-16 13:53] borkdude commented on #331
https://github.com/clj-kondo/clj-kondo/blob/472d1417b504e2f4e91c7e8ec092436926327ac3/src/clj_kondo/impl/core.clj#L511

[2021-09-17 02:09] ericdallo commented on #559
Hey @dpsutton it was not easy but I made it work for your case and probably the most cases, it's not perfect, I need to improve the code yet, but I'd love to hear from you if it helps, do you think you can test with the clojure-lsp from this branch?
https://github.com/clojure-lsp/clojure-lsp/pull/567

You can just run `make` on the project and it should generate a `clojure-lsp` binary on the proje

[2021-09-17 03:01] dpsutton commented on #559
i ran `make` and it kept the comment. Kudos. Thanks for handling that case. Sort-ns is very close to handling all ns forms in our codebase. Thanks!

[2021-09-17 08:52] borkdude commented on #531
All of this:

[code]

We can just not put that on the var usages as its just more data.

[2021-09-17 12:51] ericdallo commented on #531
I see, some of them like `deprecated` and `macro` seems a good idea to me keep it as clojure-lsp adds different colors when checking those attrs, and avoid the need to find the definition for those cases seems a performance improvement to me, but others like arity ones seem not useful.
We actually need to check if it's a good tradeoff remove those fields to have less data and when we need that dat

[2021-09-17 13:26] #559 closed

[2021-09-17 20:43] cloudbuck3t opened #568 "emacs: blacklisted home directory, all sub directories believed to be blacklisted"
Hi, how can I un-blacklist directories in clojure-lsp?
I blacklisted an upstream folder `~/` and this is interpreted as blacklisting all subfolders...
How can I revise this?  I'm unable to find it in the docs.
(emacs)

[2021-09-17 20:44] ericdallo commented on #568
`lsp-workspace-folders-remove` should work for you

[2021-09-17 20:45] #568 closed

[2021-09-17 20:46] cloudbuck3t commented on #568
Maybe I'm mistaken, but that looks like it will remove currently indexed directories, how can I remove them from the blacklist?

[2021-09-17 20:58] ericdallo commented on #568
oh, sorry, I think what you want is `lsp-workspace-blacklist-remove`

[2021-09-18 01:16] ericdallo commented on #563
Done, available on new release, added a new `:cljfmt-config-path` setting with a default value of `.cljfmt.edn`.

@PEZ this setting is already available on the both `serverInfo` and `serverInfoRaw` custom methods that Calva already uses, so Calva can now check use the file provided from the return of that method if no file was provided by the user :)

[2021-09-18 01:16] #563 closed

[2021-09-19 02:47] ccann commented on #562
I think clj-refactor has configuration for exactly this that could serve as a reference point?

[2021-09-19 03:01] ccann opened #569 "Function signature is not shown in minibuffer when writing arguments in Emacs"
**Describe the bug**
The function signature is not shown in the minibuffer (via eldoc?) when I type, e.g. `(filter |` (the bar being my cursor).
I’m using DOOM emacs and I have the same issue regardless of CIDER being enabled or disabled.

**To Reproduce**
With a non-`nil` value for `lsp-signature-auto-activate`, type out an invocation of a built-in function and leave the cursor at the expected lo

[2021-09-19 03:10] ericdallo commented on #569
Thanks for the report, I will take a look and confirm it's a bug on server side first

[2021-09-19 04:45] ericdallo commented on #562
I thinking on adding this feature adding a new variable `:clean :sort :refer :max-line-length` with a default value of `80`, so we should by default move a long line of refers breaking if the line length is greater than that config. To disable users can set that to `0` as well.

[2021-09-19 14:10] #562 closed

[2021-09-19 14:10] ericdallo commented on #562
@dpsutton Added a first and probably  a good default version of this feature, I tested with `metabase` repo and it seems to work for all cases, we can later improve adding the support for breaking the lines at the half :)

[2021-09-20 01:58] ericdallo commented on #569
I found the issue, clojure-lsp return the `range` of the element for the __hover__ feature, the range is the location information about that element like row/col/end-row/end-col and turns-out the `end-row`/`end-col` of a `var-usage` is the end of the element name not the function usage (parens).

@borkdude, do you think clj-kondo could provide a `:scope-end-row` and `:scope-end-col` for `var-usage

[2021-09-20 02:02] ericdallo commented on #569
This is the analysis of that `filter`:
[code]
in this case something like this would help:
[code]

[2021-09-20 09:18] borkdude commented on #569
@ericdallo I think that would be useful to add.

[2021-09-20 23:28] #569 closed

[2021-09-20 23:29] ericdallo commented on #569
@ccann Improved this to fix this issue on master, available on next release. It's not bullet-proof for all cases but it fixes this issue and most common cases

[2021-09-23 01:38] ericdallo commented on #331
@borkdude I'm considering hash the return of this:
[code]
If user change any config on home, project or even if clj-kondo change its default-config, we will re-analyze the project, does that makes sense to you?

BTW, when we call clj-kondo to analyze the whole classpath, does clj-kondo consider the existing cache if any, or does it overwrites?

[2021-09-23 04:35] shinichy opened #571 "[hover] Include material from Clojuredocs in hover documentation"
**Is your feature request related to a problem? Please describe.**
The clojuredocs.org documentation for clojure core is really handy. The examples are invaluable given how terse clojure docs can be.

It would be great to have access to the clojuredocs for a given function.

**Describe the solution you'd like**
The hover documentation includes Clojuredocs information like examples, see also texts,

[2021-09-23 08:48] borkdude commented on #331
Looks good to me. Note that impl namespaces are not a public API and may change over time. Clj-kondo always overwrites the cache when linting files.

[2021-09-23 12:50] ericdallo commented on #331
@borkdude would you accept a PR exposing the kondo configuration and the kondo hash function?

[2021-09-23 12:57] borkdude commented on #331
Let's do it.

[2021-09-23 16:41] thiagokokada opened #572 "clojure-lsp exits with 1 even if all linters reported only :info"
**Describe the bug**

On `clj-kondo`, if all linters reported only `:info`, it would exit with error code 0. This was useful for CI, when you wanted to have a informative linter that didn't fail CI, however you still wanted to know about it when running locally.

On `clojure-lsp` even if only one linter reports :info, `clojure-lsp` itself will exit with error code 1. So you either needs to disable

[2021-09-23 21:04] ericdallo commented on #572
Thanks for the report!
That makes sense, I should prioritize for the next release

[2021-09-24 00:12] #331 closed

[2021-09-24 00:49] #572 closed

[2021-09-24 00:50] ericdallo commented on #572
Now we follow [the same status code](https://github.com/clj-kondo/clj-kondo#exit-codes) from clj-kondo, available on the next release

[2021-09-24 11:20] mynomoto opened #573 "Rename namespaces could rename explicitly qualified keywords"
**Is your feature request related to a problem? Please describe.**
When renaming a namespace clojure-lsp doesn´t rename explicit qualified keywords. E.g. If i do a namespace renaming from `foo.bar` to `bar.baz` clojure-lsp do not change explicit keywords from `:foo.bar/x` to `:bar.baz/x`.

**Describe the solution you'd like**
clojure-lsp renames `:foo.bar/x` to `:bar.baz/x` when the namespace is r

[2021-09-24 11:23] mynomoto opened #574 "Rename namespaces could rename explicitly qualified keywords in edn files"
**Is your feature request related to a problem? Please describe.**
When renaming a namespace clojure-lsp doesn´t rename explicit qualified keywords on edn files. E.g. If i do a namespace renaming from foo.bar to bar.baz clojure-lsp do not change explicit keywords from :foo.bar/x to :bar.baz/x.

**Describe the solution you'd like**
clojure-lsp renames :foo.bar/x to :bar.baz/x in edn files when the

[2021-09-24 12:39] ericdallo commented on #574
@borkdude is there any way to get analysis for edn files?

[2021-09-24 12:45] borkdude commented on #574
@ericdallo I guess we could. EDN is currently handled in the clj-kondo/impl/analyzer/usages namespaces. Not sure what we do with EDN, perhaps we just skip it. So we would need to do some more analysis if analysis is enabled.

[2021-09-24 13:10] ericdallo commented on #573
We can do that, I'd just like to understand there are no cases we don't want this behavior

[2021-09-24 14:30] ericdallo commented on #573
@DeLaGuardo said:

I’m often begin writing code in single namespace (let’s call it `foo.bar`) and when it starts to be big enough I extract some functions using following steps:
* rename entire namespace `foo.bar` -> `foo.bar.lib`
* create empty `foo.bar`
* move some functions from `foo.bar.lib` back to foo.bar
After that `foo.bar` can require `foo.bar.lib` to have access to the rest of functional

[2021-09-24 14:31] ericdallo commented on #573
Maybe a opt-out flag would solve that issue

[2021-09-24 22:19] cloudbuck3t opened #575 "autocomplete for math symbols pops up, won't hide on Ctrl+G"
Hi, I'm using emacs and occasionally the autocomplete with *, +, -, and other operators will show up.  It's not clear to me how to disable it or how to exit out of it once it shows up.  I can hit TAB a few times and have it spit out a * symbol, but I'm not sure how to simply cancel it.  I hit Ctrl+G and that seems to have a 50/50 chance of working at hiding the prompt.  I'm unable to find any docu

[2021-09-24 22:24] ericdallo commented on #575
Hi, this is something configured on the client side, probably lsp-mode for you, or even `company` the lib responsible for completion on lsp-mode.
For me, which use emacs + lsp-mode, is just `ESC`, but I use doom-emacs and probably I have a different setup than yours

[2021-09-24 22:24] ericdallo commented on #575
Closing as is not a server issue, we can keep discussing here or on Clojurians slack :)

[2021-09-24 22:24] #575 closed

[2021-09-26 15:46] ericdallo opened #578 "[lens] Add references count for `ns` symbol"
@borkdude suggested the feature of showing lens about how many times the current ns is used on other places.

[code]
The lens should show the count of the same count of `find-references` feature on that ns

[2021-09-26 15:53] paulbutcher opened #579 "clojure-lsp fails to start with empty project.clj file"
**Describe the bug**
clojure-lsp fails to start if there's an empty `project.clj` file present

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `project.clj` file containing `{}`
2. Start VSCode/Calva
3. clojure-lsp fails with `java.lang.AssertionError: Assert failed: zloc`

**Expected behavior**
My project is compiled via `deps.edn`, but I have an empty `project.clj` because Heroku'

[2021-09-26 16:10] ericdallo commented on #579
Thanks, I managed to repro the issue, will work on a fix

[2021-09-26 16:28] #579 closed

[2021-09-26 16:29] ericdallo commented on #579
Fixed on master, it should be available on the next release.
For testing with clojure-lsp master, you can clone the repro and run `make` to generate a local `clojure-lsp` binary on the project root.

[2021-09-27 16:39] ericdallo opened #580 "Find clojure-lsp config from classpath"
We could have a way to find common lsp config from classpath just like [clj-kondo has already](https://github.com/clj-kondo/clj-kondo/blob/master/doc/config.md#exporting-and-importing-configuration)

Since clojure-lsp has an API now, it makes sense to be able to configure it in some common lib and be used on all places that use this common lib or something.

We could follow @borkdude suggestion an

[2021-09-28 18:55] marinacavalari opened #582 "Create automatic test file when right click in a function"
While using cursive in intellij I noticed that when we do a right click in a function, we can select the option to automatic create a  test, so the cursive itself creates a new file in the same namespace organization with one test to the function I first clicked. It would be  nice to help us on unit tests

[2021-09-28 19:37] ericdallo commented on #582
We could add that via code actions, like a code action for `create test for 'foo/bar'`, even so, we would need to know which source-path is the test one, for a project which has only `src` and `test` that could work already, but for another one with `src`, `unit-test`, `integration-test`, how we would know which one we should create the new file/test?

[2021-09-29 01:31] #580 closed

[2021-09-29 13:32] ericdallo commented on #582
We could just always prompt to user choose what source-path makes sense, it looks safer and it should work for all cases

[2021-10-02 00:43] #578 closed

[2021-10-02 15:50] ericdallo opened #586 "Consider `dev` and `test` alias for deps.edn projects as project-specs"
This should avoid users configuring custom project specs and it seems a good default since lein adds those profiles as well by default

[2021-10-02 21:56] ericdallo opened #587 "Initialize server async following the LSP spec"
as per the LSP spec:

We are doing all the hard work during the `initialize` request, sending `$/progress` notifications during the `initialize` which is not allowed, we should make initialize just trigger async the process

[2021-10-02 22:00] ericdallo commented on #587
Actually the docs are clear that we are allowed to send `$/progress` during the initialize, also, the initialized notification is sent from the client, so I can't see a way to async do that, so it seems we are correct.

[2021-10-02 22:00] #587 closed

[2021-10-03 01:48] #586 closed

[2021-10-07 13:35] simon-katz opened #589 "Declarations to ignore unused public vars don't work in .cljc files"
**Describe the bug**
It seems that declarations to ignore unused public vars don't work in .cljc files.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone project https://github.com/simon-katz/clojure-lsp-unused-public-var-and-cljc-files
2. Run `clojure-lsp diagnostics`
3. Observe the unexpected report: Unused public var 'clojure-lsp-unused-public-var-and-cljc-files.my-cljc/foo-cljc'

No

[2021-10-09 16:26] borkdude commented on #589
@ericdallo We should fix this. Can you make a issue + repro (as failing test) in clj-kondo?

[2021-10-09 18:28] ericdallo commented on #589
Done @borkdude https://github.com/clj-kondo/clj-kondo/issues/1403

[2021-10-09 18:29] borkdude commented on #589
Thanks! I'll take a look soon, hopefully.

[2021-10-09 23:01] leoiacovini opened #591 "Add CodeAction to insert clj-kondo ignore rule for line"
**Is your feature request related to a problem? Please describe.**
Sometimes we have situations where we are dealing with libraries of legacy code that will make us need to ignore linting rules for a specific piece of code in the project, and stop having it from complaining in the analysis or CI about it

**Describe the solution you'd like**
Usually, other analysis tools in IDEs have an option to

[2021-10-10 03:14] #582 closed

[2021-10-10 20:32] #591 closed

[2021-10-10 20:32] ericdallo commented on #591
Available on next release!

[2021-10-11 16:46] cloudbuck3t opened #594 "emacs 27.2 (defmacro ...) not recognized, says fns unresolved"
`(defmacro ^:private -macro-name- [args] ...)` ought to be recognized by the LSP, but fns that rely on the macro for establishment are showing `unresolved symbol` alongside in emacs-land.

There are functions that start with `(-macro-name- new-m-fn [] ...)` and those are showing errors in the editor with spell-check-esque jagged underlining.  I wonder if there's any way to fix this?  Without evalu

[2021-10-12 02:11] ericdallo commented on #594
Maybe a mention to macros [here](https://clojure-lsp.io/settings/#clj-kondo)

[2021-10-16 21:07] #527 closed, assigned to ericdallo

[2021-10-16 21:07] ericdallo commented on #527
For now did the basic removing unused duplicate require as it'll be not that easy to replace all usages of the duplicate require

[2021-10-16 23:31] ericdallo commented on #589
Confirmed this was fixed on clojure-lsp master bumping clj-kondo, it should be available on next release @simon-katz

[2021-10-16 23:31] #589 closed

[2021-10-17 16:54] #571 closed

[2021-10-17 16:57] ericdallo commented on #571
@shinichy available on next clojure-lsp release :)

Example on emacs:
![image](https://user-images.githubusercontent.com/7820865/137637245-d8ae19b7-add1-4315-8327-1f8e02a6690f.png)

[2021-10-19 15:38] AndreaCrotti opened #597 "Clojure-lsp running on many unknown namespaces"
**Describe the bug**

When running `clojure-lsp format` I see a lot more namespaces that are not really relevant to the project I'm running on.
For example

[code]

where only the ones starting with `byf` are actually relevant.

**To Reproduce**

1. clone https://github.com/AndreaCrotti/elo
2. run `clojure-lsp format`

**Expected behavior**

It should only run on namespaces in the project.

[2021-10-19 19:55] PEZ opened #598 "Add a clojuredocs command"
I really like the clojuredocs feature of clojure-lsp and am looking at ways to integrate it in Calva.

However, I am not too fond of interacting with content in VS Code hovers. I would like to be able to create custom UI/Ux with clojuredocs

Here is a wish for a clojuredocs command, similar to the serverinfo command, where I give clojure-lsp a symbol and get back a datastructure, where I find thin

[2021-10-19 20:21] PEZ commented on #598
I would love to have a go at it.

[2021-10-19 22:43] #597 closed, assigned to ericdallo

[2021-10-19 22:44] ericdallo commented on #597
@AndreaCrotti I improved clojure-lsp to filter project analysis checking the [configured or auto-resolved source-paths](https://clojure-lsp.io/settings/#source-paths-discovery) fixing this issue :)
Available on next release

[2021-10-20 18:31] ghost opened #601 "Build latest version with nix: Option name "ExactFullUnrollMaxNodes" has multiple definitions"
Hello there, I'm trying to build the latest clojure-lsp locally and using nix derivation on macos m1 (through rosetta since graal isn't supported https://github.com/oracle/graal/issues/2666).

**Describe the bug**
Using updated version of https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/tools/misc/clojure-lsp/default.nix, I get the `Option name "ExactFullUnrollMaxNodes" has multiple d

[2021-10-20 22:34] ericdallo commented on #601
Hi! I'm actually the maintainer of that nix derivation as I'm a NixOS user 😅
But I have no context about rosetta or mac M1 :(

[2021-10-21 03:27] tami5 opened #605 "defstate and unresolved symbol"
**Describe the bug**

Error when using defstate 'Unresolved symbol'

**To Reproduce**
Steps to reproduce the behavior:
1. use mount library
2. deftest

**Expected behavior**

shouldn't have error of unresolved symbol

**Screenshots**

<img width="609" alt="Screen Shot 2021-10-21 at 6 23 44 AM" src="https://user-images.githubusercontent.com/65782666/138206213-8e15f8f7-cbfb-4916-a7a0-839b062f7008.pn

[2021-10-21 13:31] #605 closed

[2021-10-21 16:30] hukka opened #606 "Not having clojure in PATH gives an unhelpful error in Calva"
**Describe the bug**
Starting Calva for a deps.edn project gives an error "Couldn't start client Clojure Language Client" where the real problem is that `clojure` was not on PATH.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a deps.edn project
2. Make sure `clojure` is not on PATH
3. Run `code <target dir>` with Calva installed
4. See error

**Expected behavior**
An error like "cloju

[2021-10-21 17:55] ericdallo commented on #606
@borkdude thanks!
do you know how can I get the correct clojurians log?

[2021-10-24 16:26] ericdallo opened #614 "Improve suggested add require code actions"
ATM clojure-lsp has some possible code actions it can return for the following code:

[code]

- If the project required some namespace with alias `foo.bar`, we return a code action to add that missing require.
- if there is a namespace `foo.bar` somewhere in the classpath, we return a code action to add `foo.bar :as bar` or `foo.bar :as foo.bar`

Now, for the following code where user never requir

[2021-10-24 18:15] #614 closed, assigned to nobody

[2021-10-25 14:31] AndreaCrotti opened #616 "Paths discovery missing a few"
**Describe the bug**
path discovery doesn't seem to pick up all the `extra-paths` set in the aliases.

**To Reproduce**

1. create an empty project
2. add this as deps.edn
[code]
3. run `clojure-lsp format`

In the logs it's currently showing ` 2021-10-25T14:28:59.256Z DESKTOP-2G025U5 INFO [clojure-lsp.source-paths:134] - Automatically resolved source-paths from deps.edn: #{"test/resources" "dev"

[2021-10-26 00:14] #616 closed, assigned to nobody

[2021-10-26 22:38] dpsutton opened #617 "cycle-coll breaks on collections with odd number of items"
**Describe the bug**
cycle-coll breaks on collections with odd number of elements if it cycles to a map

**To Reproduce**
`[1 2 3]` cycle collection repeatedly. once it gets into the state `{1 2 3}` it will no longer cycle being an unreadable form.

**Expected behavior**
either it should be able to cycle out of the map form with an odd-number of elements or it should never be made into a map when

[2021-10-27 13:38] #617 closed, assigned to nobody

[2021-10-31 01:09] ericdallo commented on #398
I'm closing this as it was implemented on clojure-lsp most refactors from there, the ones missing are just `introduce-let` and `expand-let` which are not perfectly working yet so I'll wait a little more to make it stable and then create actions

[2021-10-31 01:09] #398 closed

[2021-10-31 01:47] ericdallo commented on #85
I'm not sure, I did some tests but I think clojure-lsp is already using UTF-8 including on graalvm native image.

[2021-10-31 14:27] #598 closed

[2021-10-31 16:16] ericdallo opened #624 "Allow clients aware of custom server capabilities available"
As mentioned [here](https://github.com/clojure-lsp/clojure-lsp/pull/612#issuecomment-955715549), we can return all custom capabilities from server after initialized.

[2021-11-01 17:52] ericdallo opened #625 "Report errors, warnings and info with different color on CLI usage"
It'd be a better UX if we print the errors as red, warnings as yellow and info as other color, it'd help distinguish each one on multiple lines

[2021-11-01 17:53] ericdallo opened #626 "print classpath scan error on CLI"
When happens an classpath scan during cli analysis, we should print to CLI to make user aware that some features may not work properly

[2021-11-01 18:16] viebel opened #627 "Add a code action to toggle between `:as` and `:refer` in a namespace form"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When adding a missing libspec, Clojure LSP adds the missing library with a `:as`. Sometimes, I prefer `:refer` than `:as`.

**Describe the solution you'd like**
When the cursor is on a required namespace of a `ns` form, a code action should

[2021-11-01 22:50] #626 closed

[2021-11-02 01:45] ericdallo commented on #627
@viebel Do you have a example of the expected UX? like:
[code]
would become
[code]
?
It's not clear to me

[2021-11-02 02:15] #625 closed

[2021-11-02 03:00] viebel commented on #627
In order to make it clear, we need an example where one of the symbols in `bar` is
[code]

would become
[code]

[2021-11-02 03:02] ericdallo commented on #627
alright, so the code action should be applied on the b/good, not on the require, right?

[2021-11-02 03:15] viebel commented on #627
Yes. But it would be nice to have also an action on the `:require`. This action would replace all the namespace usages.
For instance, when the cursor is on `[bar ...]`:

[code]

it would become

[code]

and when the cursor is on `[another-ns]`, it would become:

[code]

[2021-11-02 03:18] ericdallo commented on #627
alright, that makes sense, so it'd be 2 different actions `Convert :as to :refer` and `Add missing :refer require `

[2021-11-02 03:28] viebel commented on #627
I think that in total, we have 3 actions:

Two flavours of `Add missing :refer require` :
1. When the alias already exists
1. When the alias doesn't exist

An action inside a require:
1. Convert :as to :refer

I am not sure if the two flavours should be two separate actions or a single action.

[2021-11-02 03:32] ericdallo commented on #627
if the alias exists and it's required, it's not a `Add missing...` right?
I think we should start with something easier and straightforward like `Convert :as to :refer` and in the future probably add a `Add missing :refer` when there is a unresolved symbol for a symbol that was already imported in another namespace like:

[code]

[code]

[2021-11-02 03:41] viebel commented on #627
I agree. In fact, this is what I had in mind in the beginning.

[2021-11-02 03:47] ericdallo commented on #627
I think the later one is probably the easiest, I'll take a look for the next release

[2021-11-02 05:54] viebel commented on #627
Sounds good to me

[2021-11-02 05:54] viebel commented on #627
Sounds good to me

[2021-11-06 16:59] #573 closed

[2021-11-06 22:21] #627 closed

[2021-11-06 22:22] ericdallo commented on #627
Added support for the later one for now, and it looks really well, maybe it's enough, LMK what you think, and feel free to test with clojure-lsp master or wait for next release

[2021-11-07 05:17] viebel commented on #627
What are the instructions to install clojure-lsp from  master?

[2021-11-07 11:50] tami5 opened #630 "Completion Issues [neovim]"
# Overview
  A list of weird Clojure-lsp completion issues + some symbol documentation missing.

  Issues:
  - Slow Keyword completion
  - Inaccurate namespace-function completion and sometimes no completion suggestions.
  - Keyword and modules duplications.
  - Missing documentation for some symbols.

  # Screenshots

  ### Slow Keywords Completion

  Keyword completion actually wouldn't work bec

[2021-11-07 14:16] ericdallo commented on #627
@viebel you can clone it and just run `make`

[2021-11-07 16:09] ericdallo commented on #630
Thanks for the report, I think we can add `/` and `:` as completion trigger chars, not sure about `.` though, why we would like `.` as a completion trigger in clojure?
Also, I'll do some improvements on the keywords completion performance as ATM when you type `:` and completes, clojure-lsp is considering a completion without any prefix, bringing all possible completion items and affecting performa

[2021-11-07 19:50] tami5 commented on #630
I like it because it gives me a quickly way to access namespace and then later using a custom editing function, move it in to `:require` and rename it.

**With conjure:** is simple and straightforward
![access-namespaces-conjure4](https://user-images.githubusercontent.com/65782666/140659257-329b25cb-dc27-4ee7-818a-4508b2f428a8.gif)

**with clojure-lsp**
![access-namespaces-clojure-lsp](https://use

[2021-11-07 21:03] ericdallo commented on #630
I don't actually see the difference with and without the `.` testing with emacs/lsp-mode 🤔

Sounds good to me, we already have some snippets and even support custom snippets from user: https://clojure-lsp.io/features/#snippets, but we don't support this kind of automatic snippet

[2021-11-07 21:04] ericdallo commented on #630
BTW opened this one on clj-kondo, it should help improve the completion for `:`: https://github.com/clj-kondo/clj-kondo/issues/1451

[2021-11-07 21:18] ericdallo commented on #630
@tami5 would you mind testing the clojure-lsp version from this branch? https://github.com/clojure-lsp/clojure-lsp/pull/632
You can generate a dev clojure-lsp from this branch just running `make`

[2021-11-08 14:51] tami5 commented on #630
@ericdallo unfortunately, I wasn't able to test it out maybe when when #604 is merged. However, if you have neovim installed locally, you can use https://gist.github.com/tami5/dbf004eb138da98d7b0c61658ac95b4c:

[code]

NOTE: After first run, it will exist when runtime files are available, just re-run

[2021-11-08 15:18] ericdallo commented on #630
I'm a NixOS user as well :)
clojure-lsp dev works good, you just need java on your PATH even if you are a nix user

[2021-11-08 15:48] tami5 commented on #630
GO NIX, Oh yah, that's true, I will try to check it a bit. thanks

[2021-11-08 22:54] ericdallo commented on #630
Good news @tami5 , https://github.com/clj-kondo/clj-kondo/pull/1452 was fixed and it should improve even more the `:` keyword completion, I already bumped clojure-lsp

[2021-11-09 01:10] AlexChalk opened #633 "Support 'find definition/references' for vars defined by macros."
**Is your feature request related to a problem? Please describe.**

Some community projects implement macros that define vars, like `defstate` from https://github.com/tolitius/mount or `defroutes` from https://github.com/weavejester/compojure. (And some projects implement macros like these ones internally.)

Conceptually, these macros work similarly to `def`, or `defn`, but unlike these, `clojure-

[2021-11-09 01:17] ericdallo commented on #633
@AlexChalk this is already possible if you code the hook for the macro correctly, an example of that is the [stateflow](https://github.com/nubank/state-flow/blob/master/resources/clj-kondo.exports/nubank/state-flow/config.edn#L2) macro.
There is nothing we can do on clojure-lsp side as this is totally something that should be done on clj-kondo config side creating custom hooks for those macros, LM

[2021-11-09 01:17] #633 closed

[2021-11-09 07:45] tami5 commented on #630
Okay I managed to set it up locally, and check it out #632, I have bumped clj-kondo manually on that branch.

Let's see:

![test-keyword-completion-with-clojure](https://user-images.githubusercontent.com/65782666/140881006-7236f011-4f38-435d-aaff-b1ae8093f8a9.gif)
![test-namespace-completion-with-clojure](https://user-images.githubusercontent.com/65782666/140881556-3783af2e-6423-4a01-afc1-14822340

[2021-11-09 12:58] ericdallo commented on #630
I didn't work on that yet, I'll try to understand the duplicates and fix on that branch later today

Looks odd indeed, I'll take a look as well

We can remove the snippets I think in those cases

[2021-11-09 21:25] mynomoto opened #634 "Could work on edn files"
**Is your feature request related to a problem? Please describe.**
I have some edn configuration files that references keywords from code and would like to find-references to navigate to the files.
I have a bb.edn with tasks and would like to find code errors on them.

**Describe the solution you'd like**
clojure-lsp features that make sense would work on edn files.

**Describe alternatives you've

[2021-11-09 22:01] ericdallo commented on #634
yeah, that makes sense indeed, we would need to make first clj-kondo understand and provide analysis for .edn files, WDYT @borkdude?

[2021-11-09 22:06] borkdude commented on #634
@ericdallo yes

[2021-11-09 22:25] darin-reify opened #636 "parens parameter for thread code actions"
When writing thread-throughs, I find it less confusing (and, thus, prefer it) when all forms are wrapped in `()`.

**Solution**
[code]

[2021-11-09 22:29] ericdallo commented on #636
thanks for the report, I think it makes sense as a opt-in flag

[2021-11-10 02:14] ericdallo commented on #630
@tami5 I think I fixed all issues above 🤞🏻, could you test that branch again please? I already rebased with master

[2021-11-10 10:09] tami5 commented on #630
Wonderful @ericdallo

Okay so far

- No more duplication
- `:userpass` lead to seeing `:user/password` as expected.

Issues:

## appending slash bring irreverent results, e.g. function for unloaded namespace

Clojure-lsp before slash
![Screen Shot 2021-11-10 at 12 45 45 PM](https://user-images.githubusercontent.com/65782666/141090326-16355a05-df94-499b-86d6-ed2d2c00c3e1.png)

Clojure-lsp after sla

[2021-11-10 13:01] ericdallo commented on #630
I could not repro this one, could you give more details or something?

This one deserves a separate issue, it'd need some work to specifically fix this one

This one looks hard to repro, would you mind creating a separate issue for this one with a minimal repro so I can test it and understand it?

Sounds like a vim bug or something else, for me this works

This happens because we don't have datomi

[2021-11-10 13:39] tami5 commented on #630
Oh makes sense now, I wonder if clojure-lsp can hook into the repl using project/.nrepl. This would speed things up or maybe be a fall-back

You are right, overwriting `cmp nvim-lsp` source, made it work
[code]

This also fixed `appending slash bring irreverent results, e.g. function for unloaded namespace` and `::` I wonder if the server can send this keyword pattern so I can open a pr in 1cmp nv

[2021-11-10 14:56] ericdallo commented on #630
We use static analysis only on whole clojure-lsp, maybe in the future we could improve that

What do you mean? you mean adding `::` as a triggerCharacter?

Yeah, maybe a snippets opt-out flag

I didn't see any missing keywords for me, I'll close this issue merging that PR, I think we can open an issue for each specific case in the future, WDYT?

[2021-11-10 19:16] tami5 commented on #630
No I meant that adding ` \%([0-9a-zA-Z\*\+!\-_'?<>=\/.:]*\)` fixed both issues. This is keyword pattern used by the completion plugin,

There is see

Sure it would make it easier to track, I will try to do that after the PR is merged, but for now I suggest few trails on performance, maybe do some caching idk.

[2021-11-10 19:33] ericdallo commented on #630
Maybe we could do some kind of cache on the prefix sent previously 🤔

[2021-11-10 19:33] ericdallo commented on #630
Anyway, something for another PR IMO

[2021-11-10 23:40] ericdallo commented on #630
This doesn't fit on LSP protocol right? only if we add a custom method to return that, but I don't know, seems too specific for this case

[2021-11-11 01:28] #630 closed

[2021-11-11 01:29] ericdallo commented on #630
Merged, Let's tackle other minor issues in separate issues

[2021-11-11 06:55] viebel commented on #627
Overall, it works very well.
But in cases of subsequent additions of symbols from the same namespace, it could work better.

Suppose I am starting from the following code:

[code]
1. When the cursor is on `upper-case`, I see a code action `Add [clojure.string :refer [upper-case]]`, exactly as expected
2. After chosing the action, when the cursor in on `lower-case`, there are two code actions `Add

[2021-11-11 13:53] ericdallo commented on #627
Yeah, I was aware of that bug, bit it's not that easy to fix it, I decided to fix on other release, but feel free to open an issue to help track that

[2021-11-11 13:55] viebel commented on #627
OK. Do you understand why there are two code actions with the exact same
name?

On Thu, Nov 11, 2021 at 3:53 PM Eric Dallo ***@***.***> wrote:

--
Yehonathan Sharvit
Author, Speaker, Developer

[2021-11-11 14:14] ericdallo commented on #627
name?

No, this is a new bug, we need to do some distinct on a specific code location, probably that didn't catch some corner case, please open another issue for this one, I'll look soon

[2021-11-11 17:17] tami5 opened #637 "Support closed source completion like datomic"
**Describe the bug**

`Datomic` completion and hover isn't possible, it seems to only be possible through the repl. It would be great if somehow it can either injected to clojure-lsp manually or accessed through running repl session.

**Expected behavior**

_using conjure in neovim_
![](https://user-images.githubusercontent.com/65782666/141092222-ea54527d-a961-49bd-a790-18be1aa7125b.png)

**Actual

[2021-11-11 17:23] tami5 opened #638 "Support disabling function symbol comletion when there is snippet equivalent"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when with seeing duplication of symbols, and hate that fact that snippet is less prioritized in my editor.

For me instead of `letf|<cr>`, I have to `letf|<down><cr>`

**Describe the solution you'd like**

- An option to filter out symbols that has snippet with the same name.
- Doc for builtin symbols instead

[2021-11-11 20:35] ericdallo commented on #637
This is not possible yet with closed source as we don't get analysis for those code, not sure how we would fix that 🤔

I think this one is related with stubs or something in clj-kondo maybe, WDYT @borkdude?

In the worst case we could add some integration with a running repl, but I'd advice avoid that on clojure-lsp

[2021-11-11 20:39] borkdude commented on #637
You can get this by making some fake sources (e.g. dynamically in the REPL) and then linting this with clj-kondo.

[2021-11-11 22:29] ericdallo commented on #638
@tami5 I'd like to understand this one better, for me we show the elements before the snippets, at least for me on emacs:
Is this the same behavior your are seeing?
![image](https://user-images.githubusercontent.com/7820865/141378213-92f52512-bba3-4d03-8eef-e1ea389f0a6b.png)

[2021-11-11 23:27] tami5 commented on #638
Yes exactly, 9/10 what the user want is the snippet. it's rare that I'd want to complete and confirm a symbol by it's own. What I'm suggesting is an option to filter out function/macro symbol when there's a symbol with the same name.

![@floke ](https://user-images.githubusercontent.com/292349/118822916-6af02080-b86d-11eb-9990-942fe9b55541.png)
[this plugin](https://github.com/folke/lua-dev.nvim)

[2021-11-12 00:34] ericdallo commented on #638
So what you want is snippets sorted first than symbols, not sure it makes sense remove the symbols since it's a general completion.
Also, In emacs we have custom shortcut to get only completion snippets, maybe you could have something similar for vim?
At last resource we could add a flag to prioritize snippets over other symbols, but not sure is a good alternative.

About the snippets enhancement,

[2021-11-12 01:42] tami5 commented on #638
Well I feel it's totally redundant to have them both, either symbol or snippet. In fact, it can be argued that it shouldn't be an option but perhaps a default behavior. For example, In rust-analyzer server, all function/method are snippets by default:

![Screen Shot 2021-11-12 at 4 17 27 AM](https://user-images.githubusercontent.com/65782666/141392171-3e68931f-cd66-4a90-acad-113b2abbc3f3.png)
![Sc

[2021-11-12 01:57] ericdallo commented on #638
Alright, I see your point, maybe for some key symbols like `defn`, `if`, `let` etc it doesn't make much sense to only complete to the symbol, but complete to the snippet, right?
I think we can start with a flag that doesn't return the core symbols but only the snippets indeed, if that works well, in the future we could turn on that flag by default, WDYT?

actually, it shows with a `~` at the end I

[2021-11-12 02:13] tami5 commented on #638
Yes. These ones no one can argue it should return only symbol. because 9/10 they just duplicate the exact structure by hand.

Yes, this the best way onward, maybe even suffixed with experimental. But we shouldn't scope it to core symbols only, and definitely it won't make sense to take the current approach of defining snippet, instead it should auto generate using something like `(doc symbol)` out

[2021-11-12 02:32] ericdallo commented on #638
I don't understand why the current `defn$` snippet is not enough, we do that:

![defn$](https://user-images.githubusercontent.com/7820865/141398886-57227891-92f2-44ba-befc-06aa94debbbf.gif)

It was something I added to differ from snippets, but I think it makes sense to drop it, we already have the kind to define that is a snippet.

They could be [command](https://microsoft.github.io/language-serv

[2021-11-12 02:34] #636 closed

[2021-11-12 02:35] ericdallo commented on #636
Available on next release via setting `keep-parens-when-threading?`

[2021-11-12 03:39] tami5 commented on #638
I'd suspect some user would want to overwrite it to add the documentation part or other stuff.

I was trying to understand how rust-analyzer does it without defining a list of snippets, some relevant parts worth looking into,

https://github.com/rust-analyzer/rust-analyzer/blob/a8247685cfa09084bd620c0877ea1eb3d605d8a2/crates/ide_completion/src/lib.rs
https://github.com/rust-analyzer/rust-analyzer/

[2021-11-12 13:00] ericdallo commented on #638
Move cursor also works with snippets, and it's way easier to implement then with code actions, maybe we just need to enhance the snippets with documentation about the symbol and things like that dynamically

[2021-11-12 13:31] viebel opened #639 "Duplicate code action: `Add [<ns> :refer [<symbol>]`"
Suppose I am starting from the following code:

[code]

When the cursor is on upper-case, I see a code action `Add [clojure.string :refer [upper-case]]`, exactly as expected. However, After choosing the action, when the cursor in on lower-case, there are two code actions `Add [clojure.string :refer [lower-case]]`. One of them does nothing.

[2021-11-12 13:35] viebel opened #640 "`[Add <ns> :refer [<sym>]` code action generate a duplicate mention of the added namespace"
Overall, it works very well.
But in cases of subsequent additions of symbols from the same namespace, it could work better.

Suppose I am starting from the following code:

[code]

When the cursor is on `upper-case`, I see a code action `Add [clojure.string :refer [upper-case]]`,  that works exactly as expected.
However, if after applying the action, I apply a similar action on `lower-case`,  it c

[2021-11-12 13:35] viebel commented on #627
Done.

[2021-11-12 13:38] ericdallo commented on #639
Thanks for the report, I managed to reproduce, will prioritize the fix

[2021-11-12 13:39] ericdallo commented on #640
thanks for the report, I was aware of this bug, it was not trivial to fix it, I'll take a look again how hard would be to fix it

[2021-11-13 17:22] ericdallo commented on #639
I actually fixed the other one 😅
BTW, I can't repro this one anymore, could you confirm on master again please?

[2021-11-13 17:24] ericdallo commented on #640
I made a refactor and fixed this one 779ee8a

[2021-11-13 17:24] #640 closed

[2021-11-13 22:11] viebel commented on #639
I am confirming that I can reproduce this bug. I am still seeing a duplicate code action.

[2021-11-14 00:52] ericdallo commented on #639
@viebel what editor are you using? Could you get the return of the `textDocument/codeAction` request?
I tried creating a new file and then pasting the code of the issue and after applying the first code action, I can't see a second duplicated one when applying the next.
I suspect there is some corner case when the action gets duplicate since I managed to reproduce the issue one time but I can't an

[2021-11-14 02:30] ericdallo commented on #638
@tami5 I made a commit that should fix this, could you test it on master? we know replace the symbols with the equivalent snippets

[2021-11-14 05:30] viebel commented on #639
I am using neovim
Here is what is returned by `textDocument/codeAction` request:
[code]

[2021-11-14 05:36] viebel commented on #640
It seems that the code action is broken.
On latest master,  commit id b72f68a34978104ec4e35b980504503f38113262, after triggering it, I am getting an invalid `ns` form:

[code]

[2021-11-14 14:13] tami5 commented on #638
Okay, managed to test it just now,
![snippet-completion-test](https://user-images.githubusercontent.com/65782666/141684460-7a07ba80-2b66-45bb-868c-96988d66b003.gif)

Remarks:

- `println` -> `(println)` is a simple hack I have in my editor to make any function kind wrapped with paran when confirmed.
- The part after `[]` get distributed due to `parinfer-rust` integration `"(defn ${1:foo} [$2]\n  $

[2021-11-14 14:45] ericdallo commented on #638
I don't think we should remove new lines in snippets, they totally makes sense for a lot of snippets and works very well for most cases, probably something to fix on parinfer-rust?

The JVM certainly affects the performance vs the graalvm one, maybe you should compare with and without the latest commit?

I thought about that, but that doesn't makes sense since it's indeed a snippet kind, it could

[2021-11-14 14:53] ericdallo commented on #640
@viebel what editor are you using?
For me latest master is working properly with this issue fixed, also all tests are passing, so it's weird this behavior only happening for you:

![code-actions](https://user-images.githubusercontent.com/7820865/141686276-d70a2e2a-db24-4585-aab8-c223a5d3abcb.gif)

[2021-11-14 14:56] ericdallo commented on #639
Yeah, I don't know why, but I can't repro that anymore, we could do some distinct in the code, but is like fixing a issue we are not sure why or when happens

[2021-11-14 15:00] tami5 commented on #638
I agree, but a found a proper workaround: Anything with new line should be followed by named placeholder, `$0` breaks it, maybe `body` WDYT? Also, this won't matter when any function inherits the args from the doc, right, I think all of them is named

Yep, its the JVM

hmmm, I don't know about that, it will still show `~` at the end to indicate that it's a snippet, like with rust-analizer. Also, w

[2021-11-14 15:34] ericdallo commented on #638
Almost sure it will show the ~ only when the kind is a snippet, also other editors don't have this ~ thing, so it's a neovim thing.
I'll double check the LSP spec

Could you elaborate?

I'll double check the spec, is not fresh on my mind how the snippets works, but just to make it clear, we are not changing the snippet based on the symbol yet, so they are all static, in the future we could replace

[2021-11-14 16:12] tami5 commented on #638
e.g. description, examples from clojure docs

KK

[2021-11-14 16:31] ericdallo commented on #638
I'm not on the PC right now, but I need to check the docs, I'm not sure that the detail is the correct place to put those things

[2021-11-14 17:14] ericdallo commented on #638
I just checked that there is the field `documentation`: https://microsoft.github.io/language-server-protocol/specifications/specification-3-17/#completionItem and we already fill it, I'll fix it to make snippets show them as well

[2021-11-14 17:48] ericdallo commented on #638
@tami5 I just found that I didn't have the completion popup enabled on my emacs 😅 I enabled and I'm fixing the issue:
![image](https://user-images.githubusercontent.com/7820865/141692322-51a6defb-41c2-4448-b4f6-10187e40b8a4.png)

[2021-11-14 19:10] tami5 commented on #638
😍 Awesome we're getting closer

[2021-11-14 22:01] ericdallo commented on #638
@tami5 I think everything is good now, could you please test it master again?

[2021-11-14 22:24] tami5 commented on #638
Works flawlessly, I'd add before closing this issue is to modify the snippets that has new lines and `$0` with `$body` or something descriptive.

[2021-11-14 22:34] ericdallo commented on #638
This break things, $0 is part of the snippet LSP spec where it tells to client that tabstop number, if we change that we loose the tabstop: https://microsoft.github.io/language-server-protocol/specification#snippet_syntax
EDIT: I found we can achieve that with `${0:body}`, it should keep the tabstop + fix your issue

[2021-11-14 22:36] tami5 commented on #638
Yah also, we can keep $0 as last place outside `()$0`. I'm testing overwrite now

[2021-11-14 22:48] ericdallo commented on #638
I made one more commit improving the snippets and adding descriptive names to $0

[2021-11-14 23:02] tami5 commented on #638
Okay much better now. I think this resolves this issue, I will move parts that ware out of the scope to a new issue later. Thanks @ericdallo for your amazing work 🙏

[2021-11-14 23:06] ericdallo commented on #638
Good, glad to fix it, thanks for the help on improving it

[2021-11-14 23:06] #638 closed

[2021-11-14 23:24] ericdallo commented on #637
Yeah, I can't see this working without some repl integration, we currently doesn't use anything from repl on clojure-lsp, we could add that, not sure the best way to do that though

[2021-11-14 23:31] tami5 commented on #637
hmmm 🤔 to access the repl, we could start from reading the port from `.nrepl-port` in root project? If this file exists then there is a repl running, thus should hook into it?

[2021-11-14 23:34] ericdallo commented on #637
yeah, we could start with that I think, needs some POC

[2021-11-14 23:55] ericdallo commented on #606
It seems that deps.clj calls an private *exit-fn*, maybe that should be public so REPL usages could override, WDYT @borkdude ?

[2021-11-14 23:57] ericdallo commented on #637
Also, any idea how to easily get a closed source lib to test that? 😅

[2021-11-14 23:58] ericdallo commented on #637
Other thing, how that should work with compiled graalvm? we can't use nrepl on graalvm images I think

[2021-11-15 00:06] tami5 commented on #637
I don't think there's something easier then datomic, it's a bit long process. maybe compile project to java class/jar in a dir then adding that dir as deps in test project?

[2021-11-15 03:37] ericdallo commented on #637
I opened this one on nrepl https://github.com/nrepl/nrepl/pull/258

[2021-11-15 03:55] ericdallo commented on #637
I wonder what would be the approach after connecting to the nrepl, we need to spit to a file the content of datomic so two questions:
- how to get the datomic stubs to then spit to a temporary file?
- when we should do that? after server started async?

[2021-11-15 09:10] borkdude commented on #606
You can use the private var in `binding` already, but yes, I could make that public.

[2021-11-15 09:11] borkdude commented on #606
Feel free to post an issue and I'll think about it in a few days.

[2021-11-15 09:18] borkdude commented on #637
@ericdallo A few ideas.

1. Rather than pulling in nrepl/nrepl, you can simply use bencode and evaluate an expression. This is much more lighter weight and should have almost no impact on the image size. See https://book.babashka.org/#_interacting_with_an_nrepl_server.

2. I think it might be better to not do anything with an nREPL in lsp at all. This won't work for people who use socket REPLs for

[2021-11-15 13:27] ericdallo commented on #637
@borkdude thank you, sounds better indeed, I was not aware of any way without a repl, but that makes sense.
I think we can indeed delegate this to a separate lib that spits out to files and then use it on clojure-lsp.
I'll take a look, thanks!

[2021-11-16 02:31] ericdallo commented on #637
We started working on a lib for generating stubs: https://github.com/clj-easy/stub

[2021-11-16 17:33] mynomoto opened #641 "Could warn on multiple spec definitions"
**Is your feature request related to a problem? Please describe.**
Spec are global and only one definition is used at a time. It is possible to redefine a spec and sometimes this is not intentional.
It can cause subtle bugs where on the repl sometimes one or other spec is used. An can cause problems on production code as the undesired definition can be picked.

**Describe the solution you'd like**

[2021-11-16 18:07] ericdallo commented on #641
For the warning we would need to have a custom lint for that, maybe using clj-kondo custom-lint that we already have for unused-public-vars

[2021-11-16 19:32] fuadsaud opened #642 "`Unable to invoke no-args constructor for class ` when renaming a symbol"
**Describe the bug**

When attempting to rename a symbol, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Put cursor on top of the symbol
2. Run rename command

**Expected behavior**
Input asking for the new name.

**Screenshots**

The following error can be seen in the client log:

[code]

<details>
 <summary><b>Log - client <-> server</b></summary>
<pre>
{  id = 8,  jsonrp

[2021-11-16 20:43] ericdallo commented on #642
@fuadsaud that is a graalvm reflection error on clojure-lsp, I will fix it, but it probably started to happen with some bump on your neovim version which added support for PrepareRename

[2021-11-16 21:33] oblitum commented on #630
How is signatureHelp supposed to be triggered automatically given `signatureHelpProvider.triggerCharacters` comes empty?

[2021-11-16 21:47] ericdallo commented on #630
@oblitum, signatureHelpProvider.triggerCharacters is empty since I can't see a char that makes sense to be used for clojure to show signature, for example, for Java, the `(` makes sense as when user is typing `foo(` it's trying to call a method and show its signature makes sense.
But for lisp/clojure, not sure what char we could use

[2021-11-16 21:51] oblitum commented on #630
@ericdallo okay but then, how is it showcased in the emacs gifs? In there it gives the impression it comes up automatically.

There's also [this PR on coc.nvim's side](https://github.com/neoclide/coc.nvim/pull/3227), and which got solved!, but until now I can't make sense of it.

[2021-11-16 21:53] oblitum commented on #630
From PR, it indeed makes me wonder whether whitespace could be make usable for this. Would also make sense in Haskell.

[2021-11-16 21:54] ericdallo commented on #630
It's not automatically because there are no triggerChars for signature, it's manually triggered for emacs calling `lsp-signature-activate`
I don't think whitespace is a good triggerChar, imagine that every whitespace typed would make the client request the server asking for signature

[2021-11-16 21:57] oblitum commented on #630
Yeah I know it sounds overkill... and I guess most instances would come empty as it wouldn't be in call site location, but I'd like to try some in this sense for real just to check how it goes, maybe I patch it locally to check how it behaves.

Yes thanks, I also can bring it up manually, but that makes it subpar experience compared with other languages where triggers are simpler to tackle.

[2021-11-16 22:08] ericdallo commented on #630
yes, I think it worth a test indeed, but I think it would cause performance issues, even if clojure-lsp doesn't return anything, it needs to query analysis to confirm that.

[2021-11-17 00:47] ericdallo commented on #642
@fuadsaud it seems that neovim is not checking if the server supports `textDocumentprepareRename` request before calling it like [emacs lsp-mode does](https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L5873), maybe @mjlbach knows something, even so, I'll fix the graalvm issue.

[2021-11-17 00:50] mjlbach commented on #642
cc @mfussenegger, I think it's because we use the santized value for rename and don't individual check the prepareRename property (this commit, which I reviewed, introduced the issue https://github.com/neovim/neovim/commit/fcc11d5942779b57257a75e995068fedbf116e34)

[2021-11-17 22:31] #642 closed

[2021-11-20 18:50] tami5 opened #646 "[Feature Request] code action: new namespace and new namesapce functions/vars"
**Is your feature request related to a problem? Please describe.**

I always find my self starting new project and requiring namespace before creating them, e.g. writing`com.appx.db` in require block, then running` goToDefinition` on the symbol as if I already created it

**Describe the solution you'd like**

`goToDefinition` interrupt and handle a condition that state:

If **symbol not found** an

[2021-11-20 19:47] ericdallo commented on #646
@tami5 I'm afraid we can achive that but on other way, instead of trying to find the definition and we do something different like create the namespace, we return a code action to allow create that namespace, WDYT? we already have something similar when you are in a line that contains a `unresolved-symbol`, we then return a code action to create a `private function`, that would be similar but to c

[2021-11-20 19:47] ericdallo commented on #646
the advantage I see on the second one is that we can automatically require the ns after creating :)

[2021-11-20 20:19] tami5 commented on #646
hmmm, idk, on one hand it seems better for user discoverability to have it as code action, on the other, it feels more natural,  `(if symbol doesn't exist create it, else go to it)`. Perhaps, the code action could be first implemented  then an experimental option to upgrade `GoToDefinition` Functionality wdyt?

btw here's a quick edit on the behaviors:

[code]

How so? didn't get that one

[2021-11-20 20:24] ericdallo commented on #646
Honestly, I don't like the idea of creating something when trying to find a definition.

We already have a feature that when you try to complete a unrequited ns, we auto add that to the requires, the code action would be similar, we'd create the namespace (and function) and then require it on the current namespace

[2021-11-20 20:25] tami5 commented on #646
Oh I see it's more consistent with requiring namespaces action. good call

[2021-11-20 20:28] tami5 commented on #646
😆 I didn't update my page srry

[2021-11-21 12:48] mynomoto opened #647 "Extract anonymous function on map doesn't work as expected"
**Describe the bug**
Trying to extract an anonymous function causes extraction of the whole map form.

**To Reproduce**
Steps to reproduce the behavior:
1.If I have the following form (cursor represented by `|`):
[code]
2. Use the Extract to function code action. It will result in.
[code]
3. This is not what I would expect.

**Expected behavior**
[code]

**User details (please complete the followi

[2021-11-21 12:58] mynomoto opened #648 "Could convert function arity to map"
**Is your feature request related to a problem? Please describe.**
Sometimes I refactor a function that has positional parameters to receive a map instead. lsp could help making this refactor.

**Describe the solution you'd like**
A code action "Convert function arity to map" that would change the function to receive a map with keys with the same name as the parameters. E.g.:
[code]
Would become:

[2021-11-21 13:05] ericdallo commented on #648
changing the references would be not that easy, but it sounds like something that makes sense

[2021-11-21 14:56] #637 closed

[2021-11-21 14:58] ericdallo commented on #637
@tami5 finally, this is working and it's a huge addition to clojure-lsp, thanks for the suggestion!
Please check [the docs](https://clojure-lsp.io/settings/#stub-generation) and let me know if anything is not working, you can test it with master or wait for the next release.

[2021-11-21 15:37] tami5 commented on #637
Thanks a lot for you're amazing work @ericdallo. I'm going to test it on the next release.

[2021-11-23 20:25] tami5 opened #649 "Missing keywords"
**Describe the bug**

I was expecting this to be fixed in #630. But today I played around with xtdb and no namespace-qualifed keys at all 😟 :

![Screen Shot 2021-11-23 at 11 18 46 PM](https://user-images.githubusercontent.com/65782666/143097944-185c1617-bcf2-4db8-87c2-99df07c0500f.png)

**To Reproduce**
[code]
**Expected behavior**
![Screen Shot 2021-11-23 at 11 17 53 PM](https://user-images.githu

[2021-11-23 21:59] ericdallo commented on #649
Yeah, I confirmed the issue, I think we left a corner case with aliased keys, I'll double-check it, thanks for the repro

[2021-11-24 02:16] ericdallo commented on #649
@tami5 made a commit on master partially fixing it, now we show the keywords completions that are `:reg`, keywords that are defined like via `s/def`.
The only thing is not working yet is completion with end slash like `::xt/`, I'll try to fix it soon

[2021-11-24 03:15] justone opened #651 "Add sort map literal keys command"
**Is your feature request related to a problem? Please describe.**
Thank you for all of the refactoring actions included in clojure-lsp. I've grown to rely on them for my daily editing. One thing that would be wonderful as a command would be the ability to sort the keys of map literals. I end up with several of these throughout my code and sometimes I get them from imported data or fail to keep th

[2021-11-24 14:03] ericdallo commented on #651
thanks for the report, it sounds a good refactor, we need to check how hard would be to do it with rewrite-clj + performance for code actions, if the performance is huge, we should add only as a refactoring command

[2021-11-24 14:04] ericdallo commented on #651
I'll try to take a look at this on weekend

[2021-11-24 19:35] tami5 commented on #649
Thanks @ericdallo, I've tried current version but seems to be still an issue. maybe my editor 😆 , still the same behavior.

[2021-11-24 19:37] ericdallo commented on #649
Did you try the latest master commit?

[2021-11-24 22:24] tami5 commented on #649
Yes, #4f43a3f1, ran just make in clojure-lsp directory

[2021-11-24 22:34] ericdallo commented on #649
Quite odd 🤔

About the completion on empty slash, we need to do some changes on clj-kondo I think: https://clojurians.slack.com/archives/CHY97NXE2/p1637792912377700

[2021-11-24 23:09] ericdallo commented on #649
@tami5 I made one more commit with a workaround for this

Everything from this issue is working for me now, it's odd that it doesn't for you

[2021-11-25 00:07] ericdallo commented on #651
Related https://github.com/clojure-emacs/clj-refactor.el/issues/32

[2021-11-25 00:41] tami5 commented on #649
Oh wait there is something. It's a bit weird behavior

https://user-images.githubusercontent.com/65782666/143330024-03466c79-7440-4967-b08b-c9cb70f8a4e9.mov

For comparison here's how it's behaving with conjure

https://user-images.githubusercontent.com/65782666/143330194-16d04627-caff-4946-8ae6-a5ec95b0ebf6.mov

Now I'm shocked how in consistent the results comparing to last time I tried it.

[2021-11-25 01:32] ericdallo commented on #649
that's really weird indeed, not sure is something that client does though :(

[2021-11-27 03:11] #651 closed

[2021-11-27 03:12] ericdallo commented on #651
Available on next release!
![sort-map](https://user-images.githubusercontent.com/7820865/143666169-0df76a51-cedb-4179-9470-f94437af9f7e.gif)

[2021-11-27 17:45] ericdallo opened #652 "[source-paths] Support deps.edn local/root source-paths discovery"
deps.edn projects allow to specify `:local/root "some/local/path"` to other deps.edn projects, this is something that happens for monorepo projects like projects that use polylith for example.
We could scan other deps.edn source-paths when we find a `:local/root` on a deps.edn on `:deps`, `extra-deps` and `:aliases`

[2021-11-27 20:11] #652 closed

[2021-11-27 23:16] bpringe opened #653 "Provide information on tests"
It would be nice if clojure-lsp provided information on tests in a codebase, such as line numbers, test names, and maybe other metadata.

[2021-11-27 23:20] ericdallo commented on #653
That's something nice modern LSPs have like Dart/Flutter LSP, it's not LSP official(yet?), it returns a tree hierarchy of tests because it's allowed to have nested tests, but for clojure this may be easier I believe?

@borkdude doyou see something clojure-lsp could use from kondo analysis for that kind of info?

[2021-11-28 08:42] borkdude commented on #653
Aren't you already using this info from clj-kondo? Tests are just vars that are available in `:var-definitions` and they have, like every var, `:row`, `:end-row`, etc.

[2021-11-28 14:05] ericdallo commented on #653
Yeah, I was thinking more about this ([ref](https://dartcode.org/releases/v3-27/)) for example:
![image](https://user-images.githubusercontent.com/7820865/143771179-98b13728-0c45-4cd3-b7c1-c988ca9961f8.png)

Create a test hierarchy for each nested `testing` in a deftest or something like that.
We could check each line/row of each testing but not sure would be easy or if there is a better way to ha

[2021-11-28 14:25] borkdude commented on #653
There is a better approach, we can use the new `:context` "architecture" to add the `testing` context to the var usages. I'm not 100% sure of your use case, please make it more concrete.

[2021-11-28 15:24] ericdallo commented on #653
I'll do some testing and research to check what kind of info we would need, but using context sounds like a good idea to me

[2021-11-28 20:03] #646 closed

[2021-11-28 20:05] ericdallo commented on #646
@tami5, I implemented 2 new code actions: `Create namespace 'foo' and 'bar' function` and `Create function 'bar' on 'foo'` following those cases, the code action already require the new ns as well :)
Available on next release, couple of days

[2021-12-03 16:47] bpringe opened #655 "Return edits in codeAction/resolve responses rather than commands"
**Is your feature request related to a problem? Please describe.**

vscode-languageclient / VS Code (I'm not sure which handles this exactly) doesn't support commands being returned in the `codeAction/resolve` request. It only sends 'edit' as a property for its resolve support.

This means Calva has to manually take the command and args from the `codeAction/resolve` response and send a `workspace/

[2021-12-04 19:37] slipset opened #656 "List implementations of protocol fns"
When coding polymorphically, say with
[code]
Today, when clicking on "go to definition" of the `(foo bar)` you jump to the protocol definition. It would be very useful to get a list of all known concrete implementations of `foo`

The same applies for multimethods`.

[2021-12-05 16:19] ericdallo commented on #656
@slipset could you elaborate the use case please?
ATM if you find all the reference of `foo` both from the usage or the protocol definition, it should find all foo calls

[2021-12-05 17:22] #655 closed

[2021-12-05 17:22] ericdallo commented on #655
Done, available on next release

[2021-12-05 19:17] slipset commented on #656
Ah, I guess what I'm after is in

[code]
Here "Go to definition gets me to the protocol definition. I want to be presented with all the possible implementations of the protocol. Find references show me all usages, but not (only) the possible implementations.

Somewhat like what is described [here](https://www.jetbrains.com/help/rider/Navigation_and_Search__Go_to_Implementation.html) (for Intellij)

[2021-12-05 20:15] ericdallo commented on #656
I see, what you seek is the LSP method ]textDocument/implementation](https://microsoft.github.io/language-server-protocol/specifications/specification-3-17/#textDocument_implementation), I'll check what would be needed to implement that

[2021-12-05 20:46] ericdallo commented on #656
I opened a clj-kondo issue as we indeed would need information about the defrecord methods to implement that

[2021-12-05 21:28] ericdallo commented on #653
For the code below I was thinking about something like:
[code]
A new notification from clojure-lsp, called `clojure/textDocument/testTree` with the following data for that code:
[code]

WDYT @bpringe? would that help as a first iteration? in the future we could enhance that with more details.

@borkdude from what I can see, we would need information about `testing`, including its location and the

[2021-12-05 22:10] borkdude commented on #653
`testing` is just a var that's being called, so we already have the locations for that I think? (I haven't checked)
we can add `:context {:clojure.test {:testing-str "...."}}` or so to the call.

[2021-12-06 01:03] ericdallo commented on #653
Yes, I think that should work, the logic would be on clojure-lsp side which I think makes sense

[2021-12-06 05:14] vemv opened #658 "More modular codebase"
Hi there,

In [this](https://clojurians.slack.com/archives/CPABC1H61/p1636412265027200) thread we noted that the project's dep tree is quite dense. That surely makes sense on its own, but when using clojure-lsp as a dependency in another tooling project (let's say hypothetically, cider-nrepl, refactor-nrepl, etc), then it's bit of a hairy thing to place in the dep tree.

(Especially as [clojure-em

[2021-12-06 08:48] borkdude commented on #653
I'm fine with having this logic in clj-kondo itself btw.

[2021-12-06 12:23] ericdallo commented on #658
Thanks for the issue, it makes sense Indeed.
I made some refactor some months ago to have the db passed from outside to inside, so this can help with a refactor or a component replacement maybe.

[2021-12-06 22:33] ericdallo commented on #653
@borkdude you mean add more besides the testing-str?

[2021-12-06 22:38] borkdude commented on #653
I mean, having the context data as a built-in thing rather than a custom hook. The nesting structure as you described above should be in LSP.

[2021-12-07 01:40] ericdallo commented on #653
oh yeah, I was not thinking about any extra hook indeed, alright, so I'll start with the `testing-str` only on the context

[2021-12-07 11:46] barkanido opened #660 "server is crushing"
**Describe the bug**
getting this error while attaching a vim buffer using [lsp-config](https://github.com/neovim/nvim-lspconfig)
[code]
I am not sure if this is the lsp server-side or the client-side, to be honest. but since other lsp server are able to attach, I think clojure_lsp crushes.

**To Reproduce**
this is an internal project and the lep server is started with no args

**User details (pl

[2021-12-07 11:50] barkanido commented on #660
from the client debug log, you can maybe see the last message sent to the server:
[code]

[2021-12-07 13:03] ericdallo commented on #660
thanks, I'll take a look

[2021-12-07 13:10] ericdallo commented on #660
@barkanido I can't easily test the sent initialize info, could you send the json version of that? since it's part of the protocol there must be a way to get that as json, I also didn't find anything to convert that to json

[2021-12-08 03:53] bpringe commented on #653
That looks good to me, but @marcomorain is doing test-related work and would be using this, I think, so I'm including him here too.

[2021-12-08 06:41] barkanido commented on #660
after trying to indent this it seems like a giant Lua dictionary (the LSP client in neovim is written in Lua I think).
It does state the protocol method and its parameters so it might help.

[code]

[2021-12-08 12:33] ericdallo commented on #660
This is not a valid json yet :/
Is there any way to concert that to a valid json or get the json from nvim easily?

[2021-12-09 01:45] ericdallo commented on #653
@bpringe @borkdude
I started implementing both on clojure-lsp and emacs to see how would look, check it out:
![image](https://user-images.githubusercontent.com/7820865/145319248-6d1e98ce-4c4b-423e-9ac7-0a1b6b13efcf.png)

[2021-12-09 22:38] lyderichti59 commented on #656
These two features would be super neat to have ! I would love to use them (both defrecord implementations and multi-method implementations)

I wonder to what extent we could have some type inference ?

Let say I have
[code]

If we can somehow guess that `client` is an instance of `ImplB`, then when we'll have the `textDocument/implementation` list, we will be able to pick the most relevant impleme

[2021-12-10 00:47] ericdallo commented on #656
@lyderichti59  Unfortunately, that's not that easy as it's almost a runtime analysis thing, we would need to make too many changes on kondo side or some ad-hoc thing to implement that :/

[2021-12-11 09:41] kkharji opened #662 "register qualified keywords in workspace/document symbols"
**Is your feature request related to a problem? Please describe.**

I'm starting to use integrant heavily and I find my self doing the following to have the key searchable in my workspace and buffer symbols:

[code]

**Describe the solution you'd like**
::keys should be part of symbols? or maybe special hook for init-key. basically, I want to remove the extra declare statement as workaround

**Des

[2021-12-11 13:46] ericdallo commented on #662
You meant if `::register` should be a var-definition just like what we have for re-frame/reg-event-fx?

[2021-12-11 14:38] tami5 commented on #662
Yes, so I don't have to declare register.

[2021-12-11 14:59] ericdallo commented on #662
Sorry, But I don't understand what advantage this will bring, what is your use case? what is the navigation flow you do that you think clojure-lsp can help?

[2021-12-11 15:32] tami5 commented on #662
No problem, it helps with navigation mostly, i.e. jumping between symbols. In integrant you'd define a key with `init-key` then in a configuration file you would initialize that key and pass it around. e.g. `::register` > `:my.namespace/register {:db #ig/ref ...}`

In development, I'd need to jump between symbols and edit the defmethod body which work great but for defmethod and namespaced keys th

[2021-12-11 16:44] ericdallo commented on #662
I think so, but it sounds too specific for this case, maybe we can add some context specific data for [integrant](https://github.com/weavejester/integrant), but not sure what or where, maybe @borkdude could have some idea?

[2021-12-11 16:50] borkdude commented on #662
You can already navigate to keywords?

[2021-12-11 21:17] bpringe commented on #653
That's great! I'm guessing `mock` is a placeholder and should/will say the string passed to `testing`, like `bar 1`, etc.?

[2021-12-11 21:19] ericdallo commented on #653
Exactly, borkdude is finishing adding that to kondo and then clojure-lsp will return the correct testing name :)

[2021-12-11 22:06] borkdude commented on #653
Merged to master on kondo.

[2021-12-12 16:43] ericdallo commented on #653
Done, available on next release!
The documentation about the custom notification can be found [here](https://clojure-lsp.io/capabilities/#test-tree), but basically, client need to provide a extra capability under `experimental` called `testTree` as `true`, then server will start to send notifications of type `clojure/textDocument/testTree`, which client can listen and build the tree data.
Also, Im

[2021-12-12 16:43] #653 closed

[2021-12-13 22:37] bpringe opened #665 "Renaming namespaced keywords not working as expected"
**Describe the bug**
When I rename a namespaced keyword using VS Code and Calva, the result is not what I expect

**To Reproduce**
Steps to reproduce the behavior:

Example code:

[code]
1. Place cursor on `::hello-world`
2. Run `Rename Symbol` (F2)
3. Insert `:hello/world` as the new symbol name
4. See that the keyword is renamed to `::world`

**Expected behavior**
I expect the keyword to be rena

[2021-12-13 22:44] ericdallo commented on #665
So the issue is related with renaming/converting a implicit namespace keyword to a explicit one?
is this that common?
anyway, I think makes sense to fix it

[2021-12-13 23:14] bpringe commented on #665
Yes. I'm not sure how common it is, but I'm doing that in code base that uses re-frame, in which I started out using the double colon (`::`) syntax and [decided to move away from it](https://purelyfunctional.tv/issues/purelyfunctional-tv-newsletter-430-use-keyword-notation-for-unique-values/).

[2021-12-13 23:17] MrEbbinghaus opened #666 "Consider `:lint-as` entries in `find-function-definition-name-loc`"
**Describe the bug**
For now [`find-function-definition-name-loc`](https://github.com/clojure-lsp/clojure-lsp/blob/111387c98364e302a9853a74bcf47b253801590c/src/clojure_lsp/refactor/edit.clj#L49) only considers a static set of symbols as "function definition".
Macros that behave like `defn` (e.g. [guardrails](https://github.com/fulcrologic/guardrails) `>defn`) are therefore treated incorrect.

This

[2021-12-14 01:02] ericdallo commented on #666
@MrEbbinghaus, checking kondo lint-as config could not be as reliable since the config could be on multiple places and we would need to make that code dynamically, maybe we can consider just adding guardrails function definitions to clojure-lsp? how many of those exists on guardrails?

[2021-12-14 01:06] ericdallo commented on #666
The issue is that code is not smart enough to check aliases and know its namespaces, we would need to change that a little bit

[2021-12-14 01:15] ericdallo commented on #666
Also, we could check `lint-as`, but that wouldn't work for clj-kondo hooks that are defined not via :lint-as but via some custom hook code

[2021-12-14 02:55] ericdallo commented on #666
I found a better way to handle that checking for all kondo var-definitions on the file, this should cover most if not all cases

[2021-12-14 04:13] bpringe commented on #653
Awesome!

[2021-12-14 11:54] MrEbbinghaus commented on #666
Thank you for addressing this so fast.

I am aware, that this is a subpar solution that only patches some holes, but I think clojure-lsp could cover 90+% of use cases with just considering `:lint-as`.

I have some comments:

Would still be better to miss some, then not working at all, doesn't it?

Fun fact: I added a custom hook for `com.fulcologic.guardrails/>defn` myself...
(I don't actually kno

[2021-12-14 16:42] #666 closed

[2021-12-14 16:42] ericdallo commented on #666
Fixed on master, available on next release

[2021-12-17 03:11] ericdallo commented on #555
I think I wrongly mentioned this issue on the PR, sorry

[2021-12-18 18:15] #555 closed

[2021-12-22 14:52] blueskyonmars opened #676 "Expand Let duplicates variables"
**Describe the bug**
I wanted to use Expand Let to "push" a variable up to an outer let.  This mostly works, but along the way some variables in the previously outer let get duplicated.

**To Reproduce**
Create a new lein project, open core.clj (in Calva) then start with
(when (seq [])
 (let [x 5]
  (when (= x 5)
   (seq (vec (inc x))))))
1) select (inc x) and use Calva Refactor: Introduce Let cho

[2021-12-23 22:40] blueskyonmars opened #678 "Inline symbol doesn't do anything"
**Describe the bug**
In Calva when I use Calva Refactor: Inline Symbol, it doesn't inline the symbol.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new lein project, open in Calva
2. go to core.clj, add this code:
3.
[code]
3. stand on improved-x and do Command P > Calva Refactor: Inline Symbol

**Expected behavior**
I expected the (inc x) to be put in place like this:
[code]

**S

[2021-12-23 22:54] ericdallo commented on #678
We introduced a regression recently, thanks for the report

[2021-12-24 02:50] #678 closed

[2021-12-24 02:50] ericdallo commented on #678
Fixed, available on next release

[2021-12-26 01:37] #676 closed

[2021-12-26 01:37] ericdallo commented on #676
Fixed, available on next release

[2021-12-29 14:09] mynomoto commented on #566
Does this mean that I would find a usage of the var and rename it? Some questions:
1. Will it understand aliases? How would be the behavior?
2. Would it change all usages in the project?

If 2 is true it should be enough to be helpful however 1 works. I think something to make aliases consistent could be missing but that should be other issue anyway.

[2021-12-29 15:17] ericdallo commented on #566
yeah, maybe rename wouldn't work for alias cases but for 2 yes, maybe we can start with a code action that would be available when hovering over function definition?

[2021-12-30 08:38] PEZ opened #679 "Semantic tokens mismatching"
**Describe the bug**

The semantic tokenization get's out of whack now and then and starts coloring the code weirdly. We get quite a few error reports on Calve about this. Even though everything else works, users get the impression ”everything is broken”, it seems.  I don't have a clear repro. It doesn't happen to me very often. Sometimes I can provoke it by checking out a different version of the

[2021-12-30 12:23] ericdallo commented on #679
I suspect this was already fixed on master with the `async-custom-lint?` fix, is it possible to ask for one of the users test with master ?

[2021-12-30 17:27] mynomoto commented on #566
One example (not trivial and only a little tricky):
[code]

The user would hover over `foo` on `app.a` and select "move to other namespace" (improvising here, details may vary). It would open an input for the user to choose the namespace. They will pick `app.b`. What I would expect to happen:
[code]

Writing the example was not as trivial as I would expect, no idea if this is feasible. Ideally unu

[2021-12-30 20:05] ericdallo commented on #566
Yes, this example brings the complexity of this feature which is having a lot of corner cases like:
- we should move the function to the other namespace but we can't add it always on the bottom of the ns since there could be usages above so we could need to check all previous usages and make sure we move it to above the first usage in the ns or to the bottom if none
- we would need to add the requ

[2021-12-30 20:38] mynomoto commented on #566
A few more complications I got while coming up with that example but added to much complexity for what should be a simple example.
- the moved function could use functions from the destination namespace. If that was not the case you could always add it on the top of the namespace.
- the origin namespace could become empty
- you need to add requires to namespaces used by the moved function on the d

[2021-12-31 06:27] snoe commented on #566
It's actually very important to fully move, including aliases and everything. It's not just that they can't rely on it, but people will use it, without realizing the corner cases and break their project in hard to find ways (lots of changes across the project and things not changed will be hard to spot).

[2022-01-02 22:14] bpringe opened #680 "Add support for "Go to declaration""
See https://github.com/BetterThanTomorrow/calva/issues/820 for a description of the feature.

[2022-01-03 21:12] blueskyonmars opened #682 "Create Private Function for undefined function using function name as parameter"
**Describe the bug**
In Calva, when I use Create private function for a function that is parameter to another function, the new function is a parameter.
**To Reproduce**
Steps to reproduce the behavior:

1. Create a new lien project, open the core.clj file
2. Create this function:
[code]
After doing Create Private Function for should-remove? the code becomes
[code]

**Expected behavior**
I expecte

[2022-01-03 23:16] blueskyonmars opened #683 "Extract To New Function with mutiarity syntax forgets parameters"
**Describe the bug**
When using multi-arity syntax in a function, if you select some code and extract it into a function, it somehow assumes that the parameters are globally available.

I experimented some and it seems this works with a normal function definition.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new lien project
2. Open with Calva
3. In core.clj, add this code:
[code

[2022-01-03 23:21] blueskyonmars commented on #682
I goofed.  This should have the "editor" label instead of "API", but I don't know how to change it.

[2022-01-04 20:43] mainej opened #684 "Move map and bindings entries"
When I'm editing a map I often want to move one key/value pair before the prior pair (or after the next pair). Similarly, in a let binding, I often want to move a binding form and its value before the prior form (or after the subsequent form). This is a rote transformation, but it often takes many steps. This is especially true if the first or last pair is changing, because line-wise changes in th

[2022-01-05 12:55] ericdallo commented on #684
@mainej It's been on my mind to add this feature for some time but I never had the time, the issue with that is the comments manipulation, if you have a code that provides this feature and want to share, I'd make things a lot easier :)

[2022-01-05 15:00] #682 closed

[2022-01-05 15:00] ericdallo commented on #682
@blueskyonmars Fixed this and multiple other cases, thanks!

[2022-01-05 15:04] ericdallo commented on #679
@PEZ with latest clojure-lsp which included https://github.com/clojure-lsp/clojure-lsp/commit/32ecfb559108a47c24d41946ff74108b7ca7e541 I suspect this is not happening anymore, I'll close this issue for now, LMK if any issues

[2022-01-05 15:04] #679 closed

[2022-01-06 03:18] mainej commented on #684
@ericdallo I'm happy to share... see below.

If you'd prefer I can make a PR, though I might need some guidance. That is, this code is functional on its own, but I'm not familiar enough with clojure-lsp to know how to convert it into an action.

I've included a few examples in a rich comment block, but it needs proper unit tests. There are several edge cases that the code handles but which don't h

[2022-01-06 04:11] ericdallo commented on #684
@mainej thanks, I can make the integration with action and leave to you to add all missing tests then, WDYT?
I'll take a look at the code and let you know if I find any issues

[2022-01-06 05:47] mainej commented on #684
@ericdallo sounds great. Thanks!

[2022-01-06 20:18] snoe commented on #684
Ideally this should be content aware and transpose entries while in a map and elements in other collections/forms. This would be more similar to cursive's handling.

[2022-01-07 00:05] ericdallo commented on #684
Not sure I got it, what would be different from the issue description @snoe ?

[2022-01-07 00:08] mainej commented on #684
@snoe Are you saying that this should move individual nodes in a set, list, or regular vector, but pairs of nodes in a map or binding vector?

That could be cool, but a bit tricky. Any suggestions for how to tell whether a vector is actually a binding? That is, I'd want this:
[code]

In clojure.core certain symbols imply that you're working with a binding. I'm aware of `let`, `binding`, `with-rede

[2022-01-07 00:10] ericdallo commented on #684
@mainej maybe just leave vector as it is, sets and lists don't have pairs, sounds like a start

[2022-01-07 00:21] mainej commented on #684
I'm getting a little confused. Can we call vectors that establish bindings "binding-vectors" and regular vectors "ordinary-vectors"?

@ericdallo do you mean handle maps, but don't try to handle vectors at all? I'd really like to re-order bindings too.

Or do you mean always treat ordinary-vectors like binding-vectors, moving their elements as pairs regardless? That could be a good first pass, and

[2022-01-07 00:24] ericdallo commented on #684
Sorry for the miss-understand:

Yes, only if the children count of the vector is even we allow that as well.

I'm starting implementing the code action support and let you know soon

[2022-01-07 00:32] mainej commented on #684
@ericdallo OK, sounds good. Is your plan to add the code action support on a branch and hand it over to me to write tests?

Also, what I gave you works, but I think it would benefit from a bit more hammock time. I have a sense I can simplify the comment and newline handling. My hope is to make it work even when the cursor is on a comment, which only works in certain scenarios right now. I'll write

[2022-01-07 00:33] ericdallo commented on #684
Sure, I'll do it in a branch so we can work together on that

[2022-01-07 00:34] mainej commented on #684
Perfect. Thanks!

[2022-01-07 04:33] ericdallo commented on #684
@mainej I created https://github.com/clojure-lsp/clojure-lsp/pull/685 which is already working 🎉
Still need to add code actions tests, docs, changelog but it's enough for you to take a look and change what you think it makes sense or add more tests/cases, thank you for the huge help on this

![move-entry](https://user-images.githubusercontent.com/7820865/148492088-13d6dcc5-e7a4-4e16-ba49-9179dff78

[2022-01-07 05:31] mainej commented on #684
@ericdallo that's so cool! I'll check out the PR branch tomorrow and start making adjustments.

Do we have control over where the cursor ends up? Or does it stay in the same row/column as it started in?

[2022-01-07 12:49] ericdallo commented on #684
@mainej yes, it stay on the same position, unless we send another notification to move the cursor to another URI or range. We could send to move the cursor to the new entry position, I'll take a look and see if this would be possible/hard

[2022-01-11 16:07] dannyfreeman opened #691 "Show unused var warning for unused re-frame reg-* handlers"
**Is your feature request related to a problem? Please describe.**
Clojure-lsp does a great job of showing unused var warnings for `def`s and `defn`s. I use this feature to navigate to these warnings in my editor and delete the unused code. I am unable to do that with unused re-frame handlers. Clojure-lsp will show that there are 0 references to something like a `reg-sub` keyword, and if I happen

[2022-01-11 16:12] ericdallo commented on #691
As we discussed on clojurians slack, this happens because clojure-lsp only check kondo `:var-definitions` to during the custom linter unused-public-vars, and `re-frame.core/reg-*` only register `keywords`.

I think we should fix this on clojure-lsp, but I wonder if we should register `var-definitions` for those like we do with potemkin macros, WDYT @borkdude?

[2022-01-11 16:19] borkdude commented on #691
clj-kondo exposes the information needed to do so in clojure-lsp, but I don't think these should be treated as vars, but more like its own thing. You get a lot of information now with `{:context true}` or `{:context :re-frame.core}`

[2022-01-11 16:24] ericdallo commented on #691
Yes, I thought about that, I'll try to implement with only the context info and let you know, thanks!

[2022-01-11 19:49] mainej commented on #684
Implemented in #685

[2022-01-11 19:49] #684 closed

[2022-01-12 12:41] marcomorain opened #692 "Test tree does not emit entry for `with-test` and `defspec` vars"
The new test-tree feature emits entries for vars defined with `clojure.test/deftest`, but not all tests are defined in this way.

`clojure.test` has a `with-test` macro that allows you define a test, and `clojure.test.check` has the `defspec` macro.

These macros produce a var with `:test` metadata.

**Describe the solution you'd like**
A test tree entry would be emitted for any var with `:test` m

[2022-01-12 13:32] ericdallo commented on #692
Thanks for the report, When I implemented this feature I was aware of other tests definitions like `midje.sweet`, `state-flow`. I wonder if we have var-definition metadata available on the analysis c/c @borkdude otherwise maybe add a `context` for those cases specifying they are test related analysis somehow

[2022-01-12 13:42] borkdude commented on #692
We can add support for `with-test` in clj-kondo to handle that. For `defspec` there can be a configuration macro which expands into `clojure.test/deftest`.

[2022-01-12 13:47] borkdude commented on #692
https://github.com/clj-kondo/clj-kondo/issues/1530

[2022-01-13 08:21] agzam opened #693 "Getting stuck in Emacs in shadow-cljs projects"
**Describe the bug**

It's getting stuck while connecting to server in shadow-cljs projects. More specifically it gets stuck at `npx shadow-cljs classpath` step

**To Reproduce**
1. Run Emacs
2. Pick a project with shadow-cljs.edn
3. Open any clojure file
4. Run M-x lsp

Observed: Getting stuck at "15% Discovering classpaths"

However, if I run `clojure-lsp clean-ns` (in command line), wait for it

[2022-01-13 11:49] ericdallo commented on #693
@agzam not sure it's a clojure-lsp bug, since it's freezing on the shell out to the system, if you run manually on the project `npx shadow-cljs claspath`, does it works always?

[2022-01-13 12:10] ericdallo opened #694 "Allow disable copy kondo configs (disabled by default)"
**Is your feature request related to a problem? Please describe.**
@borkdude mentioned that having a option to not copy kondo configs when using clojure-lsp would makes sense, I agree as this is a kind of side effect that makes sense for most cases but a flag to disable also makes sense.

Something like `:copy-kondo-configs` setting as `true` by default

[2022-01-13 15:42] agzam commented on #693
Right, that's something I have noticed. For some reason (I think it depends on the terminal type) when I run `npx shadow-cljs claspath` it would wait for a prompt at the end. I'm not sure why.
In any case you are right, this doesn't look like something that can or has to be fixed within this project. Closing it for now. Thank you!

[2022-01-13 15:42] #693 closed

[2022-01-13 15:45] ericdallo commented on #693
@agzam maybe there is a flag to npx shadow-cljs classpath to ignore prompt or something, that we should probably use on clojure-lsl, WDYT? do you think you can help confirming if that exists?

[2022-01-13 17:20] agzam commented on #693
After checking `npx`'s  available command line options I'm still not sure if there's something there that we can try to mitigate this issue. Right now, it looks pretty anecdotal. Accounting current usage and popularity of Clojure, lsp-mode, Emacs with native-comp, and shadow-cljs - it could be that I am, indeed, one of the few people using that combination. But this mixture of components is vital

[2022-01-13 23:58] #694 closed

[2022-01-14 02:02] #691 closed

[2022-01-14 02:03] ericdallo commented on #691
@dannyfreeman Done on master! It'd be great if you could test it from master, to do that you can clone and just run `make` to generate a local `clojure-lsp`

[2022-01-14 02:53] #665 closed

[2022-01-14 03:57] dannyfreeman commented on #691
@ericdallo I just tested it out. It seems to be working great for me. Flycheck shows them and lets me jump to them when cycling through errors, the lsp-treemacs-errors-list command in lsp-mode for emacs recognizes them.
I checked the diagnostics from the command line as well with

[code]

and it turned up 187 warnings, which sounds about right for the large re-frame app I work on.

Thank you very

[2022-01-14 03:59] ericdallo commented on #691
Awesome! Thank you for testing it!
Glad to hear it :)

[2022-01-15 22:55] erickisos opened #697 "Find every test in the project by default at init to fulfill test tree managers"
**Is your feature request related to a problem? Please describe.**

As the new feature of test-tree for Calva was released it was noticeable that the test tree is only populated after open some files, and only with the tests from opened files.

**Describe the solution you'd like**

Maybe it would be great to do a quick scan in the project to detect every test after the initialization of clojure-ls

[2022-01-15 23:08] ericdallo commented on #697
Thanks, I think we should do that async to not block the startup time, after clojure-lsp initialized successfully, if you wanna give it a try you can check how we refresh clojuredocs, we can probably use the same approach here to add something like when not API:

[code]

I can work on that during next week

[2022-01-16 00:10] agzam commented on #693
Damn, this started happening again. It is now consistently getting stuck and even pre-running `npx shadow-cljs classpath` not helping anymore. The last line in the log would look like this:

    2022-01-16T00:05:07.734Z  INFO [clojure-lsp.crawler:29] - Finding classpath via `npx shadow-cljs classpath`

Fuck... whenever I have to cross the bridge from clojurescript into javascript land, some shit l

[2022-01-16 00:25] agzam commented on #693
Thought I'd try modifying the command params in the server.
But now I can't build clojure-lsp jar - it complains:

[code]

[2022-01-16 00:28] agzam commented on #693
I thought I'd try modifying command parameters in the server.
But not I can't get the jar built with `clojure -X:prod-jar`, it complains:

[code]

[2022-01-16 00:41] ericdallo commented on #693
@agzam use the Makefile, use `make` to build a local clojure-lsp

[2022-01-16 01:09] agzam commented on #693
Oh, I guess `docs/building.md` needs updating. Thank you. It builds now.
I don't know what the heck is wrong with npm/npx, but rimraffing `node_modules` worked this time.
Not sure if using it with `--force-spawn` option would fix it for good, will try that next time it breaks lsp on my machine.
I am sincerely sorry for the noise. It is unfair, you already have way to much on your plate, but every

[2022-01-16 01:12] ericdallo commented on #693
no problem, more people could have this issue and never opened a issue, if that flag makes sense, we should add it indeed

[2022-01-16 13:35] ericdallo commented on #658
@vemv good news, I started working last week on some huge refactor that got merged today, we now have 2 submodules the lib and the cli, it's a start for a more modular codebase, this one made possible remove all the CLI stuff including lsp4j, and other deps that doesn't make sense for the API!

[2022-01-18 04:38] vemv commented on #658
Very nice, thanks so much!

Exciting news.

`lib`'s dep tree looks far more digestible now. Looks like there's still some road ahead, with Timbre, clj-kondo and datalevin.

From my side there's no particular rush anyway.

[2022-01-18 12:31] ericdallo commented on #658
Thank you!
Yes, I intend to break those even more, also, I'm considering replacing datalevin with transit, just like kondo, we are having some graalvm issues and some inconsistency from time to time unfortunately

[2022-01-18 12:40] Cyrik commented on #658
I'd be a big fan of switching to transit. I'd love to consume LSP's kondo cache, but the datalevin dependency is too large.
So if I can help in any way with the switch let me know!

[2022-01-18 12:46] ericdallo commented on #658
Thanks @Cyrik ! I intend to work on this soon, not next release, but next, I'll basically do some performance tests and consistency tests of the cache, but it should be no problem for transit I guess

[2022-01-19 12:09] #697 closed

[2022-01-19 12:10] ericdallo commented on #697
Done, available on next release, LMK if any issues

[2022-01-19 14:48] erickisos commented on #697
Thanks Greg, amazing

[2022-01-20 03:04] ericdallo opened #703 "Consider replacing db impl with a native agnostic one"
Datalevin works well for most cases but we have some headaches:

**pros**
- datalevin query and save is faster than our previous db impl (sqlite)
- datalevin has native parser for end which we use for analysis

**cons**
- Datalevin has some extra dependencies that doesn't make sense for lib usage. Related #658
- Datalevin depends on native C libs for native image which bring some issues regarding

[2022-01-20 03:06] ericdallo commented on #703
I'll spend some time testing transit since it's the same clj-kondo uses for its cache and it works pretty well with native image. My biggest concerns are: reliability(what happens if clojure-lsp process is closed during a read or write of transit, do we have a chance to corrupt transit?) and performance

[2022-01-20 03:09] ericdallo opened #704 "Fix flaky tests"
We already had flaky tests in the past and a lot of them were already fixed, but we still have some flaky tests especially on integration tests.

[2022-01-20 03:09] ericdallo commented on #704
It seems to me that the integration-test `diagnostics_test` is the most (only?) flaky ATM

[2022-01-20 16:39] dharrigan opened #706 "Support going to definition on an alias (i.e., :as :as-alias)"
Given the following requires:

`(:require [foo.bar :as baz])`

Presently, clojure-lsp only knows how to goto definition on the full require namespace, i.e., by placing the cursor on `foo.bar`, and going to definition, the namespace `foo.bar` is loaded into the editor.

It would be super awesome if that would also work with the alias, i.e., `:as baz`, so that by placing the cursor on `baz` and goin

[2022-01-20 20:06] dharrigan opened #708 "Regression in 2022.01.20-14.12.43 with Vim (and coc) (looks like emacs + eglot too)"
**Describe the bug**

It looks like with 2022.01.20-14.12.43, the process on analysing fails and hangs, and it looks like it's happening on large projects (size of which still to be determined, as smaller projects don't seem to produce the hang)

**To Reproduce**

Latest (neo)vim, latest coc, when openning up the editor, the spinner saying "Loading clojure-lsp" never ends.

Here is the output of `

[2022-01-20 20:11] dharrigan commented on #708
I have an example project [here](https://github.com/dharrigan/startrek):

and opening up the `main.clj` file causes this output on `/tmp/clojure.lsp` log:

[code]

[2022-01-20 20:14] ericdallo commented on #708
The issue seems to be related with the clj-kondo call, I faced this issue before and only fixed after removing a specific jar on my m2 folder, I thought it was a corrupted jar but now I'm considering it's related with some clj-kondo cache, WDYT @borkdude?

[2022-01-20 20:20] borkdude commented on #708
Can you reproduce this with clj-kondo only?

[2022-01-20 21:26] dharrigan commented on #708
Using a modified version of `clojure-lsp` and running up the editor on the starktrek project, produces this:

[code]

Seems to be hanging for me on the `kaocha` jar.

[2022-01-20 21:39] ericdallo commented on #708
@borkdude I can't repro with latest clj-kondo native, and the issue is happening even compiling with a clj-kondo from last month

[2022-01-21 01:29] #708 closed

[2022-01-21 12:24] ericdallo opened #711 "Replace deprecated depstar with tools.build"

[2022-01-22 18:43] mainej commented on #704
I looked at this a bit, but didn't make much progress. Here's what I found...

I see two tests that fail intermittently.
1. `integration-test/integration/settings_change_test.clj:16` [Ex](https://github.com/mainej/clojure-lsp/runs/4907925973#step:7:107)
2. `integration-test/integration/diagnostics_test.clj:10` [Ex](https://github.com/clojure-lsp/clojure-lsp/runs/4899541082#step:7:71)

Both tests a

[2022-01-22 18:48] ericdallo commented on #704
Thanks for the findings, all of that makes sense to me and I already spend some time researching the same, glad you found the same I found at the time, all those ideas sounds good to start debugging that, thanks for that!

That sounds like a good idea

[2022-01-22 22:38] ericdallo commented on #711
Done

[2022-01-22 22:38] #711 closed

[2022-01-23 01:04] FongHou opened #715 "Recent release messed up homebrew"
Hi, this is not a bug report. Just a FYI.

**Describe the bug**
I ran brew update, then clojure-lsp homebrew repo got into this state.

[code]
**To Reproduce**
Run "brew update" messed up homebrew git repo

**Expected behavior**
Shouldn't

**User details (please complete the following information):**
 - OS:  Windows 10 WSL
 - Version: (post the result of `clojure-lsp --version`)

**Additional cont

[2022-01-23 01:05] ericdallo commented on #715
Thanks, I'll fix it ASAP

[2022-01-23 01:07] ericdallo commented on #715
@FongHou actually, not sure why this happens, the repo seems correct to me: https://github.com/clojure-lsp/homebrew-brew/blob/main/clojure-lsp-native.rb

[2022-01-23 01:11] FongHou commented on #715
Hmm.. mine is in Taps/clojure-lsp. Let me remove that, then install the one you have.

[2022-01-23 01:12] ericdallo commented on #715
I see, make sure you follow this one: https://clojure-lsp.io/installation/#homebrew-macos-and-linux

[2022-01-23 01:13] FongHou commented on #715
That fixed it. Thanks!

[2022-01-23 01:13] #715 closed

[2022-01-23 04:28] mainej commented on #704
Here's a [variation](https://github.com/clojure-lsp/clojure-lsp/runs/4910705932?check_suite_focus=true#step:7:115) I haven't seen before. Kondo reports one unused public var. Weird. That makes me think it's a problem in kondo. I guess it could be caching, but still... interesting.

[2022-01-23 10:38] ericdallo commented on #704
Yeah, it even seems it's becoming more frequent :(

[2022-01-23 12:19] ericdallo commented on #703
Made some tests with criterium, this is the time spent during read and write for clojure-lsp db case:
[code]

Overall, transit seems to fit clojure-lsp better, datalevin is a very good alternative but we are not and don't need to use all its potential and it's probably a overhead for what we seek as a cache db

[2022-01-23 12:20] ericdallo commented on #658
@Cyrik you may be interested on [this](https://github.com/clojure-lsp/clojure-lsp/issues/703)

[2022-01-23 12:54] Cyrik commented on #658
I'll have a look, thanks for pinging me!

[2022-01-23 13:15] Cyrik commented on #703
It seems transit is already fast, but you might want to try https://github.com/ptaoussanis/nippy as well. It seems to be faster.
I'd stick with transit mostly because of the dependencies but nippy isn't too heavy either.

[2022-01-23 14:21] ericdallo commented on #703
@Cyrik nippy is way faster indeed, almost 2 times than transit, but as you said have more dependencies, also I was thinking about making clojure-lsp db queryable by other tools or something like that in the future and transit may have a better standard for that I think, WDYT?
Anyway, nippy is a really good alternative as well, not tested graal support though but I guess it should work as well.

[2022-01-23 15:48] #706 closed

[2022-01-23 15:54] ericdallo commented on #706
I implemented the find defintion from the alias, not from a alias usage though since this would not be that easy as we consider a `foo/bar` as a single usage when we find a definition

[2022-01-23 16:33] Cyrik commented on #703
Yeah, I'd be very happy with transit, then I can easily consume it with omni-trace :) Just don't want to make LSP slower than it has to be. But I guess we'd be getting a 2 times speedup from switching away from datalevin and having more interop between tools is also a good thing to think about.

TLDR: I'm in camp transit 😄

[2022-01-23 16:36] ericdallo commented on #703
@Cyrik yeah, As far as I tested, we will already improve a lot using transit, a dependency that is already available on classpath! thanks for the input!

[2022-01-23 20:49] #680 closed

[2022-01-24 01:41] ericdallo opened #717 "Jar removed from analysis when calling `didClose`"
Context: https://github.com/BetterThanTomorrow/calva/issues/1494#issuecomment-1019626782

[2022-01-24 01:43] #717 closed

[2022-01-25 01:41] Aljendro opened #718 "Support aarch64 (or understand how to build a native image properly)"
**Is your feature request related to a problem? Please describe.**
Trying to get clojure-lsp working on Linux arm (aarch64)

**Describe the solution you'd like**
Ultimately, I would like a build for Linux arm (aarch64) as a downloable file

**Describe alternatives you've considered**
I have walked through the steps to download graalvm (which is available for aarch64) and tried to
produce a native

[2022-01-25 01:44] ericdallo commented on #718
@Aljendro this is not possible ATM because datalevin, the db impl clojure-lsp uses doesn't support aarch64, but this should be no issue soon with #703 which should be available on next release

[2022-01-25 01:45] Aljendro commented on #718
Thank you @ericdallo. This saved me going down a rabbit hole.

[2022-01-25 01:55] ericdallo commented on #718
Yeah, I went to that hole some months ago 😂 that's one of the reason why I'd like to fix #703

[2022-01-25 15:19] Cyrik opened #719 "completionItem/resolve does not return insertText"
**Describe the bug**
When calling `completionItem/resolve` with a snippet completionItem the result should also contain that snippet.

[calva issue](https://github.com/BetterThanTomorrow/calva/issues/1483)
**To Reproduce**
Steps to reproduce the behavior:

1. type "kwarg", hit tab

sends:
[code]

**Expected behavior**
get an enriched version back

PR incoming

[2022-01-26 23:45] ericdallo commented on #703
After lots of tests, I merged transit to master! 🤞🏻

[2022-01-26 23:45] #703 closed

[2022-01-27 03:04] mainej opened #722 "When using the action menu, the cursor is not repositioned"
**Describe the bug**

Some commands attempt to move the cursor via `:show-document-after-edit`. The cursor is not relocated correctly when the command is invoked from the action menu. Invoking the same command directly does move the cursor.

There are two parts to this bug. First the code that attempts to move the cursor was broken by 2b8b66bf8, which removed the `:client` from the db. [This line]

[2022-01-27 05:47] mainej commented on #704
@ericdallo I think I found the culprit (or one of the culprits anyway.) See #724

[2022-01-27 11:47] ericdallo commented on #704
Amazing finding!

[2022-01-27 12:12] ericdallo commented on #722
Yeah, I think I broke this behavior, we should probably add integration tests for code actions like those that move the cursor. I'll take a look, thanks for the report

[2022-01-27 12:53] ericdallo commented on #722
@mainej I tested removing the :client from the `if` as it's not needed anymore and it fixed the issue to me, could you try again?
Something I noticed is that the cursor position is not perfect, for example:
[code]
If we try to move cursor(`|`) to down, it becomes:
[code]

[2022-01-27 13:57] mainej commented on #722
@ericdallo thanks for updating master. I'll test it again. If I can, I'll provide a reproducible test case.

I noticed this while I was on a branch (a branch that fixes the incorrect positioning that you noted above!) which I haven't pushed yet. So there's a chance it's only reproducible there, in which case, I'll update this bug after that branch has been reviewed and merged.

[2022-01-27 14:28] mainej commented on #722
I was able to reproduce this on master. Starting from here:

[code]
Direct invocation of move-coll-entry-down: cursor correctly moves to location requested by refactoring.
[code]
Action menu: cursor moves elsewhere, in this case to the end of the changed text. (I have no theories as to why the editor picks that spot. It doesn't always seem to be the end of the changed text.)
[code]

[2022-01-27 17:14] mainej commented on #722
Here's a theory... `handlers/execute-command` and `handlers/resolve-code-action` do things in different orders.

* `handlers/execute-command` calls `producer/publish-workspace-edit` first, then `producer/show-document-request` second. So in this case, the client sees:
  1. `WorkspaceEdit`
  2. `ShowDocumentParams`
* `handlers/resolve-code-action` calls `producer/show-document-request`, and then _r

[2022-01-27 17:37] mainej commented on #722
Yes, that works! I'll clean it up and submit a PR.

[2022-01-27 19:12] ericdallo commented on #722
Yeah, I'm no fan of having a future, sounds like a fragile feature that should even cause issues for integration-tests if we do that.
Not sure if we could wait for the LSP completable future, but sounds better than wrapping with a `(future)` indeed.

[2022-01-27 23:40] ericdallo commented on #719
I'm taking a look at this issue + your PR, just a FYI that we don't need to fix the data adding `:` as client don't care about data field, it only a field server can return on `textDocument/completion` and client forward to `completionItem/resolve`.

[2022-01-28 00:57] Cyrik commented on #719
I've added ::snippet-kind to data so that vim can still show the underlying kind but :kind is set to 15 for vscode and emacs. That was the compromise with @tami5 to get every IDE what it needs.
Just not sure why it gets set as a namespaced keyword instead of the same as the others.

[2022-01-28 11:35] dkvasnicka commented on #647
The same problem occurs for forms inside the body of a `let`, where invoking the action on any of them extracts the whole `let` to a new function. But then if I go deeper into the forms and for example place the cursor inside a string then only the string is extracted - so overall very confusing behaviour.

[2022-01-28 12:30] ericdallo commented on #647
@dkvasnicka could you give an example of the code and the expected behavior?

[2022-01-28 20:51] mainej opened #725 "Do code actions need to be resolved?"
**Is your feature request related to a problem? Please describe.**

There are two code paths for getting edits applied.

First, obviously, you can execute a command. This code path returns nil but begins a background process to calculate edits, which the editor will be notified about later.

Second, you can use the action menu. Currently, after picking an action menu item, the server is sent a "re

[2022-01-28 23:49] #719 closed

[2022-01-29 01:29] ericdallo commented on #725
Thanks for the detailed explanation, I don't see any issues with that approach if all editors work.
@bpringe do you see any issues with that approach for Calva on removing dropping the `resolveCodeAction` support and always return commands for code actions? Related to Calva: https://github.com/clojure-lsp/clojure-lsp/issues/655

[2022-01-29 01:42] Cyrik opened #727 "Fix incoming request coercion"
Based on the problems left in #720

I'd like to do the camelCase <-> kebab-case conversion by hand in the clojure.java.data/from-java multimethod, but clojure-lsp.server/sync-request pipes the clojure-lsp.coercer/java->clj call directly into the handler.
I think the cleanest solution would be to also pipe this through a request-spec spec before calling the handler. That way we can change the casin

[2022-01-29 01:45] Cyrik opened #728 ":additional-text-edits don't get returned on completionItem/resolve"
Left over from #720

The coercion for this case needs to be handled. Should probably be based on #727

[2022-01-29 22:33] #722 closed

[2022-01-29 22:33] #725 closed

[2022-01-31 02:27] bpringe commented on #725
I saw in the PR discussion that the change seems to work on Calva. Thanks for testing, @ericdallo.

[2022-02-02 00:30] ericdallo opened #744 "API for exporting/dumping clojure-lsp info"
It would be really useful to export or provide clojure-lsp information via API/CLI, with that any tool could benefit from clojure-lsp information like project clj-kondo analysis, classpath/source-paths information, and more.

One suggestion after talking with @stuartsierra, is to provide a data dump feature where one could call clojure-lsp and tell to export to some format (json, end, transit etc)

[2022-02-02 12:24] ericdallo commented on #744
@vemv may be interested on this as well

[2022-02-02 13:11] zeitstein opened #745 "Failure to start on Windows 10"
**To Reproduce**
1. Download `clojure-lsp-native-windows-amd64.zip` from [Releases](https://github.com/clojure-lsp/clojure-lsp/releases)
2. Unzip and run with `.\clojure.lsp --version`

There is no output. The latest version that works correctly is 2022.01.22-01.31.09.

**User details (please complete the following information):**
 - OS: Windows 10
 - Editor: Calva (setting lsp version in Calva se

[2022-02-02 13:19] vemv commented on #744
Thanks!

IDK, from my side I'd feel on a safer side using a programmatic API (which can have various affordances e.g. Spec checking) rather than parsing data.

[2022-02-03 11:18] LouDnl commented on #745
Having problems in Calva with VSCode too. Clojure-lsp wont connect to server in versions [2022.02.01-16.53.14](https://github.com/clojure-lsp/clojure-lsp/releases/tag/2022.02.01-16.53.14) and [2022.02.01-20.02.32](https://github.com/clojure-lsp/clojure-lsp/releases/tag/2022.02.01-20.02.32)

Mentioned version above 2022.01.22-01.31.09 works and clojure-lsp connects to server again.

[2022-02-03 13:35] ericdallo commented on #745
@LouDnl @zeitstein it should be fixed on the same release, I made the windows binary use a previous graalvm version and if you install/download again it should work

[2022-02-03 13:35] #745 closed

[2022-02-03 13:37] LouDnl commented on #745
Thanks, will check right now and report back.

[2022-02-03 13:50] LouDnl commented on #745
Fixed, thanks a bunch!

[2022-02-03 15:06] ericdallo commented on #745
Not related @LouDnl it should be no problem as well

[2022-02-05 02:08] ericdallo commented on #718
@Aljendro I'm not sure how to test aarch64 easily, could you try the binary from [this run](https://github.com/clojure-lsp/clojure-lsp/actions/runs/1768851796)?
it should be on the summary section

[2022-02-05 17:03] ericdallo commented on #704
I feel the recent changes improved a lot the flakiness of some tests!

[2022-02-05 17:44] ericdallo opened #750 "Improve completion performance on comments"
As discussed on this [thread](https://clojurians.slack.com/archives/CPABC1H61/p1643959935463449), we should probably do not return completion items (or just what makes sense?) on comments.

[2022-02-05 18:59] mainej commented on #750
I have a lot of context from the thread discussion, so I'll take this. To summarize, when completion is invoked in comments, whitespace, or anywhere it can't find a symbol/keyword zloc, clojure-lsp currently returns every symbol defined in clojure.core, java.lang and java.util. (Note that this is true even before the changes in #716.)

I'm concerned that finding and serializing that large result s

[2022-02-05 19:03] ericdallo commented on #750
@mainej My bad, double checking the SPEC [here](https://microsoft.github.io/language-server-protocol/specifications/specification-3-17/#completionParams), client only pass uri, row and col, so we don't have any extra text, we do need to parse the URI with that row/col and get the zipper to know what is being completed.

[2022-02-05 19:08] ericdallo commented on #750
Agreed with all your points, I think we can open a new issue to discuss the performance improvements and leave this one to remove completion on comments, I'd like to avoid a setting at most, a benchmark may help tell whether we need that flag or not I think.

[2022-02-05 19:34] mainej commented on #750
Gotcha. OK, if the completion request doesn't include extra text, I agree, we should exclude comments from completion. What about whitespace and non-keyword/symbol forms? I.e., if you're sitting here

[code]

or here

[code]

... should completion return an empty list? Or all of the clojure+java symbols?

I can benchmark it, but I suspect that I'd miss the time it takes to conform and serialize th

[2022-02-05 19:38] ericdallo commented on #750
I think those two cases makes sense to return everything indeed, I think it's much more common than completing comments

[2022-02-06 16:59] #660 closed

[2022-02-06 20:50] darky commented on #327
Maybe it should be alternative clojurescript-lsp implementation, that communicate with tsserver directly and use all huge TypeScript types. Something like:
https://github.com/phil294/coffeesense/

[2022-02-06 20:52] ericdallo commented on #327
Sounds more likely indeed @darky

[2022-02-06 21:10] emilaasa commented on #750
Hi @mainej and @ericdallo, thanks for your great investigation into this - now I feel bad for leaving you with a crappy gif and some breadcrumbs as only clues for your digging.

I've disabled a few interesting completion sources like `coc-conjure` that had very strange suggestions, and I've set the `CocConfig` as standard as I know how:

[code]

I don't build from source, I use the release that's

[2022-02-06 21:12] ericdallo commented on #656
I'm making this issue only related to defprotocol/defrecord/deftype and creating a new one for multimethods

[2022-02-06 21:13] ericdallo opened #751 "List implementations of multimethods"
We should be able to list all implementations of a `defmulti`, showing not all references but only `defmethod` implementations.

Related https://github.com/clojure-lsp/clojure-lsp/issues/656

Need https://github.com/clj-kondo/clj-kondo/issues/1570

[2022-02-06 21:18] ericdallo commented on #750
So it seems disabling completion on comments should fix your issue indeed.

Even so, 12sec to return all LSP completions looks too much, a simple repro would help

[2022-02-06 21:34] emilaasa commented on #750
All right it was trivial to reproduce, a fresh `lein new app comment-completion-repro` did it: https://github.com/emilaasa/comment-completion-repro

I can open the `core.clj` file there, wait for the initial scans and everything (basically I wait until the LSP disappears from `top`) add a comment and start typing.
This gives the identical experience that I described in the gif / thread.

Log excer

[2022-02-06 22:02] ericdallo commented on #750
I can't repro this on emacs, what did you do to repro that @mainej ?

[2022-02-06 22:52] mainej commented on #750
I had to switch to nvim + coc.nvim to repro @ericdallo. Emacs doesn't request completion while in a comment, or at least not in my configuration of it.

@emilaasa the logs for your minimal repo say completion takes ~1-2 seconds. I was getting similar times in my experiments. clojure-lsp uses a good amount of CPU, but it can keep up. But above you say that your full repo takes an order of magnitude

[2022-02-06 23:07] ericdallo commented on #750
@mainej I'm ok with not spending too much time debugging those 13s on comments if we are intended to remove completion on those

[2022-02-06 23:08] mainej commented on #704
Agreed, the build failures have been much less frequent. :)

When it does fail, it's usually a timeout waiting for a request, response or notification. Fundamentally, there must be some problem in the code—a race condition, a crash, or something else—which means the message is never seen. But it's pretty hard to debug with the amount of information we have. Is there some way to get access to the l

[2022-02-06 23:12] ericdallo commented on #704
No we don't have, but we can try two things:
- make clojure-lsp on CI log to stderr instead of custom log file (check clojure-lsp.logging)
- When test fail or something we just cat/tail the log file? that seems easier we just need to pass `:log-path` setting on initializationOptions of the test and cat it later

Yeah, but I have no idea how much retries makes sense, maybe we can add a flag to log

[2022-02-06 23:15] mainej commented on #750
@ericdallo that's fair. I'm curious, but it's probably a rabbit hole. :) Maybe it'd be nice to add a log line for how many completions it's suggesting.

[2022-02-06 23:17] ericdallo commented on #750
Good suggestion, a log line saying how much completion items we are return seems to not make no harm

[2022-02-06 23:28] mainej commented on #704
That's a nice idea. Logging to stderr would be OK too, but would add a lot of noise for successful tests. Also there's already a lot of magic happening with `*stdout*`. It might get confusing to add `*stderr*` into the mix.

You mean log how many tries it takes in passing tests, so we know what a reasonable limit would be? That could be interesting. I bet it's not very many tries. When I've watche

[2022-02-06 23:35] ericdallo commented on #704
exactly

[2022-02-07 00:06] ericdallo commented on #750
Done @mainej

![2022-02-06_21-06](https://user-images.githubusercontent.com/7820865/152707491-0ffa0176-57dd-4b0b-afb4-082dda8637a5.png)

[2022-02-07 14:12] emilaasa commented on #750
I'm working in a somewhat large code base - both in dependencies and lines of clojure. That would be my first guess but I don't know how that would impact this issue.

[2022-02-07 19:33] mainej commented on #750
@ericdallo thanks! I'll be interested to see what that returns for Emil. When I was researching this earlier, I thought that blank completion returns only clojure.core + java.lang + java.util. But those three define only about 900 symbols. On closer inspection, blank completion will also return things defined in the namespace that the cursor is in. And maybe it will return other things too. There

[2022-02-07 21:48] ericdallo commented on #750
@emilaasa would you mind testing a dev clojure-lsp to avoid waiting next release? you can build a local clojure-lsp just cloning this repo and running `make`

[2022-02-08 07:05] emilaasa commented on #750
[code]

[2022-02-08 07:08] emilaasa commented on #750
When I run it and I write code I get times similar to this:
[code]

[2022-02-08 07:16] emilaasa commented on #750
I also have decent PC specs and low load on the system otherwise:
RAM: 11539 MB / 64283 MB
Processor Type: AMD Ryzen 7 5800X 8-Core Processor

[2022-02-08 12:17] ericdallo commented on #750
Thanks, it seems to be related with items count on a big project maybe

[2022-02-09 12:48] ericdallo opened #752 "consider using classpath cmd instead of own logic to discover source-paths for deps/bb based projects"
For deps.edn/bb projects, it may worth just extract the source-paths from classpath string instead of manually checking paths and local-roots

https://clojurians.slack.com/archives/CPABC1H61/p1644410152337039?thread_ts=1644249930.709029&cid=CPABC1H61

[2022-02-09 23:16] ericdallo commented on #704
@mainej I noticed we async lint the file when `didOpen` happens, which can explain the diagnostics not being available on some integration tests?

[2022-02-10 19:39] mainej commented on #704
@ericdallo that's interesting. I haven't seen any flaky tests recently about diagnostics. I think those were fixed by #724. But more importantly, it means that sometimes analysis is missing too. I guess what's surprising is that the tests pass so often, even when analysis hasn't completed. I guess one way to understand which tests might be affected is to comment out the merging of the analysis. I'

[2022-02-10 20:49] ericdallo commented on #704
Makes sense to me @mainej, we really need a way to get server logs on integration tests to confirm that, it looks promising that analysis, thank you!

[2022-02-10 21:04] mainej commented on #704
Hmm... I'm stumped again. Looking at it more carefully, `didOpen` _synchronously_ lints the file, but then _asynchronously_ publishes diagnostics. The tests wait for a response from `didOpen`, so, analysis and diagnostics will always be available on the server, even though the client may not know about the diagnostics yet.

Niether textDocument/linkedEditingRange nor textDocument/formatting throw

[2022-02-10 21:15] ericdallo commented on #704
You are right, only the publish to client is async.

[2022-02-11 00:38] ericdallo commented on #656
Done on https://github.com/clojure-lsp/clojure-lsp/commit/a13d2071184b0aa6e665215f4abc1f90e55fac4d

[2022-02-11 00:38] #656 closed

[2022-02-11 02:17] mainej commented on #704
See https://github.com/clojure-lsp/clojure-lsp/runs/5150490400?check_suite_focus=true for the first failure which includes logs. I don't have time to investigate it right now, but will tomorrow.

[2022-02-11 03:21] #750 closed

[2022-02-11 03:22] ericdallo commented on #750
@emilaasa merged on master, LMK if any performance issues on comments still

[2022-02-12 00:34] ericdallo commented on #718
@Aljendro, This was made on master and it should be available on next release, LMK if you find any issues

[2022-02-12 15:14] ericdallo commented on #752
Related to https://github.com/clojure-lsp/clojure-lsp/issues/551

[2022-02-12 15:35] ericdallo opened #762 "Support go to definition of java classes/methods"
This was already requested some times but we never created a issue about that.
This one is specifically to offer to users what REPL navigation has well, the find definition of a java class and if viable/easy a method as well, and with probably that we could offer other features derived of definition like showing docs of java classes/methods, references etc

[2022-02-12 15:35] ericdallo commented on #762
We would need java analysis, probably from clj-kondo: https://github.com/clj-kondo/clj-kondo/issues/1330

[2022-02-12 18:35] borkdude commented on #762
The question is still: what do you navigate to? In most cases there is no source code to navigate to.

[2022-02-12 18:42] ericdallo commented on #762
@borkdude I don't think we need the exact source, but maybe we can build it just like we did with stubs. How CIDER does when you find a java class? I think they get the source somehow right?

[2022-02-12 20:04] nxtk commented on #762
@borkdude disasseble the class file, if source is not available, intellij and eclipse jdt ls are doing just that.

[2022-02-13 18:20] #752 closed

[2022-02-13 18:21] ericdallo commented on #551
@bendlas Made a commit on master using source-paths from classpath, check #752, could you confirm it works for you?

[2022-02-14 16:51] PEZ opened #763 "serverInfo/raw returns wrong cljfmt indents"
**Describe the bug**

I get garbled cljfmt indents info with the serverInfo/raw command

**To Reproduce**
Steps to reproduce the behavior:

If I configure these indents:

[code]

And request `clojure/serverInfo/raw`, I expect:

[code]

**Expected behavior**

But I get:

[code]

Actually, in `final-settings` I even get

[code]

<details>
 <summary><b>clojure-lsp output</b></summary>
<pre>
Skipping

[2022-02-14 20:53] stuartsierra commented on #744
I recommended a data dump for a few reasons:

1. Consumers do not have to be written in Clojure (assuming a common data format like CSV or JSON)
2. You can generate the data dump once and store it (e.g. on a CI/CD server) for clients to download
3. You can easily store multiple versions of the data dump, at different points in the project's history, and compare them (_a la_ [codeq](https://github.

[2022-02-14 22:06] ericdallo commented on #744
@stuartsierra Really good point, the LSIF seems to be the exact feature we seek, and it already contains a [specification](https://microsoft.github.io/language-server-protocol/specifications/lsif/0.4.0/specification/), we could offer the dump via CLI and API just like we already offer some clojure-lsp features like clean-ns, formatting, rename and diagnostics

[2022-02-14 22:29] ericdallo commented on #744
I took a look at [lsif-java](https://github.com/microsoft/lsif-java), and it seems they use the eclipse jdt manually, which is what the jdt lsp does as well, so to build a lsif, it needs to process similar what a lsp does, so I think we could make clojure-lsp emit lsif data, or even better, have a `clojure-lsif` which would use the dump from clojure-lsp to build the graph that lsif has

[2022-02-15 16:25] mainej commented on #704
@ericdallo why does the client loop swallow java.io.IOException errors? https://github.com/clojure-lsp/clojure-lsp/blob/ca1621ba7f8475095f2bf74d895411372debf4f4/cli/integration-test/integration/lsp.clj#L69

Also, to summarize the analysis of the logs after #757... the server logs suggest it's doing everything right, sending the responses it should. Sometimes, however, the client fails to receive a

[2022-02-15 18:58] ericdallo commented on #704
IMHO it's probably the bb client side loop, I can't recall why I added that catch on IOException, but sounds like a good start 😅

[2022-02-16 11:14] bendlas commented on #551
@ericdallo I attempted to run that fix in my NixOS configuration. Since there is no released uberjar for this (right?), I modified [the build recipe](https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/tools/misc/clojure-lsp/default.nix#L14) to build its own `clojure-lsp-standalone.jar` (based on clojure-lsp commit ca1621ba7f8475095f2bf74d895411372debf4f4).

I've tried two different meth

[2022-02-16 11:23] ericdallo commented on #551
@bendlas I'm a NixOS user as well, I think the fastest way to test that is download a nightly build from [#clojure-lsp-builds](https://clojurians.slack.com/archives/C032YH7P0R2), for long term, #604 should help in the future

[2022-02-16 11:29] ericdallo opened #767 "[graalvm] Support 22.0.0.2 for Windows"
For some reason, clojure-lsp compiled with latest graalvm that we are already using on Linux/Macos/aarch64, doesn't work for Windows.
We should debug and understand why since other projects (babashka for example) work normally with that version.

One thing we should probably do that should help is to make integration tests work with Windows, which is commented/not running ATM.

[GraalVM Build inst

[2022-02-16 12:20] bendlas commented on #551
Thanks!
The static build doesn't work either, because it still tries to use `/lib64/ld-linux-x86-64.so.2`

[code]
I'll attempt to make use of the flake PR.

[2022-02-16 15:31] PEZ commented on #763
I might have done something wrong testing this, but I only got an empty map now.

[2022-02-16 15:39] PEZ opened #768 "Get the cljfmt config as a string containing the EDN text"
**Is your feature request related to a problem? Please describe.**

When making Calva use cljfmt config from clojure-lsp I started by making it possible to read a JS sctructure and feed that to Calva's formatter to turn into a Clojure hashmap config. I have that working, but it was much trickier than I thought it would be and I still don't know how to get metadata in there, so it wouldn't support

[2022-02-16 17:26] ericdallo commented on #763
@PEZ you can try checking client<->server json logs and check what clojure-lsp is returning

[2022-02-16 18:34] ericdallo commented on #768
Not sure it's the best idea to have a duplicated field showing the same info just converted, but I think it's ok

[2022-02-17 00:16] #768 closed

[2022-02-17 00:16] ericdallo commented on #768
@PEZ let me know if it works for you, I added `cljfmt-raw` setting as string

[2022-02-17 07:33] PEZ commented on #768
Thanks!

However the `^:replace` meta on the `:indents` map is stripped. 😄

There are a few more issues. I'll summarize them in one report, if that's OK?

[2022-02-17 08:10] PEZ opened #770 "Indent metadata gets stripped in cljfmt-raw serverInfo"
**Describe the bug**

In the new `cljfmt-raw` item in `serverInfo`(#768), metadata gets stripped.

Some things that tripped me up a bit

* Maybe by intention?, the field is placed at the top level of the `serverInfo`, not in `final-settings`.
* If I use a regular expression for an indent rule the whole indents map gets replaced by an empty map. It works if I use the `#re` reader tag, but that seem

[2022-02-17 12:20] ericdallo commented on #770
I think we can use rewrite-clj to get the raw string instead of `str`, not sure it would work, I can try later

[2022-02-17 13:47] ericdallo commented on #770
@PEZ I didn't find a way to get the string + metadata :( not sure this is viable

[2022-02-17 13:57] ericdallo commented on #770
The issue is:
To get the `:cljfmt` setting, we need to parse from end, when parsing we already read it understanding the #re and converting to regex patterns, the same apply to ^replace that it's already applied to the node, so we get only:
[code]
To read it as raw and don't parse, we need to read the config manually, but it could be other keys there as well besides :cljfmt, so not easy to get it

[2022-02-17 14:07] PEZ commented on #770
I see. Very sad news!

Leave this open a while and maybe we can figure something out? I can still use this, just need to inform about. the limitation with replace metadata. The workaround for users will be that they need to provide their own defaults for anything they care about.

[2022-02-17 14:09] PEZ commented on #770
One more thing, looking at the EDN string again, I see that `foo` gets two `[:inner 0]` tuples, and `#"bar"` gets repeated twice. The latter doesn't matter all that much, but the former, I wonder if it could mess something up. You want a separate issue?

[2022-02-17 14:31] PEZ commented on #770
Trying to run the tests, I fail to load them because `clojure-lsp/test-helper` can't be found. Is this something you recognize?

[2022-02-17 14:35] ericdallo commented on #770
are you using the Makefile from project root?
`make test` or `make integration-test`

[2022-02-17 14:41] PEZ commented on #770
I want to run the tests in the REPL. `make test` will just run the tests, right?

[2022-02-17 14:49] PEZ commented on #770
I could copy the `test_helper.clj` file to to the `test/clojure_lsp` folder and can now run tests in the REPL. Curious how you do it. 😄

[2022-02-17 15:12] PEZ commented on #770
I haven't configured Calva to connect to a running clojure-lsp so didn't start the REPL using jack-in.

I'm building with `make` and using that binary from Calva. Then connecting Calva's REPL to it. So far all that seems missing then to run the tests is that `test_helper.clj` isn't loaded. But I can do that first and things are dandy.

[2022-02-18 00:25] ericdallo commented on #770
@PEZ managed to make it work with a "hack" `*print-meta*` dynamic clojure variable, could you try latest master?

[2022-02-18 12:15] #770 closed

[2022-02-18 12:34] PEZ commented on #770
When I looked for ways to fix this I noticed that the settings stored in the db lack the meta-data. Is clojure-lsp's formatting working correctly w/o it somehow?

[2022-02-18 12:36] ericdallo commented on #770
@PEZ we don't persists cljfmt config on db, only on memory after starting the project, and we consider the meta correctly, the only issues was to print that meta info outside of end, like we did for cljfmt-raw, so AFAIK everything is/was working as expected

[2022-02-18 12:43] PEZ commented on #770
Thanks! I suspected I was reading the code incorrectly. 😄

[2022-02-18 22:50] Cyrik opened #774 "Literal lambda to fn refactor"
**Is your feature request related to a problem? Please describe.**
When I've written `#(something %1)` it's "hard" to get to a "full" lambda if I need it for some reason.

**Describe the solution you'd like**
#(something %1) <-> (fn [x1] (something x1)) refactor like thread-all.

[2022-02-19 09:27] ikitommi opened #775 "Support file-filter from command-line"
Would like to have a file filter for `clojure-lsp` command-line utility.

Currently using `clj-format` like this as a pre-commit hook:

[code]

It's quick as it only formats the non-deleted changed files (our codebase is a large polylith repo, formatting all files takes a long time). Couldn't find an option to do this with `clojure-lsp`, just the ns-based filtering.

We would like to move to `cloj

[2022-02-19 14:18] ericdallo commented on #775
I think this makes sense, I just don't know the proper flag to add to clojure-lsp, do you know how clj-format does that?

[2022-02-19 14:43] ericdallo commented on #775
I see, the git diff result gets passed as a array of files, I was trying to avoid adding a option to apply clojure-lsp actions to specific files as the files could be outside the project, but I can see how convenient this is for this kind of workflow

[2022-02-19 17:53] #775 closed

[2022-02-19 17:54] ericdallo commented on #775
@ikitommi Done, I hope it works for you, LMK if any issues.
Now there is the `--filenames` option so you can achieve what you want with something like:

[code]

[2022-02-19 19:53] ikitommi commented on #775
awesome, thanks!

[2022-02-24 00:07] mainej opened #782 "Proposal: adjust changelog format"
During the last release I found it hard to decide where to put CHANGELOG entries. I'd like to propose a slightly different format, one which separates the **Features**, the **Performance**  improvements, the **General** maintenance, and the **API/CLI**-specific changes.

This is all very specific to my personal preferences. I'm not tied to this idea at all, and would be totally OK with a different

[2022-02-24 00:40] ericdallo commented on #782
Yes, latest release had a lot of performance so I agree the current format didn't look ideal, I like to see things that affect API/CLI and/or Editor or both though, your suggestion seems to not make it easy to identify what affects editors only or API/CLI only or both, right? Maybe we find something between both ways

[2022-02-24 00:53] mainej opened #783 "Promote anonymous function"
**Is your feature request related to a problem? Please describe.**
I often want to promote anonymous functions to be named private functions.

**Describe the solution you'd like**
When I'm on code like this:
[code]
I'd like `extract-function` to create something like this:
[code]
Similarly:
[code]
Should become:
[code]

Ideally, the parameter list of the new function should include any locals used