[2022-07-30 20:20] #1158 closed

[2022-07-30 20:22] ericdallo commented on #1159
Closing as duplicated of #1157

[2022-07-30 20:22] #1159 closed

[2022-07-30 20:33] #1157 closed

[2022-08-01 14:40] Invertisment opened #1163 "Keyword with three slashes reports fake error"
**Describe the bug**
Type this into your editor:
[code]

First map will have error messages that say that the values are duplicate keys.

**To Reproduce**
Steps to reproduce the behavior:
1. User Clojure LSP server
2. Type my text
3. View problems

**Expected behavior**
No errors.

**Screenshots**
![image](https://user-images.githubusercontent.com/1641263/182174073-92cdb646-d2c8-42e0-855a-7b5a0aa1

[2022-08-01 16:14] NoahTheDuke opened #1164 "Comments outside of clj-kondo config map are removed when an action updates the file"
**Describe the bug**
When I use `resolve-macro-as`, it removes comments in my `.clj-kondo/config.edn` file:

[code]

This doesn't happen if there are comments within the config map:

[code]

**To Reproduce**
Add a comment outside of the config map, execute one of the clojure-lsp code actions that modifies the `.clj-kondo/config.edn`.

**Expected behavior**
I expect that such comments are left unto

[2022-08-01 17:16] cgrabenstein opened #1165 "lsp-rename does not work with defrecord"
**Describe the bug**
`lsp-rename` does not work with `(defrecord ...)`

**To Reproduce**
Steps to reproduce the behavior:
1. Add a `(defrecord Foo)`
2. Place cursor on `Foo`
3. `M-x lsp-rename RET Bar RET`
4. `(defreBar`

**Expected behavior**
Expected would be `(defrecord Bar)`

**User details (please complete the following information):**
 - OS: MacOS
 - Editor emacs
 - Version:

[2022-08-02 12:20] ericdallo commented on #1163
This would be needed to be fixed on clj-kondo and for formatting work on cljfmt, not on clojure-lsp

[2022-08-05 13:52] lassemaatta opened #1171 "Provide namespace docstrings for eg. lsp-ui"
**Is your feature request related to a problem? Please describe.**

When using `lsp-mode` as the client and `clojure-lsp` as the server, there doesn't seem to be a way to display or browse namespace docstrings (like docstrings for vars).

**Describe the solution you'd like**

Given the namespace declaration below, and the cursor in the position represented with `|` => `lsp-ui` (or some other simil

[2022-08-05 19:28] mainej commented on #904
@snoe I've been thinking about this more. I feel like I have a coherent proposal about "threading" `get`s. But I also feel like adding those details here would be hijacking your thread. This issue, as its title suggests, is about converting `update` to `update-in`, and similarly for `assoc` and `get`. Those conversions have a little overlap with threading, but I think they're really separate thing

[2022-08-05 21:46] mainej opened #1172 "Threading get"
# Problem

I frequently want to convert between `(:x m)` and `(get m :x)`, and vice-versa. In a related case, when there is more nesting, I want to convert between `(:y (:x m))` and `(get-in m [:x :y])`.

# Proposal
I'd like refactorings that facilitate these conversions. By analogy with the threading refactorings, I propose the following commands.

## Get all

`ga`, `get-all`: convert all nested

[2022-08-05 21:46] mainej commented on #904
See https://github.com/clojure-lsp/clojure-lsp/issues/1172 for an issue focused on threading `get`.

[2022-08-06 19:07] ericdallo commented on #1171
@lassemaatta I can see that working with `hover` LSP feature, similar to when you ask for docs for a symbol, I think lsp-ui has features to show popups somewhere for that so maybe it'd work out of the box for you, I don't use lsp-ui anymore though so not sure

[2022-08-06 19:31] #1171 closed

[2022-08-08 11:39] danielhvs commented on #1014
Just rebased a code with master branch here and to fix the conflicts I had to adjust the duplications manually.
Maybe to start it would be good to just implement an identical duplication removal.
Meaning:

-->

[2022-08-09 20:54] #1156 closed

[2022-08-09 21:10] #1068 closed

[2022-08-09 22:28] #727 closed

[2022-08-09 22:28] #728 closed

[2022-08-10 00:04] ericdallo commented on #818
Closing this since we merged #1117, Talking with @mainej, we think we can open specific issues for what #1117 didn't fix

[2022-08-10 00:04] #818 closed

[2022-08-10 00:06] ericdallo commented on #826
I'm closing this since this is actually a mirror of https://github.com/clojure-lsp/lsp4clj/issues/14 which has some good discussion there

[2022-08-10 00:06] #826 closed

[2022-08-10 00:07] ericdallo commented on #1153
@lassemaatta this should be fixed on master, please re-open if the problem persists on nightly build/next release

[2022-08-10 00:10] ericdallo commented on #662
Yep, it should be fixed by #1016

[2022-08-10 00:10] #662 closed

[2022-08-10 00:15] ericdallo commented on #658
@vemv After #1117 we feel confortable enough to close this as we removed lots of deps using the clojure impl of lsp4clj, most concerns of the original issue's description are fixed/gone, but please feel free to open a new issue for/if any still present concerns or suggestions, thank you for all the help!

c/c @mainej

[2022-08-10 00:15] #658 closed

[2022-08-10 00:18] ericdallo commented on #1154
Done recently

[2022-08-10 00:18] #1154 closed

[2022-08-10 00:43] mainej commented on #727
Input is now converted to kebab-case by camel-snake-kebab. And instead of being converted only to the depth specified by the coercer, it is converted fully.

[2022-08-10 00:44] mainej commented on #728
#1069 fixed type 3a clients, by postponing `:additional-text-edits` to `completionItem/resolve`.

#1117 ensures we don’t have similar errors in the future by copying `:additional-text-edits` and other attributes from the `completionItem/resolve` request to the response.

[2022-08-10 15:10] PEZ opened #1178 "The SymbolProvider line info gets out of whack when editing the file in Calva"
If I edit the file, adding/removing lines, then the Outline links to the wrong locations of the file.

This gets extra problematic with the new Sticky Scroll feature of VS Code, where the symbol provider is used to inform what should stick while scrolling. Here's an issue where this is clarified by the VS Code team:

* https://github.com/microsoft/vscode/issues/157630

**To Reproduce**

1. Open a

[2022-08-10 15:12] PEZ commented on #1178
Related to this is that sticky scrolling in VS Code would get much better if the Outline would have some more depth. Currently it seems to only include top level symbols?

[2022-08-10 16:47] jgracin commented on #1084
Hi! I think the following PR should fix the problem: https://github.com/clojure-lsp/clojure-lsp/pull/1179.

[2022-08-10 20:02] mainej commented on #1178
clojure-lsp bases its documentSymbol data on the file's analysis. But, at the moment it doesn't wait for any currently running analysis to finish before replying to a documentSymbol request. My guess is that Calva sends didChange, which starts an (asynchronous) analysis, and then immediately documentSymbol. The second request uses the analysis that already exists, which, assuming the analysis hasn

[2022-08-10 20:59] mainej commented on #1178
@PEZ I believe https://github.com/clojure-lsp/clojure-lsp/pull/1180 will fix this.

[2022-08-10 21:04] ericdallo commented on #1178
Looks good and makes sense @mainej, @PEZ would you mind test with that PR's clojure-lsp?

[2022-08-10 21:09] mainej opened #1181 "Completion Items not being resolved"
**Describe the bug**
When selecting a completion item, I expect to see documentation for that item, but I don't.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a file in Calva.
2. Start typing the name of a var that has documentation.
3. Wait until the completion menu pops up
4. Use the arrow keys to navigate to the var
5. Observe that no documentation appears.

**Expected behavior**
D

[2022-08-10 23:44] ericdallo commented on #1084
@jgracin I don't think #1179 is the correct fix, this will only solve for this case:
[code]

But not for
[code]

We should get the function caller in this row and not the cursor at row and col

[2022-08-11 00:06] #1084 closed

[2022-08-11 00:06] ericdallo commented on #1084
Actually you were right @jgracin :)
Merged, thanks for the help!

[2022-08-11 03:47] #1178 closed

[2022-08-11 07:39] aiday-mar commented on #1178
Hi I link hereby the relevant sticky scroll issue : https://github.com/microsoft/vscode/issues/157630

[2022-08-11 12:31] vemv commented on #456
Good to close after the ditching of lsp4j

[2022-08-11 12:31] #456 closed

[2022-08-11 12:32] vemv commented on #658
Thanks much! Looking forward to do something with it.

Might create a (simpler) follow-up issue

[2022-08-11 17:27] #1181 closed

[2022-08-11 21:53] rgkirch opened #1187 "jump to definition from clojure to java and beyond"
I'm currently able to jump from clojure code to a definition in java but I'm not able to further jump to other definitions in java.

When clojure-lsp jumps from clojure to java I'd like a java extension take over and facilitate further java code navigation. In vscode this would be the [redhat extension](https://marketplace.visualstudio.com/items?itemName=redhat.java). Clojure-lsp can do this by pr

[2022-08-12 08:33] jgracin opened #1189 "Some clojure-lsp integration tests fail if project checkout path contains "src""
**Describe the bug**
If clojure-lsp source code is checked out in a directory that contains "src" (e.g. "/Users/jgracin/src/clojure-lsp), running `make test` fails on 2 tests in api_test.clj because the tests use `(string/replace %1 "src" "fixtures")` which replaces all occurrences of `src` in the path instead of just the last one.

**To Reproduce**

1. Clone the clojure-lsp project to a directory

[2022-08-12 10:09] lassemaatta commented on #1153
I tried the latest nightly and the issue still remains

<details>
<pre>2022-08-12T10:03:27.652Z  INFO [clojure-lsp.dep-graph:300] - :maintain-dep-graph 0ms
2022-08-12T10:03:27.652Z  INFO [clojure-lsp.feature.java-interop:256] - [Java] JDK source cached loaded successfully.
2022-08-12T10:03:27.666Z  WARN [clojure-lsp.kondo:298] - Non-fatal error from clj-kondo: No configs copied.

2022-08-12T10:03:

[2022-08-12 15:25] ericdallo commented on #1153
FYI @mainej

[2022-08-12 15:58] ericdallo opened #1191 "Outdated atom analysis if calling first format/clean-ns and then diagnostics"
clojure-lsp tries to be smart about whether should scan external deps during CLI/API calls. it doesn't scan external deps when calling `format` or `clean-ns` but does for `diagnostics`. it tries to be smart also for consequent calls like when using `lein-clojure-lsp`, you could chain `format`, `clean-ns` and `diagnostics` call in a single `lint` task for example.

The issue is that it should scan

[2022-08-12 16:02] #1189 closed

[2022-08-12 16:05] ericdallo commented on #1187
Thanks for the report, as mentioned in the thread, if we could create a project structure with pom.xml that would be a valid fix to me, the issue is that we would need to decompile the whole jar async when source not available

[2022-08-13 16:07] sheluchin opened #1192 "Renaming destructured maps in `let` forms doesn't updated locals"
Renaming `:foo/bar` to `:foo/baz` updates the binding but does not updated its local, resulting in broken code.

[code]

produces:
[code]
where I expect the `bar` inside the let body to also be renamed to `baz` to keep things consistent.

@mainej explained what happens in a Slack thread:

<details>
 <summary><b>Log - client <-> server</b></summary>
<pre>
[Trace - 11:51:17 a.m.] Sending request 'te

[2022-08-13 18:27] #1165 closed

[2022-08-13 21:19] acorello opened #1193 "Include imported Java classes in suggestions"
**Problem**

When I request suggestions where a symbol may make sense (eg a metadata value, or in a s-exp) I get a list which include, among other symbols, many Java classes. However, this list does not include Java classes explicitly imported with `:import`, eg `SomeClass` in `(ns … (:import [java.package SomeClass])`.

<img width="539" alt="01 java imports not added to suggestions" src="https://

[2022-08-13 21:33] acorello opened #1194 "Provide type suggestions after ^ character despite linting errors"
**Problem**

When I enter type hints for a function or parameter I get a syntax errors (if I entered only a `^`) or an 'Unresolved symbol' error (if I partially entered a symbol name).

In both cases, triggering suggestions returns no results.

**Desired Behaviour**

Symbols suggestions (ideally only types/classes) despite the linting errors.

**Context**

<img width="601" alt="02 broken sexp" src

[2022-08-15 02:30] mainej commented on #1153
I'm re-opening this issue. I have an idea about how to fix it, but since I can't reproduce the problem locally, I might need your help @lassemaatta to verify my fix.

[2022-08-15 11:27] Cyrik opened #1195 "server-info is now sent in camelCase"
**Describe the bug**
When the client calls 'clojure/serverInfo/raw' the map keys are now in camelCase instead of kebab-case.

**To Reproduce**
Steps to reproduce the behavior:
send  'clojure/serverInfo/raw' to clojure-lsp or start Calva

**Expected behavior**
Until now it seems to have been sent in kebab-case.

**Screenshots**
If applicable, add screenshots to help explain your problem.

<details>

[2022-08-15 12:27] ericdallo commented on #1194
Just linking related issues https://github.com/clojure-lsp/clojure-lsp/issues/1193

[2022-08-15 12:28] ericdallo commented on #1194
@borkdude I think we would need to make clj-kondo return valid analysis when we have a invalid code like `(defn foo ^ [])`, WDYT? similar to how clj-kondo handles invalid keywords

[2022-08-15 12:32] borkdude commented on #1194
I think so yes, issue welcome

[2022-08-15 12:43] ericdallo commented on #1194
https://github.com/clj-kondo/clj-kondo/issues/1778

[2022-08-15 12:50] ericdallo commented on #1195
@mainej I think we should try to fix that before next release to avoid breaking Calva

[2022-08-15 16:45] mainej commented on #1195
@Cyrik sorry about that. Good catch. @ericdallo, I agree, this should be fixed. I ran into this problem before—I can't remember where, but somewhere else we needed to preserve kebab-case. The solution I came up with is that in lsp4clj, keywords are camelCased, but anything else is just stringified. So, if we convert the keys of server-info to kebab-case strings, they'll pass through to the editors

[2022-08-16 12:27] ericdallo commented on #1195
@mainej thanks for taking a look, I'm fine having it on clojure-lsp or lsp4clj until we have some utils on lsp4clj side, maybe on clojure-lsp side since it's the only place used ATM

[2022-08-16 19:32] #1153 closed

[2022-08-16 21:30] maddenp opened #1197 "clojure-lsp stuck (or crashed) in "starting" state in emacs"
**Describe the bug**
When I open a `.clj` file, `clojure-lsp` tries to start but continually says e.g. `LSP[clojure-lsp:27231/starting]` in the modeline, and `*clojure-lsp::stderr*` shows
[code]

**To Reproduce**
I'm not sure. I have three systems, two on which this issue reliably occurs, and one on which I cannot make it happen at all. All are using emacs 28.1 that I have built myself, all with i

[2022-08-16 21:38] ericdallo commented on #1197
@maddenp thanks for the report, what is happening is that the client (lsp-mode) should send the `initialize` request with `processId` as a int or null, from your client logs, it seems it's null which is ok, but from server side logs, it's trying to parse a object (`{}`) which is weird.

I'm not sure if we should spend that much time since we removed lsp4j integration on master and it should be ava

[2022-08-16 21:46] maddenp commented on #1197
Hi @ericdallo, thanks for the fast response! I can confirm replacing the emacs-downloaded `clojure-lsp` executable with the one from https://github.com/clojure-lsp/clojure-lsp-dev-builds/releases/tag/2022.08.16-19.32.20-nightly immediately solved the problem for me.

[2022-08-16 21:51] maddenp commented on #1197
Hmm, a few seconds after starting, though, I do get e.g.
[code]
which repeats if I answer `y`. I don't see anything interesting in the `lsp`-related buffers, and in the `stderr` log just
[code]

[2022-08-16 21:52] maddenp commented on #1197
Anything I could try/check that might be helpful to you? If not, I'm happy to wait for a proper release.

[2022-08-16 21:54] ericdallo commented on #1197
The release will be eventually just a promotion of a nightly to a release, so if your issue was not fixed on master/nightly, it won't be fixed on next release 😅

That kind of crash is bad, but we should have some log regarding that somewhere
- stderr (you already checked)
- [server-logs](https://clojure-lsp.io/troubleshooting/#server-log), this one might indicate something

[2022-08-16 22:00] maddenp commented on #1197
From the end of `/tmp/clojure-lsp.*.out`:
[code]
Interesting?

[2022-08-17 01:22] #1195 closed

[2022-08-17 01:24] mainej commented on #1153
@lassemaatta when you have a chance, will you double check that [this build](https://clojurians.slack.com/archives/C032YH7P0R2/p1660679118165279) (or later) fixes this bug?

[2022-08-17 02:07] mainej commented on #1197
It looks like both builds ended up parsing `processId` as an empty JSON object `{}`. The "old" version of lsp4clj, which uses lsp4j to parse JSON failed with `Expected an int but was BEGIN_OBJECT`. And the "new" version of lsp4clj, which uses cheshire to parse JSON failed with `Parent process {} is not running` where `{}` is usually an integer.

That contradicts the client-side tracing, which says

[2022-08-17 03:16] lassemaatta commented on #1153
Sure, no problem. I'll report back once I've tested it.

[2022-08-17 04:04] lassemaatta commented on #1153
@mainej Good news, with the latest nightly build the exception no longer occurs :tada: Grepping the logs shows that it published diagnostics for about 3k files. Thanks for fixing this!

[2022-08-17 05:24] maddenp commented on #1197
Hi @mainej, and thank you. I followed the instructions at https://clojure-lsp.io/building/ and was able to `make debug-cli`, but the resulting `clojure-lsp` doesn't seem to offer anything extra in the server log, to my untrained eye, at least. Should I build from a branch other than `master`, or follow a different procedure to build an executable with tracing enabled? I agree that it would be wort

[2022-08-17 12:31] ericdallo commented on #1197
Yes, it might indicate a bug on lsp4clj recent changes where we stopped using lsp4j
@mainej, maybe we are still probing even if client didn't send a processId?

[2022-08-17 15:41] mainej commented on #1153
That's great @lassemaatta! We've had this bug for a long time, in different forms, with several attempts at fixing it. I'm really relieved this attempt seems to be working.

This was definitely a case where understanding the bug took much more effort than fixing it. You can read a write up, if you're interested, over in #1196.

[2022-08-17 16:10] mainej commented on #1197
Sorry @maddenp, I should have explained... you have to edit [this line](https://github.com/clojure-lsp/clojure-lsp/blob/653a708c6f85665e9a7dbc9cb6cdb6c89a64c937/cli/src/clojure_lsp/server.clj#L515), changing `:trace? false` to `:trace? true`. That will turn on server-side tracing. Otherwise, you followed the right procedure. When you have a chance to try again, let me know how it goes.

@ericdallo

[2022-08-17 21:01] maddenp commented on #1197
@mainej That worked, thanks. I'm guessing this is the block from `/tmp/clojure-lsp.*` you're looking for, but please let me know if you need more / different:
[code]
By way of comparison, I copied this `clojure-lsp` executable to the system where I'm NOT having this problem, and the corresponding block looks like
[code]
Am I right in thinking that this supports your hypothesis that it's the client

[2022-08-17 23:05] maddenp commented on #1197
I checked the dynamic libraries required by `emacs` on the correctly functioning system and found
[code]
Suspecting the usual free-software pun, I checked and, indeed, this is a JSON library. On my broken system my `emacs` executable did **not** link to this library, so I installed `libjansson-dev` from my OS package manager and rebuilt `emacs` with the `--with-json` flag, which is described in `.

[2022-08-17 23:41] mainej commented on #1197
@maddenp nice debugging!

@ericdallo you'd have a better sense–does this belong in the troubleshooting docs for lsp-mode?

[2022-08-18 12:39] ericdallo commented on #1197
Nice debugging indeed!
@mainej yes, definitely something to be on [lsp-mode torubleshooting](https://github.com/emacs-lsp/lsp-mode/blob/master/docs/page/troubleshooting.md), which can happen with any server, if we can't fix it on lsp-mode somehow we could try to fix it on server side but wouldn't be an ideal solution.

@maddenp Could you open a issue on lsp-mode linking this one and explaining you

[2022-08-18 12:40] #1197 closed

[2022-08-18 20:36] maddenp commented on #1197
Yes, I'll open an issue on `lsp-mode`. Thanks for your help with the current issue.

[2022-08-19 15:03] maddenp commented on #1197
What appears to be essentially the same issue was already reported in https://github.com/emacs-lsp/lsp-mode/issues/3629. The issue was closed but there doesn't seem to be a definitive solution apart from installing `libjansson-dev`. I'll link that issue to this one in case it's helpful to anyone finding it. I'm afraid what I found here doesn't add anything new that would warrant opening a new issu

[2022-08-21 13:24] rafaeldelboni opened #1203 "Optional consolidated view for diagnostics"
**Is your feature request related to a problem? Please describe.**
When refactoring big systems to use clojure-lsp as the main linter, I usually get overwhelmed with the output of the `diagnostics` because there are so many points to address.

Since my IDE is integrated with LSP, my current flow is to run `diagnostics` in the terminal, check the files that have more errors and then use my IDE tool

[2022-08-22 19:48] ericdallo commented on #1203
Sounds like a good feature.
[We do already have](https://github.com/clojure-lsp/clojure-lsp/blob/master/lib/src/clojure_lsp/api.clj#L145-L146) a `--output '{...}'` with custom options for the output of diagnostics, we only support a setting `canonical-paths` ATM, but seems to be a good place to add more settings, WDYT?

My idea is to have something easy to evolve like [clj-kondo has](https://githu

[2022-08-23 06:22] lassemaatta opened #1205 "Lots of analysis churn when switching git branches on a large project"
**Describe the bug**

When switching between branches with lots of small changes in large number of files in a large git project, `clojure-lsp` will begin reacting to the file changes and spend a considerable time analyzing files. During this time, a _lot_ of stuff is logged into the log file (as if it's analyzing 5-15 files at a time x 100).

For example, the normal startup time for `clojure-lsp`

[2022-08-23 12:30] ericdallo commented on #1205
@mainej do you think there could be some conflict/race condition on dep-graphs calculation? dep-graphs logs are always 0ms which seems a little bit odd to me WDYT?

[2022-08-23 20:08] mainej commented on #1205
@lassemaatta I assume you're using Graal builds, correct? There's a feature in clojure-lsp where we watch the file system for changes, and update ourselves accordingly. We discovered recently that Graal builds weren't responding to file system changes, even though their JVM counterparts have been for the past several months. We resolved this Graal problem somewhat accidentally when we removed lsp4

[2022-08-23 20:42] ericdallo commented on #1205
Makes sense @mainej I forgot about the graal fix...
One thing I know it happens is that vscode sends batchs of did-change-watched-files while lsp-mode sends lots of single file changes which doesn't help with processing multiple files at once.

[2022-08-24 05:09] lassemaatta commented on #1205
@mainej I monitored the resident memory size with `htop` while triggering this issue. The memory consumption was originally around 1.5 GB and increased up to 2.6 GB while analyzing and finally settled back down to 1.5 GB. So the increase in memory consumption does not appear to be permanent.

[2022-08-24 18:41] mainej commented on #1131
I'm working on this and realized `partial` causes problems.

[code]

Suppose you want to drag `b` forward. That makes `c` the second parameter, but at the call site we don't have a corresponding argument: `(partial f :a ???)`.

@ericdallo or @NoahTheDuke do you have thoughts about what to do in this case? With the code I have at the moment, the call site ends up untouched: `(partial f :a :b)`. Is

[2022-08-24 19:59] mainej commented on #1131
To address this case, I decided to ask the user a Yes/No question "Not all call sites can be updated. Continue anyway?"

If they answer Yes, then the defn and as many call sites as possible are edited. That is, we get `(defn f [a c b])` but no changes at `(partial f :a :b)`.

If they answer No, then nothing is edited.

@ericdallo and @NoahTheDuke does that sound OK? Do you have opinions about the

[2022-08-24 20:53] snoe commented on #1131
If you don't know which call sites can't be updated, the option to continue anyways is introducing bugs that would be hard to find and only be caught at runtime. So I think we should fix all sites if we can or nothing.

`partial` could convert to a literal fn, in the example convert to `(partial f :a :b)` > `#(f :a % :b)` but it makes me wonder about other partial-like macros, for instance thread

[2022-08-24 21:06] snoe commented on #1131
Other worries.

[code]

[2022-08-24 22:10] mainej commented on #1131
That was my initial impulse @snoe  and it would be easy to change the code I have to implement that. But after thinking about it more, "do nothing" might not be ideal either. That is, if you have 25 call sites, 2 of which can't be updated, which is better?

- Change 23 of them automatically, suggesting to the user that they should review all the references carefully to find the other 2.
- Change 0

[2022-08-24 22:38] mainej commented on #1131
To confirm... threading, `apply` and function lookup are counted as "can't edit". But it was good to check. Function lookup was doing something weird. Thanks for the suggestions @snoe.

[2022-08-24 23:23] NoahTheDuke commented on #1131
Good analysis, @mainej. I lean towards fixing as much as possible and surfacing somehow the list of places where fixes couldn't be applied. I agree that promoting `partial` is a mistake.

[2022-08-25 00:39] ericdallo commented on #1205
Interesting so reducing the slurps may help with that I think

[2022-08-25 00:42] ericdallo commented on #1205
One thing we could do is add a leaky bucket or a throtler for that, avoiding analyzing all the files at the same time, if we could do only for opened files on editor and leave the others delayed, that would probably help with the OS resources usage

[2022-08-25 01:29] mainej opened #1207 "URIs vs Filenames"
### History

The LSP spec uses URIs to identify files. clj-kondo uses filenames. clojure-lsp uses both—URIs most of the time, but filenames when running queries on the analysis and findings. At the moment there are over 100 places in the code where we convert a URI to a filename, or vice versa, as we switch between paradigms.

### Proposal

I propose that we use URIs everywhere, except on the boun

[2022-08-25 15:59] snoe commented on #1131
It's been an important principle of this project to not leave user code in a broken state through partial refactors.

So, if you look at the way intellij (java; possibly cursive too) handles these kind of cases: it presents the list of locations to the user that can't be automatically applied, so the user can step through each one, jumping to the location and commit/edit/reject them. The process i

[2022-08-25 16:21] ericdallo commented on #1131
Yeah, I'm leaning to agree with @snoe, do or nothing with a clear message that we can't apply "check apply, threads etc"...
If we find a way to have a good UX like Idea and other IDEs custom features, we can improve this in the future IMO

[2022-08-25 16:55] NoahTheDuke commented on #1131
As you noted, @snoe, even "safe" changes could miss usages, such as `(resolve (symbol "my-fn"))`.

Given that, what if this was an LSP extension? Instead of relying on existing `codeAction` machinery, this would be a command like `serverInfo` that applies the change and returns a list of known locations that couldn't be safely changed. Then, it's on clients to properly implement displaying that li

[2022-08-25 17:45] snoe commented on #1131
@NoahTheDuke Yeah, intellij has an option to "search strings and comments" for refactors and flag that. I could see us adding that flag for general refactorings. But that string could always come in from outside the program, so I'd put your example in the `eval` hole that we do fail at for pretty much all refactorings. That's pretty much the line we have to draw: if it's invisible to analysis, it'

[2022-08-25 18:24] snoe commented on #1207
This sounds like a good thing. I'm probably responsible for the varied mix, and know that it was always a struggle to convert between the two, but can't remember any specific reasons except maybe apis that forced one or the other (even pre-kondo). We also had a discussion around `move-form` (that I can't find) and my reasons why that should take a filename instead of a namespace, I don't think tha

[2022-08-25 18:32] ericdallo commented on #1207
@mainej yeah, @borkdude is aware of that, I think if we want we could try opening PRs on clj-kondo to make it use uris too, but that would increase the complexity of this task indeed.

Even so, I agree we could turn everything to URIs and leave clj-kondo with filenames for now

[2022-08-25 19:41] mainej commented on #1207
Thanks for the additional context. This gives me confidence it's possible. Also, I won't be disappointed if we can't remove _every_ uri/filename conversion, I'd just like to do fewer. I think that means starting with using URIs in the analysis, and seeing how far that gets us.

It wouldn't be a big deal to leave this as filename, but still, I'm curious. I vaguely remember the discussion and the co

[2022-08-25 19:46] snoe commented on #1207
I think the namespace ambiguity was the rationale that resonated. But also editors know how to tab complete filenames from user input but not namespaces (and I doubt they'd be as good at uris)

That's what I was referring to.

[2022-08-25 20:41] NoahTheDuke commented on #1131
You're absolutely right that it wouldn't be portable, which sucks. Bummer that we're stuck waiting on the LSP spec to support such a thing. I would be willing to write the code for vim/coc.nvim, but that would leave quite a few behind.

[2022-08-25 20:42] walterl opened #1210 "Allow renaming of unresolved locals"
**Is your feature request related to a problem?**
No, this is purely an enhancement.

**Describe the solution you'd like**
Say you end up with this function:

[code]

clojure-lsp helpfully and correctly points out that all those `x`s are unresolved symbols.

It would be nice if, when renaming one of the `x`s (e.g. to `i`), clojure-lsp automatically rename all the other unresolved `x`s to `i`s too.

[2022-08-26 00:43] mainej commented on #1131
I'll abort the refactoring and show a warning. I wonder if the spec will ever support more interactive refactorings. Probably unlikely. I suppose you could navigate the user to each call site and ask them what to do. But that's sort of the [text-based adventure game](https://en.wikipedia.org/wiki/Colossal_Cave_Adventure) version of refactoring. Not as good as IntelliJ's GUI.

One thing we could do

[2022-08-26 12:53] ericdallo commented on #1131
I already saw features being added to LSP spec that started with a issue, I think we could try that opening a issue on the LSP spec itself, sounds like something pretty useful for lost of refactorings and other things that need a communication and a confirmation on client side.
We do have [window/showMessageRequest](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/speci

[2022-08-27 18:02] ikappaki opened #1211 "First class dev/test support for MS-Windows"
**Is your feature request related to a problem? Please describe.**

At the moment, the lib/cli test and cli integration-test command fail with a lot of errors on MS-Windows.

In addition it is impossible to create debug/prod cli builds because the jar to binary conversion is not compatible with MS-Windows.

This means that the MS-Windows builds are likely to be dysfunctional and makes the release

[2022-08-27 23:41] ericdallo commented on #1211
Totally agree with that! I'm no windows user but LMK if need any support or context, your help is appreciated

[2022-08-28 00:05] #1172 closed

[2022-08-28 01:17] #1193 closed

[2022-08-28 16:06] ericdallo commented on #1205
@mainej On a second thought about this, tecnically the client should send only did-change-watched-files for files that were already opened by the editor, not sure if clients are doing this, but it so, this won't help server side as we would already be slurping only files that were opened before, I'll do some test about that

[2022-08-28 17:32] ericdallo commented on #1205
Proposed fix on #1213, not sure this will fix your issue @lassemaatta but it may worth try it as it should improve performance for lots of changes.
@mainej One thing I noticed is that lsp-mode instead of sending one notification (`did-changed-watched-files`) for each file with type `changed`, it sends 3 notifications of `deleted`, `created` and then `changed` for that file 😔 , this should make thi

[2022-08-28 17:40] ericdallo commented on #1210
I took a quick look and one problem I found is that with current clj-kondo analysis we can know if that `x` is a local or a var defined elsewhere in the file, for example:
[code]

All the 4 `x` there, clj-kondo return inside the `var-usages` bucket.
@borkdude do you think would work to make clj-kondo return the bucket of the undefined `x`s inside that `foo` function under `local-usages` bucket ins

[2022-08-28 18:23] borkdude commented on #1210
@ericdallo Isn't this already part of `:findings` of `:type :unresolved-symbol`? The only thing we should add to that finding is the symbol as data probably.

[2022-08-29 01:37] ericdallo commented on #1210
@borkdude it's available (besides the symbol), but I can't see how that would help here, what we need is a way to know all undefined local-usages to allow renaming, and not renaming all `x` of that file, so if we return a different bucket for that, probably would work for clojure-lsp

[2022-08-29 08:48] borkdude commented on #1210
@ericdallo Just because an unresolved symbol appears within an s-expression doesn't imply that it should have been a local. E.g.:

[code]

I don't think this feature request can be reliably implemented and maybe isn't worth the investment: you can just use `replace-string` after all.

[2022-08-30 21:45] #1205 closed

[2022-08-30 23:22] ericdallo commented on #1210
Yeah, I can see how that could leave some corner cases, and I think it's not worth the effort

[2022-08-31 05:13] lassemaatta commented on #1205
Just tested with the latest nightly -> works a lot better now, thanks!

[2022-08-31 11:55] ericdallo commented on #1205
Awesome news!
Thanks for the confirmation @lassemaatta

[2022-08-31 11:58] #1132 closed

[2022-08-31 18:59] #1192 closed

[2022-09-01 23:25] sheluchin opened #1225 "2022.09.01-15.27.31: `clojure-lsp.api` source links are broken in cljdoc"
https://cljdoc.org/d/com.github.clojure-lsp/clojure-lsp/2022.09.01-15.27.31/api/clojure-lsp.api

`source` links for each function here are currently broken, all pointing to something like `https://github.com/clojure-lsp/clojure-lsp/blob/2022.09.01-15.27.31/#L128`. I checked just a small number of other pages and they all seem to be okay, but I didn't test every page.

[2022-09-02 22:12] Cyrik opened #1226 "unused-public-var can't be ignored on protocols"
**Describe the bug**
When I have a `defprotocol` with functions that aren't called adding `#_{:clj-kondo/ignore [:clojure-lsp/unused-public-var]}` does not "solve" it.

**To Reproduce**
[code]
`refres-code-lens` shows a warning.

**Expected behavior**
Should not show a warning.

[2022-09-02 22:23] Cyrik opened #1227 "reader comments in let blocks break codeActions"
**Describe the bug**
When a let expression only contains "reader commented" expressions it throws an exception.

**To Reproduce**
In Calva click on `(let [#_new-project-settings #_(config/resolve-for-root project-root-uri)])`. `textDocument/codeAction` failed will be shown.

**Expected behavior**
No explosion.

<details>
 <summary><b>Log - client <-> server</b></summary>
<pre>
{
    "textDocument"

[2022-09-03 15:21] ericdallo commented on #1225
I tested and It seems to be a bug on cljdocs itself, maybe @lread can help here? 😅

[2022-09-03 15:28] lread commented on #1225
Huh! Happy to take a peek today.

[2022-09-03 16:11] ericdallo commented on #1227
Good catch! it's related to the drag feature and should not be hard to fix, will you take a look @mainej ?

[2022-09-03 16:14] ericdallo commented on #1226
Thanks, as an alternative for now you can add the ignore to the defprotocol itself, but that will ignore all usages of the protocol indeed

[2022-09-03 17:05] ericdallo commented on #1226
After some debugging, it seems that clj-kondo is not checking if the function var-definition inside the protocol has the ignore comment when we call `reg-finding!` from custom-lint-fn, does that makes sense for you @borkdude ?

[2022-09-03 19:03] borkdude commented on #1226
Issue + clj-kondo repro e.g. as failing test welcome

[2022-09-03 20:41] lread commented on #1225
Should be all good now! Thanks very much for the report and lemme know if you find any further issues with cljdoc.

[2022-09-04 01:46] ericdallo commented on #1225
Awesome! thank you very much for the quick fix!

[2022-09-04 01:46] #1225 closed

[2022-09-04 02:57] #1227 closed

[2022-09-04 15:14] lassemaatta opened #1229 "Restructure keys action creates shadowed locals"
**Describe the bug**

Running the "Restructure keys" code action for a complex destructuring form several times creates duplicate locals.

Assuming of course I'm using this as intended. It looked like a really cool refactoring so naturally I had to break it immediately :)

**To Reproduce**
Steps to reproduce the behavior:
1. Given

[code]

2. Move cursor before the first `{:keys [a]}` and run the

[2022-09-04 18:18] ericdallo commented on #1187
Fixed on https://github.com/clojure-lsp/clojure-lsp/commit/cd37ffe6e829acad60e4797fb7e81aa6d21693a9, LMK if any issues

[2022-09-04 18:18] #1187 closed

[2022-09-04 18:25] ericdallo commented on #1229
Maybe we should append a sufix for the created elements like `element-1`, `element-2` etc c/c @mainej

[2022-09-04 18:37] #1155 closed

[2022-09-04 20:28] rgkirch commented on #1187
Thank you so much; I'm looking forward to using this!

[2022-09-04 22:24] ericdallo commented on #1187
@rgkirch you can already give it a try with a nightly build

[2022-09-05 23:32] mainej commented on #1229
I've been using your workaround @lassemaatta—renaming  the first`element` before restructuring the next—and it's been working ok. But I agree, something smarter would be a nice addition. Thanks for the suggestion 👍

[2022-09-11 09:53] borkdude opened #1237 "clj-kondo/ignored libs are removed with lsp-organize-imports"
Repro: `src/squint.jsx-test`. Then do `lsp-organize-imports` in emacs.

[code]

Server info:

[code]

[2022-09-11 12:56] ericdallo commented on #1237
@borkdude it seems the issue is related with cleaning ns with `#_:clj-kondo/ignore`, clojure-lsp doesn't edit properly the requires, but if you move the ignore to top ns it does work as a alternative for now, so clojure-lsp is considering clj-kondo analysis, just not editing comments properly

[2022-09-11 12:56] ericdallo commented on #1237
I think you can ignore via clj-kondo config as another alternative for now as well

[2022-09-11 15:18] borkdude commented on #1237
Oh you are right, it doesn't preserve the comments.

[2022-09-11 23:59] ericdallo opened #1240 "Small freezes regression during editing on big buffers"
**Describe the bug**

@borkdude noticed small freezes on emacs while coding on squint-cljs/squint, I can confirm the issue, it seems to be a regression [since 2022.06.22-14.09.50 tag ](https://github.com/clojure-lsp/clojure-lsp/compare/2022.06.22-14.09.50...2022.09.01-15.27.31).

After some debugging, I noticed it's related to [process-after-all-changes](https://github.com/clojure-lsp/clojure-lsp/

[2022-09-12 00:05] ericdallo commented on #1240
The issue doesn't happen on previous release, so it's probably [related to lsp4clj migration](https://github.com/clojure-lsp/clojure-lsp/compare/2022.07.24-18.25.43...2022.09.01-15.27.31).

[2022-09-12 17:58] rgkirch commented on #1187
macos
[code]
[code]
in vscodium, I get a notification in the bottom right that says
[code]

calva says
[code]
This is likely unrelated to the feature request.

[2022-09-12 18:11] ericdallo commented on #1187
@rgkirch this is calva issue, where it's not using the same PATH env from your terminal where it has clojure-lsp installed

[2022-09-14 06:43] ikappaki opened #1245 "clojure-lsp misses diagnostics when not run from within the --project-root directory"
**Describe the bug**
`clojure-lsp` misses diagnostics when running with `diagnostics --project-root` from a non project root directory

**To Reproduce**

create a test directory with the following files (say in `~/clsp-diags-root`) :

`bb.edn`:
[code]
`scripts/make.clj`
[code]

1. cd to project root and run `clojure-lsp diagnostics --project-root ~/clsp-diags-root --verbose`:
[code]
2. cd to proje

[2022-09-14 06:51] ikappaki opened #1246 "clojure-lsp misreports unused public var in bb.edn project"
**Describe the bug**
clojure-lsp diagnostics misreports as `unused public var` fns that are referenced by `bb.edn` tasks.

**To Reproduce**

create a test directory with the following files (say in `~/clsp-diags-miss-bb`) :

`bb.edn`:
[code]
`scripts/make.clj`
[code]

1. cd to the project dir and run diagnostics command:
[code]

**Expected behavior**
no diagnostics message should be produced about

[2022-09-14 12:29] borkdude commented on #1246
Yeah, there is a clj-kondo issue to provide linting for bb.edn as well. If we implement that, then this would work as well. But for now you could maybe just treat the task .clj code as a library (so it will ignore unused public vars)?

[2022-09-14 13:59] borkdude commented on #1246
@ericdallo "as a library" I mean: a namespace in which all vars should not be linted as unused public vars. This is a general problem with that linter right?

[2022-09-14 15:10] ericdallo commented on #1246
Yes, I think that would be a new feature for clojure-lsp where user specifies those ns, right? not sure how common is that since most cases I saw are related to functions that are being used on edn files

[2022-09-14 15:14] borkdude commented on #1246
If you write a library, isn't it common that many functions in the public API are not used anywhere else? Except in tests.

[2022-09-14 16:44] ikappaki commented on #1245
same result:
[code]

[2022-09-14 17:03] ericdallo opened #1247 "Re-calculate diagnostics after a lsp or clj-kondo config.edn was changed by user"
https://clojurians.slack.com/archives/CHY97NXE2/p1663174910376379?thread_ts=1663168438.352979&cid=CHY97NXE2

To avoid user needing to re-edit the file to test new config/linter changes

[2022-09-14 17:07] ericdallo commented on #1246
Yes, but we already have the config to allow that, right?
`.clj-kondo/config.edn`
[code]

[2022-09-14 17:09] borkdude commented on #1246
Indeed, that's what I intended to say :)

[2022-09-14 18:31] mainej commented on #1240
I don't have a fix for this, but I've found something that I think must be relevant. Before the lsp4clj migration you can find logs lines like the following:

[code]
Labeling these as request A and B respectively, and doing the math, the sequence of events was:
[code]

So, it appears that before the migration lsp4clj was processing the messages out of order. Going back to study the code, [lsp4j fo

[2022-09-14 18:42] borkdude commented on #1240
I'm not deeply aware of how the internals work right now, but just for my understanding: why is my editor freezing because of how a server behaves? Even if the server's main thread is blocked for a second, I should still be able to type, while maybe not having updated diagnostics for a second? Are the requests in emacs made synchronously?

[2022-09-14 18:45] borkdude commented on #1240
If the lsp server still behaves as it did before, which was imo better, maybe it's not unreasonable to just do what lsp4j did?

[2022-09-15 05:34] mainej commented on #1246
So, @ericdallo, it sounds like it would have been better if I had done `{:linters {:clojure-lsp/unused-public-var {:exclude #{make}}}}` rather than [ignoring each of the make tasks individually](https://github.com/clojure-lsp/clojure-lsp/pull/1244). Would you like a PR that corrects that?

[2022-09-15 11:09] ericdallo commented on #1246
I'm fine with both

[2022-09-15 12:14] sheluchin opened #1248 "Consider a `move-to-param` refactoring action similar to `move-to-let`"
**Is your feature request related to a problem? Please describe.**
In my workflow it's pretty common to build up a function by taking some expression it contains and turning it into a parameter of the function. Right now this is a manual process.

**Describe the solution you'd like**
Ability to use code actions to refactor expressions within a function as parameters of the function. Some handling

[2022-09-15 13:09] ericdallo commented on #1240
@borkdude yeah, maybe this is something to be fixed on lsp-mode, we could test if vscode behaves similar, if not, we could open a issue on lsp-mode.

@mainej makes sense, I agree that we are now following the spec, and finding a middle ground would be better, but if we don't find it, I'm ok going back to unordered for now as we were not even aware of that because we had no bug reports, and we coul

[2022-09-15 13:24] ericdallo commented on #1245
Found the issue, clojure-lsp is using wrong source-paths:
[code]

[2022-09-15 15:03] #1245 closed

[2022-09-15 17:57] ikappaki commented on #1245
Thanks @ericdallo, I'll look into the window'ss failure

[2022-09-15 18:18] ikappaki commented on #1246
HI @borkdude, is this the one you are referring to please? https://github.com/clj-kondo/clj-kondo/issues/1576

[2022-09-15 18:18] borkdude commented on #1246
Yup!

[2022-09-16 23:02] mainej opened #1252 "Errors when file starts with a comment"
**Problem**
clojure-lsp assumes that after parsing a zloc from a syntactically correct file, it will be able to navigate to any cursor position using `parser/to-pos`. There's one case though where it fails.

In the following file `(-> (parser/safe-zloc-of-file db uri) (parser/to-pos 1 1))` will return nil:
[code]

In my opinion, we should navigate to the comment node.

The reason this bug exists i

[2022-09-17 16:50] mainej commented on #1240
I can't get Calva to exhibit the freezes, so I'd guess it processes requests more asynchronously than Emacs. However, the freezing is subtle on my Emacs—I have to type at a very specific speed and even then I notice freezes intermittently and only for a brief moment. So, I'm not sure that what I'm seeing in Calva is correct. @ericdallo or @borkdude could you check whether you can reproduce the fre

[2022-09-17 17:18] ericdallo commented on #1240
@mainej I'd like to add that this week I noticed those freezes more frequently in my projects from my work, it's really like clijure-lsp is processing one request at time.
I do think we should fix lsp-mode to handle that (even thinking this may be hard as Emacs is single thread), but making clojure-lsp process multiple threads for each request even out of order seems something we should think abou

[2022-09-17 19:10] mainej commented on #1240
@ericdallo good to know. Sorry about that.

It is. :/

I agree. I'm working on that. At first I thought we could change just lsp4clj, but I think clojure-lsp will have to change too.

[2022-09-17 19:12] ericdallo commented on #1240
@mainej no worries, I'm glad we are aware and found the reason, LMK if you need any help on that investigation or help to test anything

[2022-09-17 22:25] ericdallo commented on #1252
@mainej I see, should we "fix" this on rewrite-clj or at least provide a function that uses `z/edn*`?
Even so, sounds good fixing the root cause instead of doing workarounds like checking nil or using `or`s, WDYT?

[2022-09-17 23:08] ericdallo commented on #1226
Thanks, done [here](https://github.com/clj-kondo/clj-kondo/issues/1815)

[2022-09-18 00:07] #1247 closed

[2022-09-18 06:18] mainej commented on #1240
Thanks @ericdallo. I don't get typing freezes in Calva, but I do get very slow diagnostics, as described above. Would you check whether you see the same thing?

[2022-09-18 06:25] mainej commented on #1252
@ericdallo, yeah, submitting a PR to rewrite-clj for `of-string*` is a good idea. I'll plan to do that. In the meantime, what do you want to do with #1251? Does https://github.com/clojure-lsp/clojure-lsp/commit/7ac822d3efe3dd51db4fef8959b8708ad7fb2e16 fix the same bug?

[2022-09-18 14:31] ericdallo commented on #1252
No, they fix different bugs, I think it's ok to merge #1251 and when we have that on rewrite-clj we change that.

[2022-09-18 15:20] ericdallo commented on #1240
@mainej I can repro the really slow diagnostics + semantic tokens on Calva indeed, way slower compared with the previous release

[2022-09-18 17:40] #1226 closed

[2022-09-18 17:40] ericdallo commented on #1226
Fixed on master, thanks for the help @borkdude !

[2022-09-19 21:37] borkdude commented on #1240
@ribelo reported on Slack in the clojure-lsp channel that he is also seeing freezes in neovim, but not when he reverts to an older version `2022.07.24-18.25.43`

[2022-09-20 16:33] #1207 closed

[2022-09-21 01:30] blueskyonmars opened #1263 "extract to new function with multimethod forgets parameters"
**Describe the bug**
When extracting a function from a multimethod, extracted parameters are "forgotten" in the new method.

**To Reproduce**
Steps to reproduce the behavior:
1. create a new clojure project, open in VSCode with Calva
2. type in
[code]

3. select (println "values are" a) and Control-Shift-R:Extract Function
4. the new function invocation and definition won't have the parameter "a",

[2022-09-21 12:39] fabiodomingues opened #1264 "[clj-depend] Add `source-paths` only when it is nil or empty"
**Is your feature request related to a problem? Please describe.**
Today clojure-lsp overrides the `source-paths` attribute of the clj-depend config, and the path to the tests is sent along with the source paths. Making users unable to make the analysis happen only in specific source folders.

**Describe the solution you'd like**
The ideal would be for clojure-lsp to fill this attribute only if it

[2022-09-21 12:45] fabiodomingues opened #1265 "[clj-depend] Extract the responsibility for merging the configs to the clj-depend API"
Related to https://github.com/clojure-lsp/clojure-lsp/issues/1264.

**Is your feature request related to a problem? Please describe.**
By extracting the responsibility for merging the configs to the clj-depend API, clojure-lsp will be less dependent on these particularities.

**Describe the solution you'd like**
Delegate to clj-depend the merge of configs.

**Describe alternatives you've considere

[2022-09-21 15:36] sheluchin opened #1267 "Refactoring: cycle different ways to perform iteration"
**Is your feature request related to a problem? Please describe.**
There are many ways to do iteration in Clojure and some iteration functions have closely related functions that achieve roughly the same thing, but with some trade-offs in performance, readability, composability, etc.. Just two examples (not a complete list):
- `doseq` <-> `run!`
- `->>` <-> `eduction`, `transduce` ([comment](https

[2022-09-21 15:55] #1264 closed

[2022-09-23 04:40] skylize opened #1268 "Moving cursor inside empty parentheses throws exception when followed by reader macro comment"
**Describe the bug**
Exception `Request textDocument/codeAction failed` thrown in Calva when moving cursor inside of or directly left of empty parens followed by reader syntax comment of a valid form.

**To Reproduce**
Minimal case
[code]
Using arrows or mouse, move cursor inside the first pair of parens to trigger. Or place the cursor inside the parens and restart the server. It triggers immediat

[2022-09-23 12:23] lassemaatta opened #1269 "The "Add require" code action is too aggressive when updating call sites("
**Describe the bug**

Given a call site like `(foo/some-function)`, which refers to the non-existing ns alias `foo`, `clojure-lsp` will provide a `Add require '[some.ns.foo :as foo]' x N` code action, which will add the missing require with an alias. The code action seems to also "optimize" any other similar fully-qualified calls  `(some.ns.foo/some-other-function)` (or similar) to `(foo/some-othe

[2022-09-23 12:46] ericdallo commented on #1269
Good corner case, WDYT @snoe, maybe we should drop this feature as it has chances of making a code "invalid" and I don't see that replace on other places of the file that useful

[2022-09-23 18:23] skylize commented on #1268
<details>
 <summary><b>Log - client <-> server</b></summary>
<pre>
[Trace - 2:19:09 PM] Sending request 'initialize - (0)'.
Params: {
    "processId": 120179,
    "clientInfo": {
        "name": "Visual Studio Code",
        "version": "1.71.2"
    },
    "locale": "en-us",
    "rootPath": "/home/sky/edu/clojure/lsp-bug",
    "rootUri": "file:///home/sky/edu/clojure/lsp-bug",
    "capabilities": {

[2022-09-23 18:40] skylize commented on #1268
Throws anywhere inside list form that contains an unbalanced map.

**To Reproduce**
Minimal case
[code]
Cursor anywhere except after the entire form to throw exception.

---
Same with any unbalanced map,
[code]
infinite nesting of any bracket type, provided the outermost pair is parentheses, and at least one pair is curly braces,
[code]
and any amount of whitespace, except while the cursor has whi

[2022-09-23 21:24] mainej opened #1270 "A second rename can offer an incorrect initial name"
**Describe the bug**
Sometimes if you do two renames in a row the name offered initially during the second rename is wrong.

**To Reproduce**
Steps to reproduce the behavior:

[code]
Start rename, seeing `Rename long-param-name to: long-param-name`. Change the name to `long-param`, so that the code looks like this:
[code]
Now, as quickly as possible, start rename again. The bug is that you will se

[2022-09-23 21:53] #1270 closed

[2022-09-23 23:04] #1240 closed

[2022-09-24 14:01] ericdallo commented on #1240
For anyone interested on this issue, it was merged on lsp4clj and made the necessary changes on clojure-lsp so it's available on nightly builds, please let us know if any issue. Kudos to @mainej for the huge help!

c/c @borkdude

[2022-09-24 22:24] #744 closed

[2022-09-24 22:26] ericdallo commented on #744
This is now available both programatically via `clojure-lsp.api/dump` and via CLI `clojure-lsp dump`.

ATM the new dump output is:

`:project-root` a string path representing the project root.
  `:source-paths` list of source-paths considered by clojure-lsp.
  `:classpath` list of paths of found classpath.
  `:analysis` clj-kondo analysis normalized for clojure-lsp usage.
  `:dep-graph` Dependency

[2022-09-27 07:57] eccentric-j commented on #159
Hitting this myself with latest clojure-lsp and neovim.

I get signatures for custom functions, but only name for core functions. Also a shadow-cljs project.

[2022-09-27 19:01] isacjunior opened #1279 "Generated cache files warnings"
**Describe the bug**
The generated cached files are being validated by clojure-lsp and I see some warnings on VSCode editor.

Cached file: `.lsp/.cache/stubs/datomic/api.clj`

**Expected behavior**
As these are only cached files, they shouldn't display the errors.

**Screenshots**

![Screen Shot 2022-09-13 at 15 03 50](https://user-images.githubusercontent.com/12630335/192612876-e9c2a83a-d7ac-4c82

[2022-09-29 04:56] itkach opened #1280 "cljfmt indents with regexep has no effect"
Following cljfmt config has no effect:

[code]
This is based on example at https://clojure-lsp.io/settings/#project:

[code]

Note that example itself is not valid EDN (`missing value for key [[:inner 0] [:inner 1]]`)

**To Reproduce**

1. Create `.lsp/config.edn` with the following config:
[code]
2. `M-x lsp-workspace-restart` (or restart editor)
3. Verify config applied (`M-x lsp-clojure-server-

[2022-09-29 16:08] ericdallo commented on #1279
We should on didClose ignore drop diagnostics of those files as we do for external opened files.

[2022-09-29 17:58] snoe opened #1281 "Hover on local shows information in function call position"
**Describe the bug**
Hover is showing information for things not under the cursor. Even though parameters and local bindings have little information to show it's better to be told it's a local than showing information for something unrelated that could (in a long function) be completely off screen.

**To Reproduce**
Given the following code and the cursor `|` at these three positions (p1,p2,p3).
[

[2022-09-29 20:00] kdchabuk opened #1283 "In a multi-arity function, "move to let" is incorrect within arity-0 form"
**Describe the bug**
In a multi-arity function, "move to let" is incorrect within 0-arity form; the new binding is placed outside the 0-arity form.

**To Reproduce**
Steps to reproduce the behavior:
Consider this code in VSCodium with Calva and clojure-lsp extensions:
[code]
Highlight `0`, push Ctrl+., and choose "move to let". You will get:
[code]
This results in an error because the `let` is out

[2022-09-29 20:41] snoe commented on #1269
Tricky... I think it's generally the quote boundary that we shouldn't touch - but sometimes (rarely) you do want a macro to pull from it's env rather than using syntax-quote.

If you have
[code]

in A, I would expect first two to change - I MIGHT want the quoted symbol to change in some scenarios and not in others
in B, same as A
in C, I'd be ok with either first and second changing or just first,

[2022-09-30 17:06] snoe opened #1287 "Regression: analysis within zipfile"
**Describe the bug**
analysis within jar files seems to have stopped. jump to definition and hover provide no information once inside a jar.

**To Reproduce**
in neovim,
jump to a definition in a jar dependency,
then try to jump to a second definition

**Expected behavior**
Expect to be able to continue navigating within jar files.

[Discussion in clojurians](https://clojurians.slack.com/archives/

[2022-10-01 15:04] #767 closed

[2022-10-01 15:10] ericdallo commented on #1281
@snoe that was actually intended as `a` is a local, when coding is useful to see the hover docs of the function being called otherwise the current symbol, for example:
[code]

It's useful to see foo docs to check arity and how many args the function has, unless a, b or c are another function call or something, do you have a more concrete example of why that would be better?

[2022-10-01 23:51] ericdallo commented on #1287
@snoe I added integration tests on 3108aedbd4ccd07adc42e520d6f1bd75ea1b546d testing both jar and zipfile hover requests on a external file and both worked, also I didn't find any exceptions or issues which could cause this regression, maybe bisect on your side? It seems to me it could be something on client side since integration tests work

[2022-10-02 00:18] blueskyonmars commented on #1263
I debugged into transform.clj#extract-function.  Sure enough, it looks like `locals` doesn't have a :scope-end-row or a :scope-end-col for symbols defined in a defmethod.  This makes `shared/inside?` inside queries.clj#find-local-usages-under-form return false because it don't find any symbol with a scope that overlaps the expression that's being extracted.

I'm guessing this means that this also

[2022-10-02 13:55] ericdallo commented on #1263
@blueskyonmars it seems so, if you could repro a clj-kondo call that return local analysis without that, an issue on clj-kondo will be welcome!

[2022-10-02 15:00] ericdallo commented on #1287
I finally managed to test with nvim, and I can confirm it doesn't work, one thing I noticed is that nvim doesn't send `did-open` request like if it doesn't start lsp on that buffer WDYT?

[2022-10-02 15:14] mainej commented on #1281
I’ve never quite understood the difference between `hover` and `signatureHelp`. Is that relevant here?

[2022-10-02 15:27] ericdallo commented on #1281
signatureHelp was intended to help with that, but most editors and users rely on hover to see function docs/arity/examples, emacs for example, shows the current function on eldoc while typing.

[2022-10-02 15:51] blueskyonmars commented on #1263
I logged an issue for clj-kondo that reproduces it with out clojure-lsp: https://github.com/clj-kondo/clj-kondo/issues/1824

[2022-10-03 15:41] snoe commented on #1287
That would be hard to explain why older commits seem to work, maybe it's a change from lsp4j>lsp4clj?

[2022-10-03 15:57] snoe commented on #1281
@ericdallo it feels really inconsistent and confusing and afaict goes against the purpose of hover.
1. inconsistent:`(map |a d)` if a is a local or var, you get different behavior, so hover to get signature only works sometimes and from a user perspective I think it would be hard to know whether it will or not.
2. crosspurpose: I often lose track of what's a var or a local, hover should be able to

[2022-10-03 16:01] ericdallo commented on #1281
The idea for that was: why we would want to show locals docs if it's a local? We always try to show the current function being called docs

[2022-10-03 16:07] ericdallo commented on #1287
Hum, I don't think, lsp4j could only affect performance or huge bugs, all the rest is on clojure-lsp side, maybe check if that happens on the previous commit of lsp4clj change

[2022-10-03 16:40] snoe commented on #1287
Just hypothesizing maybe it was an unintended change from sync to async for `did-open`. Otherwise, explains previous versions of clojure-lsp working on the same client version?

[2022-10-03 17:17] ericdallo commented on #1287
I see, I think we can try to bisect that until find the commit that introduced the bug

[2022-10-03 19:24] ericdallo commented on #1281
Yeah, I can see how the 3 example is weird, but showing to me `z` on hover doesn't help either. I really think showing hover for
`map` in `(map |a b)` helps and it'd be nice to keep supporting that...
Do you think we should support both somehow? the code would not be hard to maintain, I know signatureHelp is a feature more intended to show that, but I doubt we would manage to change how clients pr

[2022-10-03 20:36] snoe commented on #1281
I think maybe you're approaching it as hover == docs; af `a` was a function var, you would expect the docs for `a` to show up right? I'm approaching it as hover is about what's under my cursor, I think that could include surrounding context like the surrounding function name and signature.

So for consistency, hover could:
- in call position do what it does now
- in arg position show:

e.g. **belo

[2022-10-03 21:17] ericdallo commented on #1281
I see, sounds good to me, especially if we keep showing call as the first line

[2022-10-04 21:56] mainej commented on #1252
#1286 navs to the root `:forms` node, so this is fixed. As noted in that PR, we still have to be careful about empty files, but files that start with comments are no longer a problem.

[2022-10-04 21:56] #1252 closed

[2022-10-05 15:44] PEZ opened #1306 "Missing requires autocompleted to `ns` even when require exists in the file"
**Describe the bug**

When autocompleting a function from a namespace that is required using `(require ...)` the namespace is added in the `(:require ...)` list of the `ns` form. This happens even when the function is autocompleted from with in a Rich `(comment ...) ` form.

**To Reproduce**

From @seancorfield

The ns insert occurs when I accept an auto-complete suggestion from the newly-aliased

[2022-10-05 15:53] PEZ opened #1307 "Make adding missing requires more configurable"
**Is your feature request related to a problem? Please describe.**

Related to:

* #1306

I most often do not want help with adding requires to the `ns` form. This is mostly because I like to manage the `ns` form myself. Keeping unused things there sometimes. And I experiment a lot with different libraries so am often just not ready to add it to the `ns` form.

**Describe the solution you'd like**

[2022-10-07 16:25] athomasoriginal opened #1315 "Add support for formatting with zprint"
**Is your feature request related to a problem? Please describe.**
It would be great to be able to choose to format with zprint instead of exclusively using cljfmt.

**Describe the solution you'd like**
When running  `format` it would be great if it could be configured to use `zprint`.  Additionally, we should be able to pass in custom configurations.  At a minimum, something akin to `zprint '{:se

[2022-10-07 22:12] ericdallo commented on #1315
Thanks for the report!
As mentioned in the original conversation, we could consider adding support for zprint in the future, but we should not cause any breaking change to existing cljfmt users, also, we would need to check if adding zprint as one more dep would affect binary size, performance

[2022-10-09 00:08] mainej commented on #1287
@snoe this is never the most satisfying answer to give or receive, but... Have you tried deleting `.lsp/.cache` and restarting clojure-lsp?

[2022-10-09 00:30] mainej opened #1316 "Add missing requires from `comment` should not add to ns"
**Is your feature request related to a problem? Please describe.**

Currently `add-missing-require` always adds the missing namespace to the `ns`'s `:require` form. But when in an RCF, a top-level `(comment ...)` form, this isn't what some users want. They feel that this clutters their `ns` with namespaces that aren't really used. They'd prefer that the missing namespace be put in a `(require ...)

[2022-10-11 17:26] snoe commented on #1287
@mainej yup, I didn't delete on each bisection, but i did between the previous release (from sept) and `master` (basically oct release)

[2022-10-12 18:24] #1131 closed

[2022-10-12 18:28] #1229 closed

[2022-10-12 18:50] ericdallo commented on #1316
I see 2 good possible options:
- Add support as a flag, we can discuss the default value.
- Always ask when adding a require inside a RCF if user wants to add on comment or top-level ns

[2022-10-13 17:22] mainej commented on #1316
Yeah, either of those would work. Prompting the user is a nice idea. This is a rare enough use-case that a prompt wouldn't be too intrusive, IMO.

[2022-10-14 21:48] ericdallo commented on #1211
@ikappaki is this done after all your recent improvements?

[2022-10-14 21:49] dharrigan commented on #1287
After performing a bisect, I get this:

[code]

[2022-10-14 21:52] dharrigan commented on #1287
The commit prior to `d6ca21a6`, namely `282ccee55cabf286dfa428326cf7f8259ff69c4b` works fine.

[2022-10-14 21:52] ikappaki commented on #1211
Hi @ericdallo, the only thing left is to correct the formatting of the writing tests section of the documentation here, which some how comes back garbled: https://clojure-lsp.io/development sorry haven't figured out yet how this page is generated and how to "debug" it ... :(

[2022-10-14 21:58] ericdallo commented on #1211
No problem, I can take a look, usually running `make local-webpage` should build the docs locally

[2022-10-14 22:00] ikappaki commented on #1211
yeah, it asks me for a password and I don't have a docker account ...

(btw it is `bb local-webpage` now :) )

[2022-10-14 22:04] ericdallo commented on #1211
Oh, I think that's because the docker image comes from [here](https://github.com/clojure-lsp/docs-image), I should make it public somehow

yeah haha, just fixed on master

[2022-10-14 22:05] ericdallo commented on #1211
The image is public, but you need to make your docker login on github to download images from github :/

[2022-10-14 22:06] ikappaki commented on #1211
... :)

[2022-10-14 22:10] ikappaki commented on #1211
btw, if you don't mind me asking, why bother with docker images for this simple task, i.e. converting an md file to an html page? I'm not sure where the complexity is coming from

[2022-10-14 22:13] ikappaki commented on #1211
Great thanks, I can see it is now formatted correctly, I'm closing this as completed!

[2022-10-14 22:13] #1211 closed

[2022-10-14 22:16] ericdallo commented on #1211
We use [mkdocs-material](https://squidfunk.github.io/mkdocs-material/) for the webpage, and we have specific plugins [here](https://github.com/clojure-lsp/docs-image/blob/master/Dockerfile#L3-L6), if we don't use docker, we would need to install mkdocs-magerial on each machine along with those python plugins in specific versions, having it in a docker image is way easier to manage and update IMO.

[2022-10-14 22:24] ikappaki commented on #1211
or a couple of bb tasks, one to install the tools + packages, the other to run it to convert the files. Though I haven't looked into the details of the workflow, so I could be missing a lot :)

[2022-10-18 22:30] #1287 closed

[2022-10-19 12:21] stevemolitor opened #1329 "Cannot Complete Java Classes"
**Describe the bug**

I cannot complete Java classes in clojure-lsp in Emacs. Regular clojure (ie `map`, `filter`, etc) completes just fine.

**To Reproduce**

Type `java.io.F` and trigger completion. You will not see any candidates.

**Expected behavior**

If I type `java.io.F` and trigger completion, I should see candidates.

**Screenshots**

Trying to trigger completion of Java classes in Emacs

[2022-10-19 13:01] ericdallo commented on #1329
We never had this feature because until recently we didn't have java analysis from clj-kondo, I think we can add this kind of completion now, but need to double check

[2022-10-21 14:32] ericdallo commented on #1329
This is a possible fix: https://github.com/clojure-lsp/clojure-lsp/pull/1331

[2022-10-23 21:43] ericdallo opened #1333 "Custom refactorings support"
**Is your feature request related to a problem? Please describe.**

This is a start to discuss what'd be needed to support a feature similar to clj-kondo hooks, where users can code they own listing of a macro/function.

It's pretty common to receive requests to support user's custom refactorings, some pretty specific and others more common for clojure community. It'd be nice if we could provide s

[2022-10-23 22:05] ericdallo commented on #1279
I confirmed clojure-lsp already disconsider the file diagnostics when closing it, tested on both emacs and vscode so I'm closing this, LMK if otherwise

[2022-10-23 22:05] #1279 closed

[2022-10-24 11:21] borkdude commented on #1333
Sure, I could help.

[2022-10-28 21:29] pfernandez opened #1341 "Troubleshooting doc out of date?"
**Describe the bug**
When trying to follow the troubleshooting steps at https://clojure-lsp.io/troubleshooting/#server-is-not-initializing, no error message is printed to stdout when running
[code]
as instructed. It's I've tried this in MacOS and Parallels (Debian) with the same result.

**To Reproduce**
Try running `{}\n\n` with the latest version of clojure-lsp.

[2022-10-28 22:57] pfernandez commented on #1341
FYI, the thing I was troubleshooting was that clojure-lsp isn't initializing in the last release of coc.nvim (at least for me). I've opened an issue with them as well: https://github.com/neoclide/coc.nvim/issues/4329.

[2022-10-28 23:55] mainej commented on #1341
@pfernandez see #1342 for a fix to `clojure-lsp`'s troubleshooting docs.

I'm not super familiar with coc.nvim, but scanning through https://github.com/neoclide/coc.nvim/issues/4329, here's my guess as to what's happening:

In [a3d271d](https://github.com/neoclide/coc.nvim/commit/a3d271d), coc.nvim completely refactored how it reads and generates its configuration settings. I would guess that some

[2022-10-29 00:25] pfernandez commented on #1341
Thanks! I tried it and it works now. I did leave a comment about the `--trace-level` part though. Maybe that's going to be added in the next release.

Honestly I've spent all the time I have at the moment, and I'm hoping these two issues I've created will provide enough breadcrumbs that the CoC folks will figure it out. Or maybe @NoahTheDuke, the author of the [coc-clojure](https://github.com/Noah

[2022-10-29 01:45] NoahTheDuke commented on #1341
I don't have much dev time on the weekends but I'll take a look when I get a chance. I try to keep up to date with coc's changes, but tbh, they move so fast it can be tiring to keep up. Maybe I should just stick with supporting major releases lol.

[2022-10-29 19:13] #1341 closed

[2022-10-29 19:41] chemzqm commented on #1341
The issue caused by `"clojure.initialization-options.log-path": ""` coc-clojure could set the default value to `null` or exclude it if it's empty string.

[2022-10-29 19:53] ericdallo commented on #1280
I know why, it's a bug on the settings cache, we are reading multiple times which is ok but merging it wrongly

[2022-10-29 20:02] ericdallo opened #1345 "Bump to Graal 22.3.0"

[2022-10-29 21:20] NoahTheDuke commented on #1341
Thanks @chemzqm! I'll fix and release tonight.

[2022-10-30 16:14] #1345 closed

[2022-10-30 16:15] ericdallo opened #1351 "Bump windows binary to graalvm 22.3.0"
https://github.com/clojure-lsp/clojure-lsp/pull/1350#issuecomment-1296184768

[2022-10-30 23:38] #1329 closed

[2022-10-30 23:38] ericdallo commented on #1329
This should be fixed, you can try a nightly build or wait for next release

[2022-10-31 02:49] ericliou opened #1352 "Autocomplete of ns doesn't work when there's no alias to it"
**Describe the bug**
In Emacs, when requiring a ns without an alias, autocomplete doesn't seem to work.
Even with an alias, it still fails at some weird cases.

I also tried with the same clojure-lsp server in nvim and it works every time <3. So it looks like the problem is isolated around integration with emacs.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the suggested init.el from

[2022-10-31 12:45] ericdallo commented on #1352
@ericliou I suspect this is a clojure-lsp bug pretty specific to not being able to complete a invalid code `foo/` at the end of the file like:

[code]
The `/` ☝🏻 is the last char in the file and clojure-lsp doesn't understand that well

[code]
Auto completing after `/` here works because `/` is not the last char.

I know is pretty weird, but could you try both and LMK?

[2022-10-31 14:00] NoahTheDuke commented on #1269
Please don't remove the feature, lol. It's one of my favorite lsp features. I don't have much time to write a fix for this, but I'd be willing to test any PRs for the fix if that would help.

[2022-10-31 16:07] ericdallo commented on #1269
Haha, I meant drop the feature for that specific case, I do think the add require feature is one of the most important features of clojure-lsp as well :)

[2022-10-31 17:39] ericliou commented on #1352
Tried with the case where the file ends with closing paren and it didn't work.

With an alias, `(:require [foo.car :as c])`:
`c/` this works reliably, so it makes me believe that `/` isn't the issue.

So.. I tried something else and it changed the problem a bit.
`(setq lsp-completion-no-cache t)`

These cases started to autocomplete functions reliably:
- `foo.car`
- `(foo.car)

The only issues tha

[2022-10-31 18:35] ericdallo commented on #1352
That's weird, this seems to work properly to me, I also have lsp-completion-no-cache enabled but for development purposes.

![Peek 2022-10-31 15-32](https://user-images.githubusercontent.com/7820865/199083605-70320513-75e6-472e-a80f-1f9992ab7b26.gif)

[2022-10-31 18:36] ericdallo commented on #1352
Uh, I do notice that we doesn't suggest `foo.bar` on that gif, that would be something to fix on server side, nothing more besides that as I can see

[2022-11-02 00:12] pfernandez commented on #1341
I just tried it all in both MacOS and a Debian VM, and it's working great now. :100:

While you're all in the room-- thanks for making Vim the most awesome IDE ever, especially for Clojure.

An nrepl isn't even necessary anymore with such great static analysis. Pairing it with [zepl.vim](https://github.com/axvr/zepl.vim) to `ReplSend` expressions to a basic repl, I'm pretty sure I've got every fea

[2022-11-02 02:27] #1352 closed

[2022-11-02 02:28] ericdallo commented on #1352
Fixed on master, available on next release (a couple of days probably)!

[2022-11-03 02:47] thomasjm opened #1363 "Spec compliance: clojure-lsp sends $/progress messages before initialize handshake completes"
**Describe the bug**

According to the LSP spec (v3.17):

The rules are a little complicated, but I believe `clojure-lsp` is in violation because it sends `$/progress` notifications with a token of `clojure-lsp` before the initialization handshake has completed, even though the client hasn't set up such a progress token in the initialization params.

This surprises my LSP test harness (based on Ha

[2022-11-03 11:47] ericdallo commented on #1363
Hey @thomasjm thanks for bringing this, I was kind of aware of that 😅 and not sure how we should improve that because it's a critical thing for clojure-lsp:
During `initialize`, clojure-lsp scan project and external jars which is the most expensive task of clojure-lsp, and this can take some seconds even minutes on huge projects, we have a fine tuned progress indication of that sent via `$/progres

[2022-11-03 11:52] ericdallo commented on #1363
I know `initialize` is a notification, but for clojure-lsp it doesn't make much sense to initialize the server without those analysis, that's why we hang that notification until everything is working properly

[2022-11-03 11:56] thomasjm commented on #1363
I think there's a simple way to be compliant: only enable the behavior if the initialize params contain a `workDoneToken` (and use that token value instead of `clojure-lsp`). Hopefully most editors have that capability already.

However, is it really necessary to do this expensive scan before returning the initialize response? Generally speaking the initialize response just tells the client about

[2022-11-03 12:37] ericdallo commented on #1363
I think we already do that [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/cli/src/clojure_lsp/server.clj#L499)

I thought about that, but I think we would fall in a state where client thinks it's ready to send requests like `definition`, `hover` etc, but server has no analysis about the code yet, making users think server is not working or something.

[2022-11-03 15:13] thomasjm commented on #1363
Well if that were the case then there wouldn't be a problem :P. I think the problem is [here](https://github.com/clojure-lsp/clojure-lsp/blob/df7ff55d30c5dbeb0a3e28b7bcc21df6bf319a1e/cli/src/clojure_lsp/server.clj#L134), where the `publish-progress` method chooses a default value for `progress-token` when it is `nil`. Instead what it should do (at least in the initialization case) is not send the

[2022-11-03 15:15] ericdallo commented on #1363
I think must be a bug but we can change that as well.

Yes, in theory, but I don't think all editors will behave like that, we could do a POC in a branch and test that, it client UX is not affected I'm completely fine with that

[2022-11-03 15:32] thomasjm commented on #1363
:+1: I think the first change is the only one needed to be spec compliant. But the second one is needed to be "normal" :P

Not sure what you mean about the server being ready -- but I've been writing tests against lots of different LSP implementations and I promise that's how they all work, it should be fine for editors. For example, I use Haskell's LSP server all the time and I just confirmed thi

[2022-11-03 15:42] ericdallo commented on #1363
Good, I meant we have our own implementation of the LSP protocol on server side [lsp4clj](https://github.com/clojure-lsp/lsp4clj), so we might be no ready and need more changes, but sounds like the correct path.

I'll take a look later today to fix the token if there is a bug there

[2022-11-04 12:57] ericdallo commented on #1363
@thomasjm I made a commit adressing the publish of progress only if client provided the token, I'll keep this issue opened for the spec compliance

[2022-11-04 23:04] thomasjm commented on #1363
Thanks for the fast turnaround!

I usually build everything with Nix and I'm having a little trouble -- I noticed you're the maintainer on Nixpkgs so thought I'd ask here. It seems like the Nix derivation depends on downloading an external JAR from an existing GitHub release [here](https://github.com/NixOS/nixpkgs/blob/db3f2b35d30930b22730f7ead3eb1a1d7b9f4865/pkgs/development/tools/misc/clojure-ls

[2022-11-05 08:06] lispyclouds opened #1366 "Better project-path default behaviour"
**Is your feature request related to a problem? Please describe.**
As per this slack [thread](https://clojurians.slack.com/archives/CPABC1H61/p1667561342540909) in order to make clojure-lsp prefer deps.edn over project.clj, I should be able to specify the `:project-path` to point to just deps.edn and it should ignore project.clj.

**Describe the solution you'd like**
As mentioned in https://clojur

[2022-11-05 08:29] lispyclouds commented on #1366
When looking at the source, I do see the complexity in implementing this. I believe we need to do a merge of `%` and `default-project-specs` [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/lib/src/clojure_lsp/startup.clj#L185).

But the merge needs to be smart about only finding the relevant map from the defaults where the `:project-path` matches and the inject the default `:classpat

[2022-11-05 08:32] lispyclouds commented on #1366
I was thinking the merge could check for `"deps.edn"` as a substring match in the ones provided by the user and if that matches, we inject the default `:classpath-cmd` maybe?

[2022-11-05 20:20] ericdallo commented on #1366
Yep, pretty tricky, I was thinking if we should just leave current project-spec as it is and deprecate in favor of a new setting thinking better those cases, something more simple with good defaults, WDYT? do you have anything in mind as a new better behavior?

[2022-11-06 11:29] lispyclouds commented on #1366
Yes, I would second a better and cleaner implementation deprecating this one. I suppose the config being a vec of maps is to have some form of priority? Would be nicer I think if its just a map maybe? something like this, showing the defaults:
[code]
This for me seems to be a more intuitive config and I think would be easier to merge with user provided config? Each part of the conf could be overri

[2022-11-06 13:10] ericdallo commented on #1366
Looks better, maybe rename `project` to `classpath-discovery`?
We would need to handle projects using legacy config and this one, taking precedence the ones that have only project-specs but if have the new config it´d override any project-specs I think.

This setting would be used only during startup since it's used on `clojure-lsp.startup`, I don't think we need auto-refresh for this setting so,

[2022-11-06 13:20] ericdallo commented on #1363
@thomasjm, we recently added a flake at project root, check [here](https://clojure-lsp.io/installation/#nix), LMK if something is not working

[2022-11-07 09:47] lispyclouds commented on #1366
`:classpath-discovery` seems better and then I think we can use `:cmd` instead of `:classpath-cmd`. Merging this map with the `:project-specs` vector is still a bit complex I think. But in the end this should be a better solution for me!

[2022-11-07 15:26] ericdallo commented on #1366
Agreed, I would go via a simpler idea of just which one was passed `project-specs` or `classpath-discovery` and using it, if both were passed, use `classpath-discovery`, avoiding merging both configs or something like that

[2022-11-07 15:28] lispyclouds commented on #1366
Makes sense!

[2022-11-07 15:28] ericdallo commented on #1363
Ops, we need to update the flake, we dropped `make` some weeks ago, we use `babashka` now via `bb cli-jar-for-native`

[2022-11-08 18:59] bhlieberman opened #1368 "Extending a protocol does not clear `unused-public-var` warning"
**Describe the bug**
When extending a protocol with `extend-protocol`, the method signatures in the corresponding `defprotocol` still show the warning `unused-public-var`.

**To Reproduce**
Steps to reproduce the behavior:
1. Recreate this code:

[code]

**Expected behavior**
Extending the protocol should clear the warning.

**Screenshots**
If applicable, add screenshots to help explain your probl

[2022-11-09 12:17] ericdallo commented on #1368
WIP [here](https://github.com/clojure-lsp/clojure-lsp/pull/new/fix-unused-public-var-for-protocols)

[2022-11-09 23:25] thomasjm commented on #1363
Hmm, I tried a little bit to put in the `bb` call but haven't gotten it to work. This is blocking my building it to test the progress messages fix, do you happen to have an ETA for the flake fix? Thanks!

[2022-11-10 15:05] Cyrik opened #1369 "Qualified/namespaced maps should show up in references for that ns/keyword"
**Is your feature request related to a problem? Please describe.**
I'm often calling "find reference" on namespaced keywords/namespaces. This does not find reader-macro referenced maps like `#:some-ns{:a 1}`

**Describe the solution you'd like**
Those occurrences should be returned from `textDocument/references` calls.

[2022-11-10 15:16] ericdallo commented on #1369
@Cyrik could you elaborate a little bit with a example?
This seems to work for me:

![2022-11-10_12-14](https://user-images.githubusercontent.com/7820865/201133605-9c9366f6-1b32-4671-ad1b-533270d966d4.png)

[2022-11-10 15:37] Cyrik commented on #1369
Ah yes sorry, context...
I was actually talking about the `:foo` bit.
I was about to add that rename working would also be great, but I now realize that that's kind of a lot to ask if you rename one of the inner keys. I'd be happy if I got an error on rename, so I realize it would go wrong. Renaming a qualified key is actually how I ran into wanting this feature.

[2022-11-10 15:45] ericdallo commented on #1369
I can repro the issue with rename, which we can improve I think to rename the `#:foo` part when renaming `:foo/bar` -> `:bar/foo` for example, but I can't understand where the issue is in `textDocument/references`

[2022-11-10 15:52] Cyrik commented on #1369
`#:fo|o{:bar 1}` cursor at | produces =>
[code]
the same is true for ::foo if I had it referenced.
I think this should return either all instances for `#:foo` or even better all `:foo` qualified keywords.

[2022-11-10 16:01] ericdallo commented on #1369
yes, sounds like a new feature indeed, I never prioritized as it didn't seem that common to need to find all keywords of a namespace of namespaced keyword, the rename seems more important to fix though

[2022-11-13 06:11] mainej commented on #210
clj-kondo does have lint for this, which it calls `:redundant-do`. We could consider adding a `do`, running an extra lint to see if clj-kondo would complain, then removing the `do`. Or we could duplicate [the logic](https://github.com/clj-kondo/clj-kondo/blob/4bd9cca90b235e9e4553d980644cc41d1614a2e3/src/clj_kondo/impl/analyzer.clj#L790-L805) it uses. Comparing its list of expressions where a do is

[2022-11-14 00:05] mainej commented on #210
`for` expects 2 arguments, so it shouldn't be a candidate. Revised list:

[code]

[2022-11-15 20:30] ericdallo opened #1373 "dev flake not working after make -> bb migration"
After we replaced all makefile tasks with babashka, the flakes.nix derivation stopped working:

repro on project root:
[code]

[2022-11-15 20:31] ericdallo commented on #1373
I tried replacing the `make cli-jar-for-native` with `${pkgs.babashka}/bin/bb cli-jar-for-native` [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/flake.nix#L31), but it seems babashka is trying to download something from internet witch is not possible during nix builds:

[code]

Any thoughts @jlesquembre?

[2022-11-15 20:32] ericdallo commented on #1363
Created a issue about the nix flake not working: https://github.com/clojure-lsp/clojure-lsp/issues/1373

[2022-11-16 10:29] jlesquembre commented on #1373
clj-nix doesn't look for the babashka dependencies (in `bb.edn`), and those deps are not added to the lock file.

Also, looks like babashka expects a specific `clojure-tools` version, in the `~/.deps.clj` directory. Maybe we could fix that directly in nixpkgs.

I'll look into this, but I'm not sure when.

[2022-11-16 11:36] ericdallo commented on #1373
Thank you!

[2022-11-16 18:33] scotts777 commented on #146
Does clojure-lsp provide extra commands for paredit commands such as barf and slurp?

[2022-11-16 21:23] ericdallo commented on #146
ATM no @scotts777, it does provide some unique ones like `drag`,  and others, check [here](https://clojure-lsp.io/features/#clojure-lsp-extra-commands)

[2022-11-17 13:41] ericdallo commented on #1191
It seems related to the fact of clean-ns didn't did-open again the file, using a cached text from before format task, so this may only happen when user call `format` and then `clean-ns` in the same clojure-lsp process.

[2022-11-19 19:08] #210 closed

[2022-11-20 23:35] sheluchin opened #1383 "Add a `clojure-lsp dump` flag like `--ignore-libs` or `--project-only` to ignore external libs"
**Is your feature request related to a problem? Please describe.**
I want to be able to use clojure-lsp's analysis data on different Clojure projects, but without installing and analyzing all of their dependencies. My understanding is that, at present, LSP follows and runs analysis on all classpath entries.

**Describe the solution you'd like**
Add a flag to allow dumping lightweight LSP analysis

[2022-11-20 23:43] sheluchin opened #1384 "`clojure-lsp dump`: Allow user to provide clj-kondo analysis configuration"
**Is your feature request related to a problem? Please describe.**
In some cases LSP users may want additional clj-kondo analysis data which LSP currently does not ask for nor need.

**Describe the solution you'd like**
Allow a [clj-kondo analysis config](https://github.com/clj-kondo/clj-kondo/tree/master/analysis#extra-analysis) map to be passed in when running the `clojure-lsp dump` command. Thi

[2022-11-21 11:57] ericdallo commented on #1383
I wonder if we should as default bring project analysis, and add a flag to include external as well, not sure what is the more common usage

[2022-11-21 11:58] ericdallo commented on #1384
This should not be hard to implement, any suggestion for the flag name to dump command?

[2022-11-21 13:47] #1383 closed

[2022-11-21 13:48] ericdallo commented on #1383
@sheluchin this should be fixed, by default now the dump command will analyze only project and not external deps, for change that you need to `clojure-lsp dump --analysis '{:type :project-and-dependencies}'`

[2022-11-21 19:39] sheluchin commented on #1384
@ericdallo if brevity is not much of a concern `--clj-kondo-analysis-config` seems fairly self-explanatory. Otherwise maybe something like `--analysis-config`, `--analysis-overrides`, `--clj-kondo-config-extras`, `--clj-kondo-analysis` and so on.

[2022-11-21 20:05] ericdallo commented on #1384
I´d like to use the existent `--analysis EDN` option that now exists after previous commit, WDYT? so maybe we could have `--analysis '{:project-type :project-and-dependencies :clj-kondo-overrides {...}}'`

[2022-11-21 22:39] sheluchin commented on #1384
Yeah, good point, @ericdallo. That previous ticket already provides the `--analysis` key to give the clj-kondo context to options, so extending the map here is a good idea 👍

[2022-11-22 18:53] dannyfreeman opened #1385 "Recondsider how navigation to dependencies that are not readily available on the client filesystem are handled"
**Is your feature request related to a problem? Please describe.**
Currently clojure-lsp has a couple different ways of handling navigation to dependencies via methods like [textDocument/definition](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textDocument_definition).

If a definition is located inside the project, a `file://` URL is provided to the

[2022-11-23 03:11] NoahTheDuke commented on #1047
To expand this ask a little, can removal of unused imports and indentation/etc be applied to the require forms as well? Or maybe make this a code action?

[2022-11-23 11:13] ericdallo commented on #1047
I think makes sense to apply to all require forms

[2022-11-23 15:26] NoahTheDuke opened #1386 "Multiple :require forms in ns macro confuse "organize imports""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

Put the below in an empty file, run "organize imports" action on it. Only the first `:require` form is sorted and the `[b :refer [x]]` line removed. The second `:require` form is untouched.

Input:

[code]

Output:

[code]

**Expected behavior**
All `:require` forms are orga

[2022-11-23 15:37] ericdallo commented on #1386
Agreed, TBH I didn't even know was possible to specify multiple :require/imports etc, is there any reason to one want that over a single one?

[2022-11-23 15:55] ericdallo commented on #1386
Oh got it, I think makes sense, should not be that hard to support that

[2022-11-23 19:26] crimsonhawk47 opened #1388 "2022.11.03-00.14.57 Does not allow renaming on windows"
**Describe the bug**
This is happening in calva.
You can't rename any symbols on windows for Calva using clojure-lsp in the latest version. The error is "Can't rename, no element found." There is no calva version that works with this version of clojure-lsp. However, previous versions of clojure-lsp work.

The issue was originally investigated on Calva here: https://github.com/BetterThanTomorrow/ca

[2022-11-23 22:16] ericdallo commented on #1388
Maybe @ikappaki can help as he uses windows and helped with Windows improvements

[2022-11-23 23:49] ikappaki commented on #1388
I narrowed it down, it's due to https://github.com/clojure-lsp/clojure-lsp/commit/2b078904ff3bcb79640f20264b8faa16a6c5b204

I'll see if I can find some time to debug tomorrow.

[2022-11-24 08:01] ikappaki commented on #1388
The rename request handler is missing the `normalize-doc-uri` fn

[code]

I'll do a PR later today.

[2022-11-24 14:29] ericdallo commented on #1385
Great explanation of the problem @dannyfreeman, thank you!
I find the "do everything on server" solution better to have better control and avoid different approaches on different clients. I think the upstream LSP spec issue may help a lot deciding what to do on clojure-lsp as all choices seem to have tradeoffs indeed.

Regarding "dependency-scheme", one thing we can already discuss is the zipfile

[2022-11-24 17:34] ericdallo commented on #1385
The main reason I recall @snoe mentioning was that was allowed to edit the dependency in the fly, I personally dislike that but I can see people who think it's a good "feature".

[2022-11-24 22:08] #1388 closed

[2022-11-24 22:48] mainej commented on #1385
To clarify a little... the zipfile scheme exists _because_ some users want to be able to edit their .m2 directories. @snoe is a representative of this group.

However for other users, especially those who are using the zipfile scheme unintentionally, this "feature" can be a source of severe frustration. They "experiment" with editing a dependency file, thinking that it's just a harmless copy. Mayb

[2022-11-25 12:23] ericdallo commented on #1385
Thanks for the summary @mainej

We need to take care with this, as having a copy of a dependency in a source-path may cause on didOpen we analyze that and then count 2 references on different files which may affect lens, references and other features, we could still change code to ignore those files, but sounds tricky.

This would mean we would need to reload classpath on the fly to re-consider th

[2022-11-25 16:54] sheluchin opened #1390 "`dump` function should include data as EDN when passed `:format :edn`"
When called as the [example](https://github.com/clojure-lsp/clojure-lsp/blob/2022.11.03-00.14.57/lib/src/clojure_lsp/api.clj#L275-L279) in the docs shows (specifying `:output {:format :edn}`), the expectation that the dump data is included as EDN somewhere in the return value. The actual shape of the return value is `{:result-code 0 :message "..."}`, where the `:message` value is the EDN as a stri

[2022-11-25 21:21] #1390 closed

[2022-11-25 21:22] ericdallo commented on #1390
Done! now there is a :result in the output

[2022-11-25 23:50] ryfow commented on #266
I know this ticket is old, but I thought I'd just drop a note here that if you're running into exceptionally slow smartparens performance, try upgrading to the latest & greatest clojure-lsp before wandering down too many other rabbit holes.

[2022-11-28 13:45] ericdallo commented on #1363
Just a update on this, I quickly tried to start server immediately and then do the analysis and some things stopped working as I was guessing, so need to do a more careful change and understand that

[2022-11-28 14:32] ericdallo commented on #1128
@mpenet I'm considering some options:
- a command called `cycle-keyword-namespace-alias` (`c k` for the mnemonic), which would cycle between aliased namespaced keywords to namespaced keywords
- The command could ask to user after executed if they want to change all namespaced places that is using that notation to changed as well
- or we do the same question but only for that namespace

WDYT?

[2022-11-28 15:44] mpenet commented on #1128
That sounds good.

There are multiple possible scopes:

* change only the instance of keyword at point
* change all occurences in current namespace
* change all occurences in whole project
(* change all keywords in whole project) - I'd love that, but that might be overkill for most people.

[2022-11-28 16:19] ericdallo commented on #1128
yeah, I think we can start with the first 2

[2022-11-28 19:35] #1128 closed

[2022-11-28 19:36] ericdallo commented on #1128
Done!
![cycle-keyword-auto-resolve](https://user-images.githubusercontent.com/7820865/204365409-7dd657c5-0bc9-4754-9fdf-5127dfac40f1.gif)

[2022-11-28 20:22] thomasjm commented on #1363
Gotcha -- I'd be happy to test also, but it would be easier for me if I could do it using the flake. Any idea when that will be working?

[2022-11-28 20:36] ericdallo commented on #1363
The way we build the flake ATM uses https://github.com/jlesquembre/clj-nix and it doesn't support bb as a internal tool of the derivation, so we will need to wait for @jlesquembre help with that

[2022-11-28 21:07] jlesquembre commented on #1363
It's on my to-do list, but I didn't find time to work on it, sorry

[2022-11-29 05:19] mainej commented on #1385
Right... @ericdallo, I wasn't saying that clojure-lsp would participate, either in writing a file to `src/`, or in creating a directory that can be used as a `:local/root`. I was saying that users can do that themselves, IF they want to change the behavior of deps.

[2022-11-29 11:00] staifa opened #1393 "Allow clj-kondo config merge/override from `$XDG_CONFIG_HOME/clojure-lsp/config.edn`"
**Is your feature request related to a problem? Please describe.**
Currently I have no means to override clj-kondo project config (or I wasn't able to find out how). This bugs me for following reasons:

- I'd like to have an editor specific config - for example disabling conjure's log buffer linting is easy, robust and elegant with `:output {:exclude-files ["conjure-log*"]}`
- Our project config i

[2022-11-29 12:32] ericdallo commented on #1393
@staifa I understand your problem but I wonder if it's not possible to fix it using an already existing solution: IIRC clj-kondo already supports custom config in `$XDG_CONFIG_HOME`, wouldn't adding your custom editor config there would be enough?

[2022-11-29 12:51] staifa commented on #1393
I tried that not too long ago, but home config didn't override the project config, I spent several hours trying to make it work. The problem is that when this stuff doesn't work, you're usually up for a deep dive into the sources and not everyone has time or patience to do so. The solution I proposed here is foolproof and just works. I can give the home config another shot later today though, just

[2022-11-29 12:56] ericdallo commented on #1393
@staifa my concern is having a config hell, ATM clojure-lsp doesn't change clj-kondo config or allow any overrides because clj-kondo config management is pretty good, so it seems that for your case you want that clj-kondo allow a generic home config override a project specific config, so I wonder if clj-kondo should support that instead of clojure-lsp allow a custom config to override kondo config

[2022-11-29 13:20] staifa commented on #1393
@ericdallo Yes, your points are definitely valid and I'm well aware of them. I just opted for the easiest way here after weeks/months of waiting for a solution to come around and trying to make it work in some more or less hacky way...

[2022-11-29 13:32] borkdude commented on #1393
clj-kondo supports this by allowing `:config-paths ["your-extra-config"]` which will merge the config from the your-extra-config dir, and it ignores this when it doesn't exist.

[2022-11-29 13:52] ericdallo commented on #905
Isn't that done @mainej ?

[2022-11-29 14:19] ericdallo commented on #1393
@staifa is that enough for your case?

[2022-11-29 14:22] staifa commented on #1393
@borkdude Just verified. `:config-paths ["your-extra-config"]` doesn't override the project config. Only keys that are not present in the project config are merged in. It's stated in clj-kondo docs as well.

[code]

I'm running latest clj-kondo. Am I missing something here?

[2022-11-29 14:37] borkdude commented on #1393
Try `:config-paths ^:replace [...]`

[2022-11-29 14:52] staifa commented on #1393
@borkdude That would mean adding the command line config when starting clj-kondo from clojure-lsp, which is messier than my proposed solution imo...

[2022-11-29 15:02] ericdallo commented on #1393
@staifa not really, I think borkdude just mentioned this is already possible via the 2 existing entrypoints: `CLI`, via the `--config` and `JVM` via the `:config` that clojure-lsp passes, and your proposed PR uses the latter one which is really the solution.

[2022-11-29 15:03] ericdallo commented on #1393
As I said, it's a solution indeed, my only concern is that we would have clojure-lsp configs with clj-kondo configs inside, not sure how bad it's is, but it's certainly a little bit confusing for users

[2022-11-29 15:19] staifa commented on #1393
@ericdallo I actually came up with this solution when I was checking how I could pass the command line config via clojure-lsp and noticed that the code already manipulates the kondo config. But the more I think about it, the more it makes sense to change this in clj-kondo. Just by quickly looking into the code, I could more or less easily implement another metadata hint for `:config-paths`, someth

[2022-11-29 15:36] borkdude commented on #1393
`:config-paths` was invented for library configurations that you can opt-in to, while still being able to override them in your project.

But sometimes it's convenient for contributors to override the common project configuration for their local development.

Maybe we can have `:extra-config-paths` which get merged after the project config is merged.

[2022-11-29 15:49] ericdallo commented on #1393
Yeah, I like the idea of supporting that on kondo side as well.
`:extra-config-paths` doesn't make clear the difference between :config-paths, so maybe `override-config-paths` ? not sure, naming is hard indeed

[2022-11-29 15:57] borkdude commented on #1393
In deps.edn, the name `:extra-` is used when you want to add more stuff on top of what's in the project configuration.

[2022-11-29 16:12] ericdallo commented on #1393
I see, @staifa what do you think about that? if agreed, we could open a issue on clj-kondo with a possible follow-up PR if you want

[2022-11-29 16:16] staifa commented on #1393
This makes more sense in my opinion https://github.com/clj-kondo/clj-kondo/issues/1891
Ok to close @ericdallo ?

[2022-11-29 16:16] staifa commented on #1393
This makes more sense in my opinion https://github.com/clj-kondo/clj-kondo/issues/1891
Ok to close @ericdallo ?

[2022-11-29 16:24] ericdallo commented on #828
I think latest documentation already mention the command + the mnemonic, is that enough to close this issue @snoe or there is anything missing?

[2022-11-29 17:04] ericdallo commented on #1393
Thank you both!

[2022-11-29 17:04] #1393 closed

[2022-11-29 20:54] ericdallo commented on #1385
Really appreciate your help @dannyfreeman!

[2022-11-30 03:26] mainej commented on #905
@ericdallo, yes, I think this could be closed. A refactoring named `destructure-keys` was implemented in #1139.

A few features were discussed here that weren't implemented in #1139. We could make separate tickets if those things are still needed:

* `destructure-keys` doesn't destructure `(get foo :bar)`. However, because of #1175, this can be converted to `(:bar foo)`, which can then be destruct

[2022-11-30 15:07] #905 closed