[2018-04-16 05:09] snoe opened #1 "Submit to Homebrew"
It would be helpful to get a formula in homebrew

I guess this is the starting point: https://docs.brew.sh/Formula-Cookbook

[2018-04-16 05:15] snoe opened #2 "boot project support"
Should be able to get the classpath from boot using `boot show --fake-classpath`

[2018-04-16 05:18] snoe opened #3 "Clojure deps / CLI support"
https://clojure.org/guides/deps_and_cli

Should be able to get the classpath using `clojure -Spath` (local-dirs may not be absolute paths)

[2018-04-25 18:43] ggilmore opened #4 "Bump lsp4j dependency version"
I'm trying to use your language server, but I'm running into an issue where all the jsonrpc ID's for the responses sent to my client's requests are strings even if I sent an integer.

For example, if I sent a request with `{"id": 1}`, I'd get a response back with `{"id": "1"}`. [This is a specification violation](http://www.jsonrpc.org/specification#response_object) that prevents my client from be

[2018-04-25 18:53] ggilmore commented on #4
Actually, my bad. `0.3.1` doesn't include this fix, but their `0.4.x` https://github.com/eclipse/lsp4j/releases/tag/v0.4.0.M6 releases should. Could try updating when you feel comfortable with doing so?

[2018-05-03 14:34] snoe opened #5 "Add unknown symbol diagnostic"

[2018-05-03 14:35] snoe opened #6 "Only crawl jars in classpath - take source paths from lsp client config"

[2018-05-16 10:44] linpengcheng opened #7 "Do you have any plans to support Notepad++?"
Do you have any plans to support Notepad++?
----------
Notepad++ for Clojure
https://github.com/linpengcheng/ClojureBoxNpp

[2018-05-17 02:49] snoe commented on #7
No plans to write a notepad++ lsp client. This is a clojure language server, it should be usable by any lsp compatible clients. See langserver.org

[2018-05-17 02:49] #7 closed

[2018-05-23 01:33] miorimmax opened #8 "Cursive style "resolve macros as"?"
Hi,

I have been tinkering with clojure-lsp for a few days and it seems like a massive improvement over my current workflow (either using vim-fireplace or acid.nvim), but from time to time I find myself editing my local clone of this repo to add handlers for some macros we use on our projects, like prismatic schema's `s/defn`, pedestal's `defhandler`, midje's `facts` and so on.

I noticed you ment

[2018-05-24 02:42] snoe commented on #4
Closed by 7ef702fa38cffbec6122c0bc9726a5d37ea67cd2

[2018-05-24 02:42] #4 closed

[2018-05-24 02:57] snoe commented on #6
Closed by 7ef702f

[2018-05-24 02:57] #6 closed

[2018-06-07 07:54] pedrorgirardi opened #10 "Help with VS Code client"
Hi @snoe,

I do some work on a Clojure & ClojureScript extension for VS Code (it's called Calva) and I'm very keen to try the language server, but I didn't manage to get it working.

The server can be found on my path and I can launch the extension, but then I get an 'Internal error'  and I don't find any log.

Could you give me a hand? I really want to see how the server works :)

[2018-06-11 10:53] andrestylianos commented on #10
Hi @pedrorgirardi. Are you building from master yourself or using the release binary?

I've just started trying it out with Atom and had a problem with clojure-lsp crashing. A PR was merged last week (https://github.com/snoe/clojure-lsp/pull/9) but there's no new release. Don't know if it's related to the problem you're having but it might be worth a try building from master.

[2018-06-11 11:01] pedrorgirardi commented on #10
Hi @andrestylianos, super funny because I'm running from `master` with `lein run`. I must be missing something.

[2018-06-11 11:39] andrestylianos commented on #10
Might be something totally unrelated then :confused:
I'm just getting started with clojure-lsp as well so this was my only guess :stuck_out_tongue:

[2018-06-11 11:40] pedrorgirardi commented on #10
Sure, don't worry, It's all good 😀 Thank you, André!

[2018-06-11 18:43] snoe commented on #10
@pedrorgirardi The unreleased pr was my suspicion as well. I'll take soon. I am logging to `/tmp/lsp.out` so if you see anything there it could be helpful.

@andrestylianos Thanks for trying to help, I've released your pr.

[2018-06-12 03:18] snoe commented on #10
I was unable to reproduce the problem as you described it.

Did you change the `extension.js` to do a `lein run`. Did you copy the `client-vscode` dir to `~/.vscode/extensions` or run the extension in debug mode? Remember: **vscode will launch the server**, you don't launch it from the terminal. This is the relevant launch line: https://github.com/snoe/clojure-lsp/blob/master/client-vscode/extensi

[2018-06-12 14:00] pedrorgirardi commented on #10
@snoe , I just pulled `master`, changed `serverOptions` to point to my **clojure-lsp** and it worked! Thank you very much!

*It works with ClojureScript, so nice! I need to spend some time learning more about this.

[2018-06-12 14:00] #10 closed

[2018-07-17 04:38] christianpoveda opened #12 "Vim guide?"
Hey hi!

I've been trying to use clojure-lsp with neovim via LanguageClient-neovim without success.

I've downloaded the standalone binary from the latest release and also i tried to clone and build the binary myself but i cannot get any completions. I had other languages with their own LSP working.

Thank you!!

[2018-07-17 14:10] snoe commented on #12
I've noticed this might be broken at the moment but haven't had the time to look into it. I'll try to do that this week.

[2018-09-13 05:42] snoe commented on #12
I've put out a new release that touches on a number of issues with completions.
I've had the best success with LanguageClient-neovim and deoplete in neovim and in VSCode.

If there are still issues, I will need more details; preferably a minimal reproducable sample.

[2018-09-13 19:12] patrickpichler commented on #12
I assume you have added the LanguageClient-neovim package alread:
[code]

I have clojure-lsp in my path. If i try to start the client with `:LanguageClientStart` i get `Failed to start language server (["clojure-lsp"]): Exec format error (os error 8)`

[2018-09-13 19:13] patrickpichler commented on #12
Can you maybe post your `g:LanguageClient_serverCommands` part of the vimscript to start the server?

[2018-09-13 21:27] snoe commented on #12
@patrickpichler what os are you using?

[2018-09-14 03:38] patrickpichler commented on #12
I use Linux

[2018-09-16 18:47] patrickpichler commented on #12
I think this issue can be closed :+1:

[2018-09-18 02:17] sfertman commented on #10
@snoe @pedrorgirardi sorry to necromance this thread but...

I've recently came across this very cool language server and thought I'd try to make a basic vscode extension to support clojure(script) language while learning about the inner workings of clojure and vscode ext mechanism in the process. I'm fairly new to clojurescript (and vscode ext) so this is likely a noob mistake rather than a probl

[2018-09-18 02:39] pedrorgirardi commented on #10
Hi @sfertman .

I think that's a known 'issue' - there are some ClojureScript specific symbols that Clojure LSP doesn't seem to recognize (yet). But what I mean on my comment about a nice ClojureScript support, is that functionalities like symbol navigation and refactoring work for ClojureScript too.

Does it make sense? :)

[2018-09-18 14:39] sfertman commented on #10
Thanks @pedrorgirardi, makes sense now. Navigation & refactoring does work well in both clojure and clojurescript.
@snoe, should I open a separate issue for js symbol recognition?

[2018-09-18 15:37] snoe commented on #10
@sfertman Yup, interop, especially in clojurescript, hasn't been done yet. An issue to track it would be great.

[2018-09-18 16:11] sfertman opened #13 "Support JavaSript interop in ClojureScript"
From http://cljs.info/cheatsheet/ JavaScript interop section

Operation | code
-|-
Create Object | #js {} js-obj
Create Array | #js [] array make-array aclone
Get Property | (.-innerHTML el) <br> Using cljs-oops library: <br> (oget el "innerHTML")
Set Property | (set! (.-innerHTML el) "Hi!") <br> Using cljs-oops library: <br> (oset! el "innerHTML" "Hi!")
Delete Property | js-delete
Convert Between

[2018-09-21 17:40] #12 closed

[2018-10-01 02:38] snoe commented on #13
A good chunk of this was fixed in 2989b1dc3ff55ed9d488fb461d44f3562d52e93b
As always, there's room for improvements but I'll let new issues guide me on this.

[2018-10-01 02:38] #13 closed

[2018-11-20 01:50] hifall opened #14 "Running clojure-lsp in command line."
Hi,

I am very new to the Clojure world. When trying to follow the install instructions, I am kinda lost. I have downloaded the clojure-lsp package, and unzipped it. But I can't find any executable for clojure-lsp.

What I am trying to do is to try to start the server from command line, then call it from another process after I've had success.

Could you please provide more detail on how to start

[2018-11-20 02:00] pedrorgirardi commented on #14
Hi,

**clojure-lsp** is your executable, but you don't need to run it yourself. The LSP client - VS Code, Vim, or other - will run the server for you. @snoe please correct me if I'm wrong.

Which client are you using? Because basically you just need to have `clojure-lsp` in your PATH with the right permissions - `chmod 755`- and you should be ready to go :)

[2018-11-20 02:10] hifall commented on #14
I am using Microsoft's Monaco editor, which is the web version of VS Code.

[2018-11-20 02:11] hifall commented on #14
Since there is no instruction on Monaco/clojure-lsp integration, I need to try to run it manually on commandline, so that I can get a basic grasp of it.

[2018-11-20 05:00] snoe commented on #14
@hifall The clojure-lsp package in releases is an executable as pedrorgirardi said.

If you `chmod 755 clojure-lsp && ./clojure-lsp` from the cli you will have an instance of the server running.

However the server only looks at stdin and puts results to stdout:
https://github.com/snoe/clojure-lsp/blob/9e4ca60e1462c2900e5056622e1061c05edae638/src/clojure_lsp/main.clj#L294

If you need to listen an

[2018-11-20 06:11] hifall commented on #14
I see. Will try out later. Thanks!

[2018-11-20 06:11] #14 closed

[2018-11-26 04:48] patrickpichler commented on #2
Hi,

correct me if I'm wrong, but wouldn't it be enough to extend the [https://github.com/snoe/clojure-lsp/blob/f2c2fd8cd1737ce94e8e7e5e1420a3e55da161c2/src/clojure_lsp/handlers.clj#L154](determine-dependencies) functions to search for either a `build.boot` file, if no `project.clj` file exists in root folder?

Furthermore the [https://github.com/snoe/clojure-lsp/blob/f2c2fd8cd1737ce94e8e7e5e1420a

[2018-11-26 14:46] snoe commented on #2
Yup, I think that's about it.

[2019-01-15 18:52] divs1210 opened #16 "Please make this work with popular editors"
Hi!

I have a fear that LSP will become the de-facto standard for all languages, and Clojure/nREPL/CIDER will become an eccentric oddball - like lisp machines of yore.

I see this works with vim etc, but if it could work with popular editors like sublime/atom/vs code/etc. out of the box, it will be a great help to get more people onboard for Cojure.

I just tried sublime, and it said LSP doesn't s

[2019-01-15 20:58] snoe commented on #16
@divs1210

Different editors and plugins handle lsp clients in their own ways. vim, emacs, intellij seem to have single plugins that launch the lsp servers. These type of plugins should work out of the box with clojure-lsp

vs-code and atom (haven't looked at sublime) mainly seem to prefer single language plugins that need to be coded (as opposed to configured) to launch the language specific serv

[2019-01-16 06:18] divs1210 commented on #16
[lsp-mode for emacs](https://github.com/emacs-lsp/lsp-mode) doens't seem to support Clojure either.

[2019-01-18 16:32] Saikyun opened #17 "Trying to run clojure-lsp results in nothing"
Hello! When trying to run clojure-lsp, either the released version or by cloning the repo and running `lein run` nothing seems to happen. In the case of lein it downloads the dependencies, then it's just stuck.
[code]
I'm on OSX High Sierra.

[2019-01-18 16:35] Saikyun commented on #17
I noticed now that it logs to `/tmp/lsp.out`, nvm me.

[2019-01-18 16:35] #17 closed

[2019-02-01 15:40] snoe opened #19 "Renaming keywords adds extra colons"
Renaming `:foo` to `:bar` will actually rename it to `::bar` and renaming `::foo` to `::bar` will rename it to `::::bar`

[2019-02-04 09:30] hifall opened #20 "Is it possible to complete Java classes?"
Say I access Java classes like this:

[code]

I can't seem to complete `java.util.`. Is this supported by this clojure-lsp?

Thanks!

[2019-02-05 06:36] snoe commented on #20
It would be possible, I cheat a bit with the java.lang classes here https://github.com/snoe/clojure-lsp/blob/master/src/clojure_lsp/clojure_core.clj

Basically rt.jar would need to be added to the list of classpath jars  https://github.com/snoe/clojure-lsp/blob/master/src/clojure_lsp/handlers.clj#L98 and then use something like https://stackoverflow.com/a/14451505 to add usages of .class files (th

[2019-02-05 07:18] hifall commented on #20
So this sounds there is no out-of-the-box way of doing it, until you implement what's described in the above SO link?

[2019-02-05 15:02] snoe commented on #20
Correct, at the moment the only completions you get are for java.lang

[2019-02-16 21:54] markx commented on #19
I took a look at the code. The extra `:` is from `u-prefix`. But I don't know the right fix. Is the problem in `ident-split`, or should we just not include prefix when there's no `u-ns`?

[2019-02-18 06:35] markx commented on #19
Mentioned in the doc https://clojure.org/reference/data_structures#Keywords,

So technically, when you rename a keyword like `:foo` to `:bar`, you are supposed to type "bar" instead of ":bar", which will not be a problem.

[2019-02-19 05:40] #19 closed

[2019-02-24 03:18] markx commented on #1
Homebrew has a "test" step to verify the installation. How do you think this can be tested?

[2019-02-25 05:48] snoe commented on #1
Well, the binary responds to JSON RPC on stdin so if the have a framework around that, sending a supported message on stdin should suffice https://microsoft.github.io/language-server-protocol/specification

[2019-02-26 02:17] markx commented on #1
Since the binary blocks on reading stdin and doesn't exit, I think it will have to run in a process, and then we start another process to check the output and stop the binary. This sounds a little too complex to me.

It'll be trivial to test if it can take a flag , like `--help` or `--version`, and output some fixed string. I think this is the case for many interactive programs on homebrew.

[2019-03-02 02:45] snoe commented on #1
That makes sense to me.

[2019-03-21 19:21] snoe commented on #16
@divs1210 Thanks to @dpsutton there are now instructions on how you can run clojure-lsp through emacs.  https://github.com/snoe/clojure-lsp#emacs

For sublime, if there are specific things that we can do with this plugin let's raise issues, or if you're still having troubles reach out to me on clojurians slack @snoe

[2019-03-21 19:21] #16 closed

[2019-03-21 19:36] patrickpichler commented on #2
I think this issue can be closed :+1:

[2019-03-26 12:20] snoe commented on #2
Yup. Thanks for the work!

[2019-03-26 12:20] #2 closed

[2019-03-27 02:06] Avi-D-coder opened #23 "What unit does clojure-lsp use in lsp ranges"
Does this project use UTF-8, UTF-16, codepoint, or grapheme cluster indexes for lsp ranges?

I am conducting a [survey](https://github.com/Avi-D-coder/lsp-range-unit-survey) to inform the debate over what unit ranges should use in the [Language Server Protocol](https://github.com/Microsoft/language-server-protocol).
The debate is occuring in [issue #376](https://github.com/Microsoft/language-serve

[2019-03-30 17:35] jeaye opened #24 "Definitions behind macros"
Hi! Thanks for the awesome project; I've just hooked clojure-lsp up with [coc.nvim](https://github.com/neoclide/coc.nvim) and I'm excited to see some things working. One issue I've noticed is that I can jump to the definition or find the references to a `defn`, but not a `defn` which was generated by a macro such as `defn-spec` ([docs for defn-spec](https://github.com/jeaye/orchestra#defn-spec)).

[2019-03-31 07:50] snoe commented on #24
I've pushed a new release with an initial stab at this problem.

In your clients' InitializationOptions you can set a "macro-defs" key, for something like `defn-spec`. You could probably define it like

[code]

I'm still working out what optional elements will look like.

[2019-03-31 07:53] snoe commented on #8
This is now supported through `macro-defs` , see InitializationOptions section of README.md.

[2019-03-31 07:53] #8 closed

[2019-03-31 16:10] jeaye commented on #24
Thanks for the quick reply. So, I take it that clojure-lsp isn't actually evaluating the macros? So every macro which defines things will need to be identified somehow? For example, `defn-spec` is the basis of all of my team's function definitions, but most of our functions are actually defined through macros (which either define re-frame event functions on the front-end or effect chains on the ba

[2019-04-01 05:14] snoe commented on #24
That's correct, there's no expansion happening.

In this case though I've found it quite rare in clojure to define macros that produce vars in this way (unhygienic might be the term?), so I'd be looking for a pr to support it.

I'm going to reopen this tho to capture shortcomings in macro-defs.

[2019-04-05 21:24] snoe commented on #23
I'm not sure, I'm a couple libraries removed from parsing strings, but it looks like it's using java's PushbackReader https://docs.oracle.com/javase/6/docs/api/java/io/PushbackReader.html?is-external=true that reads ints. In that case I'm guessing it's UTF-16 ?

If you have a set of test bytes to run against I could check.

[2019-04-05 21:36] snoe commented on #23
Here's some examples:

"noe\u0308l" => `{:start {:line 0, :character 0}, :end {:line 0, :character 5}}`
 "😸😾" => `{:start {:line 0, :character 0}, :end {:line 0, :character 4}}`
"👪" => `{:start {:line 0, :character 0}, :end {:line 0, :character 2}}`

[2019-04-05 22:13] Avi-D-coder commented on #23
Is PushbackReader being used to read json messages or store the document's text?
A client that runs tests would be a good idea, but none exists. I'm not exactly sure how a test could be made for all languages?

As for the examples they are UTF-16.

[2019-04-06 01:46] snoe commented on #23
The reader is being used to parse the text document values coming over the rpc channel. But by the time I get it it is a Java string as I used in the examples

[2019-04-06 02:06] Avi-D-coder commented on #23
From the docs you linked it does not seem to be reading UTF-8. If it's not you will have issues with non ascii text, since RPC is always in UTF-8.

If your using Java strings to provide offsets you are currently spec compliant with UTF-16.

[2019-04-06 02:06] #23 closed

[2019-04-06 02:39] snoe commented on #23
Thanks, I use the eclipse's lsp4j for handling the RPC, so I'm trusting they'll keep doing the right thing.

[2019-04-06 02:47] snoe opened #25 "Windows release support"
Thanks to @sparkofreason for trying clojure-lsp in windows:

1) At first glance, it looks like there are at least a few places that ought to use path joins instead of `str` and  `"/"`
https://github.com/snoe/clojure-lsp/blob/e1d892a13ef23f130009e0058bbdd0157d885d0e/src/clojure_lsp/handlers.clj#L26
https://github.com/snoe/clojure-lsp/blob/e1d892a13ef23f130009e0058bbdd0157d885d0e/src/clojure_lsp/han

[2019-04-08 03:43] snoe opened #27 "Better jump to definition in jarfiles."
Currently when trying to get the definition of something defined in a jar file we return a pseudo uri for zipfiles that vim understands but no one else does.

`zipfile:///Users/case/.m2/repository/org/clojure/clojure/1.9.0/clojure-1.9.0.jar::clojure/core.clj`

Let's figure out what servers do for java and see if we can use that instead. (They might use a `jdt` protocol uri). Most clients I've seen

[2019-04-08 03:46] snoe opened #28 "Submit to chocalatey"
https://chocolatey.org/

Hopefully, if the clojure-lsp binary is managed by choco then we don't have to rename the file.

[2019-04-08 03:47] snoe commented on #25
with 9b035767e5464, 4a580859 and 49702e717316 I was able to get it working pretty well in windows and vscode.

I had to install `lein` through chocolatey (otherwise using the self installer bat file only worked if I changed the classpath lookup to `lein.bat`).

I also had to rename `clojure-lsp` to `clojure-lsp.bat` and change `extension.js` to point to the .bat file. I hope https://github.com/sno

[2019-04-08 04:02] snoe opened #29 "Have the github released version be the same as version output"
Should probably persist the version on each build

[code]

Then have the `release` script and ci job look at that artifact instead of the tag date.

[2019-04-08 17:53] markx commented on #1
I did a little search, and found that most, if not all, lang servers are distributed via the language's own package manager, instead of homebrew. In this way it is automatically available on all platform it supports. Is it possible to do this via leiningen, or something else?

[2019-04-08 22:19] snoe commented on #1
Good question.

There's a few exceptions in the list here https://langserver.org#implementations-server I think the main difference is that so many languages now have blessed package managers that can install binaries.

Clojure now has `clj` maybe we can specify the github repo on the cli and a main to run...

With lein, we'd have to make this into a lein plugin and tell people to add it to their

[2019-04-09 05:33] snoe commented on #1
I want to enumerate the the problems I'm trying to solve with homebrew:

1) A standard, stable way of launching the server for clients, many of whom will have their own releases. So the command should not change, should not require hard coded paths, and be as close to cross platform as possible. This means we need some executable on the path that can launch the server. (e.g. `clojure-lsp`, `java -

[2019-04-12 12:50] ProjectFrank opened #30 "Problems starting clojure-lsp via emacs"
The server keeps exiting as soon as it's started by emacs and I can't seem to figure out how to debug. What is the best way to debug this?

[2019-04-12 13:14] snoe commented on #30
If you're downloading the release, try running it from the command line, it should start up and start reading stdin.
Type `{}\n\n` and you should get something like:
[code]

If that is ok, I log to `/tmp/lsp.out`, so watch that file and start your editor, let me know if you get errors there.

LSP Clients also generally have a way to trace server interactions.

In lsp-mode, it looks like:
- `lsp-tr

[2019-04-12 14:37] ProjectFrank commented on #30
Oddly, the `/tmp/lsp.out` file is not created when `clojure-lsp` is started using the editor. It is, however, created when I start it using the command line.

I can't get `lsp-trace` to work, but I tried setting `lsp-print-io` instead (which I think behaves similarly). This is what that log looks like:

[code]

Saving the json rpc part in a text file and piping it to `clojure-lsp` seems to work fi

[2019-04-12 14:49] ProjectFrank commented on #30
Some googling tells me that exit code 126 could mean I do not have permission to execute. However, I did run `chmod 755` on the executable as directed:

[code]

[2019-04-12 17:20] snoe commented on #30
Hrm, I wonder if the binary needs to be run from a shell, could you try launching with
[code]

[2019-04-12 17:22] snoe opened #31 "Write troubleshooting docs"
Start with response here: https://github.com/snoe/clojure-lsp/issues/30

[2019-04-12 17:29] ProjectFrank commented on #30
That worked! Thank you so much!

[2019-04-12 17:29] #30 closed

[2019-04-13 05:07] #31 closed

[2019-04-13 05:07] snoe commented on #31
Closed with 449621724966a45c368b3cf624b0d28b75109e9a

[2019-04-13 19:32] ProjectFrank opened #33 "Support for defrecord factory functions"
It would be nice if `clojure-lsp` knew about the factory functions (e.g. `->Foo`, `map->Foo`) generated by `defrecord`.

[2019-04-13 23:09] #33 closed

[2019-04-14 13:04] scotts777 opened #34 "VSCode - how to configure project-root and src-paths?"
First, thanks so much for all the work on this lsp server.  I have the VSCode client running and starting the server just fine, but I can't see where to set the project-root and src-paths.  I tried this in the extensions.ts file

`let serverOptions = {
		run: {
			command: "clojure-lsp.dms",
			initializationOptions: {
				"source-paths": ["cljsrc"],
				"project-root": "/Users/scott/Projects/Cloj

[2019-04-14 18:11] snoe commented on #34
I think you would have to set a source-path for each deps folder: `["dep1/cljsrc", "dep2/cljsrc"]`

I'd happily accept a patch to support globbing patterns in source-paths tho so you could do `*/cljsrc'

[2019-04-15 11:42] patrickpichler opened #35 "Support boot file different from build.boot"
With boot you can specify the name of the boot file via the `BOOT_FILE` env variable. Right now clojure-lsp only suports boot projects where the build file is named `build.boot`.

[2019-04-16 02:37] snoe commented on #35
Would this work as a setting? I think having access to the env var would depend on how clients launch the server.

Lein can also specify project files with -f (iirc)

[2019-04-16 05:27] patrickpichler commented on #35
I'm no expert in boot, but from what I've read on the man pages the only way is via an env variable.

Would it maybe help to add something like a `.lsp.conf` file or so to configure such things? I'm not sure if there are maybe other usecases for it as well. If not then it might be better to only support the default `build.boot` file.

[2019-04-17 05:37] snoe commented on #35
I think a project specific file would be helpful in general - things now in client-settings like `macro-defs` and `cljfmt` rules are more likely than not to be project specific. It would also be helpful to be able to share the config with teammates.

An `.lsp/config.edn` would be useful and we could search up to the root of the file tree from project-root.

For this specifically, how about a setti

[2019-04-17 05:54] patrickpichler commented on #35
That sounds good :+1:

[2019-04-18 02:38] markx commented on #1
I don't really understand the point of the clojure cli tool. It doesn't want to be the official one-stop shop to replace lein and boot, so I don't know what it's for. Also it uses the strangest argument format I've ever seen, ie the `-A:lsp`.

I was thinking about maybe a lein plugin, which creates a `bin` directory somewhere, and adds a command like `install` that creates jar scripts for executab

[2019-04-18 03:23] snoe commented on #1
Heh yeah, I think that's the problem with any build tool, people have their favourites.

So let's continue with homebrew.

[2019-04-18 04:21] #35 closed

[2019-04-18 04:26] snoe opened #36 "Integrate kibit/kondo into diagnostics"

[2019-04-18 04:27] snoe commented on #34
@scotts777 let me know if that worked for you or if there's more I can do.

[2019-04-18 04:27] #34 closed

[2019-04-18 04:31] snoe commented on #27
Should be fixed with
24ebfa6f591e1f8bb80aac191c6adb635497bf77  and
7bc1fb3d1b4a5535362420fc67bc4a90f5731d01 which has an example of a client handling the IANA `jar` scheme.

[2019-04-18 04:31] #27 closed

[2019-04-18 04:33] snoe commented on #3
This is solved with `project-specs` setting 1ae927f0615284899c2f888833d35b83170d22bb, something like `[{:project-file "deps.edn" :classpath-cmd ["clojure" "-Spath"]}]`

[2019-04-18 04:33] #3 closed

[2019-04-18 10:38] benedekfazekas commented on #27
trying to make this work with emacs.

I put a `.lsp/config.edn` in the project like:
[code]

still getting back an uri starting with `zipfile:///...`

what am i doing wrong?

[2019-04-18 13:28] snoe commented on #27
ah, rm the `.lsp/sqlite.1.db` in your project

[2019-04-18 13:34] benedekfazekas commented on #27
yup, the right uri comes back now. cheers

[2019-04-18 17:04] scotts777 commented on #34
Thanks Case.  Yes that's was what I needed to do.

[2019-04-22 11:00] benedekfazekas commented on #27
still on the emacs side of things.

I figured I need an `uri-handler` to make jumping into source work for dependencies (jarred up obviously) I put together something rather hacky and it works :).

if I ever clean that up this should go into https://github.com/emacs-lsp/lsp-mode probably in a separate lsp-clojure.el file. Does this sound right @snoe ?

this starting to feel amazing btw :) thanks f

[2019-04-23 01:57] snoe commented on #27
Yeah, that sounds about right, it'd be great to get it distributed with lsp-mode

[2019-04-30 01:40] ProjectFrank opened #41 "move-to-let refactor will not move form into empty let binding"
Running the `move-to-let` refactoring on the following does not work:

[code]

expected result:
[code]

[2019-05-02 03:08] snoe commented on #41
Fixed in 702491380f0406feac2a25e65f0c7d4b6b84196c

[2019-05-02 03:08] #41 closed

[2019-05-02 15:38] ProjectFrank opened #42 "goto definition and find references do not work for protocol methods"
It would be really great if, for a given protocol method, find references showed:
- invocations of the protocol method
- implementations of the protocol method
- the protocol declaration itself

Ideally goto definition would take you to the implementation of the protocol method, but that's probably really hard or impossible. IMO, it would be acceptable to be taken to the protocol declaration.

[2019-05-02 16:05] patrickpichler opened #43 "`extract-function` refactoring not working"
I tried to setup the extract-function refactoring with vim, but get following exception:
[code]

In my vim config I have the call to the refactoring function defined like this
[code]

[2019-05-03 01:25] snoe commented on #43
It looks like you have an extra, empty arg after `input(...)`

[2019-05-03 03:28] snoe commented on #42
LSP has [‘textDocument/implementation’](https://microsoft.github.io/language-server-protocol/specification#textDocument_implementation) for getting a list/going to implementations, if that's desired functionality could you raise a different issue for it?

The rest should be doable though.

[2019-05-03 04:10] #42 closed

[2019-05-03 12:45] patrickpichler commented on #43
Ok wow. I have no idea how that paramter got there. I even debugged the lsp.

It is working now. Thank you!

[2019-05-03 12:46] patrickpichler commented on #43
I just noticed that you will get the NPE when you try executing the command while the lsp is loading.

[2019-05-23 13:59] lxsli opened #44 "Fully qualified Java classes not recognised as symbols"
EG code like `(java.util.Date. ...)` says `Unknown symbol`

[2019-05-23 14:05] lxsli opened #45 "`:refer :all` doesn't seem to work"
I use Specter and CamelSnakeKebab, which I routinely `:refer :all`. Don't judge me. Clojure-lsp doesn't seem to register the symbols from these so I get a lot of `Unknown symbol`.

EG `(transform [ALL :dir] #(...) foo)` says `ALL` is unknown. `MAP-KEYS` and `MAP-VALS` also unknown. It seems OK with `transform` though? `->SCREAMING_SNAKE_CASE` from CSK is also unknown.

Some of the symbols are avai

[2019-05-23 14:10] lxsli opened #46 "better-cond :let not supported"
This is pretty understandable but... better-cond supports sub-lets:

[code]

It'd be nice to support this. Unfortunately I think there are a few libraries like this. I guess this is what the `macro-defs` thing is for? It's hard to see how to configure that though, the link to examples didn't help me much. Granted I didn't spend very long on it.

[2019-05-23 15:59] snoe commented on #45
I don't believe this is related to `:refer :all` but that these libraries have custom macros that define these symbols.

So specter uses a `defnav` to define a lot of these things. https://github.com/nathanmarz/specter/blob/master/src/clj/com/rpl/specter.cljc#L701

it looks like a `macro-def` that maps `com.rpl.specter.macros/defnav`   to `[:declaration :function-params-and-bodies]`

You might als

[2019-05-23 16:08] snoe commented on #46
Is this the library? https://github.com/Engelberg/better-cond
There's a lot of magic here so I think it will take custom code in lsp to support it. It would help if you can get me more examples of the libraries that do similar.

However, I'll probably wait on implementing this myself until this issue gets some more votes. Happy to take a PR that adds to macro-defs to support this though (or if you

[2019-05-24 08:41] lxsli commented on #45
I tried this in my `~/.config/nvim/coc-settings.json`:

[code]

I think it's pretty close but it didn't work :/

On Thu, 23 May 2019 at 16:59, Case Nelson <notifications@github.com> wrote:

--
Alexis

[2019-05-24 08:49] lxsli commented on #46
That's the one.

Two alternatives I Googled up just now, I guess these 3 are the main ones:
https://github.com/walmartlabs/cond-let
https://clojure.github.io/clojure-contrib/branch-master/cond-api.html

[2019-05-29 17:51] daveyarwood commented on #24
Hi @snoe, I'm really enjoying clojure-lsp so far!

I'm working on refining my `macro-defs` to reduce false positives. One thing I'm not sure about is whether it's possible to describe a macro where the invocation may or may not have a docstring, like `defn`?

The macro I'm trying to describe is `hoplon.core/defelem`. I've tried it these two ways:

[code]

[code]

Both of which work when the docstr

[2019-05-29 17:53] daveyarwood commented on #24
It seems like it might be useful to be able to specify that an element is optional, e.g.

[code]

[2019-05-29 19:17] snoe commented on #24
@daveyarwood you can do optionality with `:pred`

`[{:element :declaration :doc? true} {:element :element :pred :string} :params :bound-elements]`

[2019-05-29 19:21] daveyarwood commented on #24
I'm not sure I understand. Does `:pred :string` mean that the element is optional?

[2019-05-29 19:21] snoe commented on #24
`defn-spec` from the op and `schema.core/defn` both have `params` and non-params interspersed. This isn't yet possible with macrodefs

[2019-05-29 19:25] daveyarwood commented on #24
OK, gotcha. I could potentially work on a PR for that feature, if you'd like.

[2019-05-29 19:25] snoe commented on #24
@daveyarwood `:pred :string` means that it will only parse the form in that position if it is a string, otherwise it will try to parse the form the with the next element in the macrodef.

[2019-05-29 20:11] daveyarwood commented on #24
Aha - that did the trick. Thanks!

[2019-06-03 10:04] lxsli opened #49 "Indentation mangled by `inline-symbol`"
Thanks for adding this! Works nicely but the indentation wasn't right.

[code]
->
[code]

Should be:

[code]

[2019-06-03 10:04] lxsli commented on #49
Don't worry about the parens - they would have been modified to match the indent level by `rust-parinfer`

[2019-06-03 11:02] lxsli opened #50 "expand-let inserts error"
If I run `crel` on `(eutils/from-command...)`:

[code]

It goes bananas:

[code]

I remember now that this is not what `crel` is for and yet, I would prefer it did nothing at all.

[2019-06-03 11:05] lxsli commented on #49
`crml` suffers the same issue:

[code]

`crml`:

[code]

[2019-06-04 08:07] lxsli opened #51 "`::foo/bar` in `:keys` destructuring doesn't count as usage of `require :as foo`?"
[code]

ccm.foo is marked as unused.

[2019-06-05 17:42] daveyarwood commented on #24
@snoe Is it possible to greedily consume elements that match a given type?

Actually, [the macro I'm trying to describe](https://github.com/adzerk-oss/env#get) is even more complicated than that... its arguments are pairs of declaration and value. For example, a call might look like:

[code]

which defines `FOO`, `BAR`, and `BAZ`. Is there a way to account for this in my clojure-lsp config? If not

[2019-06-06 03:38] snoe commented on #24
@daveyarwood a macro-def of `[{:element [:declaration :element] :repeat true}]` should do it for env/def

[2019-06-06 03:59] snoe commented on #49
Long term, the real solution falls into an idea I've been thinking about to run formatting after refactoring. It's going to take some hammock time to figure out the best way to do this though unfortunately.

Short term, can you switch to parinfer's paren-mode, run the refactorings, then switch back to indent or smart mode automatically?

Medium term, the code for move to let needs to change around

[2019-06-06 05:55] lxsli commented on #49
Thanks for looking into this. I shouldn't buuuut it does look pretty
simple... maybe if my work goes well :)

On Thu, 6 Jun 2019 at 04:59, Case Nelson <notifications@github.com> wrote:

--
Alexis

[2019-06-06 09:22] lxsli commented on #49
Pretty sure there are cases where you have to remove indentation as well.

On Thu, 6 Jun 2019 at 06:52, Alexis Lee <gmail@lxsli.co.uk> wrote:

--
Alexis

[2019-06-06 14:48] daveyarwood commented on #24
That worked like a charm, thanks!

[2019-06-11 05:02] markx commented on #1
Done.

[2019-06-11 22:25] snoe commented on #1
Thank you so much for doing this!

[2019-06-11 22:25] #1 closed

[2019-06-13 06:09] snoe commented on #51
Fixed by 007ae9c51ffefd0737aabb5b70ac5fc477647552

[2019-06-13 06:09] #51 closed

[2019-06-13 06:18] snoe commented on #43
This sounds like an LSP client issue, I believe commands should not be sent until a server returns an `Initialized` response.

In coc.nvim, if I send the command immediately after `:CocRestart` or in between `Initialize` and `Initialized` in `/tmp/lsp.out` the command is buffered until after clojure-lsp returns `Initialized`.

You should be able to see the order of the commands (although there's s

[2019-06-13 06:18] #43 closed

[2019-06-13 06:25] snoe commented on #50
This seems to be from using `expand-let` inside a function literal. The nature of using rewrite-clj suggests that other refactorings inside function literals could be problematic.

However, in testing it seems like there's a number of problems with the refactoring if you aren't positioned perfectly around the let.

[2019-06-14 05:25] #50 closed

[2019-06-20 10:13] lxsli opened #53 "`clojure.spec.alpha/fdef` unknown symbol"
You can `fdef` a function before you `defn` it. In this case, the `fdef` symbol is marked unknown. I don't think this can be solved with `macro-defs`? Ideally the `fdef` would be marked unused if the function is never defined.

[2019-06-27 19:37] dpsutton opened #54 "Renaming function erases metadata"
`(defn ^:private foo [])` renamed to `(defn bar [])`

[2019-07-10 15:20] erez-rabih opened #55 "Error renaming with coc.vim"
I'm receiving a
[code]
error trying to rename
Is that a clojure-lsp bug or coc.vim?

[2019-07-29 14:39] dpsutton opened #56 "warn on shadowing function from ns"
Local binding had a logical name "import-data". This was such a good name there was already a function in the ns named the same thing. So ended up calling the vector `import-data` on some args rather than the function which was shadowed.

be nice to have a warning when shadowing

[2019-08-06 04:50] seancorfield opened #57 "Using ancient db-spec format"
https://github.com/snoe/clojure-lsp/blob/32320822d956a73c4af5890b1a7de03b79eae864/src/clojure_lsp/db.clj#L15-L18

Using subprotocol/subname is consider legacy in `clojure.java.jdbc` and is not supported in `next.jdbc`. The code should use `:dbtype "sqlite"` and `:dbname` with the path to the DB file.

[2019-08-17 23:26] roman01la opened #58 "Starting lsp server from REPL throws"
Starting server from REPL errors with `CompilerException java.lang.SecurityException: class "org.eclipse.lsp4j.TextDocumentIdentifier"'s signer information does not match signer information of other classes in the same package, compiling:(clojure_lsp/interop.clj:1:1)`, not sure how to solve this, but really want to be able to play with the project from REPL. Looking forward to contribute.

[2019-08-18 11:31] roman01la opened #61 "Jump from definition to usage"
Cursive has this very nice feature to be able to jump from definition to usage place. Is it possible to implement this? Happy to help, but need initial guidance.

[2019-08-18 11:52] roman01la commented on #58
nevermind, I figured it

[2019-08-18 11:52] #58 closed

[2019-08-18 15:10] roman01la opened #62 "`Wrong number of arguments` diagnostic"
This is an essential diagnostic to have I think 🙏

[2019-08-20 08:41] netpyoung opened #63 "Fail to update brew formula"
I wrote MR - https://github.com/Homebrew/homebrew-core/pull/43293/files
But fail to test on ci.

When I install a formula like that, It is works.
[code]

but when I try like that, I got a exception like CI.
[code]

[2019-08-22 04:01] snoe commented on #61
Depends what you mean, LSP has a [references](https://github.com/snoe/clojure-lsp/blob/5903f624422923f4a43426b23463ec4c1335802b/src/clojure_lsp/main.clj#L105-L118) call which we implement that will show you everywhere a symbol is used, and it works well for functions.

There's also an `implementation` and a `typeDefinition` call which would be appropriate for `reify` etc... and `deftype` etc... Ba

[2019-08-22 04:05] snoe commented on #55
Hard to say, you can [check the logs](https://github.com/snoe/clojure-lsp/blob/master/docs/troubleshooting.md#check-the-logs) when it happens. If there's no error there, I'd run through the coc.nvim troubleshooting

[2019-08-22 04:14] snoe commented on #57
This is going to require getting off funcool.jdbc, which should be easy but might as well wait until next.jdbc or whatever becomes more standard or we using more db functionality.

[2019-08-22 04:35] snoe commented on #62
I think this could be done fairly similarly to unused references.

First, add something like (untested) `:argc (count (n/children (z/node loc)))` to empty map passed to `add-reference` here: https://github.com/snoe/clojure-lsp/blob/5903f624422923f4a43426b23463ec4c1335802b/src/clojure_lsp/parser.clj#L833

Next in crawler.clj, I think you can do something like https://github.com/snoe/clojure-lsp/blo

[2019-08-22 13:03] roman01la opened #64 "Consider indexing runtime specific symbols based on compiler version"
I'm thinking now that a set of symbols can be different across compiler versions, while the core vars are staying the same, there are also might be additions over time. Not that it's really important, but might be useful. Although this would be not as trivial task as including symbols directly into sources.

[2019-08-22 21:55] roman01la opened #66 "Reuse existing parsing/linting libraries"
So I was spending an evening implementing invalid arity diagnostic and wondering if it would make sense to use existing libraries for linting. My original concern was about double parsing, once by lsp and once by linting library, but clj-kondo https://github.com/borkdude/clj-kondo seem to provide analysis data which could be reused in lsp. The library seems to have lots of linting rules. @snoe wha

[2019-08-23 13:32] snoe commented on #66
Yup, this is somewhat a dupe of #36 - I looked at the kondo parsing very briefly and I think there might be some information we would need added. There was effort a little while ago https://github.com/benedekfazekas/trin that was trying to unify this analysis into a library but seems to have stalled. If you or someone else sees a path to build lsp off of the kondo parsing or vice versa or through

[2019-08-23 13:38] snoe commented on #64
Yes, if people on old versions start getting annoyed by this we should add it, upvote the issue if it's important to you.

However my feeling about our list of symbols in clojure-core is that they should be somewhat unnecessary, they existed before I was fully parsing clojure.core and it ought to be possible to now pull 99% of the symbols out programmatically based on which jar is on your path, I

[2019-09-01 09:37] erez-rabih commented on #55
it actually seems like a coc timeout when renaming multiple buffers.
coc author has replied that this should be optimized in future versions.
thanks for the help.

[2019-09-01 09:37] #55 closed

[2019-09-15 15:41] lucasdf commented on #24
it would be really awesome to have support for properly declaring `schema.core/defn`.

[2019-09-18 14:58] FongHou opened #67 "diagnostics in (comment ...)"
Hello,

Great tool! I really like the real-time diagnostics. Though have one issue using (comment ...) for repl driven development, diagnostics errors clutter quickfix list too much while code are in flux there (strict diagnostics seems less useful as they are evaled in repl frequently anyway). I'm wondering whether diagnostics can be disabled, at the same time still have all other features availa

[2019-09-19 19:58] snoe commented on #67
I can see how that would be helpful although in my workflow I do appreciate them, so this should probably be gated by a client flag.

[2019-09-19 20:08] FongHou commented on #67
Yes, a flag in lsp client settings/initializationOptions would be fine. Thanks.

[2019-09-20 14:00] FongHou commented on #67
require and def forms are the main source of false negative diagnostics within (comment..). If they are fixed, I do like to have them. Thanks!

[code]

[2019-09-24 08:28] MarinPostma opened #68 "Add the ability to show documentation"
hi  folks,

I've been using clojure-lsp with Vim through coc.vim for quite some time now, and a feature that really miss is the ability to display documentation. In my coc.vim configuration K is mapped to show me the doc, and in rust I get:
![image](https://user-images.githubusercontent.com/28804882/65494218-ac6fd300-deb4-11e9-9466-02f591faafef.png)

That would be a really neat feature for clojure

[2019-09-26 13:34] snoe commented on #68
We support documentation on the `hover` command, I assume you're using `signatureHelp`. It's unclear to me which is more appropriate. Have you run into any guides as to how the information between the two should differ?

[2019-09-26 19:32] #53 closed

[2019-09-26 20:57] #54 closed

[2019-09-27 09:04] lxsli commented on #53
<3

[2019-09-28 13:57] tolgraven commented on #67
Since #_ also leaves diagnostics on (which seems more an error than matter of taste to me) maybe an easy compromise would be just that?
Fix #_ to do proper skips, leave comment as it is.

[2019-10-02 21:31] dharrigan opened #70 "Please support deps.edn"
Hi,

I believe clojure-lsp presently doesn't support using deps.edn instead of project.clj in order to gather the classpath. Please can deps.edn be supported :-)

Thank you.

[2019-10-03 13:50] dharrigan opened #71 "initializationOptions - project-specs throws exception"
Hi,

Perhaps I'm reading the documentation incorrectly, but it says that the `project-specs` key in `initialization-options` is a vector of maps with keys. Therefore, I tried this:

[code]

Which is a vector containing maps and each map has a key/value. On startup of vim and tailing the lsp.log, I get this stack:

[code]

Removing project-specs restores good behaviour.

[2019-10-03 14:51] snoe commented on #71
It looks like you're missing the `"project-path": "deps.edn"`

[2019-10-03 14:57] dharrigan commented on #71
Hi,

Funnily enough, I had that in (but removed it for github), as this:

[code]

still same error.

[2019-10-03 14:59] dharrigan commented on #71
Same error with:

[code]

[2019-10-06 02:32] snoe commented on #71
Added deps.edn support to default project specs in 88980c2

This is a valid coc-settings.json project-specs shape:
[code]

(although it might be more appropriate to put the config in the project specific .lsp/config.edn)
[code]

[2019-10-06 02:32] #71 closed

[2019-10-06 02:32] snoe commented on #70
Added to project defaults in 88980c2

[2019-10-06 02:32] #70 closed

[2019-10-06 09:32] MarinPostma commented on #68
vim actually calls `hover`:

[code]
however it seems to only show the function's prototype:

![image](https://user-images.githubusercontent.com/28804882/66267036-ae2e8480-e82c-11e9-8b9a-756e68272db7.png)

[2019-10-07 15:08] snoe commented on #68
@MarinPostma you might be on deps.edn? The new release builds support into the default project specs and might be why you don't see docs.

[2019-10-10 05:47] patrickpichler opened #73 "Support clj deps.edn git dependencies"
With clj deps.edn you have the possibility to add git repositories as dependencies. When running the `clj -Spath` command it will include the source folders defined by the git repositories `deps.edn` files (at least i guess that it is working that way. I did not find any documentation regarding this, but my experiments showed that it is that way).

It seems like the lsp cannot handle non `.jar` fi

[2019-10-10 15:11] snoe commented on #73
Merged and released, thanks.

[2019-10-10 15:11] #73 closed

[2019-10-15 11:04] MarinPostma opened #76 "NullPointerException at startup"
As soon as I open my editor, the lsp crashed with this error:

[code]

Any idea where that might come from?

Thanks!

[2019-10-15 11:06] MarinPostma commented on #68
@snoe I was using the [AUR package](https://aur.archlinux.org/packages/clojure-lsp-bin/) that seems outdated... I'm trying with the latest version now, but i have trouble making it work => https://github.com/snoe/clojure-lsp/issues/76

[2019-10-16 17:03] daveyarwood opened #77 "defn spec doesn't account for return value type hints"
Little known fact: you can type hint the return value of a function by placing the type hint before the arguments vector (ref: https://clojure.org/reference/java_interop#typehints). It looks like clojure-lsp does not account for this, and having the extra form before the args vector throws everything off.

Without the `^File` return value type hint:

![2019-10-16-125947_1175x365_scrot](https://use

[2019-10-18 04:50] #76 closed

[2019-10-18 04:51] MarinPostma commented on #76
can't reproduce.

[2019-10-26 03:27] markx commented on #58
How did you fix this?

[2019-10-27 00:19] rafaeldelboni opened #78 "Jump to definition fails when jumping on the second time"
In some files, when I'm jumping to the definition on the second time I'm having this error: https://github.com/neoclide/coc.nvim/issues/652

Is possible to navigate in vim using jar and not `zipfiles`?

Versions:
[code]
Sample solution:
[fulcro-app.zip](https://github.com/snoe/clojure-lsp/files/3775398/fulcro-app.zip)

CocInfo log:
[code]

[2019-10-27 00:45] rafaeldelboni commented on #78
Looks like `textDocument/didOpen` is returning the file name with `%3a%3a` instead `::` and some sort of cache is using the "new" file name
.

[2019-10-28 21:57] #78 closed

[2019-11-04 07:31] agzam opened #81 "add-missing-libspec"
For some reason, in seemingly correctly configured project in Emacs, with installed `lsp-ui` and `lsp-ui-sideline-show-code-actions t` it shows "add-missing-libspec" for everything. Even when cursor at a namespace declaration block.

Running `lsp-execute-code-action` says: `No workspace could handle workspace/executeCommand`, same is for `lsp-ui-sideline-apply-code-actions`.

Can someone suggest w

[2019-11-04 07:53] agzam opened #82 "Latest versions failing on Mac"
I've tried downloading two latest versions, and trying to connect to the server in Emacs fails for both of them, as well with `brew install --HEAD` version. Only the stable brew version `clojure-lsp: stable 20190408` works, the others fail with the following message:
[code]

[2019-11-05 03:59] agzam commented on #68
@MarinPostma I have the same problem on Mac, see #82

[2019-11-05 05:37] agzam commented on #82
the contents of /tmp/lsp.out:

[code]

[2019-11-05 06:20] agzam commented on #82
Apparently I just needed to create a proper .lsp/config.edn. I did this:

[code]

And it seems to be working with the latest version installed via brew --HEAD.

Perhaps a better way of letting the user know about missing required config options need to be considered, minimal example configs for deps, lein and boot posted in readme and brew formula updated.

[2019-11-05 06:20] #82 closed

[2019-11-06 14:37] snoe commented on #82
@agzam did you have something wrong in your `config.edn`? Do you have other build tools in your project? By default, lein should work without having to go into `config.edn`.

[2019-11-06 14:47] snoe commented on #81
Code actions have just not been worked on as much as they should have been. They are mostly static with the add-missing-lib-spec command now, but that is only valid when you have an un-required namespace on the var your cursor is over. However, it looks like there's a bug even in that specific instance.

If they are getting in your way, I'd take an initial patch that removes the `add-missing-libsp

[2019-11-15 03:08] dijonkitchen opened #83 "Utilize CIDER/Orchard"
Based on https://github.com/clojure-emacs/cider/issues/2747#issuecomment-553488835 , it seems clojure-lsp should be able to use https://github.com/clojure-emacs/orchard to help build the functionality.

Perhaps in the future, everyone can use clojure-lsp, irrespective of platform/editors and leverage the CIDER/Orchard functionality.

[2019-11-17 06:16] agzam opened #84 "Using Graal"
Seeing tools like clj-kondo nicely using Graal, made me think that we can considerably improve startup time. Can we discuss this possibility?

[2019-11-21 05:03] XVilka opened #85 "Support UTF-8 for the LSP protocol"
See the lengthy discussion here: https://github.com/microsoft/language-server-protocol/issues/376

It seems that clojure-lsp is one of a few that uses UTF-16 https://github.com/Avi-D-coder/lsp-range-unit-survey

Would be nice if it will have UTF-8 support as well, at least optionally.

[2019-11-22 22:44] piotr-yuxuan commented on #30
@snoe, thanks for you work on this library! `clojure-lsp` (along with `clj-kondo`) have finally put Emacs on par and above IntelliJ for 'professional' code editing in my workflow. I'm super delighted about that!

One note though (perhaps for future reference): on my side I have had to use a custom `lsp-clojure-server-command` to get lsp server be launched properly:

[code]

Without that tweak it l

[2019-11-22 22:46] piotr-yuxuan commented on #30
@snoe, thanks for you work on this library! `clojure-lsp` (along with `clj-kondo`) have finally put Emacs on par and above IntelliJ for 'professional' code editing in my workflow. I'm super delighted about that!

One note though (perhaps for future reference): on my side I have had to use a custom `lsp-clojure-server-command` to get lsp server be launched properly:

[code]

Without that tweak it l

[2019-11-26 20:30] agzam opened #86 "lsp-treemacs doesn't work (?)"
Apparently `lsp-treemacs-symbols` function doesn't work with clojure-lsp, it says: "The active buffer cannot provide symbols information", is that something that can be fixed via configuration, or clojure-lsp doesn't support that yet? I'm curious what needs to be done, for this feature to work.

[2019-11-28 18:36] ericdallo opened #87 "Support for schema.core macros"
On the company where I work, we have hundreds of clojure micro-services that use [schema.core](https://github.com/plumatic/schema). I think `clojure-lsp` can help a lot, but without support for `schema`, we can't use it on emacs :/.

Currently there are functions that return a typed value and functions that doesn't, like below:
[code]

I tried build a `macro-def`, but its seems to ignore bound-ele

[2019-11-30 04:45] dpsutton opened #88 "signer information does not match signer information of other classes in the same package"
Attempting to use clojure-lsp on java 11 on a new ubuntu install. From both `clj` and `lein` I get the following (bumped clojure to 1.10.1 to see if that helped which explains the different error format):

[code]

The problem seems to come from the `ClojureExtensions`. This imports this class and this class ends up in the target directory

[code]

Since the lsp4j jars are signed, we end up with a

[2019-11-30 07:11] dpsutton commented on #88
addressed by https://github.com/snoe/clojure-lsp/pull/89

[2019-12-15 22:44] patrickpichler opened #90 "Implement `documentSymbol` lsp function"
It would be a nice to have to list all symbols of a document for easy traversal.

[2019-12-20 01:58] ericdallo commented on #87
@snoe any updates on that?

[2019-12-20 17:18] snoe commented on #87
@ericdallo  Thanks for pinging me on this. Right now there is not a macro-def for ignoring/skipping things in a parameter list. Luckily my vacation starts today, and this is the major thing I want to add to clojure-lsp over the break.

[2019-12-20 17:40] #88 closed

[2019-12-21 02:00] ericdallo commented on #87
@snoe Thank you very much, this LSP it's awesome and works very well, but at work, we have a deep dependency on `schema.core`, so without a support for this, we can't use `clojure-lsp` and depends only on other libs like `joker`, `clj-kondo` and others...

If you need some help, I'll be very happy to help you with that

[2019-12-21 03:14] ericdallo opened #92 "Support for midje custom symbols"
[Midje](https://github.com/marick/Midje) is famous test framework, that uses custom symbols inside their macros

`clojure-lsp` has support for custom macros, but there's some libs that have custom symbols inside a custom macro like `fact`, `facts` and `tabular` from `midje.sweet`:

`fact`
![image](https://user-images.githubusercontent.com/7820865/71302056-b73be600-2385-11ea-8043-96bcd57ae2cf.png)

[2019-12-23 20:27] snoe commented on #92
I think something like `'midge.sweet/fact [:element :element :_ :element]` should work for `fact`

`tabular` seems to bind and declare the `?` vars after they are used in the `fact`. This would require changing the macro-def parser into a two pass system (bind params then do everything else).

That's not impossible, but this would require someone who wants it to step up and do a pr.

[2019-12-23 20:42] snoe commented on #87
Fixed by 616ba37

The core component here is the `:sub-elements` macro which dives into a binding vector and continually tries to apply `:match-patterns` until reaching the end of the binding vector or pattern no pattern matches.

So if you have a binding like
`[a :- A b c :- C]`
The first pattern will consume `a :- A` (with a param `a`) the second pattern will consume `b` (with param `b`) and the

[2019-12-25 23:15] ericdallo commented on #87
Thank you so much @snoe!

 it works very well for the most cases, but it looks like the macro it's not beeing applied when the function return is a `collection`

![image](https://user-images.githubusercontent.com/7820865/71451381-2aad7100-2753-11ea-8281-69469617643e.png)

[2019-12-25 23:39] ericdallo commented on #92
Got it, I tested the `fact` macro above, and didn't work :disappointed:

I tried with and without namespace `require`:

`lsp/config.edn`
![image](https://user-images.githubusercontent.com/7820865/71451503-0dc66d00-2756-11ea-90bb-114d90ec926b.png)

_with namespace_
![image](https://user-images.githubusercontent.com/7820865/71451510-5a11ad00-2756-11ea-98f6-4ac4aedfb6f9.png)

_without namespace_
![im

[2019-12-26 16:58] snoe commented on #87
Ok, it looks like i'll have to move this `match-patterns` concept up to the top level of a macro-def.

[2019-12-28 02:16] ericdallo commented on #87
@snoe
Sorry for reply again, but i found another problem, it looks like the `:params` on the `macro-def` doesn't work on destructured parameters:

![image](https://user-images.githubusercontent.com/7820865/71537711-b44d7200-28fe-11ea-975a-82b532e05d04.png)

[2019-12-28 05:17] scotts777 opened #94 "SQLException on Mac OS Catalina"
When running clojure-lsp on Mac Catalina, I am receiving this in the log file:
`ERROR clojure-lsp.main: #error {
 :cause path to '/.lsp/sqlite.1.db': '/.lsp' does not exist
 :via
 [{:type java.sql.SQLException
   :message path to '/.lsp/sqlite.1.db': '/.lsp' does not exist
   :at [org.sqlite.core.CoreConnection open CoreConnection.java 192]}]`

It appears also that on this version of Mac OS that d

[2019-12-28 21:13] scotts777 commented on #94
stupid user configuration error.

[2019-12-28 21:13] #94 closed

[2020-01-06 23:35] snoe commented on #87
46d040d Fixes destructuring

[2020-01-09 16:47] #87 closed

[2020-01-13 17:51] patrickpichler commented on #77
It seems like the issue is [here](https://github.com/snoe/clojure-lsp/blob/master/src/clojure_lsp/parser.clj#L514). When defining a function with the type hint, the parameter list has tag type `:meta` instead of `:vector` or `:list`.

[2020-01-14 05:06] #62 closed

[2020-01-14 05:17] #90 closed

[2020-01-14 05:19] snoe commented on #82
This was caused by default compilation settings on certain versions of java, fixed by https://github.com/snoe/clojure-lsp/commit/0c0fb64fcb76ef78a348256758d1424ba48f116a

[2020-01-14 05:22] snoe commented on #86
@patrickpichler Added https://github.com/snoe/clojure-lsp/pull/96 and https://github.com/snoe/clojure-lsp/pull/98 I'm guessing one of those should address that error. Let me know!

[2020-01-14 05:22] #86 closed

[2020-01-14 17:37] daveyarwood opened #100 "A colon isn't recognized as a valid character in a symbol"
I occasionally like to use colons as an ad hoc namespacing facility when I'm naming vars. Clojure allows this:

[code]

clojure-lsp's definition of a valid symbol doesn't seem to include colons (and perhaps other rare symbols?)

![2020-01-14-123325_541x204_scrot](https://user-images.githubusercontent.com/4909079/72367518-507ec380-36ca-11ea-88c9-86b06f757960.png)

[2020-01-14 20:05] Luminiscental commented on #100
Looks like this is an issue with `ident-split` in `parser.clj`:
[code]
is being too greedy.

[2020-01-14 22:48] #100 closed

[2020-01-14 22:49] snoe commented on #100
Thanks @Luminiscental !

[2020-01-16 12:40] ericdallo opened #104 "Arity diagnostic does not work on schema.core/defn"
The arity check diagnotic feature is awesome, but it looks like broke `schema.core/defn` arity check :(
Is too hard to add support for that?

![image](https://user-images.githubusercontent.com/7820865/72526953-5ac5cc80-3846-11ea-8f42-3869935766a2.png)

[2020-01-17 14:55] snoe commented on #104
fixed by ef37e7e11154d688c96c2a7ad27c9d4a5b584c03

arity checks are ignored with an `:ignore-arity? true` on the macro def.
Happy to take a pr to somehow produce a signature sexpr that can be checked.

[2020-01-17 14:55] #104 closed

[2020-01-17 15:33] snoe commented on #57
Closed by https://github.com/snoe/clojure-lsp/commit/ef37e7e11154d688c96c2a7ad27c9d4a5b584c03

[2020-01-17 15:33] #57 closed

[2020-01-17 15:50] Cnly opened #105 "Problems parsing some nested cond-> expressions with custom macros"
I noticed that clojure-lsp isn't able to parse its own `refactor/transform.clj` with the error message `Assert failed: could not create subzipper`. The error is from this line:

https://github.com/snoe/clojure-lsp/blob/ef37e7e11154d688c96c2a7ad27c9d4a5b584c03/src/clojure_lsp/parser.clj#L397

and one short piece of code that seems to cause the parsing problem is:

https://github.com/snoe/clojure-ls

[2020-01-17 18:06] seancorfield commented on #57
Thank you!

[2020-01-17 19:03] dpsutton commented on #57
thank you @seancorfield !

[2020-01-17 22:36] snoe commented on #105
Thanks for the heads up and the test case.

Fixed by 18a5646

See how https://github.com/snoe/clojure-lsp/blob/18a5646478a26a44caca99ca47408f2b3cba9543/test/clojure_lsp/parser_test.clj#L573-L576 for a macro-def of a custom threading macro.

[2020-01-17 22:36] #105 closed

[2020-01-18 00:03] Luminiscental commented on #77
This issue should be fixed now, from #95.

[2020-01-18 03:33] daveyarwood commented on #77
I can confirm that it's fixed. Looks like you've been adding a ton to clojure-lsp recently, @Luminiscental -- much appreciated!

[2020-01-18 03:33] #77 closed

[2020-01-20 19:18] ericdallo opened #108 "Multi-arity functions with schema.core/defn"
The last problem (I hope) I found with `schema.core/defn` is that it `macro-def` does not support `multi-arity` functions like:

![image](https://user-images.githubusercontent.com/7820865/72752192-59770580-3ba0-11ea-9ed7-e51e49746dae.png)

Is this a big problem? or is there some way to change the macro-def adding this support?

Thanks!

[2020-01-20 23:44] Luminiscental commented on #108
Looks like there's a disconnect between how `function-signatures` handles stuff versus how the actual references get parsed by `function-params-and-bodies` e.t.c.

maybe want to refactor so that some logic there is shared, in this case it's since parser.clj:562 is only affecting arity diagnostics, not usage diagnostics.

[2020-01-21 04:12] snoe commented on #108
Yup, `:function-params-and-bodies` is probably right, I think in the short term it could probably re-use the `:signature-style :typed` to ignore the annotations.

The disconnect between `function-signatures` and `function-params-and-bodies`  e.t.c. is unfortunate - it might be possible that the `:signature` flag on the `:declaration` could add the param references and then we skip adding them late

[2020-01-21 08:09] Cnly commented on #66
I'm doing some experiments to integrate clj-kondo on my branch: https://github.com/Cnly/clojure-lsp/tree/clj-kondo-integration. Basically I was able to replace most of the diagnostics functionalities with clj-kondo, but also needed to beautify results from clj-kondo using references that clojure-lsp found, because clj-kondo provides only the starting position (not a range) for its diagnostics item

[2020-01-21 14:25] snoe commented on #66
I think it might be worthwhile to reach out to kondo and see if they can expose end ranges. They have an lsp client too so I figure it should be possible.

[2020-01-21 23:38] #108 closed

[2020-01-21 23:48] snoe commented on #66
@Cnly this seems to be the relevant kondo.lsp range https://github.com/borkdude/clj-kondo.lsp/blob/master/server/src/clj_kondo/lsp_server/impl/server.clj#L72-L73

cc @borkdude Is there a facility in kondo to get proper ranges for diagnostics that maybe we're missing?  Would it be worthwhile pursuing that inside kondo or should we do the cross referencing that @Cnly was suggesting?

[2020-01-21 23:50] snoe commented on #66
Oh and something I should add from my first comment, is that @borkdude did convince me that we should be ok parsing twice and we shouldn't let that hold up kondo integration.

[2020-01-22 08:37] borkdude commented on #66
Currently clj-kondo does not expose ranges, but only the start row and col. This is because initially we only supported flycheck etc. which do not have the concept of ranges. Later we added an LSP-server to support VSCode, IntelliJ and now also Emacs.

Nobody has been asking for ranges yet, since just providing the start position seems sufficient for all of these three editors. It will be an offic

[2020-01-24 03:54] snoe commented on #66
No, that sounds great. I didn't realize that would work. @Cnly I'd love to know if that's sufficient to get Kondo diagnostics on your branch using this trick.

[2020-01-24 03:55] snoe commented on #36
Dupe of #66

[2020-01-24 03:55] #36 closed

[2020-01-26 04:25] Cnly commented on #66
Good to know, thanks. If that behaviour is still not part of the spec, maybe it's still preferable to beautify the results ourselves? At least coc.nvim doesn't have that behaviour yet according to my tests. Also I think my branch is already a working version; it's just that I need to fix the tests.

[2020-01-26 08:44] borkdude commented on #66
@Cnly I was just reading how you did this. If this is performant, that seems ok:

https://github.com/Cnly/clojure-lsp/commit/54515b0efd334a1c2d8e2b1e57bb1d2a413b4487#diff-36311287db83beb7cd1e00b298eb8985R160

Two questions:

Is `usages` a complete list of all tokens from the code, i.e. will this code always be able to resolve the end row and column?

For performance it may be better to index usage

[2020-01-26 10:47] borkdude commented on #66
Meanwhile I'll see what I can do in clj-kondo itself: https://github.com/borkdude/clj-kondo/issues/711

[2020-01-26 14:22] Cnly commented on #66
@borkdude

`usages` is supposed to be a complete list. In case the end row and column aren't found in there (e.g. when kondo gives a position of a `(` character), end row and column will be the same as the starts - that's why I used `merge`.

Yes, that's probably going to speed up the process. But clojure-lsp currently doesn't do that now, so :/

Thanks! 😄 By the way, is clj-kondo.lsp able to work

[2020-01-26 15:04] borkdude commented on #66
@Cnly Can you test with the new version from master?

[code]

Notice the addition of `:end-row` and `:end-col`.

[2020-01-26 15:10] borkdude commented on #66
Note sure what you mean here, but if that's a different issue with clj-kondo not related to this issue, I suggest creating an issue for this at clj-kondo or come chat in the clj-kondo channel on Clojurians slack.

[2020-01-26 15:31] borkdude commented on #66
I tested this with VSCode:

![Screenshot 2020-01-26 16 30 44](https://user-images.githubusercontent.com/284934/73137514-3c877a00-4059-11ea-991d-c82836171142.png)

I had to change the following bit of code in clj-kondo.lsp:

[code]

[2020-01-26 15:33] Cnly commented on #66
@borkdude Just tested the new version. Can confirm end-row and end-col are working. Perhaps just one thing: for an unused function, the end position goes all the way to the end of the function definition, and all those lines are underlined by the LSP client. Maybe just give the range of the `defn` line for this case?

[2020-01-26 16:11] borkdude commented on #66
@Cnly Done. Tested with IntelliJ:

![Screenshot 2020-01-26 17 04 21](https://user-images.githubusercontent.com/284934/73138004-35169f80-405e-11ea-89c5-0fd9d91ab1d6.png)

[2020-01-26 17:59] Cnly commented on #66
@borkdude Can confirm. And I found another case: `Redundant do`. Is it possible to have a unified fix for the like?

[2020-01-26 18:53] borkdude commented on #66
@Cnly A workaround for this could be in the LSP server implementation:

[code]

So we just check if the character at the start is an opening paren and if so, we only highlight the expression?

[2020-01-26 19:32] borkdude commented on #66
Pushed one fix for the region of unresolved symbols.

[2020-01-27 09:08] Cnly commented on #66
@borkdude Yeah, that's a plausible way to do it.

[2020-01-27 09:10] borkdude commented on #66
@Cnly If there are no other problems, then I'll release this so we can get on with this issue. Do you need more time or can I go ahead?

[2020-01-27 09:16] Cnly commented on #66
@borkdude I think we're good to go. Thank you so much for working on this! :)

[2020-01-27 10:05] borkdude commented on #66
@Cnly I just bumped the version to `2020.01.27` which should be available on clojars in the coming hour. I'll make a release of the new binary and LSP server later.

[2020-01-27 17:53] snoe commented on #66
@Cnly How does you branch/kondo interact with diagnostics from macro-defs?

I wonder if we should/need to add a `:tag` to `macro-def`'d `usages` that falls back to the clojure-lsp diagnostics for those places where kondo's `lint-as` falls short.

I'm thinking in particular about the recent work @Luminiscental did with `multi-arity` diagnostics  and schema.core but I might have some other examples

[2020-01-27 18:15] Luminiscental commented on #66
At least with the schema.core stuff I'm pretty sure kondo supports it fine already, but maybe there are other places where having such a tag could be useful.

[2020-01-27 19:08] borkdude commented on #66
FWIW: clj-kondo has built-in support for schema.core.

[2020-02-03 08:24] erez-rabih opened #111 "go to definition takes to require clause"
Hi,
I'm using clojure lsp with coc.vim
when I press `gd` (go to definition shortcut) on a symbol that is referred explicitly on the require clause it would take me to the require clause and not to the function definition
for example:
[code]
hovering over calc on line 4 and typing `gd` would take me to line 2 instead of the actual definition in app.utils ns

[code]

[2020-02-03 17:34] Cnly commented on #66
@snoe Currently kondo's `lint-as` is not used so clojure-lsp is still responsible for those custom macros. Additionally, the way kondo is integrated now (passing the current file content when changed to `kondo/run!`, same as what clj-kondo.lsp does) doesn't give it workspace visibility, so it seems clojure-lsp will also be responsible for linting referred symbols, etc.

[2020-02-14 15:52] dpsutton opened #112 "go to definition sometimes goes to compilation output"
sometimes you can end up in the compilation output rather than the source files.

[2020-02-14 15:52] dpsutton opened #113 "no error message when the same ns is imported twice under different aliases"
had the same ns imported twice. both were actually used but one was reported erroneously as unused.

[2020-02-18 11:04] borkdude commented on #66
I think there are two ways of looking at integrating clj-kondo:

1) Integrate it as is, so users don't have to install anything else (the binary, etc). Users should not expect the behavior to be different than when using clj-kondo via flycheck, etc. They should just configure their .clj-kondo/config.edn as usual.

2) Integrate clj-kondo and try to improve upon its results (false positive unresolve

[2020-02-18 17:46] snoe commented on #112
You probably want to set
[code]
in your client settings or in lsp/config.edn

[2020-02-18 17:57] #112 closed

[2020-02-19 12:58] borkdude commented on #66
I just learned about this tool https://github.com/nedap/formatting-stack which also combines various linters into one experience.

[2020-02-26 12:15] PEZ commented on #61
Not sure I am following. In VS Code, the **Goto References** feature works, so seems this is already in place?

[2020-02-27 13:31] leandropincini opened #114 "FYI Error java.lang.UnsupportedClassVersionError java8"
Hello, I don't know if someone else is facing this error:
`
$clojure-lsp
Exception in thread "main" java.lang.UnsupportedClassVersionError: clojure_lsp/ClojureExtensions has been compiled by a more recent version of the Java Runtime (class file version 57.0),
 this version of the Java Runtime only recognizes class file versions up to 52.0
`

I'm using Java 8 (Oracle JDK) and installed clojure-lsp

[2020-02-28 10:44] achikin commented on #114
Same for me, but my version is 55 instead of 52. I'm using macosx Mojave 10.14.6

[2020-03-02 08:33] PEZ opened #115 "Old name of renamed file shows up in Got to References"
In vscode:

1. I copied a file, `foo.clj`
1. which gave me `foo copy.clj`
1. I then renamed it to `bar.clj`
1. Then in `foo.clj` I asked for **Go to references**

**Expected:**
* The list includes `bar.clj`
* The list _does not include_ `foo copy.clj`, since it does no longer exist

**Result:**
* The list includes `bar.clj`
* The list also _includes_ `foo copy.clj`, even though it does no longer e

[2020-03-03 23:13] snoe commented on #115
Fixed in c8f7e3068293b23c305450eb881dbc925ae97a17

I decided to let the client inform clojure-lsp when a file has been deleted through the `workspace/didChangeWatchedFiles` protocol. We now send a `client/registerCapability` for the method after initialization. Clients who support the capability should be able to set the `workspace/didChangeWatchedFiles` messages back to the server and we will rem

[2020-03-03 23:13] #115 closed

[2020-03-04 09:22] PEZ commented on #115
Thanks! It seems that VS Code supports the needed capability (perhaps unsurprising, but anyway).

[2020-03-04 09:46] PEZ opened #116 "Feature Request: Configurable prefix for user messages"
The problem: Bundling the lsp with Calva will probably be something that most users will get a lot of nice functionality, w/o really knowing anything about clojure-lsp. This is a bit of the case already today with clj-kondo, but my current idea for clojure-lsp is a deeper integration where the functionality is included in the Calva extension. (clj-kondo is separate extension, maintained by @borkdu

[2020-03-04 22:41] snoe commented on #116
Yup that makes sense, a PR would be welcome.

[2020-03-17 17:29] Wonko7 opened #118 "working with shadow-cljs projects"
Hi!

I'm using neovim, LanguageClient-neovim & clojure-lsp release-20200314.
I'm trying to setup clojure-lsp with this project: https://github.com/PEZ/rn-rf-shadow

I added `.lsp/config.edn` with:
[code]

And clojure-lsp seems to choke trying to parse the source. See:
[lsp.txt](https://github.com/snoe/clojure-lsp/files/4344833/lsp.txt)

What am I missing?

[2020-03-17 21:54] dcarley commented on #114
It's the Homebrew [bottle](https://docs.brew.sh/Bottles) that compiles against a newer version of Java, rather than the release process in this project. I'm not sure how those binary builds are configured. You can bypass the bottle with:
[code]

[2020-03-18 18:39] shepheb commented on #44
This can be worked around by explicitly `(:import [java.util Date])` in your `ns` macro, or otherwise importing the Java classes.

But I agree, this should not be an error.

[2020-03-18 18:42] shepheb opened #119 "Add a way to suppress "unused namespace" warnings"
This commonly happens with integrant or other similar configurations. Most of the user's namespaces aren't required directly by any others. Instead they're referenced in the integrant `config.edn` file and loaded dynamically in the REPL by `(go)`.

That causes all the user namespaces to show up as "unused".

You can work around this by defining an (unused) main somewhere, and having that namespace

[2020-03-20 01:30] snoe commented on #119
Makes sense, I'd gladly take a PR for this.
Configuration that matched kondo's (even if it didn't yet support regexes) would make a lot of sense to me.

https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#exclude-required-but-unused-namespace-from-being-reported

[2020-03-30 13:20] dpsutton opened #120 "adding unused libspec on fully qualified usage adds ns metadata to require form"
Working on a project that used `clojure.pprint/pprint` and `clojure.edn/read-string` without requiring them. I add-missing-libspec on them and end up with the following:

[code]

[2020-03-31 14:36] snoe commented on #120
Looks like this is from an old version, unable to reproduce with latest.

[2020-03-31 14:36] #120 closed

[2020-03-31 14:51] slifin opened #121 "Trying to get clojure-lsp working in sublimelsp/LSP"
I'm trying to use clojure-lsp with https://github.com/sublimelsp/LSP this is the configuration file, that I've created to try and leverage clojure-lsp, I should say that clj-kondo is working as expected

[code]

But when I go to use clojure-lsp I don't get any functionality

<img width="491" alt="Screenshot 2020-03-31 at 15 17 23" src="https://user-images.githubusercontent.com/198857/78036926-c35f

[2020-03-31 14:54] slifin commented on #121
How do we solve the error "[Errno 8] Exec format error" ?

[2020-03-31 15:24] slifin commented on #121
I cross-posted this to here: https://github.com/sublimelsp/LSP/issues/936
The solution given there worked for me, which was to change the command key to match kondo

[code]

[2020-03-31 15:24] #121 closed

[2020-04-01 13:17] lucasalencar opened #122 "LSP doesn't recognize usage when alias is only used inside arguments declaration (schema integration)"
When working with functions declared using schema declaration, there is a warning indicating an unused namespace which is not true.

Example:

[code]

What I suspect is that LSP doesn't understand that a schema declared in the arguments list is actually being used instead of just an argument declaration.

If I add the schema anywhere else, the warning goes away.

Example:

[code]

[2020-04-01 14:21] snoe commented on #122
I think it's this line https://github.com/snoe/clojure-lsp/blob/master/src/clojure_lsp/parser.clj#L341-L342 skipping over both the :- and the potential symbol. Could probably check if it's a symbol and `add-reference`

[2020-04-02 15:49] slifin opened #123 "Jump to definition for Clojure itself"
In Cursive it's possible to use jump to definition right to the source of Clojure which is really helpful for exploring

Is this plausible in Clojure-lsp?

[2020-04-05 01:47] ericdallo opened #124 "[LSP] Semantic tokens support"
LSP recently added a new semantic highlighting feature where server send to client the regions to color/highlight.
Check https://github.com/emacs-lsp/lsp-mode/issues/1482 for emacs discussion support and [here](https://github.com/microsoft/vscode-languageserver-node/issues/368#issue-336150366) explaining the feature

[2020-04-06 14:00] ericdallo commented on #122
I realized that `find-definition` is not working for the schemas on the arguments of a function, example: `find-definition` with the cursor on `an/Schema`.
@snoe do you think this fixing this issue should resolve this problem too?

[2020-04-06 14:18] ericdallo commented on #122
It was [this change](https://github.com/snoe/clojure-lsp/commit/f38b40a55234bdbfa1bfb2c890112f578e9086f9#diff-f94fd8215111cb9c9ecc4498101f0586L799-L802) that caused this problem, rolling back it on config.edn fixed my problem and this issue!

[2020-04-06 15:24] snoe commented on #122
right, that change allowed for multiple signatures.

[2020-04-11 21:33] snoe commented on #123
It is possible, if you have your project settings configured correctly, clojure-lsp should read clojure.jar and give you the ability to jump into jar code.

[2020-04-11 21:56] snoe commented on #122
Fixed by 2efa889

[2020-04-11 21:56] #122 closed

[2020-04-11 22:08] ericdallo commented on #122
Thanks!

[2020-04-12 03:20] #92 closed

[2020-04-12 03:21] ericdallo commented on #92
Thank you very much :D

[2020-04-12 03:28] #111 closed

[2020-04-12 03:29] snoe commented on #81
Disabled by 6f280b78

[2020-04-12 03:29] #81 closed

[2020-04-12 12:44] erez-rabih commented on #111
thanks! it seems the commit solves the problem

[2020-04-14 22:48] daveyarwood opened #126 "Support `doto`"
clojure-lsp doesn't appear to be knowledgeable about `doto`, which inserts its first argument as the first argument to all subsequent forms:

![2020-04-14-184449_1207x272_scrot](https://user-images.githubusercontent.com/4909079/79281125-2632d280-7e80-11ea-8095-9b8654abe58a.png)

(The relevant functions above all have arities that are 1 greater than the number clojure-lsp is complaining about, so w

[2020-04-25 14:48] gjabell opened #127 "Bug: content deleted during format"
I'm running clojure-lsp in conjunction with Neovim + LanguageClient-neovim. When calling the language server's format functionality, the entire contents of the file is deleted but only if the file is unmodified. So:

- make some changes
- call languageserver's format function => contents is formatted
- save file
- call languageserver's format function => contents is deleted
- press undo => file is

[2020-04-30 14:25] snoe commented on #127
@gjabell can you try to reproduce this with a single, small file? My suspicion is that it might have to do with an unparseable file, like an unbalanced map `{:foo}`

[2020-05-03 20:53] gjabell commented on #127
Hey @snoe, thanks for looking into this. I can reproduce it with the following file (default `core.clj` generated by Leiningen):

[code]

It looks like it doesn't have the issue when the file is first loaded, but is reproduceable at any point after that if the file has been modified and then saved. I also tried disable all plugins in Neovim except LanguageClient-neovim and the behavior persists.

[2020-05-07 03:42] #29 closed

[2020-05-08 20:57] QikLiang opened #131 "ClojureScript interop using the .. operator"
In the following code: `(.. e -target -value)` where `e` is meant to be a JavaScript object, I get the errors `Unknown symbol: -target` and `Unknown symbol: -value`.

[2020-05-10 11:25] pesterhazy opened #133 "ClojureScript string requires (npm) cause exception"
When using a [string require](https://clojurescript.org/news/2017-07-12-clojurescript-is-not-an-island-integrating-node-modules#_a_practical_example) in CLJS, I get an exception. For example, [this line](https://github.com/pesterhazy/cljs-spa-example/blob/master/src/cljs_spa/router.cljs#L6) gives me:

[code]

String requires are a relatively new feature of CLJS, uses when importing modules from NP

[2020-05-10 11:33] pesterhazy opened #134 "Cannot parse clojure.core.protocols"
[code]

This is because of the unusual `:extend-via-metadata true` syntax. This option was added [a while back](https://github.com/clojure/clojure/commit/2cc37bb56a9125a1829c73c505e32995e663059a).

[2020-05-10 11:41] pesterhazy opened #135 "Cannot parse clojure.main (ns-qualitified `:keys: syntax)"
[code]

(cut the rest)

This fails to parse because of the unusual `{:clojure.error/keys [phase source path line column symbol class cause spec]}` shortcut destructuring syntax.

[code]

[2020-05-12 23:27] scotts777 opened #136 "question about completion"
Hi,  I am trying to write an LSP client that uses clojure-lsp.  I am wondering if completion for a function call works with a namespace and/ or an alias?

For example when I try to complete
`clojure.p`
it will send
`[Trace - 07:18:44 PM] Sending request 'textDocument/completion - (83)'
Params: {
  "context": {
    "triggerKind": 1
  },
  "textDocument": {
    "uri": "file:///Users/sesuler/Projects

[2020-05-12 23:36] ericdallo commented on #136
Confirmed that this happens too with [lsp-mode](https://emacs-lsp.github.io/lsp-mode/page/lsp-clojure/)

[2020-05-13 05:12] FongHou commented on #131
@QikLiang, here is a workaround.

$cat .lsp/config.edn

`{ "macro-defs" {cljs.core/.. [:elements]`

[2020-05-14 06:08] eerohele opened #138 "Using type/record constructor args when extending doesn't count as usage"
Repro:

[code]

Extending the protocol within the `defrecord` body shows `bar` as used, as expected:

[code]

Solving this issue is potentially quite difficult, because Clojure has so many ways of extending types. For example, in addition to the `extend-protocol` example above, there are at least:

[code]

FWIW, it appears Cursive never shows `deftype`/`defrecord` args as unused, which, I think, i

[2020-05-14 15:07] slifin commented on #123
ah ty

[2020-05-14 15:07] #123 closed

[2020-05-15 14:38] snoe commented on #136
Thanks for the report. Ok so three issues.
1) I do not provide completion on namespace functions, only aliases. It makes sense to add though.

2) `clojure.pprint` namespace uses `load` to read everything in and clojure-lsp doesn't know how to handle that. So it looks like it's an empty namespace. This might be worth hard coding some entries until `load` is implemented.

3) Parsing for the file fai

[2020-05-15 14:58] scotts777 commented on #136
@snoe thanks for that feedback.  I didn't realize `clojure.pprint` was basically an empty namespace and that was what I was using to test my client.  Yes, I see how it works now by using a normal namespace like `clojure.string`.
I want to thank you for clojure-lsp and all the hard work you do on it.  It is such a valuable piece to clojure tooling.

[2020-05-15 14:58] #136 closed

[2020-05-15 15:41] snoe commented on #135
Interesting - I think your example should actually work, the problem seems to be using the `:ns/keys` destructuring while shadowing a clojure builtin (`symbol`,`spec`) in `ex-str`

[2020-05-15 22:02] FongHou opened #139 "Exclude unresolved namespaces from being reported?"
Hi,

I think clojure-lsp currently doesn't parse standalone (require ...) forms. Is it worthwhile to add what [clj-kondo](https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#exclude-unresolved-namespaces-from-being-reported) does?

I understand standalone require should be generally discouraged, but sometimes it's useful for repl evaled code in (comment ...). Also, [libpython-clj](http

[2020-05-16 16:07] dpsutton commented on #135
I'm unable to trigger a failing case somehow:

[code]

I also see logs that clojure-lsp can't parse the Datafiable protocol but I was unable to reproduce that either

[code]

[2020-05-18 03:59] scotts777 commented on #124
This would be a great feature.   LSP is getting very good.

[2020-05-19 15:13] scotts777 opened #140 "latest version breaks alias completions"
I believe it is the latest version that has caused completions to not work when using an alias.  This was working for me last week until I upgraded.

`(:require [clojure.pprint :as pp]
    	   [clojure.string :as str])

(str`

completion with the cursor at the end of str or str/ should be returning completion items that include all the functions in the clojure.string namespace.   A recent previous

[2020-05-21 02:55] scotts777 commented on #140
This seems to be something I was doing wrong with my client.  It is working.  sorry for the false report.

[2020-05-21 02:55] #140 closed

[2020-05-23 14:01] RogerWWilliams opened #142 "Inability to start in FreeBSD-13-CURRENT"
I do not see this issue in Debian Sid, only FreeBSD-13 (Current).  I see the LSP :: Connected message in Emacs v28 and also V26.
[clojure-lsp:<PORT> status:starting] and it hangs at this point.

I've tried this with OpenJDK8, 11, 14 thinking it may be an issue with the JDK, but they all respond identical.

Looking at lsp.out I see this:

[code]

[2020-05-25 02:04] l-qing commented on #55
# I found a solution for this problem:
<b>Pre-open all files containing keywords.</b>

It's not perfect but it works.
<hr>

# If you are already in vim, you can do this.
## 1. Use grep/Grepper to find all keywords and load into QuickFix.
## 2. Opens all the files in the quickfix list for editing.
[code]
## 3. Trigger shortcut key.
[code]

<hr>

# If you are not in vim, you can do this.
## 1. Open

[2020-05-25 03:27] RogerWWilliams commented on #142
I'm closing this as it was determined that the root cause was actually a dmenu configuration issue when dmenu was used to launch Emacs.

[2020-05-25 03:27] #142 closed

[2020-05-26 12:18] osleg commented on #127
I can add that exactly same behavior happens with Coc.nvim as LSP client

[2020-05-26 12:40] ericdallo commented on #127
This never happened to me on Emacs with `lsp-mode`.
Maybe is a bug on how lsp for vim works?

[2020-05-27 14:57] snoe commented on #127
@osleg what command are you using in coc.nvim?  I still had trouble reproducing...

[2020-05-30 18:14] Baspar opened #143 ".lsp/config.edn not getting applied with Vim-Lsp and Coc.Nvim"
I set up a minimal project to try clojure-lsp using vim, and i'm struggling to get a `macro-defs` for anything.
My simplified project structure is the following:
[code]

Core.clj:
[code]

config.edn
[code]

But it seems that the macro is not getting recognized, since I'm getting a diagnostic `[clojure-lsp unused-public] [W] Unused declaration: my-comp`

/tmp/lsp.out doesnt contains anything intere

[2020-05-31 09:03] Baspar commented on #143
Closing, it was a mix of mis understanding and mis configuration from my side

[2020-05-31 09:03] #143 closed

[2020-06-19 21:33] Immortalin opened #146 "Structural Editing"
Make it easier for editors to implement smartparens/paredit/parinfer functionality.

[2020-06-20 05:14] #126 closed

[2020-06-20 16:15] ericdallo commented on #139
The `linters` option doen's fix you problem? https://github.com/snoe/clojure-lsp#initializationoptions

[2020-06-20 16:16] ericdallo commented on #127
Well, I can confirm that this happened to me this week with `lsp-mode` for Emacs, but I could not reproduce it again...

[2020-06-20 16:24] ericdallo commented on #85
@snoe Do you know how we can start to implement that?

[2020-06-20 16:34] ericdallo commented on #61
I think this already works, can we close that?

[2020-06-20 16:37] ericdallo commented on #20
java.lang completions seems to work for me with `lsp-mode` for Emacs, can you test it again @hifall ?

[2020-06-20 17:48] ericdallo commented on #124
https://github.com/eclipse/lsp4j/issues/430

[2020-06-20 18:43] FongHou commented on #139
linters option  can only ignore unused-namespace (declared in (ns (:require ...)) but not being used by any references. What I described is about other ways to declare namespaces and resolve unknown references.

[2020-06-21 11:49] osleg commented on #127
@snoe the easiest way to reproduce it for me is to do
`au FileType clojure autocmd BufWritePre <buffer> call CocActionAsync('format')`

Add some new lines in a big clojure file -> `:w<cr>i`. For me it happens 8 out of 10 times.

[2020-06-21 14:21] ericdallo commented on #127
Yeah, I remember only having this on a big file

[2020-06-22 13:53] daveyarwood commented on #126
I can confirm this is fixed. Awesome! Thanks a lot, @ericdallo :+1:

[2020-06-22 20:53] ericdallo commented on #127
c/c @snoe

![clean-ns-bug](https://user-images.githubusercontent.com/7820865/85334134-215a5280-b4b1-11ea-942f-7d87e8b6d5bf.gif)

[2020-06-23 15:14] thurn opened #149 "Parser does not understand providing an explicit name to defmethod"
Clojure multimethod implementations can be given an explicit name, in order to improve stack traces:

`(defmethod foo "a" name-of-method [params] "was a")`

It seems that `clojure-lsp` does not understand this syntax at all, and tries to parse the method name as a parameter list.

[2020-06-23 15:16] ericdallo commented on #149
It seems to be a bug on the macro definition: https://github.com/snoe/clojure-lsp/blob/master/src/clojure_lsp/parser.clj#L763

[2020-06-25 22:05] daveyarwood opened #151 ""/bin/sh: 0: Can't open clojure-lsp" with the latest release"
I used to have clojure-lsp working and integrated into my Neovim setup, and I remember being able to successfully run it from the command line as well. For some reason, the latest handful of releases don't seem to work on my machine. Neovim (coc) reports that clojure-lsp crashes repeatedly when trying to run, and when I try to run it from the command line, this happens:

[code]

Googling that erro

[2020-06-25 22:22] ericdallo commented on #151
@daveyarwood I tested the latest binary from releases and it seems to work normally, are you sure you downloaded the latest binary from [this page](https://github.com/snoe/clojure-lsp/releases)?

[2020-06-25 22:32] daveyarwood commented on #151
Yes.

It's weird, _all_ of the releases going back at least as far as April 2020 seem to be giving me the same result. But I think when I was using clojure-lsp successfully before, it was one of those versions. So this makes me wonder if something might be messed up with GitHub or my browser or something?

I re-tested a bunch of the releases just now, and most of the time, I got the error message

[2020-06-25 22:34] daveyarwood commented on #151
Aha! I forgot something that I learned months ago, which is that I can't run `clojure-lsp` from Fish shell, I have to be in a Bash shell. When I do that with the latest release, I get a bit further, but it looks like there is a Java version issue:

[code]

[2020-06-25 22:36] daveyarwood commented on #151
...and the above was run in a directory that had a `.java-version` file pinning that project to Java 8.

I tried it again in another directory (using Java 11), and it worked.

[2020-06-25 22:36] ericdallo commented on #151
yeah, java v55 is from JDK 11 I think, @snoe do you compile `clojure-lsp` with what version of JDK?

[2020-06-26 16:03] ericdallo opened #152 "[bug] NPE on clean-ns when first require is unused"
I noticed that when we run `clean-ns` on a namespace that has an unused `require` as the first `require`, clojure-lsp gives a `NullPointerException`

`lsp.out`
[code]

[2020-06-29 15:22] snoe commented on #151
It's built on circle using the clojure/lein-2.9.1 image which seems to use jdk11 -- makes sense to try to use a jdk8 image.

https://github.com/snoe/clojure-lsp/blob/master/.circleci/config.yml
https://hub.docker.com/layers/clojure/library/clojure/lein-2.9.1/images/sha256-719af2315ed79ae87b636f53669e2dc27e828191dfa2da7096c5bac5b245af88?context=explore

[2020-06-29 16:31] snoe commented on #151
@daveyarwood can you try the latest release, should be built with jdk8?

[2020-06-29 17:54] daveyarwood commented on #151
I can confirm it's fixed in the latest release. Thanks! :+1:

[2020-06-29 17:54] #151 closed

[2020-06-30 17:10] paltom opened #154 "clojure.repl/doc support"
Does `clojure-lsp` support documentation from built-in functions/macros?

I have setup basic project with `lein new app test`.  `clojure-lsp` starts correctly (I think), provides diagnostics, completions, etc.
However, it does not provide documentation for clojure's functions and macros, e.g. `println`. As you can see below, server returns empty documentation string. It does provide documentation

[2020-06-30 19:13] snoe commented on #154
We don't use repl/doc but we do expect docs to come in, make sure you have your project classpaths setup but as long as clojure jar is in the path it should find it.

<img width="364" alt="image" src="https://user-images.githubusercontent.com/105012/86167243-698dfc00-bad3-11ea-8842-5994c4fec98d.png">

[2020-06-30 19:41] paltom commented on #154
Thanks, @snoe for quick response. This is weird, all I did was to reboot my laptop and it now seems to (mostly) work. Perhaps some global $PATH settings were not updated, although I'm pretty sure that I rebooted system after installing lein etc.

It still doesn't work in some cases, see below
![image](https://user-images.githubusercontent.com/38882604/86169280-ab419580-bb19-11ea-8550-fa21e32f80fd.

[2020-06-30 21:53] snoe commented on #154
yeah, map is weird, clojure.core does `(def map)` then later `(defn map <docs> ...)`... so we should take the last found declaration instead of the first. `do` is a special form and might need hardcoding or something else.

[2020-07-01 10:09] paltom commented on #154
Wouldn't using the output from `clojure.repl/doc` be a solution? I don't know if it's easy to use `doc` in clojure-lsp, but it seems to handle all above cases.

[2020-07-02 15:15] chenrui333 commented on #63
@netpyoung, is this still an issue for you. If that is the case, feel free to submit in the homebrew-core side, and tag me as well. Thanks!

[2020-07-02 15:16] chenrui333 opened #155 "Java 11 support"
I wonder if there is any timeline to support Java 11. Thanks!

[2020-07-02 17:01] netpyoung commented on #63
oh I forget this, I close this issue, you already update that formula! thank you.

[2020-07-02 17:01] #63 closed

[2020-07-02 17:16] chenrui333 commented on #63
Cool!

[2020-07-05 23:04] QikLiang commented on #131
After learning about how `macro-defs` work, I don't think it's a proper solution. The `-target` symbol is still not being recognized because it has never been defined previously. I see two ways around this issue: treat symbols starting with `-` within interop macros as literals or have an alternative to `elements` for `macro-defs` that have the semantics of "don't try to check the macro beyond thi

[2020-07-06 15:05] snoe commented on #155
What specifically are you looking for? @chenrui333

[2020-07-06 15:10] #152 closed

[2020-07-06 15:12] chenrui333 commented on #155
@snoe 👋 right now I have seen build issue with jdk 8 greater, that is why I raised this issue.

https://github.com/Homebrew/homebrew-core/blob/master/Formula/clojure-lsp.rb#L19-L20

[2020-07-06 15:21] snoe commented on #155
So it was building with jdk 11 for awhile and that was fine, unless you had a jdk 8 runtime. I'm not sure how to balance this, any suggestions?

https://github.com/snoe/clojure-lsp/issues/151#event-3493868687

[2020-07-06 16:52] chenrui333 commented on #155
I will try to build it with jdk11 later today to see if it works. (along with the latest release)

[2020-07-16 02:24] daniel-quintoandar opened #156 "Support auto-gensym on syntax-quote"
I'm not sure if I've misconfigured something or if it doesn't work at all...
![Screenshot from 2020-07-15 23-17-00](https://user-images.githubusercontent.com/65167584/87619163-efc05a00-c6f1-11ea-8f6e-21c75ae317fb.png)

I'm using NeoVim with coc.nvim and built clojure-lsp with `lein bin` from master using java 8

[2020-07-20 20:25] socksy opened #157 "Can't get macro defs to work for simple let binding"
Hi, in my `.lsp/config.edn` I've put the following:

[code]
to try and get reagent's `with-let` to be handled like a normal let. However, while this removes the "undefined" warnings, it seems to completely ignore everything inside the binding, causing lots of unused warnings and no longer recognising any mistakes inside that binding. Am I misunderstanding what `macro-defs` is supposed to do, or ha

[2020-07-20 20:43] ericdallo commented on #157
@socksy for me it works with:
[code]

![image](https://user-images.githubusercontent.com/7820865/87984368-417d3180-cab0-11ea-85a7-be220615db2a.png)

With unused warning on `b`:
![image](https://user-images.githubusercontent.com/7820865/87984566-8608cd00-cab0-11ea-8d0c-f75aab8a0032.png)

[2020-07-20 21:47] socksy commented on #157
@ericdallo Thanks! That works for me too. Perhaps the readme should be updated to reflect that?

[2020-07-20 21:49] #157 closed

[2020-07-20 21:54] ericdallo commented on #157
I'll open a PR for that later, thanks!

[2020-07-22 23:02] knubie opened #159 "Does hover work with clojure.core functions?"
I'm using clojure-lsp with `LanguageClient-neovim` and when I call hover on any clojure.core function, nothing happens. It seems to work fine with functions I've defined however.

[2020-07-26 21:26] ericdallo commented on #66
@snoe and @Cnly I think this issue lost somewhere, I really think we should use the @Cnly branch using `clj-kondo`, what's missing? I think we can use as it is like @borkdude said and address the issues on other PRs.

[2020-07-27 14:32] snoe commented on #66
@ericdallo The hooks in kondo I think now are able to completely replace the macrodefs and are available in kondo's analyzer.

What I would like is:
1. merge this (with newest kondo) to replace our diagnostics
2. Figure out if kondo's analyzer can replace our parser.clj and db `usages`. Refactorings/Transformations would still need to be handled by lsp, but the bulk, I think, can just be kondo. I

[2020-07-27 14:36] ericdallo commented on #66
I totally agree with that @snoe!
Maybe @Cnly can rebase with master its branch?

[2020-07-27 15:11] Cnly commented on #66
This is getting a bit old. I remember one big issue I had to think about back then was that kondo can't lint across files, but yes we can still replace the majority of linting with kondo and try to improve that. I can take some time recently to look at this again. :)

[2020-07-27 15:17] ericdallo commented on #66
Thank you @Cnly!
What do you mean with "Kondo can't lint across files"?

[2020-07-27 15:19] snoe commented on #159
Most core functions should have hover work, you might need to look at `project-specs` options to make sure your classpath is read in.

[2020-07-27 18:15] dpsutton opened #160 "understand `reagent/with-let` bindings"
[code]

and in config.edn macrodefs:
`reagent.core/with-let [:bindings :bound-elements]`

also verify that it understands the `finally` form?

[2020-07-28 06:02] Cnly commented on #66
@ericdallo It means kondo integrates in LSP servers now mainly by taking the content of each file to lint, rather than analysing a bunch of files. For example see the reference implementation: https://github.com/borkdude/clj-kondo.lsp/blob/66a54966d8e5b26643e9b39241ba26c1215f5f9d/server/src/clj_kondo/lsp_server/impl/server.clj#L120-L124. This way kondo won't be able to know symbols defined in anot

[2020-07-28 12:32] ericdallo commented on #66
Oh @Cnly this is kind of a problem, right?

This is one of the greatest features of a LSP IMO :/

@borkdude is there any way to achieve that?

[2020-07-28 13:48] borkdude commented on #66
The way this works normally with clj-kondo is:

- User have a `.clj-kondo` directory in the root of their project. Clj-kondo automatically saves information into this directory under `.clj-kondo/cache`.
- As the users edits files, more and more information comes available.
- If you want to make the information available beforehand, you can lint your entire classpath our source dirs with `clj-kondo

[2020-07-28 13:59] ericdallo commented on #66
I see, do you see any problem `clojure-lsp` do `clj-kondo --lint <classpaths>` on LSP start?
Currently, `clojure-lsp` already analyses all references so I think this would not be a bigger problem

[2020-07-28 14:00] borkdude commented on #66
I don't see a problem other than that it can take a while, depending on the amount of dependencies. The linting can also be done programmatically, using the `clj-kondo.core` namespace.

[2020-07-28 14:21] ericdallo commented on #66
Yes, I agree, we can test the performance compared with how `clojure-lsp` do that currently, WDYT @Cnly?

[2020-07-28 18:13] knubie commented on #159
Thanks for the tip @snoe. I'm using shadow-cljs, so I added this `.lsp/config.edn` file:
[code]

But I'm still seeing the same behavior. Is there some log file, or debug mode I can use to get more info?

[2020-08-02 13:09] Cnly commented on #66
That's great! It didn't occur to me that I can also pass directories or the classpath programatically. Let me see how I can pick up my old branch. :)

[2020-08-05 20:41] #66 closed

[2020-08-06 19:51] snoe opened #168 "Support standalone kondo config file"
If a project already has kondo configuration for cli usage set, lsp should be able to pick it up from the project-path.

[2020-08-06 20:02] snoe commented on #168
I wonder if you'd like to take this on @Cnly while it's still fresh? I won't be able to tackle it for awhile.

[2020-08-06 21:21] ericdallo commented on #168
It should just check for a kondo config file in the project dir and merge with the lsp "clj-kondo" settings, right?

BTW I think this already works: https://clojurians.slack.com/archives/CPABC1H61/p1596720879059400

[2020-08-12 18:16] snoe commented on #168
Fixed by afd7380f7f030c511d4c05dedd6bebdf367adb9c

The issue was, depending on how clojure-lsp is launched the project dir might not be the same as config-dir

[2020-08-12 18:23] #168 closed

[2020-08-19 18:02] agzam opened #171 "find-ns function"
_Not an issue_

I'd like to write a small `find-ns` utility function that does exactly what `cider-find-ns` does, but without having to be jacked-in, only using tools provided in lsp. Can someone suggest where should I look, how to start it? Thanks.

[2020-08-19 18:30] ericdallo commented on #171
Hey @agzam, cool, it seems a good idea.
Well, as this is a specific feature that is not in the [lsp protocol](https://microsoft.github.io/language-server-protocol/), you can write a new handler for the `executeCommand` method like we do for server-info [here](https://github.com/snoe/clojure-lsp/blob/master/src/clojure_lsp/main.clj#L334-L335), returning all namespaces available.

For finding all na

[2020-08-20 05:36] agzam commented on #171
Thank you @ericdallo, looks like it requires more thought than I expected. Thank you for the pointers, I will try to play around, maybe something useful comes out of that.

[2020-08-20 22:32] arturovm opened #174 "Emacs Eglot support"
Hi @snoe. First of all, thanks a lot for your work! This has become an invaluable part of my workflow.

Having said that, I tried to use this with Eglot in Emacs, instead of with lsp-mode, and apparently Eglot is waiting for something to happen that `clojure-lsp` isn't doing? Eglot times out after a while. I don't know the cause exactly, as I don't have much experience debugging elisp packages.

I

[2020-08-20 22:35] ericdallo commented on #174
I don't think is a bug on clojure-lsp, probably some missing config on eglot for connecting with clojure-lsp, I use lsp-mode so I don't know much about eglot, but I bet that there is some debugging/logging config on eglot that could help debugging this

[2020-08-20 22:47] arturovm commented on #174
@ericdallo You know what? I just dug around a little, and it turns out I just had to bump up the timeout timer for Eglot 🤦 Closing this issue now. Thanks for the reply!

[2020-08-20 22:47] #174 closed

[2020-08-21 02:58] snoe commented on #171
You might be interested in lsp's workspace symbols (in coc.nvim it's `:CocList symbols`) you can start typing in a namespace and it will jump you there.

[2020-08-27 15:55] sfertman opened #177 "Feature request: add "download lsp server command" to vscode extension"
Since the extension is only proof of concept and not on the marketplace, we can't easily update the server when a new release comes out. I have a local gulp setup to automate some tasks but it still a bit of a process to update a server. It would be great to be able to update the lsp server from inside vscode without rebuilding and installing the extension (especially now that releases are happeni

[2020-08-27 15:58] ericdallo commented on #177
@sfertman it looks a good idea!
personally I use Emacs, but feel free to open a PR :)

[2020-09-04 16:36] Andre0991 opened #181 "Display schema output in `lsp-describe-thing-at-point`"
Consider this function:

[code]

This is the result of `lsp-describe-thing-at-point`:

[code]

Note that it displays the input schemas, but it does not do the same for the output (which is `s/Uuid`).

 My company heavily uses plumatic schema, so this is a bit annoying because it requires you to go to the function definition if you want to know the expected output.

[2020-09-04 16:46] ericdallo commented on #181
I'm not sure if we have some easy way to find the output schema on hover/documentation request given the function name, WDYT @snoe ?

[2020-09-07 09:30] qleguennec opened #182 "Completion error"
I'm not sure that this is strictly related to `clojure-lsp`, but as far as I can tell, I couldn't reproduce it on other backends.

This happens whenever I try to complete a keyword. Other completion type seem to be working as expected.

[code]

[2020-09-07 16:51] ericdallo commented on #182
@qleguennec I use compay-capf too and never faced that before, could you please paste you company config and a sample so we can try to reproduce?

[2020-09-08 11:25] qleguennec commented on #182
@ericdallo I use doom emacs. Here is the company configuration:

[code]

[2020-09-08 11:26] qleguennec commented on #182
I also should provide the backtrace:

[code]

[2020-09-09 12:29] ericdallo commented on #182
I'm not sure this is a `clojure-lsp` or a `lsp-mode` bug, maybe @yyoncho could know something about it?

[2020-09-09 18:26] yyoncho commented on #182
Is this the full callstack?

[2020-09-09 23:18] ericdallo commented on #182
Yeah @qleguennec could you enable `M-X` `toggle-debug-on-error`, reproduce the full callstack?

[2020-09-10 07:43] qleguennec commented on #182
@yyoncho This is the full callstack.

[2020-09-15 03:47] snoe commented on #181
@Andre0991 @ericdallo

My first thought is we'd have to allow macro-defs to add something like an `:extra-info or :return-type` key to the [`add-reference` call](https://github.com/snoe/clojure-lsp/blob/7f28cb3e14ab271eb62cc7afb06fee4bcd239087/src/clojure_lsp/parser.clj#L868-L876), it's possible it has overlap with type-hinting.

I'm hesitant to do this, since we'd like to move to a new parser (ko

[2020-09-15 03:54] snoe commented on #181
Oh and you should reuse [`:signature-style :typed`](https://github.com/snoe/clojure-lsp/blob/7f28cb3e14ab271eb62cc7afb06fee4bcd239087/src/clojure_lsp/parser.clj#L801) for schema when figuring out how to find the return-type value.

[2020-09-21 21:24] rafaeldelboni opened #184 "LSP stops to work on project files after go to definition to a internal project function and going back to the last file."
LSP stops to work on project files after going to definition to an internal project function and going back to the last file using [jump to previously visited location vim embed function](https://vim.fandom.com/wiki/Jumping_to_previously_visited_locations)

### Versions:
[code]

### Diff that probably causes this to happen:
https://github.com/snoe/clojure-lsp/compare/release-20200828T065654...rele

[2020-09-21 21:45] ericdallo commented on #184
After finding the defintion it's calling `DidCloseTextDocument` for some reason, I'll take a look!

[2020-09-21 23:32] ericdallo commented on #184
After some research, the problem is that since the client is sending a [textDocument/didClose](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_didClose) because you changed to another file, clojure-lsp is clearing the analyzed documents, and after that release from diff, we cleared some unnecessary variables and that's why you are facing this

[2020-09-22 20:38] snoe commented on #184
@ericdallo what was the purpose of clearing the uri file-env on close? https://github.com/snoe/clojure-lsp/commit/2bde0f788da39b7989e57c860f1b1e03e3f4c07e

It seems that even if you do close a buffer, the analysis should be maintained.

[2020-09-22 21:23] ericdallo commented on #184
It was for renaming files on client, if we find a way to check if the file was renamed, we can remove it from file-env only when is renamed, WDYT @snoe

[2020-09-23 14:02] snoe commented on #184
Yeah, makes sense.
I think in order to fix this, it looks like we can act optimisticly and clear the file-env within `handlers/rename` when called on a ns.

Then we can look at workspace.didChangeWatchedFiles and that would be an appropriate place to clear state about the file if there's a `delete` event.

[2020-09-23 14:21] ericdallo commented on #184
Hum, it seems a good idea, but I'm not sure how to do that

[2020-09-24 11:58] rafaeldelboni commented on #184
Can we change `did-close` to `did-rename` and call it only when a rename happened?

[2020-09-25 16:06] ericdallo commented on #184
No @rafaeldelboni, didClose is defined in [LSP spec](https://microsoft.github.io/language-server-protocol/specification#textDocument_didClose) and ATM there is no `didRename`

[2020-09-25 16:26] snoe commented on #184
I think it the `dissoc` of `file-envs` and `documents` can be done here with `doc-id` instead of `on-close` https://github.com/snoe/clojure-lsp/blob/7f28cb3e14ab271eb62cc7afb06fee4bcd239087/src/clojure_lsp/handlers.clj#L366 Any reason that wouldn't work?

Although testing it, it feels like rename file is incomplete, I believe all other file-envs likely need to change the fully-qualified symbol whe

[2020-09-25 16:28] ericdallo commented on #184
Got it @snoe, thanks for the explanation, I'll take a look later today!

[2020-09-25 22:07] #184 closed

[2020-09-25 22:08] ericdallo commented on #184
@rafaeldelboni Could you confirm this was fixed by [release-20200925T220747](https://github.com/snoe/clojure-lsp/releases/tag/release-20200925T220747)?

[2020-09-26 16:26] oryband commented on #92
This doesn't work by default in coc.nvim. Can someone please provide an explanation on how to apply this on a coc.nvim coc-settings.json?

[2020-09-26 16:52] ericdallo commented on #92
I think @snoe use vim, maybe he could help with these settings

[2020-09-27 09:19] oryband commented on #92
This is what I get for using `tabular ?x ?y` and `=>` signs.

![image](https://user-images.githubusercontent.com/115387/94361234-84184700-00bb-11eb-82b8-e9f72f32d75a.png)
![image](https://user-images.githubusercontent.com/115387/94361238-867aa100-00bb-11eb-9c3f-0a4db562d3ef.png)

And this is my `:CocConfig`:
[code]

[2020-09-27 14:12] gdanov opened #185 "How to exclude paths from being scanned"
I have clojurescript project (using deps.edn in case this matters).
 When searching for reference of a symbol I get results from my ./out/... folders. How do I specify in the .lsp/config.edn where to (not) look?

[2020-09-27 14:18] gdanov opened #186 "Navigating to clojure.core sources"
In a clojurescript project I seem to be unable to navigate to the definition of core ~~functions~~ macros such as ```specify!``` for example
jumping do ```defn``` worked, seemingly on the second attempt

[2020-09-27 14:26] ericdallo commented on #185
I think this is responsibility of your LSP client (emacs, vim, etc), if you use emacs and using `lsp-file-watchers`, you can add a denylist to that: https://emacs-lsp.github.io/lsp-mode/page/performance/#ignore-watch-foldersfiles

[2020-09-27 15:45] gdanov commented on #185
Thank you. As someone coming from Cider (yes, on Emacs) I'm confused about how clojure-lsp learns  about my project — does it have  any understanding of my project by integrating with projectile (via the LSP client I guess) or deps.edn?

[2020-09-27 15:59] ericdallo commented on #185
LSP is divided by the server (in this case `clojure-lsp`) and the client (in your case `lsp-mode`). `lsp-mode` guess the project root using projectile(take a look [here](https://emacs-lsp.github.io/lsp-mode/page/settings/) for more info, search for `lsp-auto-guess-root`), so the client just send the file contents to the server to server manage that.

If you want to know more about this LSP world,

[2020-09-28 12:53] gdanov commented on #185
Thanks. Judging from my initial experience with clojure-lsp, cider would be interesting for me only for the REPL...

[2020-09-28 12:53] #185 closed

[2020-09-28 16:59] #186 closed

[2020-09-29 09:17] gdanov opened #187 "Cannot figure out the correct macro-def for specify!"
Looking at the code [here](https://github.com/snoe/clojure-lsp/blob/68676e4bc1d4e97a46ad6957ff12d6d1233857d8/src/clojure_lsp/parser.clj#L777)

I figured out the following configuration in  `<project-root>/.lsp/config.edn` should work, but it  doesn't

[code]

bellow is the feedback I get

<img width="1017" alt="Screenshot 2020-09-29 at 11 14 56" src="https://user-images.githubusercontent.com/95711

[2020-10-07 13:47] ericdallo opened #188 "[LSP] - Support for semantic tokens"
If this PR merged https://github.com/eclipse/lsp4j/pull/446, we now can start adding support for semantic tokens :)

[2020-10-07 13:47] ericdallo commented on #188
@snoe how complicated do you think this would be?

[2020-10-11 00:27] snoe commented on #188
It might be a bit difficult to make fast, you'd probably have to go the definition to figure out what it is.
And then we're also pretty vague, we have declarations, which could be a def or defn or macro and don't really give clojure.core stuff special treatment. Might be worth trying a naive implementation of it and see if it's useful tho.

[2020-10-11 00:53] ericdallo commented on #188
Yeah, it would be great if we could achieve something like CIDER [syntax highlight](https://docs.cider.mx/cider/config/syntax_highlighting.html).

[2020-10-12 18:11] dharrigan opened #190 "java.lang.IllegalStateException: Expected BEGIN_OBJECT but was BEGIN_ARRAY"
[code]

Hi, I'm experiencing a strange issue that I cannot quite get to the bottom of. I have this function in my vim configuration.

[code]

then this mapping:

[code]

When I invoke `crcn`, I get this error:

[code]

`CocInfo` shows this:

[code]

Am I doing something wrong?

[2020-10-12 18:19] ericdallo commented on #190
I'm not sure, but testing on emacs works and seems to send a different data for the `executeCommand`:
[code]

That `null` on you log seems to be the problem, maybe @snoe could confirm if it's an issue on client side (vim)

[2020-10-12 18:32] dharrigan commented on #190
That's very interesting. I did wonder about that `null`...

[2020-10-13 13:45] dharrigan commented on #190
Okay,

Doing some investigation. It looks like there is a breaking change somewhere post CoC v0.0.79. Using that particular release works. At some point past that, breakage.

[2020-10-14 08:56] dharrigan commented on #190
Looks like this has been fixed. I'll try it out once it hits the RELEASE branch on CoC.

[2020-10-14 20:20] gdanov commented on #187
did some further digging:
* wrote test that passes such code to `find-usages` and making sure the output is meaningful — validated the definition  above is good
* via repl verified that `(get-in @db/db [:settings :macro-defs])` contains my custom def

what else could I do to debug the issue? it looks like I'm doing what I have to do but still the form is not properly recognized.

[2020-10-14 22:23] agzam opened #191 "Doesn't work in monorepos"
Clojure-lsp doesn't seem to be "know" how to work with monorepos managed by lein-monolith.

For example: if you have a dependency to a lib project that is within the monorepo, using `lsp-find-references` on `my-lib.core/my-fn` wouldn't find `my-fn`. Again:

- there's a monorepo
- it has a sub-project called `my-lib`. There's a function `my-lib.core/my_fn`
- there's another sub-project: `my-service

[2020-10-15 00:59] ericdallo commented on #191
I'm not sure if this is a bug on clojure-lsp, @agzam can you confirm if your project is the mono-repo root and not a subproject via `lsp-describe-session`? otherwise you can `lsp-workspace-folders-remove` then `lsp` again

[2020-10-15 01:01] ericdallo commented on #187
on your project, make sure your config is loading the `macro-defs` via `lsp-clojure-server-info`

[2020-10-15 07:49] gdanov commented on #187
this is what I see, is it a problem  that the defs  are visible in the server, but NOT in the client section?
[code]

[2020-10-15 09:50] gdanov commented on #187
created custom lsp client, managed to pass the macro-defs, now the result looks like this:
[code]
:project-settings are empty on purpose.
I keep getting errors and the message log shows they come from kondo actually... one example
[code]

[2020-10-15 10:10] gdanov commented on #187
tried setting up linter exclusion (via .lsp/config.edn), because I can't figure out how to format it in elisp, but no effect
[code]

[2020-10-15 12:03] ericdallo commented on #187
We are using the macro-defs of clojure-lsp but we migrating to clj-kondo, so for now, you need to configure your macro for clj-kondo too.
I recommend you take a look on how to do that on clj-kondo readme

[2020-10-15 16:01] ericdallo commented on #191
Because this is client's responsibility (in this case, lsp-mode) send the files for the server analyzes it.
In this case I think it's correct, the server is watching the root project.
@snoe do you think this could be related to a custom classpath?

[2020-10-16 09:13] #187 closed

[2020-10-16 09:13] gdanov commented on #187
Thanks for the support

[2020-10-23 08:12] dharrigan commented on #190
Fixed and available on the latest (release) CoC

[2020-10-23 08:12] #190 closed

[2020-10-26 03:22] agzam opened #192 "Get fully qualified symbol at point"
I often need to find out the fully qualified name of a symbol at point (In Emacs), so I do this:

[code]
But this does not always work for some reason, and honestly, feels like a cheap hack. Can someone suggest a better way, please?

[2020-10-26 12:50] ericdallo commented on #192
@agzam I think you should ask that on [lsp-mode](https://github.com/emacs-lsp/lsp-mode) or open an issue there :)

[2020-10-26 15:12] agzam commented on #192
Yeah, I guess I'm gonna have to move it there. I just thought maybe someone here has dealt with something like that before.

[2020-10-26 15:40] agzam commented on #192
After talking to lsp-mode folks, I think I'm gonna have to re-open it. This is what @yyoncho says:

[2020-10-26 17:23] ericdallo commented on #192
@agzam I see, do you have an example of how would be the expected experience for that feature?

[2020-10-26 17:45] agzam commented on #192
I'm not sure what you mean. Just a custom server method to extract a fully-qualified symbol at point. The clients then can implement a call to retrieve that info. This could be useful for example when you need to copy&paste fully qualified name (useful in chat's for example), for hints in the mode-line/status-line (e.g.: via eldoc in Emacs).

Then, the clients can also extend it for example to aut

[2020-10-26 17:47] ericdallo commented on #192
Yeah, I see no problem in creating a custom method for that (I could open a PR on lsp-mode after clojure-lsp), but I'm not sure if @snoe agree with adding this since this is not part of LSP spec :/

[2020-11-05 03:11] emmanuj opened #193 "Unused shadow-cljs default import throws Exceptions"
When using shadow-cljs with doom-emacs in Clojure mode, something like the following require if unused throws a null pointer exception in the lsp logs and causes the lsp-mode to stop working in Emacs.

`(:require ["@material-ui/core/Button" :default Button])`

Here's the output:

[code]

I have the latest version of `clojure-lsp` as of this posting.

[2020-11-10 16:41] scotts777 opened #194 "Can't Read File on Windows"
Using the latest version release-20201009T224414.  It appears the parser is unable to read files on Windows machine because of lines ending with "\r\n"
`WARN  clojure-lsp.parser: Cannot read file:///C:/Users/.....clj Assert failed: (string-of? s r/linebreak?)`

When I remove the "\r" carriage return from the end of the lines in the file, the parser will succeed.  Most files on Windows machines wil

[2020-11-11 01:06] ericdallo commented on #194
it's strange behaviour indeed, I didn't find anything related to this code on `clojure-lsp` :thinking:

[2020-11-11 02:22] scotts777 commented on #194
I am guessing it is this part of the code in parser.clj
`(defn find-usages
  ([code file-type client-macro-defs]
    (find-usages nil code file-type client-macro-defs))
  ([uri code file-type client-macro-defs]
    (when-let [code-loc (try (-> code
                                 (string/replace #"(\w)/(\s|$)" "$1 $2")
                                 **(z/of-string)**

[2020-12-02 21:11] bpringe opened #195 "Trace messages between client and server"
I've been exploring LSP and clojure-lsp in an effort to integrate it with Calva. It seems it would be really helpful for me to see messages going between server and client, but so far I've been unsuccessful. I'm using the `vscode-languageclient`, which seems to have trace capabilities, as described [here](https://code.visualstudio.com/api/language-extensions/language-server-extension-guide#logging

[2020-12-02 21:20] bpringe commented on #195
To add a little bit to this, using clojure-lsp with Calva thus far, I get code lens for number of references above function definitions, but when I click the references, I get an error message:

![image](https://user-images.githubusercontent.com/12722744/100932543-e1a48780-34a0-11eb-8e32-16bcac78905a.png)

This is what set me on the path of viewing trace logs to try to piece together what's happen

[2020-12-02 22:44] bpringe commented on #195
Nevermind! I got the tracing to work. I needed to use `<language_client_id>.trace.server` as the setting property, and I had my client id as `clojureLSP`. :sweat_smile:

If my above issue with code-lens-references persists, I may create a new issue, but I'll investigate now that I can see more.

[2020-12-02 22:44] #195 closed

[2020-12-03 00:58] bpringe commented on #195
Just FYI, I realized now with the above issue that Calva needs to define a `code-lens-references` command itself. I'm guessing that command's implementation would send a `textDocument/references` request to the lsp server and use that response to show the references in the UI.

[2020-12-03 20:09] bpringe opened #196 "Add arguments to command in codeLens/resolve response"
I noticed the `codeLens/resolve` response includes a range and a command, but the command does not include arguments. I'm not sure how other clients handle this, but in VS Code, when I click a code lens in the editor, it calls the `code-lens-references` command (which I had to implement).

Inside this command handler, I do not have the range information from the server response, so I don't have th

[2020-12-04 00:56] bpringe opened #198 "Prevent negative numbers in diagnostics ranges"
While working on integrating clojure-lsp with Calva I've noticed this error sometimes:

[code]

When I examined those message types in the trace logs, I see that sometimes a message like this is sent from the server:

[code]

After tracing through the code, I'm guessing clj-kondo is providing a row/col of 0/0 when trying to lint Calva's `output.calva-repl` file, which Calva labels as Clojure so th

[2020-12-04 01:34] bpringe commented on #116
FYI this is done by adding `source` to the diagnostics in the `textDocument/publishDiagnostics` response messages.

I'd think we'd want them to say clojure-lsp and not Calva though, for the ones coming from clojure-lsp, so it's clear they originate from clojure-lsp? You can see the bottom one below says clj-kondo, though this is coming from clj-kondo within clojure-lsp, I didn't have the kondo ext

[2020-12-04 17:56] bpringe opened #199 "Duplicate diagnostics for unused private vars"
I'm seeing duplicate diagnostics in the `textDocument/publishDiagnostics` notification, one from clojure-lsp and one from clj-kondo, for unused private vars

From clojure-lsp
[code]

From clj-kondo
[code]

I'm guessing the goal is to eventually only use clj-kondo for diagnostics?

[2020-12-05 02:31] ericdallo commented on #199
Yes, we want to replace all clojure-lsp linters for clj-kondo, but currently clj-kondo works only for single files, not analyzing refenreces yet.
Still, I think we could fix this issue if we could remove only clj-kondo check for this lint.

[2020-12-05 02:33] ericdallo commented on #198
Yes, nice catch, we should probably use a min function to avoid negative numbers

[2020-12-05 02:41] #196 closed

[2020-12-05 02:45] ericdallo commented on #116
Yes, as said [here](https://github.com/snoe/clojure-lsp/issues/199#issuecomment-739109778), we should replace `clojure-lsp`'s diagnostics by `clj-kondo` diagnostics, there is a WIP PR [here](https://github.com/snoe/clojure-lsp/pull/176), but it´ s not ready and it's kind of stuck.
Help is very welcome!

[2020-12-05 23:05] #198 closed

[2020-12-09 01:55] bpringe opened #203 "Declarations reported as unused when usage is syntax quoted"
If I have a function called `login` and I refer to it somewhere by syntax quoting, like:

[code]

then clojure-lsp reports login as being unused.

[2020-12-12 01:05] bpringe opened #204 "Java symbol hover response not working"
When I hover over a java symbol like `.getBytes` in `(.getBytes "hello")`, I just get an empty hover box in VS Code, and the request/response looks like this:

[code]

I'm not sure why the value of the `contents` is `"```clojure\n \n```\n"`. Is hover content for Java supported yet?

[2020-12-12 01:35] ericdallo commented on #204
hover content for Java is not supported yet :/
Not sure how complicated is to implement though

[2020-12-15 14:47] svdo opened #205 "Find references doesn't work correctly when using both `:as` and `:refer` in ns require?"
Thanks for Clojure-LSP, I think this is an awesome project of great value to the community!

I think I found an issue. I'm using a dev build of Calva with clojure-lsp integration. When I look at the references of a function, then I notice that a lot are not found. It seems that the issue is that we sometimes have require's of this form:

[code]

In cases like these, it seems that clojure-lsp doesn

[2020-12-15 17:41] ericdallo commented on #205
@svdo if you just provide:
[code]

Does it works?

[2020-12-15 17:46] svdo commented on #205
Yes indeed without the ns alias it does work.

[2020-12-18 18:56] bpringe opened #206 "Add initialization options to disable formatting providers"
Calva provides its own formatter that is a customized version of cljfmt. I think the plan is to eventually merge any changes we need into main cljfmt and use it from clojure-lsp, but for now having lsp provide formatting can cause some confusion (VS Code allows a user to choose which formatter to use, but since it sees them as both coming from Calva, they are named the same in the UI picker).

Unt

[2020-12-18 19:27] #206 closed

[2020-12-18 19:53] bpringe opened #208 "textDocument/documentSymbol response contains duplicates for cljc files"
Using clojure-lsp with Calva in VS Code, for some reason the client sends duplicate `codeLens/resolve` requests, so it receives duplicate responses. Also, the responses contain 1 more count of references than actually exist.

![image](https://user-images.githubusercontent.com/12722744/102655627-76f17e00-4127-11eb-90f8-30397141a137.png)

If I click one of those references to peek references, it sho

[2020-12-18 19:55] bpringe commented on #208
The client sending duplicate requests seems more of an issue of VS Code, so I'll have to investigate this more. Could duplicate requests cause lsp to send an inaccurate references count?

[2020-12-18 20:23] ericdallo commented on #208
This is really weird, it works pretty well using Emacs (client is [lsp-mode](https://emacs-lsp.github.io/lsp-mode/))
![image](https://user-images.githubusercontent.com/7820865/102658153-c484df80-4155-11eb-96f5-f9727900d0aa.png)

[2020-12-18 20:38] bpringe commented on #208
I just realized that clojure-lsp is actually returning duplicates in the `textDocument/codeLens` response.

`textDocument/codeLens` request from client:

[code]

`textDocument/codeLens` response:

[code]

Each one of the above are duplicated.

[2020-12-18 20:45] ericdallo commented on #208
This doesn't happens with `lsp-mode`:
[code]

I can't see how differents clients can have differents results though

[2020-12-18 20:54] bpringe commented on #208
Yeah, really odd. It seems maybe somehow duplicates are placed into the lsp db at some point. I see usages are pulled from `[:file-envs doc-id]` in the db .

https://github.com/snoe/clojure-lsp/blob/71ff703e747b2c4ddcdacbd9a4d5bf2aaa3a2c88/src/clojure_lsp/handlers.clj#L646

So maybe something weird is happening earlier since initialization that is causing duplicates in the db. I'll investigate the

[2020-12-18 21:20] bpringe commented on #208
Ok, I used a small cljc sample file to make reading this stuff easier, and I noticed the first place I see duplication is in the `textDocument/documentSymbol` response.

The file

[code]

`textDocument/documentSymbol` request to server

[code]

`textDocument/documentSymbol` response from server

[code]

[2020-12-18 21:21] bpringe commented on #208
So I guess from this point on the db has duplicates for that document, which causes the codeLens duplicates. No clue yet why this is happening though.

[2020-12-18 21:32] ericdallo commented on #208
Could you try removing `.lsp/` folder where it contains the db and restart the server?
Also you can take a look at `/tmp/lsp.out` to see if it logs anything useful

[2020-12-18 22:39] bpringe commented on #208
The problem persists after removing the `.lsp` folder and restarting the server.

I'm not seeing anything useful in `/tmp/lsp.out`.

[2020-12-18 22:46] ericdallo commented on #208
Is there any way where I could setup Calva with clojure-lsp to try to reproduce the issue?

[2020-12-18 22:48] bpringe opened #209 "Incorrect id for documentHighlight implementation"
At this `go` macro call for documentHighlight, the keyword id is `:documentSymbol` but I think it should be `:documentHighlight`. I may misunderstand though, but the rest of the usages appear to have an id that matches the function name.

[2020-12-18 22:59] bpringe commented on #208
You can download this vsix: https://9023-125431277-gh.circle-artifacts.com/0/tmp/artifacts/calva-2.0.135-feat-lsp-client-3166a539.vsix

Then in VS Code install the vsix by going to Extensions (side menu) -> Click the `...` menu -> Click "Install from VSIX..." (Not sure how familiar you are with VS Code so just gave the UI directions.)

[2020-12-18 23:06] bpringe commented on #208
For some reason that downloaded as a .zip for me this time (normally it's a .vsix IIRC), but if it does that for you just rename it to .vsix.

[2020-12-18 23:28] bpringe commented on #208
So, I just noticed that rename does not work in cljc files either (only cljc), and this seems related to this issue, because I noticed the `textDocument/rename` response contains duplicate edits. I get an error: `Rename failed to apply edits` - but if there are usages in clj or cljs files, those are renamed.

[2020-12-19 00:09] bpringe commented on #208
Just to report more related info - I noticed the outline feature has duplicate symbols for cljc files too.

[2020-12-19 01:37] bpringe opened #210 "Inline-symbol doesn't remove let if symbol was only binding in let"
Expected:

* Running inline-symbol on a symbol in a `let`, which is the only binding in the `let`, removes the `let`.

Actual:

* When I run inline-symbol and the symbol is from the only binding in a let, the let is left with an empty binding vector.

  ![inline-symbol-let](https://user-images.githubusercontent.com/12722744/102677503-a0c29900-4157-11eb-9509-3e14d61fb20d.gif)

[2020-12-20 20:40] ericdallo commented on #208
Just tested with your vsix and it seems to work fine :thinking:
![image](https://user-images.githubusercontent.com/7820865/102723915-62a9ae80-42ea-11eb-90b8-3e58ab6586f5.png)

[2020-12-20 20:44] ericdallo commented on #208
Never mind, just found the output channel

[2020-12-20 20:52] ericdallo commented on #208
Log
[code]
Tested Sample project: https://github.com/ericdallo/clojure-sample/blob/master/src/clojure_sample/d.clj

[2020-12-20 20:54] ericdallo commented on #208
Oh, sorry, now I see the issue is specific for when the file is `.cljc`, didn't pay attention to that, I could reproduce the issue indeed.

[2020-12-20 21:33] ericdallo commented on #208
It seems to only happen on cljc files, tested with cljs and I managed to create a test reproducing the bug.
https://github.com/snoe/clojure-lsp/pull/211

I'll work on the fix now

[2020-12-20 22:53] ericdallo commented on #208
[This code](https://github.com/snoe/clojure-lsp/blob/master/src/clojure_lsp/parser.clj#L1143-L1148) is generating the duplicated `usages`, but it's on purpose, it adds usages for `clj` and `cljs` since we don't know if the project using `clojure-lsp` is a cljs or not.
I'm not sure how to handle this, WDYT @snoe ?

[2020-12-21 02:38] ericdallo commented on #209
It's a bug indeed, thank you!

[2020-12-21 02:38] #209 closed

[2020-12-21 02:55] ericdallo commented on #205
@svdo Just tested and it seems to find correctly the references for my `c` ns:
![image](https://user-images.githubusercontent.com/7820865/102734549-db2a6280-431e-11eb-8be6-1e9ade4c2107.png)

Could you provide an example?

[2020-12-21 03:02] ericdallo commented on #210
This is not quite easy since we need to check some corner cases like

[code]
should be:
[code]
`rewrite-clj`, the lib we heavily rely on changing/analyzing Clojure code, doesn't allow replace a form with multiple forms like `(+ 2 1) (+ 2 4)`, is not a correct Clojure form so I'm not sure how to fix that, replacing the `let` by a `do` form would help implement too:
[code]

[2020-12-21 08:32] svdo commented on #205
Hmm strange, I tried to reproduce just now but couldn't. Closing this issue. I'll reopen when I see it again. Thanks!

[2020-12-21 08:33] #205 closed

[2020-12-21 16:39] bpringe commented on #210
I see. I saw the let removal in this gif, which is what made me expect it: https://github.com/clojure-emacs/clj-refactor.el/blob/master/examples/inline-symbol.gif

I realize that is not rewrite-clj, but I arrived there from the readme link pointing to those examples as a reference for what the refactor commands do.

[2020-12-21 19:20] ericdallo commented on #210
Yes, maybe we can check how they do, but we may need rewrite-clj anyway

[2020-12-22 20:53] bpringe commented on #194
Is there a reproducible case for this? I'm not seeing this problem in Windows, myself, with end of line sequence set to CRLF.

[2020-12-22 20:54] bpringe commented on #194
Just to add more info, I'm running clojure-lsp as a jar file on Windows from a VS Code extension (Calva). I'm not sure if that makes a difference.

[2020-12-22 22:33] bpringe commented on #208
Would calling `distinct` on that be sufficient? I don't see how it could cause issues. If two are the same, they mean the same thing and should be used the same way by any client.

[2020-12-22 22:43] ericdallo commented on #208
They are different by the file type, one is `clj` and other is `cljs`

[2020-12-22 22:58] ericdallo commented on #208
With this code:
[code]

For `clj` files those are the usages:
[code]

[code]

[2020-12-22 23:04] bpringe commented on #208
I see. At some point higher up in the call stack though, things are transformed into a common form, regardless of file type (going by the response json), so I'm guessing there is some place (or places), where de-duplicating makes sense. I could be wrong though.

[2020-12-22 23:08] bpringe commented on #208
Also, thanks for taking time to look into this @ericdallo :smiley:

[2020-12-22 23:11] ericdallo commented on #208
Good point @bpringe, I'll debug more to check if I can find this place/s :)

[2020-12-22 23:15] bpringe commented on #208
Just playing around to see what happens, I changed document-symbol to this:

[code]

and then the documentSymbol response did not contain duplicates. However, I realize other features are relying on the db for usages, so they will get duplicates (like code lens still showing duplicates), unless those responses were modified too.

Do you think the solution is simply to de-duplicate responses on the

[2020-12-22 23:24] ericdallo commented on #208
Nice!
That's exactly what I'm checking right now, if I don't find anything critical, we can think in de-deduplicate the callers/ use some common function to do that :)
Thanks for the debugging

[2020-12-23 00:56] bpringe commented on #208
Do you have any advice for repl development with this project? I'm unfamiliar with how I could try out things at the repl to simulate what's happening when it's running on a project. So far I make a speculative change, then run `lein bin`, then copy the jar into Calva, which runs it on startup, but obviously this is a slow dev cycle.

[2020-12-23 01:10] ericdallo commented on #208
I use Emacs with [cider](https://github.com/clojure-emacs/cider) which works perfect.
For this project, there are 3 options:
* test your function manually in the repl which most of time doesn't fit well since the functions have very dependencies, this is good for small functions
* Build the executable and test manually for big changes like you already do.
* Create a test for your case/fix which he

[2020-12-23 01:11] ericdallo commented on #208
BTW, I have an idea that should work for the persisted usages in the DB, I'm working on it and probably will release a SNAPSHOT version for you to test, is that ok for you?

[2020-12-23 01:13] bpringe commented on #208
Thanks, sorry, I deleted my comment asking about repl driven dev (for the record). I had just seen how the tests were set up regarding the db usage and started playing with them. Very helpful.

Sounds great! Thanks a lot.

[2020-12-23 01:26] bpringe commented on #208
While I don't know what your solution is or if it accounts for this issue, I found that if we dissoc `:file-type` from each usage in `reference-usages` then call `distinct` on the returned vector, it fixes the issue where resolved code lenses say twice as many references as they should for cljc files, and none of the tests break.

[code]

There probably should be tests added for code-lens-resolve

[2020-12-23 04:26] ericdallo commented on #208
This is a workaround since we are just fixing the wrong persisted usages, my idea is to fix the usages persisted in the db to not save "duplicated" usages, with that, it should fix every other place.

[2020-12-23 05:02] ericdallo commented on #208
Still need to fix a test, but could you test it with this branch?
https://github.com/snoe/clojure-lsp/pull/211

[2020-12-23 05:18] ericdallo commented on #208
Done here: https://github.com/snoe/clojure-lsp/pull/211
@bpringe could you test with calva and confirm this fix the issue?

[2020-12-23 17:50] bpringe commented on #208
These changes fixed the issue(s)! :tada:

[2020-12-23 17:59] ericdallo commented on #208
Finally... thanks for your help :)
I'll merge and release late today

[2020-12-23 21:18] #208 closed

[2020-12-24 20:12] vemv opened #215 "Idea: REPL-oriented helpers"
Hi!

I'd be interested in clojure-lsp for its refactorings.

Personally I don't want to integrate my editor with clojure-lsp, which is not really a judgement on it (if you're curious: I use forked/customized cider, clojure-mode, refactor-nrepl etc and don't really want to ditch that hard work I once did),

So, invoking clojure-lsp from the repl would allow me to use its goodies while not having to

[2020-12-24 20:39] ericdallo commented on #215
Hi, It seems a really good idea indeed :)
I just not sure how hard it would be, we could start with a `clojure-lsp.repl` ns accessing the refactoring ns exposing the common code action functions, WDYT?
I'm not sure we need to do anything more to other libs use this project as repl though

[2020-12-25 11:02] vemv commented on #215
Thanks for the response!

Sure :)

[2020-12-25 11:18] PEZ opened #217 "clean-ns deletes used requires"
Not sure if this is a dup of #127, but anyway, using the `clean-ns` command (at least in VS Code) performs a too eager clean on some files.

I've not been able to pinpoint exactly when this happens, so sorry about this huge repro:

[code]

After `clean-ns` the ns-form looks like so:

[code]

Whereas I expect it to look like so:

[code]

Also, if I manually edit the ns-form to look like expect it t

[2020-12-25 15:10] ericdallo commented on #215
Let me finish other things I'm working on `clojure-lsp` and I'll take a look at this :)

[2020-12-25 15:12] ericdallo commented on #217
Thanks for the report, I already saw that but I couldn't figure it out when it happens, I'll Investigate more

[2020-12-25 22:40] ericdallo commented on #217
@PEZ it seems to happen when the file is not correct, I mean, this code is enough to reproduce the issue:

[code]
But if you change it by adding the `^` to the function metadata, the clean-ns doesn't remove the `ysera.test` require:
[code]

[2020-12-25 22:53] ericdallo commented on #217
It's probably a bug since it's allowed a function have just a map as the meta:
[code]

[2020-12-26 00:45] PEZ commented on #217
I wasn't even aware you could metadata mark that metadata map. 😄

[2020-12-26 00:51] PEZ opened #218 "Expand let bugs out in lamdas which take arguments"
If you run the `expand-let` refactor in an anonymous function that takes arguments, the function disappears, body and all. So with this code:

[code]

Expanding the `let` gives you this:

[code]

Whereas if the `fn` does not take arguments the let is correctly expanded, afaict.

[2020-12-26 01:16] #217 closed

[2020-12-26 01:17] ericdallo commented on #217
@PEZ the latest release should fix this case parsing maps without `^` as metadata too ;)

[2020-12-26 02:00] #218 closed

[2020-12-26 02:00] ericdallo commented on #218
Thanks for the report, fixed on latest release :)

[2020-12-26 02:05] ericdallo commented on #203
Do you have a concrete sample file?
Just tested with this code, it works, but I'm not sure I understands the issue:
[code]

[2020-12-26 02:07] ericdallo commented on #5
Closing this since it already exists and works for a while

[2020-12-26 02:07] #5 closed

[2020-12-26 02:09] ericdallo commented on #24
@lucasdf we now have support for `schema.core/defn` :) it's working for almost a year I think.

Closing this since we now use `clj-kondo` which helps finding the macros

[2020-12-26 02:09] #24 closed

[2020-12-26 02:12] ericdallo commented on #25
I think only adding to the CI a `clojure-lsp.bat` would be enough to close this issue

[2020-12-26 02:15] ericdallo commented on #45
Closing it since now macros are managed by `clj-kondo`

[2020-12-26 02:15] #45 closed

[2020-12-26 02:18] ericdallo commented on #61
Closing it since we have no more info and this seems to already work via the `references` lsp method

[2020-12-26 02:18] #61 closed

[2020-12-26 02:25] ericdallo commented on #67
This is fixed since now we use `clj-kondo` for diagnostics for most cases and `clj-kondo` already doesn't lint comment blocks :)
![image](https://user-images.githubusercontent.com/7820865/103144470-7a2cd100-4708-11eb-9a4b-2deb097cf4df.png)

[2020-12-26 02:25] #67 closed

[2020-12-26 02:27] ericdallo commented on #68
Closing this as it works on hover for a while now, let me know if any issues related to that

[2020-12-26 02:27] #68 closed

[2020-12-26 02:28] ericdallo commented on #84
@thiagokokada is working on that now :)

[2020-12-26 02:33] ericdallo commented on #113
We now use `clj-kondo` which already lints that :)
![image](https://user-images.githubusercontent.com/7820865/103144531-9d0bb500-4709-11eb-872f-9b6ca81c431a.png)

[2020-12-26 02:33] #113 closed

[2020-12-26 02:34] ericdallo commented on #114
Closing it since we already fixed it a long time ago :sweat_smile:

[2020-12-26 02:34] #114 closed

[2020-12-26 02:37] ericdallo commented on #119
Closing this since now we use `clj-kondo` which already supports that

[2020-12-26 02:37] #119 closed

[2020-12-26 02:39] ericdallo commented on #124
Finally I Implemented a first basic support for that :tada:
https://github.com/snoe/clojure-lsp/pull/216

I intend improving it by adding other tokens and tracking bugs since it's a hard new feature

[2020-12-26 02:41] ericdallo commented on #155
Closing this since it seems already works, if any issues let me know @chenrui333

[2020-12-26 02:41] #155 closed

[2020-12-26 02:44] ericdallo commented on #177
@sfertman just FYI, [Calva](https://github.com/BetterThanTomorrow/calva) now uses `clojure-lsp`, do you think this would be enough for you?
c/c @bpringe

[2020-12-26 02:49] sfertman commented on #177
I don't use calva--perhaps I should if it uses lsp now--so I couldn't say for sure. I'll try it out.

I'm totally fine with you closing this issue if this sort of feature is not really is your radar. It makes sense since you're building an lsp and not any specific editor integration.

[2020-12-26 03:14] thiagokokada commented on #84
Note that I am really stuck on how to continue from there, so some help would be welcome.

[2020-12-26 12:08] PEZ commented on #218
That was some quick turn-around! I can confirm the fix works. Thanks!

[2020-12-26 12:11] PEZ commented on #217
Indeed it does. Thanks!

[2020-12-26 12:48] PEZ commented on #49
For Calva I think we would like to do the formatting client side. Which will get a bit tricky to solve, since the edits arrive out of band (if that's the expression). But say that we solve that part, then what Calva needs is a cursor position for the minimum s-expression to format. Calva avoids formatting the whole document by applying it's formatting to s-expressions.

[2020-12-26 14:02] ericdallo commented on #177
Yes, exactly, LMK what do you think of the calva integration later :)

[2020-12-26 14:02] #177 closed

[2020-12-26 15:30] ericdallo commented on #215
I started to implement that, but now I have some doubts... How would it be the use case for that? I mean, the lib which will call this `repl` functions, will need to provider also the uri for the file, right? `(rename "/file/foo.clj" 'foo 'bar)`

Also `clojure-lsp` heavy relies on its own `db`, an atom that stores most info, that is initialized from LSP initialize request, in this case how the cal

[2020-12-26 15:36] ericdallo commented on #138
I confirmed this doesn't happen anymore since we use `clj-kondo` for lining now, LMK if any issues

[2020-12-26 15:36] #138 closed

[2020-12-26 15:43] ericdallo commented on #139
@FongHou we now use `clj-kondo` for linting, so it may be available already, let me know if it didn't solve your issue

[2020-12-26 15:43] #139 closed

[2020-12-26 15:44] ericdallo commented on #146
Could you please give an example or something to understand how this would work?

[2020-12-26 15:48] ericdallo commented on #149
@thurn this seems to doesn't happen anymore since we now use `clj-kondo` for linting, could you confirm that?
feel free to open the issue otherwise.

[2020-12-26 15:48] #149 closed

[2020-12-26 15:58] vemv commented on #215
Hey there, thanks for giving it a shot!

I think the primary use case would be having people literally invoke these functions from the repl, which would be `:refer`ed in user.clj (aka dev.clj)

You can find an example of the pattern here:

https://github.com/stuartsierra/reloaded/blob/1742037b053d355c5f7b99e3133796939876094d/src/leiningen/new/reloaded/templates/dev.clj#L13-L14

... there, `javadoc

[2020-12-26 15:59] vemv commented on #215
If using a var-centric api, e.g. `#'foo`, one can query `(-> the-var meta :file)`.

....There's a rare corner case were a var might be defined in _two classpath locations_, e.g. a `.jar` in `~/.m2` **and** in `src/`. Obviously one can only want to rewrite a `src/` file, not a jar.

So, in the case that `(-> the-var meta :file)` points to a .jar, one can fall back to querying java Resources:

[code

[2020-12-26 16:19] chenrui333 commented on #155
@ericdallo it is still an issue on the build side, I am also adding java 11 into CI to see if it is still an issue. Thanks!

[2020-12-26 16:28] chenrui333 commented on #155
looks like java 11 and java 15 both work for the CI. 🎉

[2020-12-26 16:54] ericdallo commented on #155
Thank you for the PRs :)

[2020-12-26 19:46] bpringe commented on #203
Sorry if I was unclear. This is regarding diagnostics. See in the below image, `sample` is syntax quoted in the `comment` form, but clojure-lsp reports it as unused at the declaration.

![image](https://user-images.githubusercontent.com/12722744/103158140-91eb7000-476f-11eb-8edc-f506208aad2d.png)

[2020-12-26 20:09] ericdallo commented on #203
Oh, got it, `clojure-lsp` doesn't add-references for quoted symbols indeed... I'm not sure how hard would it be to implement that support though
Thanks, I'll take a look at this soon

[2020-12-26 20:12] #199 closed

[2020-12-26 20:13] ericdallo commented on #199
@bpringe I just removed that clj-kondo linter since clojure-lsp already lint that along with public functions/vars.
We should remove it after #176 though

[2020-12-26 20:16] ericdallo commented on #116
@bpringe this issue seems to be the only one blocking https://github.com/BetterThanTomorrow/calva/issues/868, right?
Do you think adding `clojure-lsp` as the source would be enough?

[2020-12-26 20:36] PEZ commented on #116
Yes, I think @bpringe is right. The user is best informed if we surface clojure-lsp as the source for these.

[2020-12-26 21:10] ericdallo commented on #116
@PEZ @bpringe added in latest release `clojure-lsp` sources for the only 2 linters we currently have that are not from clojure-lsp, `Unknown forward declaration` and `Unused declaration/ns`.
Let me know if this not work for you :)

[2020-12-26 21:10] #116 closed

[2020-12-27 00:39] bpringe commented on #199
Sounds good to me.

[2020-12-27 19:38] bpringe opened #221 "clean-ns refactoring only works if cursor inside top level form"
Here's a gif from Calva. We are sending the line and character values for the current cursor position. If this isn't reproduced by you easily I can provide a more concrete repro case from our side.

![clean-ns](https://user-images.githubusercontent.com/12722744/103178468-d8a49d00-4837-11eb-8169-e0d4e111c4a1.gif)

[2020-12-27 19:49] bpringe opened #222 "add-missing-require code action should suggest already referred symbols in other files"
You can see here (from Calva), that this namespace is not required, but there are "No quick fixes available."

![image](https://user-images.githubusercontent.com/12722744/103178621-2cfc4c80-4839-11eb-8d8f-7097282378fa.png)

If add-missing-lib-spec were sent as `CodeActionKind` `quickfix` this would allow it to be an option the user could select there (I'm pretty sure).

[Link to the relevant place

[2020-12-27 20:56] ericdallo commented on #222
We already do that, but we only send that code action when we know how import that alias.
If you never imported `util` in any other file form that project, there is no way `clojure-lsp` know what ns import.

[2020-12-27 21:00] ericdallo commented on #221
I could reproduce the issue indeed using Emacs `lsp-mode`, I'll take a look. (I use this feature all the time, it's odd I never noticed that issue :sweat_smile: )

[2020-12-27 23:52] #221 closed

[2020-12-27 23:53] ericdallo commented on #221
Fixed on latest release @bpringe :)

[2020-12-27 23:56] ericdallo commented on #222
We can also add some known ns to `clojure-lsp`, like `clojure.core`, `clojure.string`, `clojure.set`, WDYT @bpringe ?

[2020-12-28 01:11] bpringe commented on #222
Oh... I see. I suppose this would be good, but seems low priority. Feel free to close if you want.

[2020-12-28 01:11] bpringe commented on #221
Awesome! :tada:

[2020-12-28 01:18] bpringe commented on #222
I see what you're saying here. I seem to remember some editor functionality for say, JS, that would somehow know if you were using something from another non imported package. I guess for example if you have a reference to `my-func` and there's no `my-func` in the file, but clojure-lsp's db has a `my-func` in `my-ns`, couldn't it add a required like `[my-ns :refer [my-func]]`?

It could also guess

[2020-12-28 01:29] ericdallo commented on #222
Yes, for some cases it's very complex, but for others like `refers`, it may be a valid feature.

[2020-12-28 07:54] eerohele commented on #138
Just checked, looks like this one has indeed been resolved. Thanks!

[2020-12-28 15:13] PEZ opened #223 "Refactorings and jar definition lookups do not work on Windows"
I am not sure this is not related to Calva, but it seems we do things right on the client end when I look at it.

Anyway, for this example, on Windows,, definitions for `remove`, `apply`, `mapv` etcetera do not work. Definitions for `util/add7` and for `v` works.

[code]

Also refactorings like trying to unwind the thread on `v` doesn't work. It gives a warning in the log:

[code]

This seem somew

[2020-12-28 15:19] kstehn commented on #223
Regarding the jar definition i found in the lsp log that it cant start lein.
I then looked into the code and basicly lein classpath gets executed by the java shell.

Started my own repl and tested:
`(clojure.java.shell/sh "lein" "classpath")`  => not found file
`(clojure.java.shell/sh "which" "lein")` => correct path to bin
`(clojure.java.shell/sh "lein.bat" "classpath")` => works as expected

[2020-12-28 18:51] FongHou commented on #223
@kstehn, that can be fixed in .lsp/config.edn

[code]

However, It seems clojure-lsp in calva use clj-kondo to scan classpath dependent jars and cache metadata in .clj-kondo/.cache, but clj-kondo doesn't seem do that either on windows.

[2020-12-28 20:00] ericdallo commented on #223
@PEZ could you confirm @FongHou fix the issue? I wonder what we could change on `clojure-lsp` for this permanent fix

[2020-12-28 21:25] FongHou commented on #223
@PEZ's workaround restored most of calva features with connected repl (autocomplete still doesn't work in comment block though).

@ericdallo, I think the fundamental problem on windows is that clj-kondo on windows does not index dependent jars from classpath path (see below screenshot). If clojure-lsp in calva depends on it, most of clojure-lsp features that rely on these metadata won't work.

![i

[2020-12-28 21:36] ericdallo commented on #223
Sorry, but I still don't get it if it's a `clj-kondo`, `clojure-lsp` or `Calva` issue 🤷🏻‍♂️

[2020-12-28 21:57] FongHou commented on #223
Things seem get complicated when all three interact with each other :-)

No worries, what's been added are still great. Thank you very much for your work!

[2020-12-28 22:00] ericdallo commented on #223
Thanks!

Still, if we have any evidence that may be a bug on `clojure-lsp` I'll glad to help, let's wait for more users report, also I have no Windows to test the changes

[2020-12-29 18:22] bpringe commented on #223
I tested this in a Windows VM and can reproduce. This is the code I'm using on both, in a windows.clj file. I put my cursor at `hiccup.core` in the ns require and run `Go To Definition`.

[code]

This is the request/response on Linux (working):

[code]

And this is the request/response on Windows (not working - also it's an image because not easy to copy/paste from my VM without some added effort:

[2020-12-29 18:25] bpringe commented on #223
Both of the above are in a deps.edn project

[2020-12-29 18:29] ericdallo commented on #223
Oh, so it looks separator issue on `C://` begging parsed as `C%3A/` indeed

[2020-12-29 18:31] ericdallo commented on #223
@bpringe you may have noticed that, but Calva probably is sending the `uri` wrong in the request, right?

[2020-12-29 18:34] bpringe commented on #223
I'm not sure how clojure-lsp is saving the uri. What does it want? Maybe `file:///c:/...`? This is just how our client, vscode-languageclient, seems to be sending it, but I think we can intercept and modify it.

[2020-12-29 18:36] ericdallo commented on #223
Not sure how is the correct to be sent, could you check other LSP requests/responses and how it's sending the uri?
When LSP initialize it may log uri too

[2020-12-29 18:46] bpringe commented on #223
Well, other requests that work are also sending the uri like that:

![image](https://user-images.githubusercontent.com/12722744/103306628-dd498c80-49c2-11eb-849a-2440b6441bc3.png)

So I think this is probably related to jar files + windows, specifically. :thinking:

Some snippets from the initialize request:

![image](https://user-images.githubusercontent.com/12722744/103306708-171a9300-49c3-11eb-

[2020-12-29 18:50] ericdallo commented on #223
Yeah, probably... we'd need to know how we should send the jar files path for windows :/
I wonder how LSP for java/scala do that

[2020-12-29 18:50] kstehn commented on #223
So the Uri isnt the Problem here.
But you are right That its jar + Windows.

I dont know if you can find it in your lsp logs but on my machine it tries to execute lein classpath to Index all jar files and the containing namespaces but it failes because the shell cant find lein

[2020-12-29 18:50] bpringe commented on #223
Got it, I'll look into that. I'm using clj but could be the same thing.

[2020-12-29 18:54] bpringe commented on #223
Aha! From /tmp/lsp.out (pasting from my Windows VM):

[code]

[2020-12-29 18:55] bpringe commented on #223
We may need to play with configuration to find what lsp needs, as @FongHou was saying.

[2020-12-29 19:01] bpringe commented on #223
Thanks for the info with the `sh` function @kstehn. I'm investigating that more now.

[2020-12-29 19:36] bpringe commented on #223
I've added this config and I don't get the above exception any more, but LSP still does not find the reference in the jar dep. Btw `(clojure.java.shell/sh "powershell.exe" "clj" "-Spath")` does work.

[code]

[code]

[2020-12-29 19:46] bpringe commented on #223
On windows, with the above classpath-cmd, the classpath is returned like `"src;C:\\Users\\brand\\.m2\\repository\\hiccup\\hiccup\\1.0.5\\hiccup-1.0.5.jar;C:\\Users\\brand\\.m2\\repository\\org\\clojure\\clojure\\1.10.1\\clojure-1.10.1.jar;C:\\Users\\brand\\.m2\\repository\\org\\clojure\\core.specs.alpha\\0.2.44\\core.specs.alpha-0.2.44.jar;C:\\Users\\brand\\.m2\\repository\\org\\clojure\\spec.alph

[2020-12-29 19:51] bpringe commented on #223
Also regarding my message about lsp still not finding the ref after config change, I had to delete the sqllite db in `.lsp` the restart the server, that's when I got the results mentioned above.

[2020-12-29 19:52] ericdallo commented on #223
Hum, quite interesting, this is the code from the `dependencyContents`:
https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/handlers.clj#L340-L348

[2020-12-29 19:53] ericdallo commented on #223
the issue is: it tries to find in db the uri:
```"jar:file://C:\\Users\\brand\\.m2\\repository\\hiccup\\hiccup\\1.0.5\\hiccup-1.0.5.jar!/hiccup/core.clj```
But it will only work for `file:///c%3A/Users/brand/development/clojure-test/src/windows.clj` like your first request

[2020-12-29 20:08] bpringe commented on #223
When I look in the sqlite db, thought, the uri in the `jar_envs` column for hiccup is this, which seems to match the request: `"jar:file://C:\\Users\\brand\\.m2\\repository\\hiccup\\hiccup\\1.0.5\\hiccup-1.0.5.jar!/hiccup/core.clj"` 🤔

[2020-12-29 20:13] ericdallo commented on #223
@bpringe could you add a `(log/info)` [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/handlers.clj#L346) logging `doc` and/or `doc-id` and compile it with `lein bin` and check what shows in `/tmp/clojure-lsp.out`?

[2020-12-29 20:48] ericdallo commented on #25
BTW we now include `clojure-lsp.bar` in our release:
https://github.com/clojure-lsp/clojure-lsp/releases/edit/2020.12.29-20.42.24

[2020-12-29 20:48] ericdallo commented on #223
FYI, we now include `clojure-lsp.bar` binary in releases: https://github.com/clojure-lsp/clojure-lsp/releases/edit/2020.12.29-20.42.24

[2020-12-29 23:49] bpringe commented on #223
Took me a while to get dependencies set up in my fresh Windows VM, but finally here are the logs:

[code]

I also got that error when I called `extension` directly in the repl. I see in that error: `\\C\Users...` is the network path not found. I wonder if this is supposed to be `\\C:\Users...` (with a `:`), or something else...

[2020-12-30 00:43] ericdallo commented on #223
Thank you @bpringe, not sure yet what is causing it...
I can see this is a known issue for a while: https://github.com/clojure-lsp/clojure-lsp/issues/25#issuecomment-480673596

[2020-12-30 00:48] ericdallo commented on #223
@bpringe I think the worst here is don't know what is the correct uri path to respond to client for windows users...
I'd suggest changing the `clojure/dependencyContents` request sending different paths and check which one will work... I can't think now in anything better than that though

[2020-12-30 00:49] bpringe commented on #223
Thanks @ericdallo. I'm currently playing in the repl in clojure-lsp with the `extension` function and trying to see if I can find what kind of path it likes.

[2020-12-30 01:27] bpringe commented on #223
I found that the code works if I change the `//` (double slash) after `file:` to a `/` (single slash). You can run the following code in the `clojure-lsp.handlers` namespace on Windows and it works:

[code]

clojure-lsp stores them with `file://` so it fails. I know we could modify the uri when the request is sent, but I'm guessing this should be fixed in the clojure-lsp db because maybe it will a

[2020-12-30 01:31] ericdallo commented on #223
Well done!
Right, it's one single place that store the path for jars: https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/crawler.clj#L65
But we need to take care what we will change here, I wonder if `file:/` without the last `slash` also works for unix OS

[2020-12-30 01:45] bpringe commented on #223
Though it's not very explicit, I think these docs point to using a single `/` (at least in the one file system example): https://docs.oracle.com/javase/8/docs/api/java/net/JarURLConnection.html. We'll find out with some testing. :smile:

[2020-12-30 01:47] ericdallo commented on #223
Indeed!
I can try this tomorrow and say if it works for unix

[2020-12-31 00:11] bpringe commented on #223
This is actually two separate issues, one of them to be fixed in lsp (jar files navigation), and one to be fixed in Calva (refactorings). The refactorings issue can be tracked [here](https://github.com/BetterThanTomorrow/calva/issues/911).

[2020-12-31 00:22] ericdallo commented on #223
@bpringe LMK if you need any help, I saw your PR, so the `file:///` didn't work for both OS, right?

[2020-12-31 00:43] bpringe commented on #223
`file:///` (or anything more than 2 slashes) does work for both.

[2020-12-31 01:18] #223 closed

[2020-12-31 01:20] ericdallo commented on #223
With the fix from @bpringe, the issue should be fixed now.
@FongHou @kstehn could you confirm that it works on windows now?

Thanks for all the help!

[2020-12-31 01:26] bpringe commented on #223
If you're trying through a Calva release, I still need to include the new version, but I'll update this issue when I do.

[2020-12-31 17:38] PEZ opened #228 "Can I haz clojure-lsp version together with the `server-info`?"
I just added the `server-info` in my dev branch of Calva. It would be nice to see the version of `cojure-lsp` there.

If you agree, I'd also like to issue a PR with this. It's time I start contributing to this awesome project. ❤️

[2020-12-31 17:41] ericdallo commented on #228
Sure!
I added the server-info for debugging purposes some months ago, the version inside makes sense indeed :)
you can get it from [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/main.clj#L522)

[2020-12-31 18:46] bpringe opened #229 "Reduce memory usage on startup"
I want to open this to start/track a conversation about reducing clojure-lsp's memory usage.

I noticed the jvm opts are `:jvm-opts ^:replace ["-Xmx2g" "-server"]`. Is 2g necessary as a max? Potentially if you have n instances running they could use up to `2 x n` gigs of memory. Have lower limits been tried, and what are the results?

If there is an issue with a lower max heap size, it should be p

[2020-12-31 18:49] ericdallo commented on #229
It's a good question, I know @snoe increased the mem last time from 1 GB -> 2GB but I don't know why or if it was related to clj-kondo.
I think we can try reducing it indeed, I'm not sure clojure-lsp needs that amount of memory just for it's `db` atom.
We can test it reducing to 1GB, WDYT?

[2020-12-31 18:50] ericdallo commented on #229
I know that at that time we had a memory leak issue with clj-kondo that was already solved

[2020-12-31 18:51] bpringe commented on #229
We'll see if @snoe has some insights, as I'm sure he had a reason for the increase, but I think testing lower limits would be a good start. (

[2020-12-31 18:52] ericdallo commented on #229
I found this: https://github.com/clojure-lsp/clojure-lsp/commit/b241b795f45210dcbb2d15c2d04d9cd2616a07d6

[2020-12-31 19:09] bpringe commented on #229
I see, so it seems the memory issue was fixed or improved in kondo, but the heap size was still increase in lsp, maybe just to be safe?

On another note, VisualVM may be a good tool for profiling clojure-lsp. I've seen idle instances of clojure-lsp running at 1.7G, which seems way too high considering it's dealing with text files that combined should never reach that size, and also it shouldn't be

[2020-12-31 19:15] ericdallo commented on #229
Yes, we probably are missing some improvements in performance, specially on this startup function: https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/crawler.clj#L145-L185

[2020-12-31 19:23] bpringe commented on #229
I've seen some cool usages of transducers in clojure-lsp. I admittedly haven't used them much before, but it seems they may help with memory usage? Maybe we could replace more code with transducers.

[2020-12-31 20:00] ericdallo commented on #229
Neither I, it's a clojure pattern but not necessarily will improve performance, for clojure-lsp case, I think we should use more async API on startup.
Also, something that will surely improve the performance is to finish this PR: https://github.com/clojure-lsp/clojure-lsp/pull/176

[2020-12-31 20:22] bpringe commented on #229
I think transducers can improve performance and reduce memory usage. See [here](https://clojure.org/guides/faq#transducers_vs_seqs).

[2020-12-31 20:23] bpringe commented on #229
Though, idk if there are places where this is needed in clojure-lsp, just speaking generally.

[2020-12-31 20:25] ericdallo commented on #229
Yes, I agree is good point, I will take a look later for this kind of improvement, thanks!

[2021-01-01 05:45] ericdallo commented on #229
Just a note: [This PR](https://github.com/clojure-lsp/clojure-lsp/pull/230) does not improve memory but runs things on other threads, which may affect memory.

[2021-01-01 16:23] #228 closed

[2021-01-01 18:17] snoe commented on #210
You should be able to do this with rewrite-clj by taking the children of the let and adding them to the defn node.

One day we'll switch to rewrite-cljc and leaning more heavily on its paredit API (and expanding) would make this code so much easier.

[2021-01-01 18:19] ericdallo commented on #210
@snoe what is needed to switch to rewrite-cljc ? I can help with that

[2021-01-01 20:32] snoe commented on #210
@ericdallo this pr https://github.com/clojure-lsp/clojure-lsp/pull/150
but on clojurians yesterday I saw this from @lread so this is is some progress that means we can switch to the clj-commons version asap and then just double check things work with the cljc playground merges (which I believe lread already tested clojure-lsp)

[2021-01-01 21:27] slipset commented on #210
As soon as @lread has done his merging magic, I'll publish a new version of rewrite-clj

[2021-01-02 14:31] ericdallo commented on #229
I did some tests on big projects, and I could not reduce the 2GB xmx, it seems that clojure-lsp just needs a high amount of memory on the startup to crawl jars, files and the call clj-kondo on the classpath, after that, it uses way less memory running the entire application.
WDYT @snoe, can we think in anything to improve that?

[2021-01-02 15:31] lread commented on #210
Hey ho!  Yup, I'll be working on this soon!

It'll be a bit of work, but a 1.0.x-alpha release will happen!

[2021-01-02 15:54] yatesco opened #232 "/tmp/lsp.out or /tmp/clojure-lsp.out"
Hi, in https://github.com/clojure-lsp/clojure-lsp/blob/master/docs/troubleshooting.md it suggests logging is done to `/tmp/clojure-lsp.out` but I only get a `/tmp/lsp.out`.

I'm not sure if this is client specific, and I am using:
 - macOS
 - neovim
 - coc

Should I do a PR for https://github.com/clojure-lsp/clojure-lsp/blob/master/docs/troubleshooting.md or is this a result of my specific environ

[2021-01-02 15:57] ericdallo commented on #232
We renamed `lsp.out` -> `clojure-lsp.out` a few releases ago, since it's more clear that file is related to clojure-lsp and not any other LSP server.
You probably have an outdated release

[2021-01-02 15:58] yatesco commented on #232
Thanks @ericdallo  - I only just installed it via `brew` - I'll install the master version. Thanks!

[2021-01-02 15:58] #232 closed

[2021-01-03 05:38] FongHou opened #234 "Idea - use datalevin for clojure-lsp db"
Hi @ericdallo, @snoe

Just want to bring up an idea. What do you think using https://github.com/juji-io/datalevin for clojure-lsp db persistent.

clojure-lsp currently uses sqlite3 pretty much as a flat file (ie. all data in single row in project table). datalevin seems a good fit for persisting clojure-lsp global db atom. It may enable some scalable and performant optimizations e.g. reduce memory

[2021-01-03 14:45] ericdallo commented on #234
It looks really cool, but I'm not sure it'd improve performance that much, AFAIK we use the db just for loading already analyzed sessions and it's fast, what it's slow for us, is the fact to analyze all project/jars one time for new projects.
WDYT @snoe ?

[2021-01-03 18:49] FongHou commented on #194
I have seen  this a lot on my windows machine. Most of them are actually coming from dependent jars.

Here is clojure-lsp.out.

[code]

[2021-01-03 18:52] ericdallo commented on #194
This is kind of expected and it happens for Linux too, it happens that `clojure-lsp` can't parse some jars because of some unknown macros or it doesn't know hot to parse it correctly, when we have clj-kondo 100%, this should be solved I hope

[2021-01-03 19:16] bpringe commented on #229
What happens if you reduce the max? Do you get OOM errors? I think there are also ways to tweak the JVM's garbage collection to run differently, so toying with those settings may provide some improvement.

[2021-01-03 19:17] ericdallo commented on #229
Yes, for big projects you get OOM errors.
Yeah I think, but I'm not familiar with tweaking those settings

[2021-01-03 22:28] snoe commented on #234
I've definitely imagined making queries against the usages. But when I started to write it up, it turned out there wasn't a lot of reuse from that ability. Basically there's a "query" for completions and one for "thing under cursor" so code seemed to fit the bill well enough.

There's an argument, I think for a number of indexes on the data.
Does datalevin supports field indexes (let alone indexes

[2021-01-04 23:17] FongHou commented on #229
I found two things helped reducing memory usage..

**First**, I  added (System/gc) in handlers.clj initialize. Here is my local repo diff.

[code]

As screenshot shows, JVM heap size falled off a cliff and return freed memory back to OS.

![image](https://user-images.githubusercontent.com/13973254/103588236-c0c3bd80-4eb6-11eb-878f-f16842aee739.png)

clojure-lsp.out shows total memory freed up by (

[2021-01-04 23:22] ericdallo commented on #229
@FongHou thanks for helping on that!
About the first, could you check again without the `System/gc`? In my tests the memory already drops on that exact point of code, after determining the dependencies.

About the second, is this safe? we always want to use the dev profile and remove a lot of jars? What if user doesn't have dev profile? What if user really wants all jars on its project? We could h

[2021-01-04 23:32] FongHou commented on #229
Hi @ericdallo,

About the first, Full Stop-the-World GC may eventually happen, but is not deterministic. I tested a few times on my laptop without (System/gc) call, it didn't happen even for tens miniute (I guess it depends JVM version and OS). Explicit System/gc call (though doesn't guarantee FSTW GC), but it's much more deterministic.

About the second, dev profile is one of a few lein buildin p

[2021-01-04 23:37] ericdallo commented on #229
Ok, it makes sense, but is calling a Full GC a good approach here? we may reduce memory usage, but we may slow down until GC is done, WDYT?

I see. that's something we can try, making a setting like `classpath-scan-profile` which if not provided it will use `dev` or if provided empty, it will use no profile

[2021-01-04 23:49] FongHou commented on #229
System/gc shouldn't be used in hot code path in genenal. I think using it in handlers.clj initialize is fine becaut that function only run once for the whole life time of JVM.

About classpath tuning, maybe just put some tips in README. I'm not sure it's worth it in the code. My ~/.lein/profiles.clj pulled in lots of repl/user profile jars, which lein classpath by default that's why it made a big

[2021-01-04 23:56] ericdallo commented on #229
behave differently.

 I like tuning defaults, where user can just install and everything works great. If we confirm that will reduce a lot jars most projects we can add this to code with a flag to customize it.
 I will try to check the huge projects from my company tomorrow morning and see how big is the difference

Yeah, probably different, lein classpath for `clojure-lsp`(it uses deps.edn) retur

[2021-01-05 17:34] bpringe commented on #229
Awesome investigating, @FongHou. @ericdallo, if you think the kondo PR mentioned will improve performance, perhaps we should wait for those changes to re-assess what else should be done after that. I assume it could/should still be improved even after those changes.

Regarding GC, calling System/gc might be a good idea, but I think there could be some easy wins in code refactoring that should be e

[2021-01-06 17:44] FongHou opened #236 "Clean NS doesn't handle special symbols."
com.fulcrologic.guarddrails.core uses a few special symbols in their macros (>defn => | ?). clojure-lsp seems missing spaces when put them back after Clean NS action.

I'm using latest clojure-lsp with coc.nvim.

![image](https://user-images.githubusercontent.com/13973254/103801337-9b03f900-501b-11eb-96dd-b3f8293ae74a.png)

![image](https://user-images.githubusercontent.com/13973254/103801436-ba9b

[2021-01-06 17:53] ericdallo commented on #236
Hum, good catch, kind of weird macros 😆 does that arrow is a `=>`?

[2021-01-06 18:09] FongHou commented on #236
Yes, the arrow is two ascii characters. Fira code render them like one :-)

[2021-01-06 18:10] bpringe commented on #191
Does the `project-specs` config setting help in this case, if you specify each project there? Like the below, but specifying each project and the respective `:project-path`. @kstehn (This question is for you as well.)

[code]

[2021-01-06 18:12] ericdallo commented on #236
Got it, I can take a look at this later today, thanks for the report!

[2021-01-06 18:14] ericdallo commented on #236
One last question, @FongHou in your case which `refers` are used? `=>` and `>defn`

[2021-01-06 18:17] FongHou commented on #236
Yes, both >defn and => are used. | and ? are not, so clean ns did occur.

[2021-01-06 18:20] FongHou commented on #236
One more thing, if | is used. It looks like this after clean NS.

![image](https://user-images.githubusercontent.com/13973254/103805687-ec16eb80-5021-11eb-9e72-c94f4f7745f0.png)

[2021-01-06 18:36] ericdallo commented on #236
I don't get this last issue, how would be the correct?

[2021-01-06 18:50] FongHou commented on #236
I meant it's the same issue, missing space between | and >defn. In addition, symbols are sorted in different order than original, which is fine.

[2021-01-06 19:41] bpringe opened #237 "Handle classpath-cmd on Windows without config change"
In order to make clojure-lsp work on Windows for a typical project, the `:classpath-cmd` in `.lsp/config.edn` (`:project-specs`) needs to be set to `["powershell.exe" <command+args for clj or lein>]`.

It seems that using `lein.bat` as the command is not necessary, so long as the first command is `powershell.exe`. Therefore, I think if clojure-lsp would change its default classpath command to add

[2021-01-06 19:46] ericdallo commented on #237
It makes total sense to improve the out-of-the-box experience, but AFAIK we don't know which OS user is using.
I found [these default settings](https://github.com/clojure-lsp/clojure-lsp/blob/0efbc42acdf92e4d9de3980f87c31fe71ab91af7/src/clojure_lsp/crawler.clj#L123-L131), I think adding to it maybe fix the issue?

[2021-01-06 19:48] agzam commented on #191
@bpringe what is a `project-specs` config? Where should I have this map? I can't find anything in the documentation.

[2021-01-06 19:55] ericdallo commented on #191
@agzam you can find it here: https://github.com/clojure-lsp/clojure-lsp#initializationoptions

[2021-01-06 20:11] bpringe commented on #237
We can tell which OS the user is using via `(System/getProperty "os.name")`.

Thanks for pointing me to those settings. Another thing I noticed is that with shadow-cljs it assumes they have `shadow-cljs` installed, but this is true also with the other commands.

In addition to adding `powershell.exe` as the first command if the OS is Windows, I think in any case, clojure-lsp should send a message

[2021-01-06 20:18] ericdallo commented on #237
Ok, I think we can check the OS that way and add it if it is Windows, I just not sure how it'd looks like the config for Windows:
[code]

We can send a message using `windows/message` LSP method with `error` type, then the client shows to user automatically :)

[2021-01-06 20:19] bpringe commented on #237
Yes, that's what I was meaning. :smiley:

[2021-01-06 22:03] bpringe commented on #191
@ericdallo Do you think it would be a good idea to not collapse the settings section in the readme? I also had done a search on the page for that and didn't find it, but knew I had seen it before so I went down and expanded the settings section. It may be a good idea to not expand other sections as well, if you agree.

[2021-01-06 22:07] ericdallo commented on #191
Hum, not sure, it was all expanded before and it was a mess :/
We can think of other ways to organize that also, maybe move to other files just like `clj-kondo`, but user would need to find in the correct section anyway

[2021-01-06 22:15] bpringe commented on #191
I think everything expanded but with a table of contents would be helpful. It makes searching for things via `ctrl+f` in the browser easy. Just something to think about.

[2021-01-06 22:27] agzam commented on #191
The problem is not such that search ignores collapsed blocks. That's a minor thing compared to what the readme says:

And that's it. It doesn't say where this map goes, doesn't use any examples, etc. And for the life of me after several minutes of searching I couldn't find how to set this up. And I do remember, long time ago when I just started using lsp I knew how to do that. Now I forgot.

[2021-01-06 22:34] ericdallo commented on #191
@agzam I agree with you and it's on my backlog improve that section!

The issue is that there are 2 ways to pass that map:
- via `InitializationOptions` which clients should send that, like Calva, lsp-mode etc
- via project or global settings said it [here](https://github.com/clojure-lsp/clojure-lsp#global) which is your case

The docs are not clear related to that, I really change that soon

[2021-01-07 01:00] ericdallo commented on #237
@bpringe Could you check if it was fixed by https://github.com/clojure-lsp/clojure-lsp/commit/1d8a0fb065cd44be14d3d169892df9aaed614459 ? I added the `powershell.exe` prefix for default `classpath-cmd` when OS is Windows

[2021-01-07 01:10] bpringe commented on #237
I'll check this tomorrow, thanks!

[2021-01-07 18:24] bpringe opened #240 "Move file path in hovers to bottom, under separator"
Currently it looks like this in VS Code:

![image](https://user-images.githubusercontent.com/12722744/103928758-27242800-50d1-11eb-803b-fbdb7368fadc.png)

And this in Emacs:

![image](https://user-images.githubusercontent.com/12722744/103928924-59358a00-50d1-11eb-8178-f1234ed77014.png)

We should see how it looks on both editors before merging a change.

[2021-01-07 18:25] bpringe commented on #240
I plan to make this change myself soon.

[2021-01-07 19:11] bpringe commented on #237
@ericdallo I'm getting this issue on Windows with no `.lsp/config.edn`:

[code]

As you can see it looks like some args are out of order somewhere, as it's trying to use the directory as the command and the command as the directory.

I'm looking at fixing this now myself, but if you have some useful info or want to take over, please let me know here.

[2021-01-07 19:14] ericdallo commented on #237
Yeah 🤦🏻‍♂️ , LMK if need any help with this
The code to be fixed should be [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/crawler.clj#L125-L129)

[2021-01-07 20:01] #237 closed

[2021-01-07 23:02] bpringe commented on #229
I'm going to look into / play around with this now. I've not done a whole lot of jvm/Clojure performance tuning, but this article is a great read if interested: https://tech.redplanetlabs.com/2020/09/02/clojure-faster/

[2021-01-08 00:45] ericdallo commented on #236
Fixed by https://github.com/clojure-lsp/clojure-lsp/commit/3a34e84d600a6830601348a7f2bea86a502bcfbf, @FongHou any issue, feel free to reopen the issue, thank you!

[2021-01-08 00:45] #236 closed

[2021-01-08 00:48] ericdallo commented on #222
FYI, it's now supported adding common requires/imports as I said [here[(https://github.com/clojure-lsp/clojure-lsp/issues/222#issuecomment-751531006) :)

I'll keep the issue open for your last comment as a feature

[2021-01-08 04:58] FongHou opened #242 "clojure-lsp.crawler java.lang.ClassCastException"
clojure-lsp.crawler still fails to parse some source files. This ClassCastException is one of causes.

Below stacktrace points to this [line](https://github.com/clojure-lsp/clojure-lsp/blob/3a34e84d600a6830601348a7f2bea86a502bcfbf/src/clojure_lsp/parser.clj#L240) in parser.clj.  I don't understand the code, but I think the exception is due to (keyword , ) second argument only take String (not Symb

[2021-01-08 05:05] FongHou commented on #194
WARN clojure-lsp.parser: Cannot read file:///C:/Users/.....clj Assert failed: (string-of? s r/linebreak?)

Assesstion seems coming from [rewrite-clj](https://github.com/clj-commons/rewrite-clj/blob/f515767e4f07f27389ee2885cb459bd87d903887/src/rewrite_clj/node/whitespace.clj#L92) and [linebreak?](https://github.com/clj-commons/rewrite-clj/blob/f515767e4f07f27389ee2885cb459bd87d903887/src/rewrite_cl

[2021-01-08 14:08] #242 closed

[2021-01-08 14:09] ericdallo commented on #242
@FongHou Thanks for the report! This should be fixed on latest release, I hope when we finish #176 we could remove all that parser logic and avoid these kinds of issues :)

[2021-01-08 22:45] ericdallo commented on #229
Really good article @bpringe, I did some performance/benchmark checks with the `criterium` lib, and it seems what is not so fast it's this function that is called for each file of each jar: https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/feature/references.clj#L43
Improving the performance could help reduce the memory

[2021-01-08 23:15] ericdallo commented on #229
Briefly, the function that takes more time is [parser/find-usages](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/parser.clj#L1174) which is the function that parse the code block and build the main core of our db.
As I said, I believe after #176, we'll probably don't need the entire `parser.clj` ns, and relies 100% on `clj-kondo` to parse the code and get the usages to sav

[2021-01-08 23:43] bpringe commented on #229
@ericdallo I see, thanks for the info. A friend of mine helped me to realize that performance (speed) and memory usage are not really the same thing (though of course somewhat related), so I want to shift my focus to memory usage instead, which may be a bit more elusive, but I've been dealing with another issue for some time now and haven't gotten back to this yet.

Anyway, my thoughts are that to

[2021-01-10 02:34] lucasdf opened #247 "Repeated automatic require"
Hello,

It seems that since version [2021.01.07-02.38.39](https://github.com/clojure-lsp/clojure-lsp/compare/2021.01.07-00.58.26...2021.01.07-02.38.39) `clojure-lsp` started adding duplicated requires when triggering autocomplete with `coc-nvim`.

[2021-01-10 02:47] ericdallo commented on #247
Hi @lucasdf, could you provide a sample code, I could not reproduce it on Emacs lsp-mode

[2021-01-10 03:01] lucasdf commented on #247
Hey @ericdallo , pretty much any autocomplete here is triggering a new require (even if one already exists) starting on that version. I couldn't see anything weird on the logs.

[2021-01-10 03:03] ericdallo commented on #247
@lucasdf I found the issue :) I'll fix it ASAP, thanks!

[2021-01-10 03:23] #247 closed

[2021-01-10 03:23] ericdallo commented on #247
It should be fixed now on latest release @lucasdf, LMK if any issues!

[2021-01-10 03:31] lucasdf commented on #247
awesome! I tested it here and it is all good now. thanks!

[2021-01-11 22:20] Frozenlock opened #250 "fn with name is marked as unused"
I think this is a bug.

In the following snippet, `my-fn` is marked as unused:
[code]
![image](https://user-images.githubusercontent.com/1152041/104244850-3ee11080-5431-11eb-80d0-f2b49a71a95c.png)

[2021-01-11 22:23] ericdallo commented on #250
Thanks for the report!
Yeah, It's a bug indeed, I think this case was not handled very well

[2021-01-12 03:10] chenrui333 opened #252 "question about release process"
👋  it looks like the repo has changed the naming convention for the release tag? Is there any place that I can find the documentation about it? Thanks!

[2021-01-12 12:48] ericdallo commented on #252
Hi @chenrui333, yes we changed just to make more user friendly, there is documentation, but the pattern is "yyyy-mm-dd-HH-MM-SS"

[2021-01-13 19:25] bpringe opened #255 "Add setting for exlcuding files from linting"
Calva uses the file  `.calva/output-window/output.calva-repl` as it's output/repl window. This file is sent to clj-kondo for linting by clojure-lsp, which results in a parsing error by clj-kondo.

![image](https://user-images.githubusercontent.com/12722744/104497098-b5dfeb80-558e-11eb-904d-0e360ada6740.png)

As Eric said in slack, maybe a setting for files to exclude would be ideal. I'm not sure y

[2021-01-13 19:27] bpringe commented on #255
I'm exploring this now, just FYI.

[2021-01-13 19:32] ericdallo commented on #255
I forget to mention that If I'm not mistaken there is an option to avoid LSP watch some file changes... but If you open the file manually it'll still lint it.

[2021-01-13 20:17] bpringe commented on #255
So... I've found a solution on Calva's side. I can check the uri in the `handleDiagnostics` middleware and return nothing if it's the .calva-repl file. I'm not sure if this is the best solution since clojure-lsp will still run the file through clj-kondo each time it's opened, however:

1. The process of linting the file and getting the error is virtually instant from what I've seen.
2. This will o

[2021-01-13 20:41] ericdallo commented on #255
Super agree with that 😅, I still think that it may have some way to suppress the diagnostics for a file following the spec.
Anyway, feel free to implement that in clojure-lsp if you think that worth it, LMK if need any help.

[2021-01-13 20:51] ericdallo commented on #255
Well I asked lsp-mode folks for some help and it seems it doesn't have that kind of feature in protocol level indeed

[2021-01-13 21:09] bpringe commented on #255
Going to close this since I think my current solution is fine. Even clj-kondo offers a way to filter output, which doesn't help in this case, but aligns with what I did. I don't think an unnecessary parse/error here and there is something to be concerned about.

If this need comes up for something else in the future maybe it can be revisited.

[2021-01-13 21:09] #255 closed

[2021-01-14 01:42] bpringe opened #257 "textDocument/references not returning declaration in results when includeDeclaration is true"
I'm not sure if this is a problem or I'm misunderstanding the protocol. It seems that with the `textDocument/references` request, if `includeDeclaration` is set to true it should return the declaration as a reference.

With the following code:

[code]

If I find references on the bottom reference of `hello`, the following request and response occur:

[code]

It seems the results should include the

[2021-01-14 02:06] ericdallo commented on #257
Yeah, I can confirm the server doesn't check that info from request params, is not hard to implement though, I can take a look at this soon

[2021-01-14 12:34] #257 closed

[2021-01-14 12:46] ericdallo commented on #257
@bpringe it should be fixed on latest release :)

[2021-01-14 16:04] FongHou opened #259 "clean-ns code action throws ClassCastException for open/closing brackets"
Hi,

Start seeing this with latest build. It seems triggerred by clean-ns code action while the source file has unresolved namespaces . Only when unresolved namespaces are resovled, clean-ns  would show up in the menu.

[code]

[2021-01-14 16:32] ericdallo commented on #259
Thanks for the report @FongHou, it's a known issue that happens for a while, AFAIK it only happens when cursor is at a `(` or `)` and the line contains a unresolved-namespace.
AFAIK this will not affect user UX but it'll log some exceptions, I'll try to check that soon and fix it

[2021-01-14 19:04] #259 closed

[2021-01-14 19:05] ericdallo commented on #259
It should be fixed on master @FongHou , I'll release later today

[2021-01-16 00:51] bpringe commented on #257
I think there may be another issue with this. With the same code above, if I find references on the bottom `hello` now, I get duplicate Locations (both the bottom `hello`).

[code]

And you can see duplicates in the references side bar in VS Code.

![image](https://user-images.githubusercontent.com/12722744/104792044-e328c700-5751-11eb-8407-96efa615dc1a.png)

If I find references on the _top_ `hel

[2021-01-16 00:53] ericdallo commented on #257
Oh, it's a corner case I didn't catch, I'll try to fix it, thanks!

[2021-01-16 00:54] bpringe opened #260 "Duplicate reference location returned when finding references"
See [this comment here](https://github.com/clojure-lsp/clojure-lsp/issues/257#issuecomment-761277649) for details, as this occurred after that fix.

It seems with the `includeDeclaration` param set to `true`, clojure-lsp is considering the location that the references request was made from as being the declaration. :thinking:

[2021-01-16 03:31] ericdallo commented on #260
@PEZ It should be fixed on latest release, could you confirm, please?

[2021-01-16 19:17] bpringe commented on #260
Works! Thanks!

[2021-01-16 19:17] #260 closed

[2021-01-17 17:12] ericdallo commented on #240
@bpringe the #261 will fix that already

[2021-01-17 18:15] ericdallo commented on #188
Closing as we already implemented that support :)

[2021-01-17 18:15] #188 closed

[2021-01-17 21:56] #240 closed

[2021-01-18 20:25] bpringe opened #262 "Clj-kondo config not being respected by clojure-lsp"
If I place some config in `.clj-kondo/config.edn` in my project directory, it doesn't seem to be respected by clojure-lsp, which contradicts what the docs say.

For example, content of `^:replace {:linters {}}` in that file I believe should disable all linting in the project, but it does not.

This was brought up by @svdo regarding usage with Calva. https://github.com/BetterThanTomorrow/calva/issu

[2021-01-18 20:30] ericdallo commented on #262
@snoe and I are putting all the efforts ATM to fix that PR, but a PR with few changes to avoid conflicts just fixing the issue could help :)
The issue may be here: https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/feature/diagnostics.clj#L81-L98

[2021-01-18 20:34] bpringe commented on #262
I just realized config of kondo still works through .lsp/config.edn (:clj-kondo) so I'm fine with leaving this as-is until the PR is merged. Thanks!

[2021-01-19 13:26] ericdallo commented on #194
This should be fixed with #261 , but we need to test it after the merge

[2021-01-19 17:05] bpringe commented on #262
@ericdallo This is actually an issue related to monorepos and was fixed in clj-kondo. An update to clj-kondo as well as maybe a small change to how `run!` is called should fix it, see here: https://github.com/BetterThanTomorrow/calva/issues/961#issuecomment-762772554

If again you think this will be fixed with that PR maybe it should wait.

[2021-01-19 17:14] bpringe commented on #194
I see, so many things addressed by that PR :smile: :tada:.

[2021-01-19 17:18] ericdallo commented on #262
Before that PR merge, we will use latest clj-kondo so it probably fix it, after the merge I'll iterate over each PR related and ask to test again ;)

[2021-01-20 00:40] bpringe opened #263 "Extract function is broken as of version 2021.01.16-03.28.20"
In the latest version as of this writing (2021.01.16-03.28.20), the extract-function refactoring is broken. I verified that with the previous version it worked. I'm not sure if this is a broader problem (haven't checked other refactorings), or if something changed in the way the command should be called (I doubt a breaking change was intended).

In `/tmp/clojure-lsp.out` I see this error when atte

[2021-01-20 00:44] ericdallo commented on #263
Thanks for the report, yes, it's broken indeed, I already fixed on #261, but maybe fix on master it's better, I'll try to fix it

[2021-01-20 01:37] #263 closed

[2021-01-20 01:37] ericdallo commented on #263
Fixed @bpringe :)

[2021-01-20 17:57] ericdallo opened #264 "Server removing document on didClose"
We should not remove `:document` from our db on server `didClose` notification if the file is saved on disk according to [the spec](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_didClose)

This causes a lot of reference bugs like closing a `b` file may result in warnings on other files reporting that function from `b` file doesn't exist any

[2021-01-20 17:58] ericdallo commented on #264
I may fix that after #261