[2021-01-21 09:24] gdanov opened #266 "slow formatting of fairly trivial file"
while triaging [this issue](https://github.com/emacs-lsp/lsp-mode/issues/2537#issuecomment-762843091) we saw clojure-lsp needs half a second for formatting 2k lines of identical & very trivial expression. This is slow according to my *expectations* ... I'm not aware of benchmark or something that sets the baseline what's 'normal'. If this is the best performance achievable maybe something must be

[2021-01-21 12:19] ericdallo commented on #266
Thanks for the report!
Clojure-lsp just leave the format to cljfmt, do you have a sample file where you notice the slowliness?
I suspect this happen with huge forms/functions, if you have the same file with multiple not big functions this will be fast

[2021-01-22 13:27] ericdallo commented on #240
Fixed on https://github.com/clojure-lsp/clojure-lsp/releases/tag/2021.01.22-13.04.28

[2021-01-22 16:35] ericdallo commented on #262
Closing this since there is no way to configure `clj-kondo` settings via `.lsp/config.edn` anymore, all clj-kondo config should be done via the canonical way (`.clj-kondo/config.edn` for example)

[2021-01-22 16:35] #262 closed

[2021-01-22 16:39] ericdallo commented on #194
Merged https://github.com/clojure-lsp/clojure-lsp/pull/261, Can anyone test it again with latest clojure-lsp, please?

[2021-01-22 16:44] ericdallo commented on #266
@gdanov, I may found the issue, but have no idea how we could improve that, the issue is that when clojure-lsp format a range, we can't format only the range as we don't know if that range is inside a function or any form, so clojure-lsp format the whole form, example:
[code]
with that code, if you try to range format only `(+ 1 2)`, clojure-lsp will format the whole `foo` function.
In your case,

[2021-01-22 17:58] ericdallo commented on #229
Hey @bpringe  good news, after #261 we probably improved memory management since we delegate to clj-kondo to analyze that (which should analyze in a smarter way than we were analyzing before), I will try to make some tests this weekend and check if we can lower the 2GB flag

[2021-01-22 19:57] gdanov commented on #266
How about not formatting it after paredit change?

[2021-01-22 20:05] ericdallo commented on #266
this is not clojure-lsp responsibility, probably would need to be done on lsp-mode if possible

[2021-01-22 20:36] snoe commented on #266
we may be able to index form ranges with rewrite-clj when files open instead of when formatting. Alternatively it might be a useful function to clj-format to (format-form-at line col)

[2021-01-23 00:48] #252 closed

[2021-01-23 00:49] ericdallo commented on #250
Hey @Frozenlock I tested and this was fixed after #261 :) LMK if any issues

[2021-01-23 00:49] #250 closed

[2021-01-23 00:52] ericdallo commented on #229
I made some performance tests and AFAICS the #261 improved a lot the memory usage on startup, and after that it's even low as it was before. Therefore I decreased the memory usage from 2GB -> 1.5GB https://github.com/clojure-lsp/clojure-lsp/commit/6ebf0c4931563b026f40384b218caf3666825832

[2021-01-23 00:59] ericdallo commented on #215
the idea is really good, I already used stuartsierra compoents and I think it'd fit very well here. After #261, we still use the db, but every other analysis is done by clj-kondo, we'd need to think how scan jars/classpath, to make references and ton of other features work, would work in a REPL direct invocation

[2021-01-23 10:17] divs1210 commented on #154
@paltom All the code will have to be evaluated in order for `clojure.repl/doc`.

clojure-lsp is supposed to be static, not repl-based like CIDER.

I will raise a PR to fix [this](https://github.com/clojure-lsp/clojure-lsp/issues/154#issuecomment-652065976).

[2021-01-23 13:01] ericdallo commented on #154
This does not depends on clojure-lsp anymore, after #261 we removed all parsing logic from clojure-lsp replaced by `clj-kondo`, it should fix a lot of bugs and issues, but it does not get the `map` docs still, if you think this is should clj-kondo should provide, you can open a PR there

[2021-01-24 04:14] anonimitoraf opened #268 "Java heap space limit reached"
When I start clojure-lsp (in Emacs, clojure-lsp version 2021.01.22-13.04.28) for a Clojurescript project, after a few minutes of attempting to start, I get the following error:

[code]
Sample project: https://github.com/anonimitoraf/clojure-lsp-issue-repro

(If for any reason, you want to actually start the app, just run `lein watch` and then go to localhost:8280)

[2021-01-24 04:19] ericdallo commented on #268
Thanks, I'll check what we can do to improve it, this probably is happening after we merged #261

[2021-01-24 04:26] anonimitoraf commented on #268
Thanks. I wonder if it has to do with Javascript modules being more expensive to go through than Java ones?

[2021-01-24 08:30] borkdude commented on #268
A guess: maybe the locals analysis create a too huge in-memory data structure?

[2021-01-24 09:30] borkdude commented on #268
I notice linting this project's classpath takes about 2-3GB in memory on my machine. All the findings (and analysis, if you turn it on) is kept in memory until the end.

If this is only to warm up the cache, to save memory you could split the classpath into multiple chunks.

[2021-01-24 10:30] anonimitoraf commented on #268
Whoops, I pressed the wrong button.

@borkdude Is the classpath-splitting to be done within clojure-lsp or this project? Also, how does that help exactly?

[2021-01-24 10:51] borkdude commented on #268
@anonimitoraf Not exactly sure yet. What kind of memory do you have on your machine?

[2021-01-24 11:02] anonimitoraf commented on #268
@borkdude Do you mean the DDR_? If so, DDR4

[2021-01-24 11:04] borkdude commented on #268
@anonimitoraf Sorry for not being clear, I mean the amount. Can you monitor the memory usage in a process monitor/activity monitor while clj-kondo is linting with `rm -rf .clj-kondo/.cache && clj-kondo --lint $(lein classpath)` ?

[2021-01-24 11:05] anonimitoraf commented on #268
Oh right. I have 32GB in total. Ok, will do now

[2021-01-24 11:14] anonimitoraf commented on #268
It seems to fluctuate around 1.5 - 3.8GB
https://user-images.githubusercontent.com/15933322/105628528-846df680-5e91-11eb-95d3-50ed9fee3b82.mp4

[2021-01-24 11:34] borkdude commented on #268
So maybe the XMX flags are too low for LSP in this case? As suggested, this may be worked around by chunking the analysis in multiple portions or not turning on certain features during warm up like locals analysis. This should be done in LSP I think.

[2021-01-24 13:47] ericdallo commented on #268
I see @borkdude , how would be this chunk split? You mean, call clj-kondo to analyze a batch of folders than one call to the whole classpath?

[2021-01-25 02:30] anonimitoraf commented on #268
@ericdallo Given that this setting seems to be influenced by the project size, is there a viable way to make this configurable per-project?

[2021-01-25 02:33] ericdallo commented on #268
We release `clojure-lsp.jar` witch you can manually pass the xmx, but this is not good for final users, ATM we don't support that, and not sure how that would work since it's the jvm params, it's not clojure code where you can change it at runtime.
I like the batch idea from @borkdude but I not how would work that batch, if we should fix a number for paths to scan or something like that

[2021-01-25 02:47] FongHou opened #269 "Completion does not work with alias from external deps"
Completion does not work in latest release 2021.01.22-13.04.28  (since clj-kondo rewrite)

WARN  clojure-lsp.feature.completion: Invalid symbol: io/. It was not possible to find cursor location for completion

[2021-01-25 02:56] ericdallo commented on #269
Thanks for the report!
Actually, this was already happening with clojure-lsp before the clj-kondo integration, since this is related to we can't complete an unparseable code.
`foo/` will not work but `foo/b` will work.
I tried to fix that, but it depends on this other problem here: https://github.com/clj-commons/rewrite-clj/issues/87

[2021-01-25 03:10] FongHou commented on #269
log/in should bring up log/info, but it doesn't in below screenshot.

![image](https://user-images.githubusercontent.com/13973254/105656643-aadf6200-5e90-11eb-9c62-8ca876b8149d.png)

[2021-01-25 03:19] ericdallo commented on #269
Could you try removing .lsp/sqlite.db and .clj-kondo/.cache, restart the server and try again?

[2021-01-25 03:32] FongHou commented on #269
I already did that. here is the beginning of  clojure-lsp.out

[code]

[2021-01-25 03:41] FongHou commented on #269
deleted .clj-kondo/.cache, and .lsp/sqlite.db again. Same problem.
[code]

[2021-01-25 03:51] ericdallo commented on #269
Ok, I'll try to reproduce it

[2021-01-25 04:27] ericdallo commented on #269
Ok, I confirmed the issue, I'll try to fix it tomorrow, thank you @FongHou !

[2021-01-25 05:23] ericdallo commented on #269
Found the issue @FongHou I'll fix it tomorrow after I sleep :p

[2021-01-25 17:21] #269 closed

[2021-01-25 17:21] ericdallo commented on #269
Fixed @FongHou LMK if any issues

[2021-01-25 17:31] ericdallo opened #270 "completion of non valid clojure code"
For a sample code of:
[code]
[code]
ATM we don't support completion of `foo/` only `foo/b` because of two issues:

- [x] it's not possible to parse a invalid code with rewrite-clj `z/of-string`. https://github.com/clj-commons/rewrite-clj/issues/87 (workaround fix [here](https://github.com/clojure-lsp/clojure-lsp/commit/52510164a3765d373763485a4862d4c493641a2d#diff-897a27d95724c2a85947bfa6bc7b5ac10

[2021-01-25 18:10] FongHou commented on #269
The issue seems still there. While the cursor is at (log/deb), (log/debug) didn't show up in completion menu  (client is coc-nvim). clojure-lsp.out shows a very long log message like "INFO  clojure-lsp.feature.completion: -------> ({:name-end-col 19, :name-end-row 1, :name-row 1, :name clojure-lsp.db, :filename /home/haskeller/github/clojure-lsp/src/clojure_lsp/db.clj, :col 1, :name-col 5, :bucket

[2021-01-25 18:30] ericdallo commented on #269
The "---->" debug log was my mistake 😅 , I'll remove it.
For me it works using lsp-mode (Emacs):
![image](https://user-images.githubusercontent.com/7820865/105749537-4b319700-5f22-11eb-988a-1a3ef02acc90.png)

[2021-01-25 18:48] bpringe opened #271 "Use npx for shadow-cljs classpath lookup instead of globally installed shadow-cljs"
It seems like the classpath lookup failure happens most often with shadow-cljs. Currently clojure-lsp tries to run a globally installed `shadow-cljs`, but some users don't have this installed. If instead clojure-lsp used `npx shadow-cljs` this would cover a broader range of cases and result in fewer failures.

Calva uses `npx shadow-cljs` for its jack-in command for shadow-cljs projects.

[2021-01-25 18:49] bpringe commented on #271
Related issue: https://github.com/BetterThanTomorrow/calva/issues/984 (though we aren't positive the cause here). I've seen this issue elsewhere too, in which case the user didn't have `shadow-cljs` globally installed.

[2021-01-25 18:55] ericdallo commented on #271
Got it, I think we can try to use first `npx shadow-cljs` and fallback to `shadow-cljs` if doesn't work. WDYT?
Not sure how we can check if npx is available  or not though

[2021-01-25 19:03] FongHou commented on #269
Hmm... now it seems lsp client problem?

I even see completion response in coc-nvim client log.

[code]

[2021-01-25 19:07] ericdallo commented on #269
Yeah, probably, lsp-mode also has its own cache, you need to check with coc-vim if there is something like that

[2021-01-25 20:06] bpringe commented on #271
`shadow-cljs` is an npm package. `npx` comes with npm and allows you to run npm packages without installing them. So if `npx shadow-cljs` doesn't work, I think almost certainly `shadow-cljs` won't work, so I don't think the fallback is appropriate.

[2021-01-25 20:08] ericdallo commented on #271
I was thinking in something like this:
[code]

If you think it's too much we can just add `npx` before `shadow-cljs`

[2021-01-25 20:11] bpringe commented on #271
Yeah, I think if `npx` is not found, `shadow-cljs` will not be found, in most or all cases, since shadow-cljs is an npm package, and npx comes with npm. Maybe @PEZ can confirm this, but I'm pretty certain.

[2021-01-25 20:13] ericdallo commented on #271
I see, I thought user could just `npm install -g shadow-cljs`

[2021-01-25 20:15] bpringe commented on #271
They can, but they don't have to install shadow-cljs when using `npx`. So using `npx` covers a much wider group of users. I was just watching a stream recording earlier of a guy using Calva with a shadow project, and he got the classpath lookup failure warning, likely because he didn't have `shadow-cljs` installed. But if `npx` would have been used it would have worked. I know this because he used

[2021-01-25 20:15] bpringe commented on #271
Some people work on shadow projects without having `shadow-cljs` installed globally.

[2021-01-25 20:18] ericdallo commented on #271
Oh, sorry I was not clear, I agree there are more users using `npx shadow-cljs` and it's the recommended AFAIK, but if we just add `npx` it'll probably stop working for few users that have shadow-cljs globally installed, right?
I know it's a trade-off and probably is the best to do here, but I'm just checking the 2 sides of the issue 😅

[2021-01-25 20:24] bpringe commented on #271
No, I don't think so. Maybe I was the one not clear. I meant that in order to install it globally they _must_ have used `npm` which means they _must_ have had `npx`. This is what I want @pez to verify. There could be some small set of cases in which this isn't totally, like maybe they uninstalled npm/npx after installed shadow-cljs globally, but then I'm not sure if shadow-cljs would still work, a

[2021-01-25 20:25] ericdallo commented on #271
Oh got it, I think we can go with the `npx` prefix only, if @PEZ agree, I can merge the PR: https://github.com/clojure-lsp/clojure-lsp/pull/272

[2021-01-25 20:36] bpringe opened #273 "Hovers behaving oddly / not working as of version 2021.01.22-13.04.28"
I just got around to testing the kondo PR changes, and I noticed hovers are behaving oddly. Before those changes, hovers would appear over the symbol at the cursor. Now it seems they're appearing over the symbol _definition_ even if your cursor is over a non-definition _reference_. So, if the definition is in view, the hover appears and stays on screen, but if the definition is not in view, the ho

[2021-01-25 20:37] bpringe commented on #273
Therefore, when I hover over clojure.core functions, the hovers just flash and don't stay on screen. I'm guessing this has to do with them appearing over the definitions instead of the symbol at cursor.

[2021-01-25 20:41] bpringe commented on #273
I verified that the range returned in the hover response is the definition's range.

[code]

[2021-01-25 20:44] bpringe commented on #273
This is the request and response when I hover over `rest` at line in the code above.

[code]

That range returned is for the the clojure.core file.

[2021-01-25 20:45] bpringe commented on #273
Verified with an older version it returns the range of the symbol at the cursor:

[code]

Hope I provided enough info :sweat_smile:.

[2021-01-25 21:05] ericdallo commented on #273
Oh, probably a bug, I'll check that now, thank you!

[2021-01-25 22:01] PEZ commented on #271
I think `npx shadow-cljs` is a safe bet. Maybe if the user hasn't run `npm install` in the project, that it would fail, but then everything fails. I don't think I have never seen a report of Calva jack-in failing because of this, and we don't have fallback.

[2021-01-25 22:05] #271 closed

[2021-01-25 22:05] ericdallo commented on #271
Thank you both!

[2021-01-25 22:16] FongHou commented on #269
One more troubleshooting info. downgrade to clojure-lsp 2021.01.16-03.28.20. completion works with the same lsp client. Response data looks different though.

[code]

[2021-01-25 22:18] ericdallo commented on #269
Hum, it's odd since the server is returning correctly [here](https://github.com/clojure-lsp/clojure-lsp/issues/269#issuecomment-767042103)

[2021-01-25 22:19] ericdallo commented on #269
@FongHou could you check the `completionItem/resolve` response from both version?

[2021-01-25 22:23] dpsutton commented on #271
just went to an empty directory in tmp and ran `npx shadow-cljs --help` and it runs fine with no errors. `npx` does not seem to require a local one to be installed. So this sounds like 100% safe unless the person does not have npm installed. Probably rare but could happen if they only use `yarn`.

[2021-01-25 22:25] ericdallo commented on #273
@bpringe would you mind testing that branch with calva? https://github.com/clojure-lsp/clojure-lsp/pull/275
LMK if need helping generating the jar/bin

[2021-01-25 22:28] ericdallo commented on #271
Thank you for the test @dpsutton!

[2021-01-25 22:31] FongHou commented on #269
older version doesn't have completionItem/resolve request/response at all. newer version has responses like below, but only for unqualified symbols. No entries for ns alias log/debug

[code]

[2021-01-25 22:42] bpringe commented on #273
Works :tada:

[2021-01-25 22:42] bpringe commented on #273
Will leave open until released. My click finger was trigger-happy :smile:

[2021-01-25 22:45] #273 closed

[2021-01-25 22:46] ericdallo commented on #273
I'll release the fix later today after/if I fix another issue

[2021-01-25 22:59] ericdallo commented on #269
@FongHou I made a fix related to completion-item-resolve, could you test latest release please?

[2021-01-25 23:00] ericdallo commented on #273
Released @bpringe!

[2021-01-25 23:02] ericdallo commented on #268
I'll try to make some testings sending batches of X files to clj-kondo analyzing to check if memory is improved

[2021-01-25 23:31] bpringe opened #276 "textDocument/documentSymbol response seems broken in release 2021.01.25-22.56.05"
I noticed in VS Code when testing Calva with this release that the Outline feature is not showing the document symbols as it used to. Instead, in my `core` namespace, I just see:

![image](https://user-images.githubusercontent.com/12722744/105778986-52f13b80-5f22-11eb-8d3c-bfd729cb5623.png)

[code]

So it's only returning the namespace and not the namespace's symbols.

[2021-01-25 23:38] FongHou commented on #269
still not working. Not seeing any completionItem/resolve request in lsp client log either.

[2021-01-25 23:44] FongHou commented on #269
Here is a complete lsp client session log.. not sure how useful is it.

[lsp.log](https://github.com/clojure-lsp/clojure-lsp/files/5870263/lsp.log)

[2021-01-25 23:48] ericdallo commented on #276
@bpringe do you remember what was showing before? This is a feature not really used by emacs/vim users I think

[2021-01-25 23:53] bpringe commented on #276
I think the textDocument/documentSymbol response may be used for other features in emacs/vim though?

With version `2021.01.20-01.39.32` and the same file, it looks like this:

![image](https://user-images.githubusercontent.com/12722744/105780321-0824f300-5f25-11eb-8084-22d439b09a80.png)

And the request + response are like this:

[code]

It appears the `children` are missing in the latest version

[2021-01-25 23:54] ericdallo commented on #269
That's really odd, since server seems to return correct checking the logs :/

[2021-01-25 23:54] ericdallo commented on #269
any issues on `/tmp/clojure-lsp.out`?

[2021-01-25 23:55] ericdallo commented on #276
Got it, just found a feature on lsp-mode that shows that tree, I'll fix it, thanks!

[2021-01-26 00:05] FongHou commented on #269
Nothing specific. A few ClassCastException, not sure if they are relevant.

[clojure-lsp.out.txt](https://github.com/clojure-lsp/clojure-lsp/files/5870308/clojure-lsp.out.txt)

[2021-01-26 00:11] ericdallo commented on #269
The ClasCastException is related to other minor bug with code actions that I intend to fix soon, but found nothing related completion. @snoe could you confirm that you have the same issue with vim?

[2021-01-26 00:12] ericdallo commented on #276
Something like that right @bpringe ?
![image](https://user-images.githubusercontent.com/7820865/105781844-0c1b3a00-5f52-11eb-9b80-229e3a2fe7d6.png)

[2021-01-26 00:13] bpringe commented on #276
Exactly!

[2021-01-26 00:15] ericdallo commented on #276
:D Ok, I'll merge soon and wait for other bugs that you may find 😆, if you don't find anything more, I'll release only with this fix

[2021-01-26 00:18] FongHou commented on #269
seems not vim/nvim specific.. doesn't work in vscode either.

![image](https://user-images.githubusercontent.com/13973254/105782191-087fb700-5f42-11eb-9bd6-628d945d8e62.png)

[2021-01-26 00:21] ericdallo commented on #269
That's really odd:
![image](https://user-images.githubusercontent.com/7820865/105782377-315c7800-5f53-11eb-961d-adf6f8135fc7.png)

@bpringe would you mind test it on calva please?

[2021-01-26 00:37] #276 closed

[2021-01-26 00:54] bpringe commented on #276
Works!

[2021-01-26 00:59] ericdallo commented on #268
I could not reproduce the OoO removing the cache and restarting multiple times with emacs: 🤔
![image](https://user-images.githubusercontent.com/7820865/105784928-8949ad80-5f58-11eb-8c6e-eae7e663e78a.png)

[2021-01-26 01:18] bpringe commented on #269
I just tried with an alias to hiccup.core:

![image](https://user-images.githubusercontent.com/12722744/105786052-255fbe80-5f31-11eb-8777-7352e9c61d69.png)

Request + response:

[code]

But nothing shows up in the editor - is that response correctly structured?

[2021-01-26 01:19] bpringe commented on #269
@FongHou we have lsp completions disabled in Calva. I enabled them in dev to test the above.

[2021-01-26 01:20] bpringe commented on #269
Also, when I tested these before in an older version, I did see suggestions pop up in the editor, whereas I don't now.

[2021-01-26 03:36] lucywang000 opened #280 "multi root support?"
I noticed that python's [pyright lsp](https://github.com/emacs-lsp/lsp-pyright) only fires up one instance for multiple python projects, would it make sense to have a similar feature in clojure-lsp?

I used to open lots (5~10) of clojure/script projects, for e.g reading 3rdparty libs code. It doesn't make sense to have 10 lsp instances running and take 10~20GB memory ...

[2021-01-26 03:37] ericdallo commented on #268
@anonimitoraf could you test if the memory issue is improved/fixed with #278? you can just run `lein bin` to generate the executable.

[2021-01-26 03:41] ericdallo commented on #280
Yeah, it sound a good idea, but I'm not sure this works for most of clients, including `lsp-mode` (lsp-clojure.el), it'd need some extra work on their side, and I'm no sure what need to be done on server side too

[2021-01-26 10:54] borkdude commented on #268
@ericdallo I pushed a commit to clj-kondo to make a call strict:

6ccdcf88bc50f24e6c12839fcaf3edee9be14249

Maybe that helps, I'm not sure.

[2021-01-26 12:16] ericdallo commented on #268
Hey @borkdude it looks to me that decrease memory indeed!
I made some tests with the #268 using that kondo version and it seems to improve, I'll keep using this branch for testing a few days, thanks for the help!

[2021-01-26 12:44] ericdallo commented on #268
Besides your project @anonimitoraf, I tested with a huge project from my work with is 2 times bigger and the memory didn't pass the 1.5G mark
Before(master):
![image](https://user-images.githubusercontent.com/7820865/105846507-09a0fa80-5fbb-11eb-8aa0-71d0e055cac9.png)

After (batch-kondo-analysis):
![image](https://user-images.githubusercontent.com/7820865/105845213-2ccaaa80-5fb9-11eb-9239-076979c

[2021-01-26 15:11] dcostaras commented on #268
I have a project that OOMs consistently. I currently have `JAVA_TOOL_OPTIONS:  -XX:-OmitStackTraceInFastThrow -Dapple.awt.UIElement=true -Xms512m -Xmx4g` but I guess the `mx` is being overridden by clojure-lsp.

It's a commercial application based on https://github.com/fulcrologic/fulcro

If I start clojure-lsp in the template project (https://github.com/fulcrologic/fulcro-template) it consumes ne

[2021-01-26 15:33] ericdallo commented on #203
@bpringe could you check if this issue is solved with latest release? This should be handled by clj-kondo now

[2021-01-26 15:37] dcostaras commented on #268
So it seems to have worked after starting it up for, maybe, the 5th time?

One thing I've noticed is that the mx setting now seems to be respecting the 4GB that I've set it to. I'm not how that has happened TBH (also I realise that clojure-lsp is using it's own JVM, not the Azul one I mentioned above)

<img width="873" alt="Screenshot 2021-01-26 at 15 36 32" src="https://user-images.githubusercont

[2021-01-26 15:38] ericdallo commented on #268
@dcostaras thank you very much for your input, would you mind testing with the #268 PR?
You can gerentes the release with `lein bin`

[2021-01-26 15:40] dcostaras commented on #268
I'm guessing you mean #278?

[2021-01-26 16:07] ericdallo commented on #268
Yep, sorry, I'm on mobile : 😅

[2021-01-26 16:23] dcostaras commented on #268
Using the above build. I did a manual GC after the lsp server initialised (The point where the used heap stabilised). Seems to work much better 👍

<img width="1963" alt="Screenshot 2021-01-26 at 16 21 21" src="https://user-images.githubusercontent.com/623750/105872653-8dc2a480-5ff2-11eb-9dab-ac73d94ba773.png">

[2021-01-26 16:26] dcostaras commented on #268
TBC: I `rm -rf .lsp .clj-kondo .cp-cache` before opening the project in emacs. And it took about 2mins to initialise.

[2021-01-26 16:47] ericdallo commented on #268
Nice @dcostaras so no OOM right? also, is there any reason for you to manually do a manual GC? do you get a OOM without that?

[2021-01-26 16:56] dcostaras commented on #268
Yeah, went from 100% CPU for 16mins until OOM with current master build to finishing in 2mins (didn't watch CPU) without OOM. No reason to do a manual GC other than it was a button and I was curious to see what would happen if I pushed it :)

[2021-01-26 16:57] ericdallo commented on #268
hahaha, sweet!
I'll keep testing today, if everything runs well, I'll merge it, thanks for the help!

[2021-01-26 17:14] dcostaras commented on #268
So with the 2GB limit it stills handles beautifully

<img width="1964" alt="Screenshot 2021-01-26 at 17 06 02" src="https://user-images.githubusercontent.com/623750/105878465-fe6cbf80-5ff8-11eb-9362-f9819b2525c1.png">

CPU (bump in the middle; with master it was pegged at 100% until it failed)

<img width="597" alt="Screenshot 2021-01-26 at 17 05 54" src="https://user-images.githubusercontent.com/

[2021-01-26 17:23] bpringe commented on #203
Adding it to my list! Will report back.

[2021-01-26 17:23] ericdallo commented on #268
Thank you @dcostaras, glad to see users happy :D

[2021-01-26 17:23] FongHou commented on #269
@bpringe, I didn't realize calva doesn't use clojure-lsp for completion anymore.
@ericdallo, Thank you very much for working on clojure-lsp tirelessly. All the recent improvements are amazing.

It'd be awesome if clojure-lsp completion could be made working again on vscode calva and (n)vim clients.

Cheers!

[2021-01-26 17:33] bpringe commented on #269
I plan to add it back lsp completion back to Calva, at least for when a repl is not connection.

[2021-01-26 17:35] ericdallo commented on #269
Thank you @FongHou, maybe @snoe can help us with vim client?

[2021-01-26 17:57] bpringe commented on #269
Actually @FongHou I was wrong. Calva does use lsp completions when a repl is not connected :sweat_smile:.

[2021-01-26 20:06] anonimitoraf commented on #268
Hey @ericdallo, I tried 2021.01.25-22.56.05 and it doesn't crash at startup anymore :) Memory usage peaked at around a bit less than 2GB

I wonder though why it used much less memory in your machine. Which OS are you using?

[2021-01-26 20:09] ericdallo commented on #268
Cool, that's great news :D
I'll release the fix later today, thank you everybody for the help

BTW: `NixOS on a Asus zenbook 3 deluxe 16 RAM`

[2021-01-26 20:12] anonimitoraf commented on #268
Thanks so much.

Right, I'm on Ubuntu 20.04. Strange... Follow-up question, which program did you use to graph Mem/CPU usage? I couldn't find any linux tools to do so (that seem easy to set up)

[2021-01-26 20:15] ericdallo commented on #268
old and working `jconsole` from oracle :)
There are better programs for other JDKs though

[2021-01-26 20:23] anonimitoraf commented on #268
Weird, no jconsole
![image](https://user-images.githubusercontent.com/15933322/105900653-75916a80-6070-11eb-8d81-48bf53a9fc0c.png)

Any other tools you can suggest? (I rarely have the need to profile stuff so usually htop is enough for my other needs)

[2021-01-26 20:41] ericdallo commented on #268
odd: https://openjdk.java.net/tools/svc/jconsole/

I recommend https://visualvm.github.io/ also

[2021-01-26 22:11] bpringe commented on #276
Do you plan to make a release soon with this fix? I'm sort of waiting on to test other issues related to #261. It would make that a bit easier at least, I think.

[2021-01-26 22:27] ericdallo commented on #276
Yeah, I'd make the release tonight (about 1-2hours), but there is no problems releasing now, I was just waiting for new bugs

[2021-01-26 22:34] ericdallo commented on #268
FIxed on latest release

[2021-01-26 22:34] #268 closed

[2021-01-26 22:36] ericdallo commented on #276
Done @bpringe !

[2021-01-26 23:35] bpringe commented on #203
Works!

[2021-01-26 23:35] #203 closed

[2021-01-26 23:55] bpringe opened #282 "Null pointer exception on Windows during initialization with version 2021.01.26-22.35.27"
On Windows during initialization (after the request was sent from client but before a response is received), an error occurs and no response is returned. I see this in the trace logs:

[code]

And this is in `/tmp/clojure-lsp.out`:

[code]

[2021-01-27 00:02] bpringe commented on #282
Ok, so this didn't happen with another project I tried. It happens every time though with this project: https://github.com/eu400000/Calva-VSC-Outline-Issue. I have no clue what could be causing that, yet.

[2021-01-27 00:05] bpringe commented on #282
Got the same error on another project, which I think was created with the shadow-cljs lein template, so it's not particular to that one project, though that can be a good test project to debug this.

[2021-01-27 00:06] bpringe commented on #282
CC @borkdude. Just in case he sees something obvious 😄.

[2021-01-27 00:40] ericdallo commented on #282
Oh, really weird indeed, @bpringe the best we can do is know what is the path clj-kondo is scanning, I'd suggest adding a `(log/info paths (string/join (System/getProperty "path.separator") paths))` here: https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/crawler.clj#L93
And check what we sent to clj-kondo before the exception

[2021-01-27 01:06] bpringe commented on #282
So this is what I see right before the error.

[code]

The code I used was like this:

[code]

[2021-01-27 01:15] bpringe commented on #282
Judging by

and

maybe the `CLASSPATH=` at the beginning of that is part of the issue? I'm guessing that should just be a valid path. Not sure how `CLASSPATH=` made it into there, but maybe something went wrong with an earlier split.

[2021-01-27 01:21] ericdallo commented on #282
yeah, that shouldn't be there hahah, not sure what added that 🤔

[2021-01-27 01:21] ericdallo commented on #282
oh, probably is the return of the classpath-cmd from that project-spec

[2021-01-27 01:22] ericdallo commented on #282
What kind of project is it? execute on of these  your project and check the result: https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/crawler.clj#L51-L59

[2021-01-27 01:26] bpringe commented on #282
So in this lein project for which I get the error, I ran `lein classpath` in the terminal and got this:

[code]

That's really weird... I haven not seen those first two lines of output before.

[2021-01-27 01:26] ericdallo commented on #282
yeah, what's your lein version?

[2021-01-27 01:29] bpringe commented on #282
`Leiningen 2.9.5 on Java 15.0.1 OpenJDK 64-Bit Server VM`

[2021-01-27 01:29] bpringe commented on #282
When I run this in another project though, I don't see those two first lines... 🤔

[2021-01-27 01:32] bpringe commented on #282
Ok now it's working in projects it didn't work in before.... and the `lein classpath` command is giving normal output again... Wonder if this is something strange with my VM.

[2021-01-27 01:34] ericdallo commented on #282
really crazy hahah

[2021-01-27 01:35] bpringe commented on #282
Latest version works fine too.... (made sure since I had modified the jar for logging.) This is really crazy. It's time for me to stop for the day, haha. I'll close this for now, and try to test the Windows related issues for #261 again tomorrow.

[2021-01-27 01:35] #282 closed

[2021-01-27 03:56] FongHou opened #283 "lsp client gets "Error: Header must provide a Content-Length property""
With latest build, clojure-lsp initialization gets "uncaughtException Error: Header must provide a Content-Length property.", and it seems never finishing. Almost all lsp features stop working.

A google search shows lots of other lsp implemenations had the same issue. Looks like Content-Length header is required according to https://microsoft.github.io/language-server-protocol/specification

[2021-01-27 16:45] snoe commented on #283
I was running into this in dev, it was due to my dev version of kondo printing to stdout. Not sure if this helps but any sort of println/prn logging should be suspect.

[2021-01-27 16:47] ericdallo commented on #283
Hum, good guess @snoe, @borkdude, this started to happen with some recent clj-kondo bump, do you know if clj-kondo is printing anything to console like debug prints?

[2021-01-27 16:48] ericdallo commented on #283
BTW, I can't reproduce it with Emacs lsp-mode

[2021-01-27 17:01] snoe commented on #283
I think we can `run!` wrapped in `with-out-str` https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/crawler.clj#L114 if we suspect that's the case (and to be clear I'm not saying this instance is clj-kondo, just that I was doing dev work and caused this to happen to myself)

[2021-01-27 17:03] ericdallo commented on #283
I see, I think we can wrap it with with-out-str for safety

[2021-01-27 18:19] bpringe commented on #194
I'm still seeing this issue on Windows, at least with this project: https://github.com/eu400000/Calva-VSC-Outline-Issue. I think this is causing the documentSymbol response to come back empty, which breaks the outline.

However, I don't see it with another project created on Windows...

[2021-01-27 18:23] ericdallo commented on #194
Are you sure it's the same error log, we don't have the parser ns anymore, we rely on clj-kondo for that now

[2021-01-27 18:25] bpringe commented on #194
Hmm I'm going to go ahead and release a Calva version with the latest clojure-lsp and then revisit this and I'll let you know. Maybe I was testing the wrong version in my Windows VM by accident.

[2021-01-27 19:20] bpringe commented on #194
It works!

[2021-01-27 19:27] #194 closed

[2021-01-27 19:51] dharrigan commented on #283
Hi,

I'm able to reproduce this 100% of the time like this (I'm using neovim + coc + clojure-lsp)

* Ensure there is no `.lsp` directory in your project directory
* Open up a `deps.edn` file (for example)
* It will spin saying `initializing languageserver.clojure-lsp`
* After a short while the error will appear `"Uncaught Exception: Header must provide a Content-Length property."`
* Exit vim
* Re-

[2021-01-27 21:15] ericdallo commented on #283
@dharrigan is it possible to get the stdout from clojure-lsp process?

[2021-01-27 21:50] ericdallo commented on #283
Found the issue, I fixed it and make it sure doesn't have next time :)
Thanks for the report!

[2021-01-27 21:50] #283 closed

[2021-01-27 23:48] FongHou opened #284 "Using/persisting only last kondo batch analysis"
Hi @ericdallo, reporting more issues :-)

Hover doc and goto definition do not work for external dep jars. I noticed size of clojure-lsp/.lsp/sqlite.db (recreated fresh by latest release) is much smaller than before (clj-kondo rewrite). It used to be 5-7 MBs, now it's only 0.8 MB. Do you see the same in your local repo?

[code]
![image](https://user-images.githubusercontent.com/13973254/106069265-

[2021-01-28 00:13] ericdallo commented on #284
Not actually, this should work, but we completely rely on clj-kondo (`.clj-kondo/.cache`), so coult you test it removing `.clj-kondo/.cache` and `.lsp/sqlite.db` and restart the server and test it again?

[2021-01-28 00:35] FongHou commented on #284
Did that.  .clj-kondo/.cache contains 1263 files. sqlite.db is recreated as shown in clojure-lsp.out

[clojure-lsp.txt](https://github.com/clojure-lsp/clojure-lsp/files/5883952/clojure-lsp.txt)

Here are hover request/response. Not sure all expected metadata were returned?

[code]

[2021-01-28 00:36] FongHou commented on #284
goto-definition request/response

[code]

[2021-01-28 00:41] ericdallo commented on #284
Ok, I'll check that soon, thanks for the detailed test :)

[2021-01-28 02:57] ericdallo commented on #284
Hey @FongHou this is actually a huge bug, we are only using/persisting the last clj-kondo batch analysis, I'm fixing it

[2021-01-28 03:03] #284 closed

[2021-01-28 03:03] ericdallo commented on #284
Fixed on latest release, thank you very much for the report ;)

[2021-01-28 05:48] snoe opened #285 "Test harness for stdin/stdout"
From https://github.com/clojure-lsp/clojure-lsp/issues/283

I think we need to have a test harness that operates on rpc with stdin/stdout. We should be able to do something (this is a guess) like `lein run > results.txt < rpc-test.txt` .

I'm not sure if the `with-out-str` solution in the linked issue will keep the `*out*` binding across threads.

[2021-01-28 10:54] ericdallo commented on #285
Yeah, like an integration test, clj-kondo has similar tests

[2021-01-28 20:36] bpringe commented on #280
I was thinking about this recently. I think this is a good idea, though I know it might take some time and thought to implement well.

[2021-01-28 20:37] bpringe commented on #280
Another thing to consider is that _if_ the memory usage of clojure-lsp can be drastically reduced via graalvm and other methods, this becomes less of a problem. I still think it's a worthwhile thing to do in any case, though.

[2021-01-28 20:57] ericdallo commented on #280
Yeah, a one time instance of clojure-lsp would really be a good for performance but probably would need work a huge work from both server and clients (Vscode, Emacs, vim), and make it retro compatible could be even harder I guess
@snoe do you have any suggestions?

[2021-01-28 21:03] bpringe commented on #229
Just did a little test on a small project. When I opened it and lsp had already crawled it, the memory usage went up to and stayed around ~370 MiB. When I deleted the .lsp and .clj-kondo directories and reopened the project, lsp memory went up to and stayed around ~1.3 GiB.

It seems to hog a lot of memory for no good reason. Maybe the GC doesn't kick in because it's not reaching the max heap size

[2021-01-28 21:52] FongHou commented on #229
One caveat with manual GC is that JVM may or maynot release memory back to OS immediately. It varies depending on JVM version and OS as disicussed here https://stackoverflow.com/questions/30458195/does-gc-release-back-memory-to-os.

I've been using "java -Xmx1g -XX:+UseG1GC -XX:MaxHeapFreeRatio=30 -XX:MinHeapFreeRatio=10" with a local (System/gc) build, git diff like below

[code]

Ran on a projec

[2021-01-28 21:56] FongHou commented on #229
btw, not noticeable pause time of (System/gc) and how long it takes to complete the scan.

[2021-01-28 22:42] ericdallo commented on #229
Yeah, this is something to consider, indeed the memory should have a huge drop after the startup, @snoe do you see any major issues calling System/gc after the startup classpath analysis?

[2021-01-28 23:48] snoe commented on #280
No suggestions... Here's some random perspectives/ranting.

I easily run 5 or 6 instances of clojure-lsp at once. But I will shut down instances when I need to. I only actually work on one project at a time. What are our minimum specs?

I know some workplaces do multi repo/multi project/multi language stuff but it should be understood there's costs there, particularly around tooling support and it

[2021-01-29 14:42] FongHou commented on #269
@bpringe should we keep this issue opened since we want completion to work when no REPL connection in Calva. @ericdallo had it first-class support in emacs. Is the issue around lsp request/response conformance to the spec?

[2021-01-29 14:47] ericdallo commented on #269
@FongHou this issue is in clojure-lsp which was fixed, for that an issue in Calva would be better

[2021-01-29 18:24] bpringe commented on #269
@FongHou If you're still seeing issues with completion (I haven't checked it lately), please file a Calva issue.

[2021-01-30 14:15] dawranliou commented on #191
I finally got my monorepo to work with clojure-lsp. However, instead of `lsp-mode` I'm using `eglot` here. There are still caveats about my setup, which I mentioned at the bottom, so any feedback is welcome!

The root cause of my problem was the usage of emacs's `project.el` to locate the project root. For a monorepo, the project root is the monorepo itself. Initialing clojure-lsp with the monorep

[2021-01-30 17:54] ericdallo commented on #191
@dawranliou lsp-mode works too for subproject, you just need to pre-select the correct project root on the first run and don't need any config regarding project.el or something like that

[2021-01-31 23:44] snoe opened #288 "Re-add support for keywords"
We lost this functionality with the kondo analysis, kondo will now support it (see commented out analysis/README.md: https://github.com/clj-kondo/clj-kondo/issues/1129)

We should be able to bring back the old behavior
- go to def if a keyword has a `:def` on it
- rename - only rename the keyword if the cursor is on a raw keyword (i.e. not also a local destructuring binding)
  - `(let [{:keys [:f|

[2021-02-01 00:47] ericdallo commented on #288
Some doubts:
- About the `:def`, do you have an example of the first one?
- About the rename, in this case renaming `:foo` should rename the `foo` local-usage but not he `:foo`? I don't get it.

[2021-02-01 01:33] dawranliou commented on #191
Just want to post [my updated settings](https://github.com/dawranliou/emacs.d/commit/8b3bae6edd40a5d6e0ec75437b91036b0412e879) for eglot in case someone is looking. Here I'm using an advice function to update the `project-find-functions` value in the dynamic scope of `eglot--guess-contact` so my other `project.el` commands are not affected.

[code]

[2021-02-01 16:57] ericdallo opened #289 "Add binary test (Integration test)"
With the GraalVM build, we can break the build with any reflection code or non type hinting in some cases, so it'd be great to start with a simple test that it'd load the binary and send the initialize request and receive the response.

[2021-02-01 18:30] FongHou commented on #289
@ericdallo, is graal-vm binary build ready to use? I tried it, but it seems clojure-lsp stuck in-progress forever, again from coc.nvim...

[2021-02-01 18:31] ericdallo commented on #289
Yeah not ready yet, I removed the latest bugged release since I'm still WIP on the CI, sorry for that

[2021-02-01 18:38] snoe commented on #288
- goto def on the `|` in `(s/def ::my-spec string?) ::|my-spec` should go to col 7
- yes, it is very dangerous and surprising to rename keywords from bindings. so renaming foo to bar in `(let [{:keys [:f|oo]} stuff] foo) :foo` should result in `(let [{:keys [:bar]} stuff] bar) :foo`
  - in cursive it asks if you want to rename the keyword too, but I don't think lsp has that ability so it's better

[2021-02-01 18:41] ericdallo commented on #288
Oh got it, so it should rename the local-usage of that let scope but not the :foo from outsize, ok it makes sense now

[2021-02-01 23:04] ericdallo commented on #289
It's ready now @FongHou :)

[2021-02-02 01:17] ericdallo commented on #229
Hey @bpringe @FongHou I pushed the manual gc: https://github.com/clojure-lsp/clojure-lsp/commit/16af95c06419940dc9d5eb6626ad735dc5c072c7
It was pretty fast (few ms) even in a big project, could you test it later?

[2021-02-02 03:13] FongHou opened #292 "Improving clojure-lsp completion"
@ericdallo, link the issue from
Auto completion does not work in clojure-lsp only mode (no repl connection). #996.

[2021-02-02 03:15] ericdallo commented on #292
https://github.com/BetterThanTomorrow/calva/issues/996#issuecomment-771320467

[2021-02-02 03:17] ericdallo commented on #292
About https://github.com/BetterThanTomorrow/calva/issues/996#issuecomment-771320467, yeah, that's the idea, but is not that easy have a ID for the completion item, we would need to persist it somewhere, so IMO we could drop the resolveItem method and just calculate the documentation content on textDocument/completion, clojure-lsp already don't return a lot of symbols/we don't have a history of bad

[2021-02-03 00:22] bpringe commented on #229
I tested version `2021.02.02-14.02.23` with a simple project, first removing the .lsp and .clj-kondo files, and I still see just as high of idle memory after startup (1.2+ GB) as before this version. I'm only checking System Monitor though, but I'd expect it to show if mem was dropped after the GC.

[2021-02-03 00:24] ericdallo commented on #229
Hum, it really drop the mem after the GC in my tests 🤔

[2021-02-03 00:25] ericdallo commented on #229
@bpringe we just call gc manually on batch analysis, Could you check if your project have more than 50 files on classpath (check the logs)?

[2021-02-03 00:31] bpringe commented on #229
[code]
Only 33 paths it seems, but still looks like it does the manual GC

[2021-02-03 00:35] ericdallo commented on #229
Oh, the batch check must not be working, anyway, is not guaranteed that JVM will run the GC, I don't know if that could be the issue :/
I think refactoring this code using transducer would probably remove the necessity of this GC.

[2021-02-03 12:06] ericdallo commented on #289
Related to #285

[2021-02-03 12:08] ericdallo commented on #285
I just realized that this is a duplicate of #289 that I'm WIP, I'll close this to track on that issue (even if this was the first one 😅 )

[2021-02-03 12:08] #285 closed

[2021-02-03 12:09] #264 closed

[2021-02-03 12:13] ericdallo commented on #204
For that work, we need to improve clj-kondo analysis about java `var-usages`, ATM we don't have doc-strings or arities info
c/c @borkdude

[2021-02-03 12:16] ericdallo commented on #159
@knubie could you test it again and re open the issue if not working?
We had a huge refactor which made us use clj-kondo for almost everything, so this should work properly

[2021-02-03 12:16] #159 closed

[2021-02-03 12:17] ericdallo commented on #160
Sorry for the late response, we now rely on clj-kondo to parse/analysis, this should be handle by clj-kondo now anod probably will work, feel free to reopen otherwise.

[2021-02-03 12:17] #160 closed

[2021-02-03 12:19] ericdallo commented on #193
@emmanuj could you try again with latest version?
With had a huge refactor which now rely on clj-kondo for parse/analysis that should work

[2021-02-03 12:19] ericdallo commented on #193
Feel free to reopen if not fixed

[2021-02-03 12:19] #193 closed

[2021-02-03 12:25] ericdallo commented on #182
@qleguennec could you test if that happens with latest clojure-lsp? If so, this is probably some issue with your config or with lsp-mode, so feel free to open an issue on `lsp-mode`

[2021-02-03 12:25] #182 closed

[2021-02-03 15:24] #289 closed

[2021-02-03 17:17] bpringe commented on #229
Could also be differences in JDK versions :man_shrugging:

[2021-02-03 18:02] FongHou commented on #289
@ericdallo, linux static link binary segfault.

https://github.com/clojure-lsp/clojure-lsp/releases/download/2021.02.02-14.02.23/clojure-lsp-native-static-linux-amd64.zip

[2021-02-03 18:14] ericdallo commented on #289
Yes, Linux static binary will not work until sqlite fix it's deps, I'll try to open an issue there

[2021-02-03 18:42] ericdallo opened #296 "Static Linux GraalVM binary doesn't work"
ATM the static Linux binary compiled with GraalVM doesn't work because of a non static sqlite lib described here: https://github.com/xerial/sqlite-jdbc/issues/413#issuecomment-772729676

[2021-02-03 18:42] ericdallo commented on #289
I created this issue to track that: https://github.com/clojure-lsp/clojure-lsp/issues/296

[2021-02-03 23:59] mageddo commented on #296
@ericdallo When you compile the binary using Graal you need to specify which files will be bundled within the binary file, something [like this][1] , take a look.

[1]: https://github.com/mageddo/graalvm-examples/blob/59f1f1bf09894681edfddaa100b4504770ad0685/sqlite/build.gradle#L28

[2021-02-04 00:09] ericdallo commented on #296
Thanks @mageddo but we already do that here: https://github.com/clojure-lsp/clojure-lsp/blob/master/graalvm/native-unix-compile.sh#L29

[2021-02-04 00:30] ericdallo commented on #296
https://github.com/xerial/sqlite-jdbc/issues/584

[2021-02-04 02:20] ericdallo commented on #181
We now rely on clj-kondo analysis to know what is that code, and the analysis related to that is:
[code]

@borkdude, do you think we could add some info about that on `arglists-strs` or a new field? It's seems hard to think in a generic field not specific for that issue though

[2021-02-04 02:21] ericdallo commented on #171
Closing this since this is already present in some clients like snoe explained above

[2021-02-04 02:21] #171 closed

[2021-02-04 02:22] ericdallo commented on #124
Closing as this is already implemented even with basic support that we can easily improve in the future

[2021-02-04 02:22] #124 closed

[2021-02-04 02:23] ericdallo commented on #84
Finally we have this now on clojure-lsp @agzam :)

[2021-02-04 02:23] #84 closed

[2021-02-04 04:43] snoe commented on #181
I think this and ^Type hint returns (:tag iirc in clojure.core parlance) could fit well together.

[2021-02-04 08:02] barkanido opened #298 "re-create `install_clojure_lsp` downloading the correct GraalVM binary"
After resurrecting it from Git, it still works. Any reason for removing it?

[2021-02-04 12:01] ericdallo commented on #298
Hi @barkanido , we are using the releases to distribute the binaries, also in the future, probably we will just release the jar and the graalvm native compiled binaries, so the embedded jar will be deprecated, is there any reason for you to use the embedded jar instead of using it from releases?

[2021-02-04 12:31] ericdallo opened #299 "[CI] make binaries executable inside zip on releases"
The binaries uploaded to Github Releases, lose their permissions for some reason, so user needs to `chmod +x` after downloading and unzip.

[2021-02-04 18:43] barkanido commented on #298
Wdym by the "embedded jar"? Is this the executable from the releases page? Iiuc the download script, it just downloads it  amd copies it to a proper place in my Path. I use vim and so COC uses the executable.

[2021-02-04 18:46] ericdallo commented on #298
yes, that executable should be removed soon, replaced by the graalvm native images (windows, linux or macos).
That executable is a embedded jar, it uses the `lein bin-plus` plugin that has some bugs with jars with some dependencies, it's a matter of time to stop working...
You probably need some script that checks the OS and download the correct binary, right?

[2021-02-04 19:07] barkanido commented on #298
Well, it is just a convenience I got used to. While it is not critical, it would be good to keep it updated. I do also understand the hassle in maintain an Ubuntu ppo.
A better option (but it might be just for me) would be to teach COC to do it (like the rust lsp client checks for a new version on rust-analizer when it starts).

[2021-02-04 19:13] ericdallo commented on #298
yes, lsp-mode for emacs do that too, I think this would be the better approach, we also can re-create the script but change the logic to check the OS and download the correct binary, WDYT?
But I still think this should be logic from the clients

[2021-02-04 19:26] barkanido commented on #298
Just fixing the script would be an easy work around. COC clojure should be be improved, but agreed.

[2021-02-04 19:28] ericdallo commented on #298
Ok, I'll add this as a implement so

[2021-02-05 02:51] #298 closed

[2021-02-05 02:54] ericdallo commented on #298
Done @barkanido, I create the `install-latest-clojure-lsp.sh` that download the latest graalvm compiled binary checking your OS

[2021-02-05 03:00] ericdallo commented on #20
Closing this since I can't reproduce the issue with latest release, LMK if any issues

[2021-02-05 03:00] #20 closed

[2021-02-05 03:01] #288 closed

[2021-02-05 21:38] bpringe opened #302 "Allow require unknown namespaces guessing the alias"
Using version 2021.02.05-03.05.34 with Calva, if I run this command on `clojure.set/union` below, the require is not added (nothing changes). Shouldn't it add the missing require?

[code]

Request and response:

[code]

/tmp/clojure-lsp.out says:

[code]

[2021-02-05 21:39] bpringe commented on #302
This is on linux ^

[2021-02-05 21:46] snoe commented on #302
I think it's been mostly aliased based in the past, so if you've never required it before it doesn't come in. It's not great when you run into it tho, so this would be a good change

What should the behaviour here be?
What does cider/refactor do? (I think it adds the require as `[clojure.set :as set]` and modifies the call to `set/union`)
What would happen for user-libs like 'medley.core' or 'clj-

[2021-02-05 21:53] bpringe commented on #302
Oh I see.

I'm not sure what all is possible, but I'll just say what "would be nice" and then maybe that will lead somewhere.

It would be nice if when I ran the command in my editor for something like `clj-http.client` it would a require like `clj-http.client :as client`, all usages are changed to `client`, but then the alias in the require and all usages are selected with cursors for editing, so

[2021-02-05 21:55] ericdallo commented on #302
Any reason why not using the code actions? clojure-lsp already check if it supports the add require for that line col and suggest you, but @snoe is correct, ATM we have these features:
- add require if it was already required before on other file in the same project
- add a common require (set -> clojure.set, string -> clojure.string, etc)
- Add common java imports (java.util.Date, etc)
What is yo

[2021-02-05 21:57] ericdallo commented on #302
Yeah, I like your idea but the LSP spec doesn't support that AFAIK :/
We can only add the require and change the places to some alias, then you can rename the alias

[2021-02-05 22:03] bpringe commented on #302
I don't get the add missing libspec code action returned for that union call, but maybe because clojure-lsp knows it can't do anything there.

[code]

Are you saying those features exist or those are options to implement?

The above makes sense to me. It is a bit hard-coded, as opposed to just using a generic solution that would use the last part of the ns, but fairly simple to maintain for common

[2021-02-05 22:04] bpringe commented on #302
I'd say doing this makes sense. Just use the last part of the ns for the alias. If it conflicts, the user can rename the alias easily (I think - not sure if a conflict would cause a rename of the wrong alias usages).

[2021-02-05 22:13] ericdallo commented on #302
I mean, server return the available code actions for that line column, if server provides a `add-missing-require` code actions, it's because it can be applied there, otherwise it won't return that.
In `lsp-mode`,  we have a icon in the modeline that shows how many code actions there are for that line:

![image](https://user-images.githubusercontent.com/7820865/107094390-af3b4180-67e5-11eb-9b18-f80

[2021-02-05 22:29] bpringe commented on #302
Yes, VS Code has a similar feature you can see here.

![image](https://user-images.githubusercontent.com/12722744/107095914-83589580-67be-11eb-9339-05bbc435e224.png)

[2021-02-05 22:36] snoe commented on #302
Well, in theory we can apply an edit for both the new code `(clojure.set/union) => (set/union)` and the require.

A possible algorithm for determining an alias if a user types in a known ns without a known project alias. (if they type in a ns with a known alias, use that)

if the ns ends in `core` drop it. `(medley.core/map-vals) => (medley/map-vals)`
if the last of the ns is not an existing alias

[2021-02-05 22:37] ericdallo commented on #302
looks valid 👍🏻 I'll add to the project

[2021-02-05 22:43] ericdallo commented on #302
The `add-missing-*` code actions are my favorite features of `clojure-lsp`, It'd be really cool to make that work :)

[2021-02-05 23:41] #292 closed

[2021-02-05 23:42] ericdallo commented on #292
Fixed on master to return documentation on the `textDocument/completion`, we don't have/require anymore `completion/resolveItem` since it's not necessary for clojure-lsp anymore.
Completion on Calva should work as expected now

[2021-02-06 01:34] ericdallo commented on #266
I made some tests and what seems to be the issue is the need to format the whole parent form instead of the selected one.
For example, formatting:
[code]

With the | as the selected region, it will format the whole `a` macro, since formatting only the selected region would result in wrong spaces since cljfmt doesn't know the spacing before the `c` macro.

This behavior on a big function/form/test

[2021-02-06 01:38] ericdallo commented on #210
Gentle ping @lread, any issue on rewrite-clj to track that work :) ?

[2021-02-06 01:46] ericdallo commented on #222
Closing this since is a duplicate of #302

[2021-02-06 01:46] #222 closed

[2021-02-06 01:47] #299 closed

[2021-02-06 13:05] svdo opened #303 "Allow clj-kondo to pick up config correctly in mono repos"
This is about https://github.com/BetterThanTomorrow/calva/issues/961:

borkdude says: "not overriding :config-dir and passing :filename for linting a single file should be a sufficient fix"

Thanks! :)

[2021-02-06 15:00] ericdallo commented on #303
Thanks! I'll take a look soon

[2021-02-06 16:01] lread commented on #210
Sure! I'm steadily working on the [v1 branch](https://github.com/clj-commons/rewrite-clj/tree/v1).
When it is ready, I will merge to the main branch.
I am [tracking progress here](https://github.com/clj-commons/rewrite-clj/projects/1).

[2021-02-06 18:44] snoe commented on #266
We could probably hack something here.

If the `      (c ...)` form is to be indented and starts on col 6 then what you get back should be able to add 6 spaces to the start of each subsequent lines

[code]
Then our edit would be from the start to the end of the `(c ...)` form

[2021-02-06 19:33] ericdallo commented on #266
Looks a valid approach, not so easy, but it's possible indeed

[2021-02-06 23:20] bpringe commented on #302
I had suggested in #222 that this code action be sent as the `quickfix` `CodeActionKind`. Just noting here, but should this be a separate issue/request?

[2021-02-07 00:30] ericdallo commented on #302
It's the same feature @bpringe, I'm implementing that cide action right now

[2021-02-07 03:02] #302 closed

[2021-02-07 04:31] #303 closed

[2021-02-07 04:32] ericdallo commented on #303
Fixed on master, I tested and it seems to work picking up the parent dir clj-kondo config from filename :)
Should release tomorrow

[2021-02-07 04:42] ericdallo commented on #302
Done @bpringe, available on [latest release](https://github.com/clojure-lsp/clojure-lsp/releases/tag/2021.02.07-03.04.31)

[2021-02-07 05:52] barkanido opened #304 "download script fails to create a back up"
[code]
this is because:
[code]
`get_exec_version` calls a version of the binary that returns the above string:
[code]

[2021-02-07 12:30] ericdallo commented on #304
Oh, sorry, we need to split by space there and get last result

[2021-02-07 12:57] ericdallo opened #305 "Can't re-analyze cache from startup with keywords starting with number"
As found by @rvlo [here](https://github.com/clj-kondo/clj-kondo/issues/1160) and confirmed by me, clojure-lsp can't parse analysis from cache(sqlite) when there is any keyword that starts with a number.

Probably this fix should be done in clj-kondo persisting the `:name` as string or not providing those keywords.

[2021-02-07 13:04] rvlo commented on #305
@ericdallo, I've already implemented a fix and will submit a new PR soon.

[2021-02-07 13:06] ericdallo commented on #305
Nice @rvlo, I was talking with @borkdude that probably persisting it as string would be the best approach, is your fix that or something else?

[2021-02-07 13:52] ericdallo commented on #304
Pushed a fix @barkanido, could you confirm it works?

[2021-02-07 14:51] #305 closed

[2021-02-07 14:52] ericdallo commented on #305
Fixed with https://github.com/clj-kondo/clj-kondo/pull/1162 and https://github.com/clojure-lsp/clojure-lsp/commit/2d1bb4dd1f7445746ad960c62d7f63bd5dc721da

[2021-02-07 14:53] #304 closed

[2021-02-07 14:55] ericdallo commented on #46
This should already work since we now use clj-kondo to analysis/parse code, if doesn't work, it should be fixed or configured on clj-kondo side

[2021-02-07 14:55] #46 closed

[2021-02-07 14:56] ericdallo commented on #44
This was fixed after the integration with clj-kondo on #261

[2021-02-07 14:56] #44 closed

[2021-02-07 14:58] ericdallo commented on #49
Is this still a issue with latest clojure-lsp @lxsli ?

[2021-02-07 14:59] ericdallo commented on #25
Closing this since we now have `clojure-lsp.bat` and GraalVM compiled Windows binaries

[2021-02-07 14:59] #25 closed

[2021-02-07 22:25] lxsli commented on #49
Not sure, I've been ill and not working much.

On Sun, 7 Feb 2021 at 14:59, Eric Dallo <notifications@github.com> wrote:

--
Alexis

[2021-02-07 22:57] ericdallo commented on #56
This now should be handled on clj-kondo after we merged #261, not sure if clj-kondo already supports it, if you think it should, please open a PR there, thanks!

[2021-02-07 22:57] #56 closed

[2021-02-07 23:03] ericdallo commented on #118
We already support shadow-cljs by default if you have npx installed, also test it with latest clojure-lsp and feel free to reopen if does not work

[2021-02-07 23:03] #118 closed

[2021-02-07 23:06] ericdallo commented on #28
Users can now install `clojure-lsp` via scoop! https://github.com/clojure-lsp/clojure-lsp/pull/306
Closing this since scoop seems more common than chocolatey for Windows users.

[2021-02-07 23:06] #28 closed

[2021-02-07 23:11] ericdallo commented on #127
Ok, this was fixed some time ago and I never saw this behavior again, I'm closing this since probably is fixed, feel free to reopen if not fixed on your side @gjabell

[2021-02-07 23:11] #127 closed

[2021-02-07 23:12] ericdallo commented on #131
@QikLiang could you confirm if this happens yet? I'll close this since is not clj-kondo responsibility to handles these things after #261

[2021-02-07 23:12] #131 closed

[2021-02-07 23:14] ericdallo commented on #133
Thank you @pesterhazy!
This already works as expected after we merged #261 :)

[2021-02-07 23:14] #133 closed

[2021-02-07 23:17] ericdallo commented on #134
Hey @pesterhazy this already works since we merged #261 :)

[2021-02-07 23:17] #134 closed

[2021-02-07 23:18] #154 closed

[2021-02-07 23:19] ericdallo commented on #156
This should work now after #261 since clj-kondo takes care of that logic :)

[2021-02-07 23:19] #156 closed

[2021-02-07 23:24] ericdallo commented on #135
Tested and it works now, this was fixed after we merged #261 :)

[2021-02-07 23:24] #135 closed

[2021-02-08 07:31] barkanido commented on #304
works for me @ericdallo .

[2021-02-08 23:16] bpringe commented on #270
Just want to point out that in the case of a non-valid form, other lsp features temporarily "break." In the gif below you can see when I type `str/` the code lenses disappear and the linting problems disappear except for the invalid form one. Maybe the linting part isn't a big deal, since it's telling you where the problem is. The other symptoms may not be a huge deal either since they go away whe

[2021-02-08 23:21] ericdallo commented on #270
Yeah, that's part of clj-kondo issue, since it can't scan a invalid code, so clojure-lsp end updating the current features with no analysis data, we could do not update it when it's a invalid code but I'd prefer making clj-kondo work with that

[2021-02-09 05:13] agzam commented on #84
Sorry for the delay. I just tried compiling it on Mac. Installed "GraalVM Community Edition based on JDK11 for macOS"; set the `GRAALVM_HOME`, ran the `./graalvm/native-unix-compile.sh`, it seems compiled everything, but it fails at the last step:

[code]

What do I miss?

[2021-02-09 05:27] agzam commented on #84
It looks like `gu install native-image` step is missing in the Readme.

[2021-02-09 05:35] agzam commented on #84
yet it is still failing for me. Here's the full log: https://gist.github.com/agzam/57b2547f1627c8a62927e781e582e144

[2021-02-09 11:14] ericdallo commented on #84
Any reason why you are compiling manually and not downloading from the GitHub releases?
But yeah, you need to install graalvm, and by install native-image

[2021-02-09 19:47] agzam commented on #84
Ah, I prefer to use latest and greatest :) . I feel bad not finding time to contribute directly and using the latest to flush out bugs early is currently my only way to participate. I love lsp and I love Clojure I want to find a way to build it locally. It seems I'm having some gcc/clang conundrum on my Mac.

[2021-02-09 20:42] ericdallo commented on #84
I see :)
We could improve the docs to tell to run the gu install native-image, but this error is odd indeed, are you using graalvm 21.0.0? maybe you could ask for help on Clojurians slack #graalvm channel

[2021-02-09 22:59] ericdallo opened #308 "clojure-lsp not finding project clj-kondo configs files"
Testing with the repro from @lread [here](https://github.com/BetterThanTomorrow/calva/issues/1026), clojure-lsp [kondo-args](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/crawler.clj#L68) is not considering project clj-kondo config files for some reason

[2021-02-10 03:00] #308 closed

[2021-02-10 17:29] snoe opened #309 "Re-add support to add libspec from completions"
Pre-kondo un-required namespace completions would add the require automatically when the item was chosen.
We should do that again.

[2021-02-10 18:14] ericdallo commented on #309
Yeah, I didn't notice that, I'll check how hard would be to implement that

[2021-02-10 21:31] ericdallo commented on #309
@snoe could you show me an example?
ATM we don't return all available functionvars unless the alias was typed like `foo/b`, I think to fix this issue, we would need to return `foo/bar` even if user just started type the alias like `fo` ?

[2021-02-11 15:39] dharrigan opened #310 "java.lang.ClassCastException: java.lang.Long cannot be cast to clojure.lang.Named"
Hi,

[code]

[code]

[2021-02-11 15:47] ericdallo commented on #310
Thank you for the report, will take a look soon, but this should only affect completion feature.

[2021-02-11 16:01] dharrigan opened #311 "coc-codeaction not working correctly in (neo)vim"
Hi,

Logging this here with the understanding it may not be a `clojure-lsp` bug, but got to capture this somewhere for others and for analysis.

[code]

[code]

I have the following configured in my .vimrc settings:

`nmap <silent> <Leader>act          <Plug>(coc-codeaction)`

When attempting to do perform a `Change coll to set` (or any other choice), on a line, what happens instead is that the ro

[2021-02-11 16:14] #310 closed

[2021-02-11 16:15] ericdallo commented on #310
Fixed on master, it'll be available on next release, although this only logs an exception, the completion works correctly

[2021-02-11 16:18] ericdallo commented on #311
Thanks @dharrigan, but your lsp log is missing the `textDocument/codeActions` log, which is the request where client asks to server all available code actions (to show that popup)

[2021-02-11 16:24] dharrigan commented on #311
Hi,

Here you go :-)

[code]

[2021-02-11 16:25] ericdallo commented on #311
Got it, so the server is indeed returning the arguments `0,0`, did you have the request log too of `textDocument/codeAction`?

[2021-02-11 16:26] dharrigan commented on #311
[code]

[2021-02-11 16:30] dharrigan commented on #311
Interestingly,

If I put my cursor inside the vector (as in the gif), then invoke `:CocAction` directly, up pops the menu, and it changes that line, and not from position 0,0

[2021-02-11 16:31] ericdallo commented on #311
yeah, that's the issue, for some reason, your LSP client is sending the whole range, not specific for the cursor

[2021-02-11 16:35] ericdallo commented on #311
Other code actions probably don't work like `Add missing requrie`/ `Add missing import` and everything that relies on a specific range

[2021-02-11 16:45] rafaeldelboni commented on #311
Coc is always sending the entire file as range in this command 'textDocument/codeAction'

[2021-02-11 16:52] ericdallo commented on #311
That's the issue, according to the [spec](https://microsoft.github.io/language-server-protocol/specification#textDocument_codeAction)
[code]
Is not clear, but the other clients send the range of the cursor, (what makes sense to me)

[2021-02-11 16:53] rafaeldelboni commented on #311
I just found this @dharrigan [here](https://github.com/neoclide/coc.nvim/blob/master/doc/coc.txt)
[code]

[2021-02-11 16:56] rafaeldelboni commented on #311
using this works better:
[code]

[2021-02-11 16:59] ericdallo commented on #311
Nice, @dharrigan could you confirm it works?

[2021-02-11 17:23] dharrigan commented on #311
It works better, but not quite :-)

Now, it's doing this:

[code]

to

[code]

with my cursor inbetween the 1 and the 2

[code]

[2021-02-11 17:39] rafaeldelboni commented on #311
@dharrigan this is happening to me, the expected behavior is this?
[code]

[2021-02-11 17:42] dharrigan commented on #311
I would have expected the behaviour to be

[code]

[2021-02-11 17:49] rafaeldelboni commented on #311
maybe `coc-codeaction-selected` then?

[2021-02-11 17:57] dharrigan commented on #311
Yes, that works

[code]

[2021-02-11 17:59] rafaeldelboni commented on #311
I used this one:
[code]
How is your flow with your mappings @dharrigan ?

[2021-02-11 18:30] dharrigan commented on #311
This seems to work well for me (I have `,a mapped to somethin else)

[code]

[2021-02-11 19:09] rafaeldelboni commented on #311
@ericdallo I know that this is not related to clojure-lsp itself, but we could document this somewhere here, I have feeling more people with this setup will have this as well.
Maybe create a FAQ session in the wiki maybe?

Some inspiration:
https://github.com/Olical/conjure/wiki

[2021-02-11 19:10] ericdallo commented on #311
Yeah, we have all documentation on the docs folder: https://clojure-lsp.github.io/clojure-lsp/, we can create a new section FAQ and add that or add to the existing troubleshooting section

[2021-02-11 20:17] Matsuuu opened #312 "Autocomplete not working on neovim on required namespaces"
**Describe the bug**

Automatic completion with Neovim and and [completion-nvim](https://github.com/nvim-lua/completion-nvim) doesn't work for required namespaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh file
2. Require a namespace (i used clojure.string as string)
3. Start writing a call to a function inside said namespace (in my example (string//split))

**Expected b

[2021-02-11 20:18] dharrigan commented on #311
Your wish...

https://github.com/clojure-lsp/clojure-lsp/pull/313

[2021-02-11 20:20] Matsuuu opened #314 "Autocompletion for namespaces"
**Is your feature request related to a problem? Please describe.**

It would be fantastic to get automatic completion when writing namespaces like so:
![image](https://user-images.githubusercontent.com/16068444/107693742-35a8c500-6cb7-11eb-940b-2676c0dcf66c.png)

**Describe the solution you'd like**
As the used starts writing the namespace requirement, an autocomplete should kick in.

[2021-02-11 20:21] ericdallo commented on #312
@Matsuuu could you provide the request / response info between the vim client and the server?
Not sure how to get that for nvim

[2021-02-11 20:24] ericdallo commented on #314
It'd be a great addition, I'll look into this soon :)

[2021-02-11 20:26] ericdallo commented on #311
Thank you!

[2021-02-11 20:26] #311 closed

[2021-02-11 20:54] Matsuuu commented on #312
Is this what you meant? I can try to go through if I can get more info

https://gist.github.com/Matsuuu/89a24470b3edff6035ed5284751ca4dd

I first wrote `(println "hello world")`  (starting at aroung 350)  to ensure the completion works, and then tried with the `(string/split)` (starting at around 450?)

[2021-02-11 20:59] ericdallo commented on #312
No, it is not, we need the json logs between client and server like [here](https://github.com/clojure-lsp/clojure-lsp/issues/311#issuecomment-777617492)

[2021-02-11 21:51] rvlo opened #315 "Completion of local vars doesn't work on native linux amd64 release"
**Describe the bug**

Completion of local vars doesn't work on native linux amd64. When running from source, it works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. (defn foo-function [])
2. Type (foo
3. Press TAB

**User details (please complete the following information):**
 - OS: ArchLinux
 - Editor: emacs
 - Version: 2021.02.11-12.43.06 (but has been happening for a few releases)

[2021-02-11 21:55] ericdallo commented on #315
Thanks, will take a look soon!

[2021-02-12 00:13] #315 closed

[2021-02-12 00:15] ericdallo commented on #315
Should be fixed on next release :)

[2021-02-12 01:12] deobald opened #316 "[clojure.test :refer :all] causes "missing clojure.test" highlights"
**Describe the bug**
In an empty test file with `(:require [clojure.test :refer :all])`, clojure-lsp highlights the symbols which have been referred into the current ns with `:all`: `deftest`, `testing`, `is`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new Emacs process with lsp-mode enabled for Clojure files.
2. Create a new file at `/tmp/zig_test.clj` with the following content

[2021-02-12 01:49] #314 closed

[2021-02-12 01:56] ericdallo commented on #314
Done! I'll be available on next release :)

[2021-02-12 02:02] ericdallo commented on #316
Thanks for the report!
I followed your repro and it's working fine for me with lsp-mode too:
![image](https://user-images.githubusercontent.com/7820865/107722125-05fcbb80-6cbd-11eb-84ff-b5ac98dd7759.png)
Warning only about the refer :all, not sure what should be causing that.. 😔

[2021-02-12 03:15] ericdallo commented on #312
@Matsuuu not sure, but this could be solved by #315 , could you test it again with latest clojure-lsp?

[2021-02-12 06:56] Matsuuu commented on #312
That actually fixed it. Or at least a part of it!

Now I get the autofill for for example `clojure.string`  but it seems to only trigger after I've erased one character and re-typed it. (see video).

Looking at the logs, (I couldn't find any pure json logs, sorry), it seems to relate to https://github.com/clojure-lsp/clojure-lsp/issues/270

https://user-images.githubusercontent.com/16068444/107738

[2021-02-12 10:21] borkdude commented on #316
I'm seeing the same with LSP but not with pure clj-kondo.

![Screenshot 2021-02-12 at 00 13 19](https://user-images.githubusercontent.com/284934/107756377-6c68f480-6d24-11eb-8693-93684b2b70f8.png)

[2021-02-12 10:23] borkdude opened #318 "Navigation to var in local project takes me to .m2"
In clj-kondo I navigate from the analyzer namespace to hooks/hook-fn. This takes me to my .m2 folder instead of the project-local `clj-kondo/impl/hooks.clj` namespace.

<img width="1428" alt="Screenshot 2021-02-12 at 11 19 48" src="https://user-images.githubusercontent.com/284934/107756576-b2be5380-6d24-11eb-8112-f98be67fd552.png">

[2021-02-12 12:44] ericdallo commented on #312
Not sure is related with #270, but there is a chance indeed, if you type the `string/spl` fast enough to avoid querying preious and with cache results, you should make it work

[2021-02-12 12:47] ericdallo commented on #316
Yeah, that's really odd, the findings come directly from clj-kondo, the only thing affecting that could be a config.

[2021-02-12 12:52] ericdallo commented on #318
I could not repro that, is that what you are doing?

![clj-kondo-find-hook](https://user-images.githubusercontent.com/7820865/107770316-f65e9080-6d17-11eb-8b53-cae2ce27c89f.gif)

[2021-02-12 12:57] borkdude commented on #318
![hook-fn-nav](https://user-images.githubusercontent.com/284934/107770881-3c2c5080-6d3a-11eb-9b9c-85592e95ae0a.gif)

[2021-02-12 13:13] ericdallo commented on #318
Could you try a debug command?
With the cursor inside the `hooks/hook-fn` run `lsp-clojure-cursor-info`, it should print the element analysis and its definition from clj-kondo analysis :)

[2021-02-12 13:19] borkdude commented on #318
[code]

[2021-02-12 13:20] borkdude commented on #318
I'm not sure why clj-kondo ended up as a dependency in the analysis. But even then local sources should probably be prioritized.

[2021-02-12 13:22] ericdallo commented on #318
Yeah, I'll double check clojure-lsp to check if it prioritize local sources

[2021-02-12 15:31] ericdallo commented on #318
Yeah, clojure-lsp do a find-first of all analysis, I'll refactor introducing some kind of sorting the local sources first

[2021-02-12 16:36] snoe commented on #309
We used to show vars when a full alias or ns was typed. But if you complete to one of those we should still add the spec.

So if `foo/bar` exists and you type:
`f => ["foo (ns)"]` and uses doc-changes to add a require for `foo` if chosen.
`foo = ["foo (ns)", "foo/bar (fn)"]`
`foo/ = ["foo (ns)", "foo/bar (fn)"]` (this one is hard)
`foo/b = ["foo/bar (fn)"]`

[2021-02-12 20:17] deobald commented on #316
If it's any help at all, I'll drop my dotemacs in here:

https://github.com/deobald/dotemacs/tree/df8ab044b41a07e7dcfb3c7d1b3d367042115a8a

There's nothing very special going on in there, but it might provide someone a harness to reproduce in case this issue goes stale.

[2021-02-12 22:51] #318 closed

[2021-02-12 22:51] ericdallo commented on #318
Should be fixed on next release :)

[2021-02-12 22:54] borkdude commented on #318
Thanks!

[2021-02-13 21:25] ericdallo opened #321 "Create custom homebrew clojure-lsp formula"
Since homebrew-core doesn't have support for compiling with GraalVM and has some bureaucracy, it'd be great to have a `clojure-lsp/homebrew-brew` repo with clojure-lsp formula downloading from Github Releases

[2021-02-13 21:26] ericdallo commented on #321
Willing to take a look @Andre0991?

[2021-02-14 14:15] javahippie opened #322 "Native Binary 2021.02.13-18.04.19 crashing on Mac OS Big Sur"
**Describe the bug**
The latest version of now, 2021.02.13-18.04.19, crashes without an error message if I try and start it from the commandline:
`zsh: killed     clojure-lsp`.

This error was not happening before, e.g. version 2021.02.12-03.13.12 runs just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Mac OS specific binary of release 2021.02.13-18.04.19 and unzip
2. Se

[2021-02-14 14:17] ericdallo commented on #322
Thank you for the report!
I'm setupping a macos big sur to test the binary, but probably will rollback the UPX change for macos until https://github.com/upx/upx/issues/450 is fixed :/

[2021-02-14 19:07] ericdallo commented on #322
The issue seems to happens indeed only with Big Sur: https://github.com/upx/upx/issues/434

[2021-02-14 19:34] ericdallo commented on #322
Also I confirmed testing it on a MacOS Big Sur, I'll rollback the UPX compress only for MacOS until the issue is fixed

[2021-02-14 20:05] ericdallo commented on #322
Fixed for now :)

[2021-02-14 20:05] #322 closed

[2021-02-14 22:53] javahippie commented on #322
Confirmed that it works fine for me, thank you very much for the fix!

[2021-02-15 19:49] ericdallo commented on #321
After we created the custom homebrew tap, then we could setup https://github.com/garden-io/update-homebrew-action

[2021-02-16 13:59] ericdallo commented on #215
Hey @vemv, I started a WIP POC here: https://github.com/clojure-lsp/clojure-lsp/pull/323
Still need to understand how to fix those 2 TODOs, but it should work after fixing these issues :)

[2021-02-16 20:34] Matsuuu commented on #312
I tried typing at about 1 letter / 5 seconds and still ran into the problem. After a single backspace it's all right again, but not having to do a backspace every time would be grand :)

[2021-02-17 01:01] bpringe opened #324 "Implement textDocument/signatureHelp"
This is just a nice to have thing that we currently have in Calva using info from nrepl. See a demo here: https://github.com/BetterThanTomorrow/calva#demo-signature-help-while-typing

[2021-02-18 01:12] kimim opened #326 "core lib symbol doc could not show on Windows/Emacs"
**Describe the bug**
core lib symbol doc such as `println!` could not show on windows

**To Reproduce**
Steps to reproduce the behavior:
1. install emacs from msys2 `pacman -S mingw64/mingw-w64-x86_64-emacs`
2. add emacs-lisp config:   `(add-hook 'clojure-mode-hook #'lsp)`
3. download `clojure-lsp.exe` to `.emacs.d/.cache/lsp/clojure/`
4. open emacs and navigate to core.clj, put cursor to `(printl

[2021-02-18 17:11] borkdude commented on #270
The clj-kondo issue is now fixed on master.

[2021-02-18 18:17] bpringe opened #327 "Add JavaScript interop completions"
This is just something that would be nice to have in the future. Maybe [clj-suitable](https://github.com/rksm/clj-suitable) or something like it could be used.

[2021-02-18 18:19] bpringe commented on #327
Actually I think suitable uses a repl for that... Not sure if it could be used that way from clojure-lsp. Maybe there's some other way though.

[2021-02-18 18:55] ericdallo commented on #327
Not sure I understand the issue, why this doesn't work with clojure-lsp already? since clojure-lsp check for the required alias to show completion items?

[2021-02-18 19:46] ericdallo commented on #326
Sorry, I'm having a hard time setupping a windows environment, could you get the logs between server and client? you can `(setq lsp-log-io t)`, run `lsp-workspace-restart` and after reproducing the issue get the content of the `*lsp-log*` buffer.

[2021-02-19 00:16] #270 closed

[2021-02-19 00:17] ericdallo commented on #270
Fixed 🎉 Available on next release

[2021-02-19 00:33] ericdallo commented on #270
@bpringe could you test it with Calva if it works for you too?

[2021-02-19 00:33] ericdallo commented on #312
@Matsuuu #270 was fixed, could you try again and open a new issue if not fixed?

[2021-02-19 00:33] #312 closed

[2021-02-19 10:54] kimim commented on #326
Hello Eric, here is the log. In lsp-ui it just uses the path as `/c:/Users/xxxxx` which is not recognized by MingW64 Emacs. It understand the path without root `/`.

[code]

[2021-02-19 11:32] ericdallo commented on #326
Thanks, but this is not the log I meant 😅 , I think the correct buffer with the logs is something like `*clojure-lsp-log*`, it should contains jsons of the requests and response.

[2021-02-19 11:37] kimim commented on #326
sorry, here is the log:

[code]

[2021-02-19 11:44] kimim commented on #326
log from fresh start:
[code]

[2021-02-19 11:50] kimim commented on #326
If the definition is in the project file, it display OK:

[code]

[2021-02-19 11:56] ericdallo commented on #326
Can't find anything relevant in the logs, could you `lsp-workspace-restart` to generate a new empty log, reproduce the issue and paste the log here?
I need the `textDocument/hover` request and response to check if the server is returning the correct values

[2021-02-19 12:11] ericdallo commented on #326
@bpringe We had some issues already with that before, right? Do you have any clue on how should we fix the issue here?

[2021-02-19 12:18] ericdallo commented on #321
Created the repo: https://github.com/clojure-lsp/homebrew-brew/tree/main

[2021-02-19 13:30] Andre0991 commented on #321
I will be able to work on this 25/26 feb. If it's okay do wait, I can do it, sure. Otherwise, if someone can take it before me, no problems.

[2021-02-19 14:04] gdanov opened #328 "diplicated symbols in imenu for .cljc files"
First, congrats on the new release. Start-up is definitelly faster and clj-kondo hooks allow me to support some funky macros.

When working with `.cljc` files the defs shared between the two targets appear twice. That's all. Macros as expected appear only once. See the screenshot:
<img width="1169" alt="Screenshot 2021-02-19 at 15 04 21" src="https://user-images.githubusercontent.com/957113/108514

[2021-02-19 14:30] ericdallo commented on #328
Thank you @gdanov !

I don't get the issue here, could you please make a simple repro?
For me the `defn` from a `.cljc` file show correct references:

![image](https://user-images.githubusercontent.com/7820865/108517178-d98d0480-72a5-11eb-934f-022d8082f69c.png)

[2021-02-19 16:38] bpringe commented on #327
Does it work for JavaScript object completions? It doesn't seem so to me, at least. https://github.com/rksm/clj-suitable#dynamic-completion-demo

The idea: If I type `(.| js/document)` with `|` marking the position of the cursor, methods and properties of `js/document` will appear — including `querySelector` and `querySelectorAll`.

[2021-02-19 16:46] snoe commented on #309
Fixed by 1de177a63c93bcaf1e93c12ac43d939f9814d439

[2021-02-19 16:46] #309 closed

[2021-02-19 16:56] ericdallo commented on #327
Got it, it's completion for java classes in the end, right?
Yeah, that'd be really helpful, but we'd depend on clj-kondo analysis for that

[2021-02-19 17:15] bpringe commented on #270
It works on the first typing of `/` and then every other time after that. I don't see the request being sent on the times it doesn't work, so maybe it's just something that needs to be configured in the client lib we use (or something is broken).

![autocomplete-lsp](https://user-images.githubusercontent.com/12722744/108535781-89577780-7290-11eb-8d04-47d7bb2d92e1.gif)

This case that it doesn't wo

[2021-02-19 17:28] bpringe commented on #326
[code]

With Calva I think this issue was related to how the `uri` is sent in the request. In the above hover request (which returned no results), you can see the `uri` has the drive letter encoded like `c%3A` but clojure-lsp stores uri's like `c:`. The client may need to decode the `uri` before sending. In Calva I had to do this for a manual request to get references in order for it to work on wi

[2021-02-19 17:36] bpringe commented on #326
Nevermind, I'm not sure if that's the problem here. I just checked with Calva on Windows and it sends the uri with the encoded colon after the drive letter, and the response is good.

[2021-02-19 17:38] bpringe commented on #327
Javascript* methods and properties, in this case. So, different approach than for Java, where reflection exists.

[2021-02-19 18:02] ericdallo commented on #327
It's completion for javascript, but the .query* is a method from the return of the js/document that return a Java object, am I wrong?

[2021-02-19 18:04] gdanov commented on #328
it's not the references. I'm talking about the lsp <-> imenu integration. Another example from different .cljc file this time using `lsp-ui-menu`
<img width="171" alt="Screenshot 2021-02-19 at 19 03 02" src="https://user-images.githubusercontent.com/957113/108543350-3c51c080-72e5-11eb-8eaa-dadd712fe30a.png">

[2021-02-19 19:30] gdanov commented on #266
I use paredit with cider's formatting and never noticed slowness. I have no idea how it's formatting works, but maybe there's some strategy that could be borrowed

[2021-02-19 19:32] ericdallo commented on #328
Alright, I managed to reproduce that :)
Will take a look, it's a bug indeed!

[2021-02-19 19:37] ericdallo commented on #326
Yeah, Also I wonder if this only happens for mingw or for Windows Emacs native too.
(I don't know too much about Windows, so not sure if that makes sense)

[2021-02-19 19:49] bpringe commented on #327
I may not be getting what you are saying, but these are HTML DOM methods, essentially, from the `document` api: https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelector

[2021-02-19 20:15] ericdallo commented on #266
Yeah, I gave a try on @snoe idea but failed :/, could not calculate correctly the spaces to add, a fix/option on cljfmt could be a good approach too.

[2021-02-19 20:20] ericdallo commented on #327
Sorry, I don't know cljs that much, my point is, I know that via cljs you can manipulate the DOM with some methods, but you are right, there is no java there, that clojurescript code it's transpiled to js later.
Anyway, not sure clj-kondo analysis would help here, WDYT @borkdude?

Otherwise, we would need to add some integration with a lib like clj-suitable, but would be big change to clojure-lsp

[2021-02-19 20:25] borkdude commented on #327
@ericdallo Can you summarize what you would like from clj-kondo?

[2021-02-19 20:46] ericdallo commented on #327
@borkdude, would be possible to have clj-kondo analysis for cljs DOM methods like from this [gif](https://github.com/rksm/clj-suitable/blob/master/doc/2019_07_22_suitable-figwheel.gif), I don't know how hard would be to implement that on clj-kondo if possible

[2021-02-19 21:03] borkdude commented on #327
@ericdallo

There is a stale PR here https://github.com/clj-kondo/clj-kondo/pull/879 to add arity info for JS interop calls. It's not merged and I'm not sure if will be but the work done in that issue could directly benefit clojure-lsp since the symbols resulting from that work could just be a built-in resource for JS completion in clojure-lsp.

Similar approach can work for built-in Java stuff. C

[2021-02-19 21:17] bpringe commented on #327
I was also thinking not just built-in, but also, for example in Calva we require things like `"vscode"`, and it would be nice if auto completions would show properties and methods on `vscode` when I type something like `(.| vscode)`. This would require dynamically analyzing the JS objects, and I don't know what that involves. Just dreaming :smile:.

This isn't even a huge deal imo. It's just that

[2021-02-19 22:25] #328 closed

[2021-02-19 22:27] ericdallo commented on #328
Fixed! available on next release :)

[2021-02-20 12:58] kimim commented on #326
To find the definition, the url in request message is correct, but the response is not correct:

[code]

According to https://github.com/emacs-lsp/lsp-mode/pull/265#issuecomment-782601168 the uri missing one `/` after `file://`

[2021-02-20 13:09] kimim commented on #326
This function convert the filename to uri.
It will convert correctly if the file name is start wth `/`, but when in windows, filename may be `C:\\workspace\\hello.clj`, then if only add two `//` after `file://` is not correct...

https://github.com/clojure-lsp/clojure-lsp/blob/6442341c8df2b2ab231d14dd47db466cfcaa28f1/src/clojure_lsp/shared.clj#L65
[code]

[2021-02-20 14:54] ericdallo commented on #326
Sorry, I still don't get it, we fixed that here: https://github.com/clojure-lsp/clojure-lsp/issues/223#issuecomment-752803206
I just need to know what should be the correct for windows uers

[2021-02-20 14:55] ericdallo commented on #326
Oh, should add a `/` [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/shared.clj#L71) fix the issue?

[2021-02-20 19:06] bpringe commented on #326
Yeah that's what I'm thinking @ericdallo. The non jar-scheme scenario might need the extra `/` as well.

[2021-02-20 19:57] mynomoto opened #329 "Improve `:source-paths` usage for projects with different folders organization"
I was trying to use clojure-lsp to explore [an polylith project](https://github.com/furkan3ayraktar/clojure-polylith-realworld-example-app) and noticed that navigation weren't working even after configuring a custom command for getting the correct classpath.

It would be nice if once the classpath was configure, navigation (go to definition) worked out of the box. It worked after @ericdallo helped

[2021-02-20 20:01] ericdallo commented on #329
Yeah, my idea is that we can improve clojure-lsp to get the source paths from deps.edn if in a deps project, project.clj if a lein project and etc, WDYT @snoe ?

[2021-02-20 22:22] ericdallo opened #331 "Auto re-crawl classpath if clj-kondo config changed"
If a user change the clj-kondo config used to crawl the classpath, we probably want to re analyze that to make sure we have reliable data.
As @borkdude suggested, we could hash the clj-kondo config passed to kondo/run and persisted in db, and only use the analysis from db if the hash is the same.

[2021-02-21 00:11] zane opened #332 "Completion is not available before reader conditional"
**Describe the bug**
In a `.cljc` file that contains a reader conditional before the reader conditional, but is available after it.

**To Reproduce**
Create a directory containing the following files:
`deps.edn`:
[code]
`src/repro.cljc`:
[code]
Steps to reproduce the behavior:
1. In Emacs open `repro.cljc`.
2. Enable `clojurec-mode` and `lsp-mode`.
3. Insert a new line below the reader conditional

[2021-02-21 00:17] ericdallo commented on #332
Thank you for the report, I could reproduce the issue, will take a look soon

[2021-02-21 00:18] kimim commented on #326
I've tried cygwin emacs, wsl emacs, msys2 emacs and mingw emacs.
The others emacs follow unix path style.
mingw emacs and windows native emacs use windows path style, such as `C:\Users\kimim\workspace`

[2021-02-21 14:56] jkrasnay opened #333 "Improve add-missing-libspec in cljc files"
`add-missing-libspec` is not sensitive to the language in which the dependency is used. Consider the following.

<img width="428" alt="Screen Shot 2021-02-21 at 9 50 44 AM" src="https://user-images.githubusercontent.com/172437/108628761-9b6d1d80-742a-11eb-9e12-18be0fb0af57.png">

When I select "Add missing 'clojure.string' require" the result is as follows.

<img width="448" alt="Screen Shot 2021-

[2021-02-21 14:59] ericdallo commented on #333
Thanks for the report, it's something to improve indeed, It'd need a major refactor on `add-missing-*` logic though

[2021-02-21 15:24] #324 closed

[2021-02-21 15:27] ericdallo commented on #324
Available on next release @bpringe :)
![signature-help](https://user-images.githubusercontent.com/7820865/108629674-cca41880-743f-11eb-9f27-0a547d059e09.gif)

But we are not sending the active parameter yet, I think it'd be necessary a clj-kondo analysis change for that.

@borkdude, Would you think it would be possible to add to clj-kondo `var-definition` analysis some `:args` field?
For example `

[2021-02-21 16:51] borkdude commented on #324
@ericdallo We already have `:arglist-strs`:

[code]

[2021-02-21 17:06] borkdude commented on #324
Adding this from a conversation on Slack. If you need the individual args, you can parse it as EDN. This should work for most arglists, except those with auto-resolved keywords. You can work around this using edamame, which already comes with the clj-kondo dependency:

[code]

[2021-02-21 17:28] ericdallo commented on #326
I did some tests and I think this should work for Windows, could you test it again with master branch @kimim ?
running `lein bin` in root should generate a `/target/clojure-lsp` executable
Check here for more details: https://clojure-lsp.github.io/clojure-lsp/#building
https://github.com/clojure-lsp/clojure-lsp/commit/1dd6d67049a4c82b23cfe6b9b684d3fea354e281

[2021-02-21 19:10] ericdallo commented on #324
Done @bpringe, we have full support for `textDocument/signatureHelp` now :)
Thanks for the help @borkdude

[2021-02-21 20:35] bpringe commented on #324
Awesome! Thanks guys.

[2021-02-21 21:02] #332 closed

[2021-02-21 21:02] ericdallo commented on #332
Fixed! Available on next release :)

[2021-02-22 01:08] ericdallo commented on #326
@kimim could you test the latest release if fix your issue? If not we can re-open this issue.

[2021-02-22 01:11] ericdallo commented on #181
Ping @borkdude, if you agree, I can raise a clj-kondo issue to help track that

[2021-02-22 08:53] borkdude commented on #181
The reason the input schema shows up is just because the raw arglist source string is preserved.

I think we could add return types to the analysis, but we would have to come up with a format which offers this information on a per arity basis, since functions can have different return types per arity.

Needs hammock time and probably not high priority.

[2021-02-22 11:43] kimim commented on #326
sorry I cannot compile out the .exe file with the command: lein bin.
Let's wait for next release.

[2021-02-22 12:13] ericdallo commented on #326
I already released @kimim you can test the latest release :)

[2021-02-22 12:28] kimim commented on #326
Thanks. I compile with `lein bin` inside mingw terminal, and get `clojure-lsp` without .exe postfix.
I can execute it by chmod +x clojure-lsp

[2021-02-22 12:30] ericdallo commented on #326
You can download the release from here @kimim : https://github.com/clojure-lsp/clojure-lsp/releases

[2021-02-22 12:46] kimim commented on #326
Still has some problem:

When I move cursor on `with-open`, which is a system macro, I get wrong doc:

[code]

[2021-02-22 12:48] kimim commented on #326
When hover to project function, it shows doc correctly:

[code]

[2021-02-22 12:48] ericdallo commented on #326
Does find definition works?
Not sure is just a visual issue for hover

[2021-02-22 12:53] kimim commented on #326
Find definition is also not possible for lib functions.

find definition for `defmacro`:
[code]

find definition for project function:
[code]

[2021-02-22 12:58] ericdallo commented on #326
@kimim this doesn't look a uri issue now, probably the classpath scan didn't work for your project, so you can't find definition of things outline your project, like `clojure.core/+`.
Restart the LSP server with `lsp-workspace-restart` and check the clojure-lsp log about the classpath scan when initliazing

[2021-02-22 13:15] kimim commented on #326
Yes. That's the problem. There is no log about classpath scanning.

[2021-02-22 13:23] ericdallo commented on #326
What the logs says? you can check the log path with `lsp-clojure-server-info`, `:log-path` property

[2021-02-22 13:29] kimim commented on #326
log from the temp folder:
[code]

[2021-02-22 13:35] ericdallo commented on #326
Alright, so it's scanning, but it doesn't look to scan the external jars, is your project a lein one? if so does running `lein classpath` on the project root works? do you have `lein` on your classpath correctly?

[2021-02-22 22:47] ericdallo opened #337 "Allow complete functions used by full qualified namespaces"
We should make completion work just like it works for alias:

With alias
[code]
WIth FQNS
[code]

[2021-02-22 23:44] kimim commented on #326
Yes. lein classpath can print out the jars, for example:

D:\workspace\clojure-lsp\test;D:\workspace\clojure-lsp\src;D:\workspace\clojure-lsp\dev-resources;D:\workspace\clojure-lsp\resources;D:\workspace\clojure-lsp\target\classes;...(more)

[2021-02-22 23:53] kimim commented on #326
`default-project-specs` is generated by `classpath-cmd->windows-safe-classpath-cmd`, which give the result as this:

Class: clojure.lang.PersistentArrayMap
Contents:
  :project-path = "project.clj"
  :classpath-cmd = [ "powershell.exe" "lein" "classpath" ]

But I am using the `lein` in mingw `/usr/local/bin`, that means, no powershell.exe is needed in mingw emacs.
That might be the problem.

[2021-02-22 23:58] kimim commented on #326
by the way, i get three unit test failure:

[code]

[2021-02-23 00:25] ericdallo commented on #326
@kimim you can configure custom `project-specs` in `.lsp/config.edn`, check here for more details: https://clojure-lsp.github.io/clojure-lsp/settings/

About the tests, probably they are using `/` instead of `(System/getProperty "path.separator")`, I can fix that, but is not related with your issue

[2021-02-23 00:59] kimim commented on #326
Java File API: getAbsolutePath  will add D: or C: in front of the path in Windows:

[code]

[2021-02-23 01:03] ericdallo commented on #326
That is not the issue I think, I made a commit on master, you can check if it's working, but I think it'd duplicating the project root for windows

[2021-02-23 01:04] ericdallo commented on #326
Anyway, that's nothing related with your issue.

[2021-02-23 01:13] kimim commented on #326
Yes, this is another issue.
I think for easy to code, It is better to use WSL2 Emacs and clojure-lsp.
Windows Emacs is not so user friendly.
Thank you for your great work!

[2021-02-23 01:47] kimim commented on #326
I create a PR to fix more windows path issue: #338

[2021-02-24 14:31] lucywang000 opened #339 "global ~/.lsp/config.edn does't work"
I tried to turn on `:show-docs-arity-on-same-line? true` globally in `~/.lsp/config.edn` as described in the doc, but it didn't work.

Upon some debugging, I searched around the code but seems the current code only tries to locate the dominate file from the project root.

https://github.com/clojure-lsp/clojure-lsp/blob/2021.02.21-21.02.51/src/clojure_lsp/crawler.clj#L197-L211

[2021-02-24 14:55] ericdallo commented on #339
We do a `recur` to search until the `/`, but if user has already a project roo, it'll indeed use the project config not the home one.
We should add support for merging those with the project as the priority

[2021-02-24 15:02] lucywang000 commented on #339
Emm, I don't see how that could navigates to `/home/foo/.lsp/config.edn`? Forgive me if I'm missing anything obvious ...

[2021-02-24 15:06] ericdallo commented on #339
No problem :)
That should make that happen: https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/crawler.clj#L208

[2021-02-24 15:14] lucywang000 commented on #339
I mean, say we are currently in folder `/src/projects/foo`, IIUC it would search for:
- `/src/projects/foo/.lsp/config.edn`
- `/src/projects/.lsp/config.edn`
- `/src/.lsp/config.edn`
- `/.lsp/config.edn`

And would gave up if none of them exists, so `/home/foo/.lsp/config.edn` would never be checked. Am I right?

[2021-02-24 15:19] lucywang000 commented on #339
Ofc if the source code is always in the home directly, e.g. `~/src/projects/foo`, then it would always be possible to fallback to `~/.lsp/config.edn`. Is that what you mean?

[2021-02-24 15:20] ericdallo commented on #339
Exactly, that's what I meant as an improvement :)

[2021-02-24 15:21] ericdallo commented on #339
we can choose, always check the home dir, or merging recursive the configs until root

[2021-02-24 15:22] lucywang000 commented on #339
The latter won't work if the source code isn't under home dir, so I think home dir always need to be checked.

[2021-02-24 15:28] ericdallo commented on #339
Yes, looks easier and valid

[2021-02-24 23:53] kimim commented on #326
Now I get clojure-lsp work.
I installed lein.bat to Windows PATH.
As current design is using powershell to run lein.bat.
mix use with lein.sh is not working.

[2021-02-24 23:53] #326 closed

[2021-02-25 00:41] ericdallo commented on #326
@kimim nice! Would mind opening a PR for the docs FAQ? Or mentioning that on the windows install docs section?

[2021-02-25 02:54] ericdallo commented on #339
Done on ca354b6, available on next release!
I'll add details to the docs tomorrow

[2021-02-25 02:54] #339 closed

[2021-02-25 03:05] ericdallo commented on #229
So, I didn't hear any complaints about memory after the GraalVM migration + performance improvements done later, I'm comfortable with closing this, we can re-open it if makes sense later. WDYT @bpringe?

[2021-02-25 15:46] snoe opened #340 "`declare` should not define the location or the docs of a definition"
`go to definition` should not go to the `declare` location
`hover` should show the definition info like doc-strings etc...

[2021-02-25 15:54] ericdallo commented on #340
Good catch, need to check how to fix that, probably ignore the declare element when finding definition

[2021-02-25 16:53] ericdallo commented on #340
Actually, it seems there is no way to know that an analysis is a `declare` and not the actual definition 😔
[code]
This is a sample of the analysis of `(declare find-defintion)` element.

WDYT @borkdude, should we add a flat to a analysis element if it's a declare one and not the real `var-definition`?

[2021-02-25 16:55] borkdude commented on #340
@ericdallo I think the analysis should contain the location of the `def`/`defn` and override the `declare` location.

[2021-02-25 16:56] borkdude commented on #340
@ericdallo I oh see, you have multiple locations where it's declared. Yes, adding a field makes sense.

[2021-02-25 17:42] bpringe commented on #229
That sounds good to me.

[2021-02-25 17:42] #229 closed

[2021-02-25 20:55] ericdallo opened #341 "LSP 3.16 - Support textDocument/linkedEditingRange"
As @yyoncho suggested, we could use that for live renames, for example: renaming an alias would live changing the alias usages on the buffer.

[2021-02-26 12:28] gdanov commented on #324
this is great, but I can't figure out how to display the signature in pop-up. It does show in the mode line but not in postframe

[2021-02-26 12:33] ericdallo commented on #324
you need to use `(setq lsp-signature-posframe 'lsp-signature-posframe)`

[2021-02-26 12:55] gdanov commented on #324
this did the job for me

`(setq lsp-signature-function 'lsp-signature-posframe)`

source:

https://twitter.com/yonchovski/status/1362858080430604292

[2021-02-26 12:58] ericdallo commented on #324
Oh sorry, yes, that is the correct 😅

[2021-02-26 13:01] gdanov commented on #324
no problem ;) just wanted to have it documented for the next one to google it

[2021-02-26 14:13] #321 closed

[2021-02-26 16:31] #337 closed

[2021-02-27 17:55] jkrasnay opened #346 "Parsing fails on splicing reader conditional"
**Describe the bug**

The following construct triggers an exception, disabling LSP functionality for the whole file:

[code]

The problem is likely caused by rewrite-clj v0, and appears to be resolved in rewrite-clj v1.

**To Reproduce**

Enter the above form in a `.cljc` file.

<details>
 <summary><b>Log - /tmp/clojure-lsp.*.out</b></summary>
<pre>
ADD HERE
                    clojure-lsp.main.LS

[2021-02-27 18:32] ericdallo commented on #346
Thank you for report, let's wait for the v1 merge

[2021-02-27 21:52] ericdallo commented on #234
I made a POC where it's working, I just replace the sqlite to datalevin, but we still use the atom for everything.
https://github.com/clojure-lsp/clojure-lsp/pull/345

Still having some issues while compiling the native-image with GraalVM

[2021-02-27 21:56] ericdallo commented on #333
I think we can implement that when have rewrite-clj v1, which should add support for cljc

[2021-02-27 23:35] ericdallo commented on #346
@jkrasnay, I did a fix on clojure-lsp to avoid the exception on code actions when on a reader macro, this should fix this issue but I'm thinking in keep this open until we use rewrite-clj v1, could you test if the latest release fix your issue?

[2021-03-01 10:07] orestis opened #350 "Rename doesn't rename symbols in :refer"
First of all, this project is AMAZING and I'm so happy I've finally tried it :) Many thanks to all!

**Describe the bug**
I tried renaming a function in a very central namespace in our code to test things out. It mostly worked, but in all the requiring namespaces the `:refer` symbol wasn't changed.

**To Reproduce**
So e.g. given:

[code]

After renaming `f` to `g` I got:

[code]

**Expected behav

[2021-03-01 11:12] ericdallo commented on #350
Thanks for the report!
that refer analysis was added to master yesterday, still need to add support for it in rename, will try to look to this soon :)

[2021-03-01 12:32] ericdallo commented on #350
I confirmed the last clj-kondo bump fixed this, I'll release soon so you can test it

[2021-03-02 00:39] devn opened #352 "clojure-lsp highlighting unresolved vars where clj-kondo output shows no such issue"
**Describe the bug**
`clojure-lsp 2021.02.24-14.23.08` is highlighting unresolved vars where clj-kondo (`clj-kondo v2021.02.28`) does not. I did not construct the smallest reproducible case, but I can confirm after removing .clj-kondo/.cache and .lsp/sqlite* that the output of clj-kondo --lint src does not show this to be unresolved in its output, but clojure-lsp highlights it as unresolved.

**St

[2021-03-02 02:34] jkrasnay commented on #346
Version `2021.03.01-19.18.54` no longer shows the exception in the log. Auto-complete now works but only _below_ the section of the file with the splicing reader conditional, but does not work before that point in the file.

[2021-03-02 12:00] ericdallo commented on #346
We'll need rewrite-clj v1 that adds support for parsing cljc

[2021-03-02 12:27] ericdallo commented on #352
Thank you for the detailed report, it helps a lot.
The issue here is with clj-kondo cache. When clojure-lsp start, it call clj-kondo to scan the whole classpath, clj-kondo then creates caches for each file scanned, your issue happens if after the classpath is cached, when you lint a single file it'll then report the unresolved symbol.

We can confirm that it's a clj-kondo issue with two commands:

[2021-03-02 12:33] borkdude commented on #352
The issue is simply that `http/get` gets defined using a macro:

https://github.com/http-kit/http-kit/blob/d12b1667a62785c5bcc635462958a5f85f7db303/src/org/httpkit/client.clj#L307

Adding a config for that macro will resolve the issue `{:lint-as {org.httpkit.client/defreq clojure.core/def}}`.

[2021-03-02 12:39] ericdallo commented on #352
Oh got it, and when clj-kondo lint a single file without context of the whole classpath, it doesn't warn about the macro, right?
I confirmed the issue is fixed using the `:lint-as` above, I'll add more details to the `lint` section of clojure-lsp.

Thanks for the help @borkdude

[2021-03-02 12:39] #352 closed

[2021-03-02 12:44] #350 closed

[2021-03-02 12:53] ericdallo commented on #234
The datalevin worked but discussing with @snoe we think that we'll not have any advantages just changing the sqlite to datalevin for what we use today, we probably can improve it using just a plainfile for the persisted analysis instead of sqlite, then we can probably fix #296 as well.

[2021-03-02 12:53] #234 closed

[2021-03-02 15:03] devn commented on #352
Huh, my apologies! I don't remember this highlighting as unresolved in previous versions. Though perhaps I am mistaken.

[2021-03-04 15:21] LoadingBG opened #356 "False positive: Unresolved symbol inside a macro invocation"
Problem: I created a macro which expects a symbol to be passed as an argument. I get `Unresolved symbol` for argument which should be unevaluated.

Expected behavior: No error to be reported.

Environment:
 - OS: Ubuntu 20.04 under WSL
 - Editor Neovim v0.4.3
 - Version: 2021.03.01-19.18.54

[2021-03-04 15:23] ericdallo commented on #356
Please add a repro, otherwise, there is no way we know what macro is and what is the issue.

Also, this should be a clj-kondo issue since we delegate all lint logic to it.

[2021-03-04 18:28] LoadingBG commented on #356
Here's the macro I'm talking about
[code]
I get errors on `get-player-profile!` and `username`:
![image](https://user-images.githubusercontent.com/51295058/110011400-10442f80-7d28-11eb-94db-9486f4d20eba.png)

[2021-03-04 18:46] ericdallo commented on #356
Please check the [troubleshooting section](https://clojure-lsp.github.io/clojure-lsp/settings/#diagnostics-linter) and [clj-kondo config documentation](https://github.com/clj-kondo/clj-kondo/blob/master/doc/config.md#unrecognized-macros) on how to lint macros

[2021-03-04 18:47] #356 closed

[2021-03-04 21:25] ericdallo opened #359 "Support lint public unused vars"
Before clj-kondo integration we used to have these lint.

We could add it a config like `:public-vars-lint-level` with a default `:info` level.

[2021-03-05 00:49] #359 closed

[2021-03-08 01:54] lucywang000 opened #362 "db caching of analysis results stores invalid EDN when the project depends on [org.clojure/tools.deps.alpha "0.8.677"]"
The repro is here: https://github.com/lucywang000/bugs-repro/blob/master/repro-clojure-lsp-db-cache/project.clj#L2

It's very simple. As long as you add `[org.clojure/tools.deps.alpha "0.8.677"]` to the project deps, each time clojure-lsp restarts it would re-analyze the whole project because somehow the edn written into the db has invalid edn in the `ns` key:

I managed to extract the relevant se

[2021-03-08 02:17] lucywang000 commented on #362
It's a problem of clojure symbol->edn->symbol round trip:

[code]

[code]

[2021-03-08 03:08] ericdallo commented on #362
Thanks for the report and debugging!

Yeah, that's really bad, we had this issue with syms starting with numbers and now this, I have no idea how we can fix that 🤔
Any suggestions @borkdude?

[2021-03-08 05:29] lucywang000 commented on #362
We could simply drop these incompatible entries in the analysis results, since they are corner cases anyway.

[2021-03-08 09:54] borkdude commented on #362
It's related to this line:

https://github.com/clojure/tools.deps.alpha/blob/799dc545fd1a8f4e638092d44844f4e464bd2b24/src/main/clojure/clojure/tools/deps/alpha/gen/pom.clj#L24

And this hook:

https://github.com/clj-kondo/clj-kondo/blob/a650dc864ad56b404aac42997e081817faecef91/src/clj_kondo/impl/analyzer/clojure_data_xml.clj#L19

We should simply improve this hook to not generate these invalid nam

[2021-03-10 12:49] davidpham87 opened #364 "Autocomplete for require and refer"
Following our conversation on slack, I am opening this issue to have autocomplete on `ns` statements.

When we refer to `vars` in `ns` statements, it would be helpful to have some autocomplete support.

For example, in the following snippet,

[code]
it would be helpful if clojure-lsp could suggest `upper-case` (or any other matching public `vars`).

Best regards
David

[2021-03-10 12:52] ericdallo commented on #364
Thank you for the report!

It turns out [that was implemented in December](https://github.com/clojure-lsp/clojure-lsp/pull/202) by @anonimitoraf but before the clj-kondo integration, so we lose that feature 🤦🏻‍♂️

I'll try to take a look on weekend :)

[2021-03-11 16:01] #364 closed

[2021-03-11 16:01] ericdallo commented on #364
Fixed on next release :)

[2021-03-12 19:09] didibus opened #365 "How does clojure-lsp handle project classpath changes?"
This is more of a question.

I'm curious how clojure-lsp handles classpath changes. I see that you can pass it `source-paths` and `project-specs` which would contain `project-path` and `classpath-cmd`. But what happens if someone say adds things to the `deps.edn` after the server is started? Does it watch the `project-path` and `source-paths` for changes and re-runs the `classpath-cmd` on change?

[2021-03-12 21:29] ericdallo commented on #365
Hey, you are almost correct, clojure-lsp only check for deps changes, when it starts, it compares the md5 of your deps file with the persisted on .lsp/sqlite if present, if is not the same, it scans the whole classpath again.
For source paths, it always will scan your project folders, and this usually is really fast.

Therefore, clojure-lsp only check for changes when the server starts and will on

[2021-03-13 18:29] didibus commented on #365
I see, so adding or removing dependencies require a lsp server restart to pick up the changes?

But adding/removing files in source-paths will not require a lsp server restart, as Clojure-lsp has watches on them?

[2021-03-13 19:01] ericdallo commented on #365
yes, when you open a file, lsp client should send the didOpen notification, so server can know that file exists

[2021-03-15 00:45] #365 closed

[2021-03-16 12:57] ericdallo commented on #266
I created this issue on cljfmt side: https://github.com/weavejester/cljfmt/issues/212

[2021-03-17 01:07] zilti commented on #296
Not sure if it is due to me already having that dependency installed on my machine, but the static binary works just fine for me, system: openSUSE Tumbleweed.

[2021-03-17 11:18] ericdallo commented on #296
Good to know @zilti, I'll double check it in a ubuntu

[2021-03-19 09:41] kumarshantanu commented on #296
Ubuntu 20.04 AMD64, clojure-lsp `2021.03.18-19.23.41` static binary.

When I run `clojure-lsp` without any args, it just dies with a segmentation fault on Java 8, 11 and 16.

[code]

[2021-03-19 12:35] ericdallo commented on #296
Yes, the issue is when clojure-lsp use sqlite lib that has no support for [static yet](https://github.com/clojure-lsp/clojure-lsp/issues/296#issuecomment-772931716)

[2021-03-21 12:35] borkdude commented on #362
Fixed on clj-kondo master

[2021-03-21 12:56] ericdallo commented on #362
Thanks, I'll test it soon

[2021-03-23 14:38] dpsutton opened #380 "Clojure-lsp sorts imports in a strange way"
Clojure lsp seemingly sorts imports considering any brackets, not just the alphabetic characters. The observed behavior in an ns form is that the following (in my opinion correctly sorted imports)

### Existing (imo correctly sorted ns form)
[code]

will be sorted to the following:

### After lsp sorting
[code]

Now the import starting with an `o` is above the `j`. If there were another import fro

[2021-03-23 14:46] ericdallo commented on #380
Thanks for the report!
I think you first example is missing the expected wrong behavior?

[2021-03-23 14:50] dpsutton commented on #380
@ericdallo yeah just updated. sorry about that.

[2021-03-23 16:27] #380 closed

[2021-03-23 16:27] ericdallo commented on #380
Fixed :) I should release it later today

[2021-03-23 22:52] bpringe opened #381 "textDocument/completion request fails in some situations"
**Describe the bug**
I just noticed this when testing the latest clojure-lsp (currently `2021.03.21-23.29.19`) on Linux, using the native binary. As I was editing a deps.edn file, I kept seeing a message pop up that a request failed. This is in Calva and this version of Calva isn't released yet.

![image](https://user-images.githubusercontent.com/12722744/112228404-7d900580-8bee-11eb-9ffe-4b197dc9

[2021-03-23 22:56] bpringe commented on #381
I noticed it happens as soon as I type the `:` in `:mvn/version`.

[2021-03-23 22:58] bpringe commented on #381
It's also repeatedly happening while I'm editing code.

[2021-03-23 23:01] ericdallo commented on #381
Thanks for the report!
Oh, probably a missing class on GraalVM reflection config json, let me check

[2021-03-23 23:36] ericdallo commented on #381
It was a new feature introduced recently but it seems we missed the graalvm config for that.
Fixed on master, I'll release it soon

[2021-03-23 23:36] #381 closed

[2021-03-23 23:59] bpringe commented on #381
Awesome! Thanks for the quick fix.

[2021-03-24 01:35] FongHou opened #382 "clojure-lsp 2021.03.24-00.41.55 alreays rescan classpath jars upon earch restarts."
**Describe the bug**
Latest release clojure-lsp 2021.03.24-00.41.55 alreays rescanning classpath jars upon earch restarts.

**To Reproduce**
Steps to reproduce the behavior:
1. rm .lsp/sqlite.db
2. nvim a source file from a project. clojure-lsp scans project classpath. verify .lsp/sqlite.db created. tail -f /tmp/clojure-lsp.out shows first scan completed successfully.
3. exit nvim
4. nvim a source

[2021-03-24 01:48] ericdallo commented on #382
Thanks!
What project did you test that? I could only reproduce it on clojure-lsp project, but it's a know issue, in my sample project I could not reproduce it

[2021-03-24 01:54] FongHou commented on #382
It seems a regression. The project doesn't have this issue with previous release.

[2021-03-24 03:09] ericdallo commented on #382
Yes, I agree it's an issue, I just wanted to confirm if it was a global issue affecting all issue of just the clojure-lsp project.

The issue seems to be happening because we are not correctly converting to a valid edn before persist with sqlite.
It seems the `:defined-by` key of clj-kondo analysis is returning `<list>`

[2021-03-24 03:21] ericdallo commented on #382
It seems to be a issue linting `clojure.spec.gen.alpha`: https://github.com/clojure/spec.alpha/blob/master/src/main/clojure/clojure/spec/gen/alpha.clj#L101-L111

Sample of a kondo analysis on that file
[code]

Not sure why it happens on clj-kondo c/c @borkdude

[2021-03-24 03:26] FongHou commented on #382
I'm not sure which jar in my project causes this. I thought it's [org.clojure/alpha.spec "0.2.177-SNAPSHOT"] as it's mentioned in the other issue, but removing it doesn't seem make a difference.

I don't see that strange '<list' in sqlite.db file though. Where did you find that?

[code]

return nothing.

[2021-03-24 03:26] ericdallo commented on #382
I found on sqlite.db, try removing the sqlite.db and reanalyzing it with clojure-lsp, then you can repro

[2021-03-24 03:47] FongHou commented on #382
Confirmed. thank you for looking into it!

[2021-03-24 04:12] FongHou commented on #382
maybe something to do with this commit https://github.com/clj-kondo/clj-kondo/commit/2465976ec9e9529788c0eb1ba34eee3e2b83657d. Not sure why analyze-lazy-combinators was removed.

[2021-03-24 08:50] borkdude commented on #382
It was replaced by linting the call as `declare` because there was another macro in `sgen` exactly like this.

See here: https://github.com/clj-kondo/clj-kondo/commit/2465976ec9e9529788c0eb1ba34eee3e2b83657d#diff-f591b825c81f488c7fa9426a07ba9dd30f948cc52e445be929d5fd8299bc7ddeR1573

It seems we are passing a raw node to `:defined-by` somewhere.

[2021-03-24 10:24] borkdude commented on #382
Fixed in https://github.com/clj-kondo/clj-kondo/issues/1231

[2021-03-24 10:57] borkdude commented on #382
I also added an extensive test in CI to ensure analysis data is readable as EDN.

[2021-03-24 11:07] ericdallo commented on #382
Thank you @borkdude !

I'll bump and test it

[2021-03-24 12:21] ericdallo commented on #382
it fixes the issue, thank you for the quick help!

[2021-03-24 12:21] #382 closed

[2021-03-27 00:32] ericdallo opened #384 "Support outgoing call hierarchy"
We already support incoming call hierarchy, we can improve to support outgoing.
Ref: [Spec](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#callHierarchy_outgoingCalls)

[2021-03-27 08:36] PEZ opened #385 "Weird highlighting of case, cond, cond-> and cond->>"
**Describe the bug**

In VS Code/Calva I get this weird and jarring highlighting of  the threaded expression of `cond->` and `cond->>` forms. It seems to not always happen, but right now I fail to reproduce a case where it does not happen. It looks like so if the expression is a map:

<img width="277" alt="image" src="https://user-images.githubusercontent.com/30010/112714768-52523280-8edc-11eb-87d

[2021-03-27 13:32] ericdallo commented on #385
Thanks for the report!
I could reproduce right now with the map on cond-> indeed.
The issue seems to be on clj-kondo side, for some it return the position of the whole form for maps, vectors, functions etc.

For a code:
[code]
It returns:
[code]
Where the `name-*` is not correct I think.

c/c @borkdude

[2021-03-27 13:39] borkdude commented on #385
@ericdallo You might be able to see what is causing unexpected behavior here:

https://github.com/clj-kondo/clj-kondo/blob/76143d350946c18cd3ffc425b35aa01a6c78561d/src/clj_kondo/impl/macroexpand.clj#L52

[2021-03-27 16:00] ericdallo commented on #385
@borkdude I made a change and it fixes the issue:
I changed [this line](https://github.com/clj-kondo/clj-kondo/blob/76143d350946c18cd3ffc425b35aa01a6c78561d/src/clj_kondo/impl/macroexpand.clj#L59-L60) to:
[code]
But I'm not sure if this could affect anything or if it's the correct approach.

[2021-03-27 16:03] ericdallo commented on #385
It fails a test though: https://github.com/clj-kondo/clj-kondo/blob/76143d350946c18cd3ffc425b35aa01a6c78561d/test/clj_kondo/main_test.clj#L2418-L2419

[2021-03-27 16:05] borkdude commented on #385
This should keep working:

<img width="310" alt="Screenshot 2021-03-27 at 17 04 45" src="https://user-images.githubusercontent.com/284934/112726597-9108dc80-8f1e-11eb-9cb0-77660860d09c.png">

[2021-03-27 16:06] borkdude commented on #385
I don't really care about the exact position though, as long as it has a (sane) position.

[2021-03-27 16:06] ericdallo commented on #385
Yes, but I have no idea why that change affect that 😅

[2021-03-27 16:06] borkdude commented on #385
Because the binding doesn't have a location anymore.

[2021-03-27 16:08] ericdallo commented on #385
Yeah, I think we could think in some way of just remove the generate symbol from analysis? this way the linter keeps working and we remove this generated symbol that does not seem to make sense since is not a real code, but a generated one?

[2021-03-27 16:11] borkdude commented on #385
Makes sense, we can add a metadata key to it exclude it from locals analysis output.

[2021-03-27 16:12] ericdallo commented on #385
Alright, I'll try to do that :)

[2021-03-27 16:16] borkdude commented on #385
@ericdallo I already use the key `(:clj-kondo.impl/generated expr)` in several places to skip certain things, maybe we could re-use that. It's just an added key on the node itself.

[2021-03-27 19:42] #385 closed

[2021-03-27 19:43] ericdallo commented on #385
It should be fixed on next release @PEZ :)
Thanks for the help @borkdude

[2021-03-29 15:54] ericdallo opened #388 "Auto-fill `consistent-alias` on clj-kondo on first startup"
@borkdude suggested that [here](https://clojurians.slack.com/archives/CPABC1H61/p1617032695141500)

[2021-03-29 15:55] borkdude commented on #388
More context:

[code]

[2021-03-29 16:30] #384 closed

[2021-03-31 18:27] alxdb opened #389 "Config seems to have no effect"
**Describe the bug**
I'm trying to disable the `unused-public-var` linter, and as far as I can tell, the correct way to do this is to create a file in my project root called `.lsp/config.edn` with these contents: `{:linters {:unused-public-var {:level :off}}}`.

However this seems to have no effect, and the errors are shown all the same. In fact I can't seem to make any kind of configuration work,

[2021-03-31 18:31] ericdallo commented on #389
Hello from another nix and doom user :)
It seems you have super outdated clojure-lsp 😅 How did you installed it?
I suggest installing via the nixpkgs unstable channel https://clojure-lsp.github.io/clojure-lsp/installation/#nix

[2021-03-31 18:33] alxdb commented on #389
Ah okay, I installed via the stable channel, I'll try the unstable channel
On 31 Mar 2021, 7:32 PM +0100, Eric Dallo ***@***.***>, wrote:

[2021-03-31 21:22] snoe opened #390 "report duplicates diagnostics."
**Is your feature request related to a problem? Please describe.**
We want to show all occurrences of problems, not just the first. Maybe we keep the old way behind a flag but I think our default should be to show all.

**Describe the solution you'd like**
kondo now has the ability to report-duplicates for linters
https://github.com/clj-kondo/clj-kondo/pull/1233
We should set `:report-duplicates t

[2021-03-31 21:31] ericdallo commented on #390
Oh, I was waiting for that feature, nice :)
I'll add a flag with default true

[2021-04-01 15:13] snoe commented on #390
@ericdallo we should add it in our code and let them turn it off if they desire.

[2021-04-01 15:15] ericdallo commented on #390
Ok, We can add a clojure-lsp flag for that so.
I'll check that after solving the integration tests broken on clj-kondo bump: https://github.com/clojure-lsp/clojure-lsp/pull/391

[2021-04-01 16:59] alxdb commented on #389
Yup that seems to have fixed it, although maybe the version on stable could be updated?

[2021-04-01 17:34] ericdallo commented on #389
Not really, that's the way nix works, the stable has specific versions that are updated each 6 months, if you want a more updated version you want to use the unstable.
Glad it worked!

[2021-04-01 17:34] #389 closed

[2021-04-01 20:04] #390 closed

[2021-04-01 20:04] ericdallo commented on #390
Fixed, LMK if any issue

[2021-04-04 18:41] vindkaldr opened #394 "Falsely reporting unused public var"
**Describe the bug**
Used public var is reported as unused when used in escaped collection literals.

**To Reproduce**
Steps to reproduce the behavior:
1. Write an arbitrary function
2. Refer to it in a collection literal
3. Escape the collection literal

**Expected behavior**
It is recognized as used public var, even within an escaped collection literal.

**Screenshots**
![issue](https://user-ima

[2021-04-04 18:48] ericdallo commented on #394
Thanks for the report!
I understand the issue here, I just not sure if we should handle those cases as a quoted form is evaluated at runtime so there is no simple way to know if the f in a quoted form is from a function or just a quoted symbol.
Any suggestions here @snoe @borkdude?

We could have a way to suppress that linter via code just like clj-kondo has a custom way of suppressing that.
Meanw

[2021-04-04 19:13] borkdude commented on #394
[code]

[2021-04-04 19:16] ericdallo commented on #394
yeah, for this case yes, but for the datomic case on the Calva issue, it's using the function, right?

[2021-04-04 19:21] borkdude commented on #394
@ericdallo Maybe, I don't know what Datomic does in this case, but like with any external system or even macro, it's not possible to know this using static analysis.

[2021-04-05 08:22] vindkaldr commented on #394
Thank you for your input!
I read up on symbols and how they are evaluated and I'd like to make an argument against myself.

As it was pointed out, the symbol in itself is not bound to anything and what they refer to is only established during evaluation. At this point, it seems like a job for a plugin of the framework and not the general programming language.

A similar case would be is how in `sh

[2021-04-05 16:49] vindkaldr commented on #394
Thank you for your help! I'm closing the issue as it was based on an unfounded expectation.

[2021-04-05 16:49] #394 closed

[2021-04-06 13:00] anonimitoraf opened #396 "Intermittent deletion of changes to code"
**Describe the bug**
Now and again, on-save, my latest changes to the code get deleted

**To Reproduce**
Steps to reproduce the behavior:
1. Enable LSP (I'm personally using Emacs)
2. Write some code, saving changes every ~5 seconds
3. See that sometimes, code changes disappear/get rolled back

**Screenshots**
https://user-images.githubusercontent.com/15933322/113714766-19139100-972c-11eb-9d30-ce3

[2021-04-06 13:06] ericdallo commented on #396
Thanks for the report!

It's odd, we didn't change anything on this logic recently, but I know there is an issue with LSP indentation after paredit use, could you try disabling lsp indentation with `(setq lsp-enable-indentation nil)` and check if it changes anything?

If not, could you test with older releases just to be sure is a clojure-lsp bug?

[2021-04-06 13:13] anonimitoraf commented on #396
Thanks for the quick reply

I see it happen despite `(setq lsp-enable-indentation nil)` although, weirdly, something indents my code (I guess somewhere in my Emacs config)

I'll try rollback to a previous clojure-lsp release now.

I caught a quick glimpse of some clj-rewrite changes and that's the first thing that came to my mind.

[2021-04-06 13:21] ericdallo commented on #396
It's probably not related with the rewrite-clj bump, I still think this is related with the lsp-enable-indentation that I think lsp-mode introduced a bug somewhere recently, as it happens with me and other users unless disable that flag :/

[2021-04-06 13:25] anonimitoraf commented on #396
I rolled back to release `2021.02.12-03.13.12` and I'm **not** seeing it happen.

Note: I tried both `(setq lsp-enable-indentation nil)` and `(setq lsp-enable-indentation t)` for release `2021.02.12-03.13.12`

[2021-04-06 13:25] anonimitoraf commented on #396
I can try roll-back lsp-mode tomorrow too, to see if what you're speculating is true

[2021-04-06 13:27] ericdallo commented on #396
`2021.02.12-03.13.12` is a too old release, it'd be better to test recent releases 😅 otherwise it'll be harder to find the bug if it's related with server

[2021-04-06 13:27] anonimitoraf commented on #396
Yes, I'm planning to bisect the releases further (tomorrow) :)

[2021-04-06 13:35] anonimitoraf commented on #396
Does not seem to happen with `2021.03.16-20.28.06` too

[2021-04-06 13:55] anonimitoraf commented on #396
Ok, I think the latest version where I don't see this is: 2021.03.24-00.41.55

I'll roll back to that and use it for work tomorrow. It should pop up at least once through out the day if the issue exists there.

[2021-04-06 14:03] ericdallo commented on #396
Thanks, I'll take a closer look soon

[2021-04-06 14:06] anonimitoraf commented on #396
Thanks too. And no rush :)

[2021-04-06 20:46] stopachka opened #398 "Add move-to-let, extract-function and friends to code-actions"
**Is your feature request related to a problem? Please describe.**

When invoking code-actions, some are not suggested. For example:
- move-to-let
- extract-function
- ?more

To solve for these, folks currently write custom commands: i.e

https://github.com/snoe/dotfiles/blob/master/home/.vimrc#L270-L284

**Describe the solution you'd like**

Perhaps we could add support for these commands in the

[2021-04-07 11:05] benedekfazekas opened #399 "code formatting stops certain paredit actions"
**Describe the bug**

`paredit-forward-slurp-sexp` not working properly when clojure-lsp is enabled on a clojure buffer. it works for the following scenario:
`(foo|) bar` -> `(foo bar)`
but it fails for
`(foo|) (bar)`
nothing happens

for the first, working scenario in the *Messages* buffer I can see
`LSP :: No formatting changes provided`

for the second, failing scenario in the *Messages* buffer

[2021-04-07 11:16] ericdallo commented on #399
Yeah, I'm having the same issue recently, not sure it's a lsp-mode or clojure-lsp issue yet,
Could you test if it happens in older clojure-lsp versions?

[2021-04-07 11:19] benedekfazekas commented on #399
how older should i downgrade to?

[2021-04-07 11:20] benedekfazekas commented on #399
my lsp mode is `lsp-mode-20210407.736` just upgraded packages

[2021-04-07 11:31] ericdallo commented on #399
Maybe test 2 or 3 clojure-lsp previous releases, this helps finding the release that introduced the bug

[2021-04-07 11:34] benedekfazekas commented on #399
will try, i will get back to you if I find a working version

[2021-04-07 12:24] ericdallo commented on #399
I'm trying to repro right now and don't get the issue anymore... It seems to be some kind of corner case.
Also, I think this is related to #127

[2021-04-07 13:00] ericdallo commented on #399
I confirmed the issue started happens on https://github.com/clojure-lsp/clojure-lsp/releases/tag/2021.03.26-23.41.07, not sure why yet

[2021-04-07 13:16] ericdallo commented on #399
I confirmed the bug was introduced with [this `refactoring-async` merge](https://github.com/clojure-lsp/clojure-lsp/commit/b0d872357f3bb3681f2a324e2734a672928775c8), git reverting this commit fix the issue, @snoe could you help identify the issue on that merge please?

[2021-04-07 13:39] ericdallo commented on #399
@snoe on this branch I created reverting the commit on master, it works: https://github.com/clojure-lsp/clojure-lsp/pull/401
We can merge it and work on the async again or work on a fix from master

[2021-04-07 17:21] ericdallo commented on #399
@benedekfazekas could you test if latest release fixed the issue please?

[2021-04-07 17:21] #399 closed

[2021-04-07 17:22] ericdallo commented on #396
Should be fixed on latest release, LMK if any issues

[2021-04-07 17:22] #396 closed

[2021-04-07 17:44] ericdallo commented on #362
This is fixed!

[2021-04-07 17:44] #362 closed

[2021-04-07 19:02] benedekfazekas commented on #399
LGTM, thanks for the quick fix and release

[2021-04-09 15:03] ericdallo opened #403 "Support custom user snippets during completion"
As discussed [here](https://github.com/BetterThanTomorrow/calva/issues/1108) we could add a new feature on clojure-lsp:

Support for snippets and custom user snippets used during completion.

1. User could register via `initializationOptions` **OR** `.lsp/config.edn` a `additional-snippets` key/value:
[code]
2. clojure-lsp should parse the know variables like `$current-form` and replace by the cur

[2021-04-09 15:07] ericdallo commented on #329
Maybe we could make something like using the deps.edn source paths if clojure-lsp `:source-paths` not provided

[2021-04-12 19:35] ericdallo commented on #346
@jkrasnay could you confirm if this is fixed as we are using rewrite-clj v1 now?

[2021-04-12 21:31] jkrasnay commented on #346
Yes, this appears to be fixed. Thanks!

[2021-04-13 13:10] #346 closed

[2021-04-13 13:10] #403 closed

[2021-04-13 15:41] dpsutton commented on #340
What work is remaining to do now that the analysis data is rich enough to solve this?

Simple test case: `clojure.data/diff` is forward declared. Go to definition and `lsp-ui-doc-show` both currently use the `(declare diff)` form.

[2021-04-13 16:55] ericdallo commented on #340
@dpsutton it needs a change on clj-kondo analysis following [my suggestion](https://github.com/clojure-lsp/clojure-lsp/issues/340#issuecomment-786047277)

[2021-04-21 03:22] ashton commented on #316
I'm having the same issue with my own modules:
![image](https://user-images.githubusercontent.com/95974/115491899-30c43c80-a237-11eb-8915-a4426b050f75.png)
![image](https://user-images.githubusercontent.com/95974/115491871-243fe400-a237-11eb-858d-c0a8ea45b14c.png)
![image](https://user-images.githubusercontent.com/95974/115491982-4d607480-a237-11eb-9a3b-3bacde929746.png)

Apparently the LSP recogn

[2021-04-21 14:32] ericdallo commented on #316
Hum, I couldn't reproduce the issue, @ashton could you remove .lsp/sqlite* and .clj-kondo/.cache from your project root and try again?
Do you have a sample project for me to test it?

[2021-04-22 14:12] ashton commented on #316
here: https://github.com/ashton/fiis-api/blob/main/src/fiis_api/components.clj

[2021-04-22 14:52] ericdallo commented on #316
@ashton Every `:refer :all` works for me without errors in your project.

Could you check the clojure-lsp log? you can get the path with `M-x` `lsp-clojure-server-info`, via the `:log-path`. I suspect clojure-lsp is not detecting correctly the project dependencies or the classpath.

[2021-04-22 17:40] ashton commented on #316
sure, here it is: https://pastebin.com/19EHfMrY

[2021-04-22 19:53] ericdallo commented on #316
Hum, seems correct to me, could you share the output of `lein classpath`?

[2021-04-22 20:34] ashton commented on #316
/Users/matheus.ashton/dev/pessoal/fiis-api/test
/Users/matheus.ashton/dev/pessoal/fiis-api/src
/Users/matheus.ashton/dev/pessoal/fiis-api/dev-resources
/Users/matheus.ashton/dev/pessoal/fiis-api/resources
/Users/matheus.ashton/dev/pessoal/fiis-api/target/classes
/Users/matheus.ashton/.m2/repository/clj-time/clj-time/0.11.0/clj-time-0.11.0.jar
/Users/matheus.ashton/.m2/repository/org/eclipse/jetty/

[2021-04-22 21:07] ericdallo commented on #316
It looks correct to me 🤔 It's odd that I can't reproduce this issue.
any thoughts @snoe @borkdude ?

[2021-04-25 15:05] borkdude commented on #316
Clj-kondo needs `.clj-kondo` directory to save analysis information for successive linting. So creating that in your project root and then linting all your sources/dependencies once will likely solve the issue.

[2021-04-26 00:22] ashton commented on #316
Nope, tried create the folder in my project root, added clj-kondo to my profiles.clj as stated in the README of the project ran clj-kondo im my project, but no file was created in .clj-kondo and the error persists

[2021-04-26 07:42] borkdude commented on #316
@ashton This is weird. Either there is a bug, or you are doing something not correctly.

Can you make this reproducible for us? Put a Github repo somewhere that we can clone, and then run `clj-kondo --lint src:test` (command line tool binary or lein) and then list the files in `.clj-kondo/.cache`?  Please be as detailed as possible and list the full command you used for `clj-kondo`.

[2021-04-26 14:32] ashton commented on #316
Yeah, I tried, but apparently you can't reproduce the error :(  I post a link a few comments above with a project that I'm currently using, any `:refer :all` of any module (mine or third party) that I try to use result in the same outcome for me. To run `clj-kondo` I followed the steps in the README of `clj-kondo` repo, put `clj-kondo` as a dependency in my `~/.lein/profiles.clj` and created an al

[2021-04-26 14:34] borkdude commented on #316
@ashton Did you create `.clj-kondo` directory prior to running clj-kondo?

[2021-04-26 14:36] ericdallo commented on #316
@ashton, the install via clojure-lsp brew formula will already use the graalvm one, It should work.

I can't repro that even not having a `.clj-kondo` dir :/

[2021-04-26 14:49] ericdallo opened #411 "Support find definition for `re-frame.core` functions"
With https://github.com/clj-kondo/clj-kondo/issues/1159 closed, we can add this support for clojure-lsp.

[2021-04-26 14:58] ashton commented on #316
yes! In my project root

[2021-04-26 15:55] #411 closed

[2021-04-26 16:56] ashton commented on #316
Ok, got some progress, I think.. I installed clj-kondo via Homebrew, and did the setup, created `.clj-kondo` again, and ran: ` clj-kondo --lint "$(lein classpath) --parallel" --dependencies --parallel --copy-config`, now there is a .cache folder with things inside in my `.clj-kondo` but the errors persists :/

[2021-04-26 17:48] borkdude commented on #316
You should remove the `--parallel` from the `--lint` argument:

[code]

[2021-04-26 17:54] borkdude commented on #316
@ashton Can you repeat with the above corrected command? And what do you see when linting directly with clj-kondo?

[code]
Do you see the same errors as in Calva / LSP?

[2021-04-26 18:13] ashton commented on #316
No errors linting directly apparently.. Stupid question maybe (sorry if it is), using `clj-kondo` with LSP, the diagnostics should show via flycheck in emacs? I'm suspicious that flycheck is using other thing to analyse the code

[2021-04-26 18:17] borkdude commented on #316
@ashton Are you perhaps using another linter, like joker?

[2021-04-26 18:30] ashton commented on #316
Everything looks right :(
![image](https://user-images.githubusercontent.com/95974/116132793-57093280-a6a4-11eb-910c-7b601c9f50ae.png)

[2021-04-26 19:20] borkdude commented on #340
Is there a clj-kondo issue for it and why not? And why isn't it simply possible to pick the var with the highest line number within a file?

[2021-04-26 19:24] borkdude commented on #340
We could have `:defined-by clojure.core/declare` and `:defined-by clojure.core/defn` I guess?

[2021-04-26 19:25] borkdude commented on #340
But even then, if you have a re-definition, you should still pick the one with the highest line number, so you should still add that logic, regardless of the extra field.

[2021-04-26 19:26] ericdallo commented on #340
Good point, what do you think @snoe?

[2021-04-26 21:25] borkdude commented on #316
@ashton I think you should choose between using clj-kondo or clojure-lsp for linting in flycheck: having them both makes it a bit difficult to see which tool is responsible for which message.

[2021-04-26 22:22] #340 closed

[2021-04-26 22:22] ericdallo commented on #340
@borkdude my bad, I already did the necessary changes on clj-kondo [here](https://github.com/clj-kondo/clj-kondo/pull/1219), I just forgot to fix on clojure-lsp side 😅

[2021-04-26 22:24] borkdude commented on #340
@ericdallo Cool! And what about:

[code]

[2021-04-26 22:27] ericdallo commented on #340
This will make `clojure-lsp` return the first found definition using the order returned by clj-kondo, in this case will go to the first `x`.
We could improve in the future to use a custom sort on clojure-lsp side

[2021-04-26 22:31] borkdude commented on #340
why not provide a default one that is probably better in 99% of the cases?

[2021-04-26 22:33] ericdallo commented on #340
Yes, the logic would increase a little bit since we already find the first ordered by project/external analysis, but yeah it'd work.

[2021-04-26 22:37] borkdude commented on #340
If it's a trade-off between performance and correctness, I would understand just picking the first one would be good enough, since re-definition is rare.

[2021-04-26 23:37] ashton commented on #316
Seems that both gives me the same error, lsp uses clj-kondo for what I understood, doesn't it?

here forcing clj-kondo and disabling LSP lint:
![image](https://user-images.githubusercontent.com/95974/116163689-99476980-a6ce-11eb-97e9-298d8856a1db.png)

here's the opposite, with clj-kondo manually selected, and lsp manually disabled:
![image](https://user-images.githubusercontent.com/95974/11616398

[2021-04-27 00:37] ericdallo commented on #316
@ashton clojure-lsp use clj-kondo under the hood, you don't need to install clj-kondo or any linter related to that (unless you really want to use clj-kondo flycheck instead of clojure-lsp), so you just need the lsp flycheck for this case.

Anyway, I don't think that is the issue here. I wonder if this is a `findings` issue or a `analysis` one, could you confirm it hovering in `deftest` and callin

[2021-04-27 01:08] ashton commented on #316
uninstalled clj-kondo leaving only clojure-lsp, here is the result printed in *Messages* buffer by executing `lsp-clojure-server-info` while cursor on `deftest`: https://pastebin.com/Z43TsYVG

Didn't found a `:definition` key

[2021-04-27 01:11] ericdallo commented on #316
Oh, my bad, I meant `lsp-clojure-cursor-info` 🤦🏻‍♂️

[2021-04-27 01:13] ashton commented on #316
Oh, ok np, here is the `:definition` key:

[code]

[2021-04-27 01:18] ericdallo commented on #316
So the analysis output from clj-kondo it's correct, for some reason only the `findings` (diagnostics) are wrong 🤔.
FYI, [these](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/config.clj#L24-L45) are the options clojure-lsp pass to clj-kondo, one for the when the server starts and other for anytime user open/change a file.

@ashton Would you mind create the most simple as po

[2021-04-27 01:20] ashton commented on #316
Ok, I'll create another repo, just a moment

[2021-04-27 01:26] ashton commented on #316
here: https://github.com/ashton/refer-all-lsp-problem

Just a `lein new app` is enough to trigger the problem for me in the test file

[2021-04-27 01:33] ericdallo commented on #316
It's not needed, I just opened the project and it worked for me 😔

[2021-04-27 01:37] ashton commented on #316
😢 it must be me doing something wrong or something about my environment but I have no idea what could it be

[2021-04-27 01:45] ericdallo commented on #316
What is your output of running this on project root?
[code]

[2021-04-27 02:01] ashton commented on #316
$clj -Sdeps '{:deps {clj-kondo {:mvn/version "2021.04.23"}}}' -m clj-kondo.main  --lint test/refer_all_lsp_problem/core_test.clj --config '{:cache true :copy-configs true :output {:analysis {:arglists true :keywords true} :canonical-paths true}}'
DEPRECATED: Libs must be qualified, change clj-kondo => clj-kondo/clj-kondo
Downloading: org/clojure/clojure/1.10.3/clojure-1.10.3.pom from central
Downl

[2021-04-27 02:02] ashton commented on #316
$clj -Sdeps '{:deps {clj-kondo {:mvn/version "2021.04.23"}}}' -m clj-kondo.main  --lint test/refer_all_lsp_problem/core_test.clj --config '{:cache true :copy-configs true :output {:analysis {:arglists true :keywords true} :canonical-paths true}}'
DEPRECATED: Libs must be qualified, change clj-kondo => clj-kondo/clj-kondo
Downloading: org/clojure/clojure/1.10.3/clojure-1.10.3.pom from central
Downl

[2021-04-27 12:49] ericdallo commented on #316
Alright, this is the same args clojure-lsp pass to clj-kondo, I'm out of options if this doesn't return the same errors 😔 .

Make sure to remove/move any `.clj-kondo` dir (in your home too) to test this clean, where it should works like it works for me:
[code]

[2021-04-27 13:27] ashton commented on #316
It doesn't 😢

cat test/refer_all_lsp_problem/core_test.clj | clj -Sdeps '{:deps {clj-kondo {:mvn/version "2021.04.23"}}}' -m clj-kondo.main  --lint "-" --config '{:cache true :copy-configs true :output {:analysis {:arglists true :keywords true} :lang :clj :filename "$(pwd)/test/refer_all_lsp_problem/core_test.clj" :canonical-paths true}}'
WARNING: When invoking clojure.main, use -M
<stdin>:2:34: w

[2021-04-27 13:29] ericdallo commented on #316
Any more ideas here @borkdude ? @ashton I'd recommend you eclude the flycheck-clj-kondo to make sure only LSP is being used as well

[2021-04-27 13:30] borkdude commented on #316
@ashton Do you have a config in `<home>/.clj-kondo` perhaps?

[2021-04-27 13:45] ericdallo commented on #181
@borkdude I'm trying to implement that on clj-kondo side, AFAIK schema.core can have only one return schema for var, right?

[2021-04-27 13:47] borkdude commented on #181
I don't know, read the schema docs :)

[2021-04-27 13:54] ashton commented on #316
Ok, don't know what did solve it, but I cleaned up and reinstall almost everything related to it, clojure, clojure-lsp, clj-kondo, removed `.lsp/sqlite.db`, created a `.clj-kondo` in the root of the project (after removing the old one)  run `clj-kondo --lint "$(lein classpath)" --dependencies --parallel --copy-config` and finally after all that struggle, when I opened emacs again it was working 😅

[2021-04-27 14:02] ericdallo commented on #316
🤷🏻‍♂️ , maybe remove all `.clj-kondo/.cache` dir to make sure it was not related with cache

[2021-04-27 14:21] ericdallo commented on #181
From [schema.core docs](http://plumatic.github.io/schema/schema.core.html#var-def)

   means that all arities must share the same output schema.

 @borkdude I don't see a better name, I intend to add to the `:var-definitions` as `return-schema "s/Int"` do you have any suggestions?

[2021-04-27 14:36] ashton commented on #316
Thanks for your help, and sorry about the trouble

[2021-04-27 14:37] ericdallo commented on #316
@deobald maybe try the same steps?

[2021-04-27 16:34] deobald commented on #316
@ashton Thank you so much for hunting this down!

@ericdallo This worked, though I did it in chunks and I'm not 100% certain exactly _when_ it started working. Upgrading `clojure-lsp` and `clj-kondo` certainly wasn't enough on its own. (I didn't upgrade Clojure itself.) Neither was removing `.lsp/sqlite.db`.

That leads me to believe that the fix was either removing `.clj-kondo/.cache` (after upgr

[2021-04-27 16:35] deobald commented on #316
@ashton Thank you so much for hunting this down!

@ericdallo This worked, though I did it in chunks and I'm not 100% certain exactly _when_ it started working. Upgrading `clojure-lsp` and `clj-kondo` certainly wasn't enough on its own. (I didn't upgrade Clojure itself.) Neither was removing `.lsp/sqlite.db`.

That leads me to believe that the fix was either removing `.clj-kondo/.cache` (after upgr

[2021-04-27 16:35] #316 closed

[2021-04-27 16:49] ericdallo commented on #316
thanks! I'll add the removal of `.clj-kondo/.cache` to the troubleshooting section

[2021-04-27 19:57] Nagyhal opened #414 "LSP doesn't work in kakoune editor, "Unable to invoke no-args constructor for class""
Hello! I'm looking forward to being able to use clojure-lsp—thanks for all the hard work done on putting out an LSP for this incredible language! I'm not experienced with sending issues on GitHub and so I hope I'm doing the appropriate thing here.

As you can tell from the error output, I'm using the **kakoune** editor to try and edit Clojure files. Sadly, although I've gone so far as to set it up

[2021-04-27 20:12] ericdallo commented on #414
Hey @Nagyhal thanks for the kind worlds and the report!
I indeed know what is happening :) It seems a graalvm reflection config missing related with the `WorkspaceEditChangeAnnotationSupportCapabilities` class, for some reason the other editors (VScode, Emacs, vim) don't use/call this LSP functionality so that's why we didn't catch this error before, I'll make a quick fix and a release later today

[2021-04-27 20:17] ericdallo commented on #414
Fixed on master, I should release the next version soon today, any new issues with this editor, feel free to open a new issue and hopefully if everything works we can add a new entry for that editor [here](https://clojure-lsp.github.io/clojure-lsp/clients/) :)

[2021-04-27 20:17] #414 closed

[2021-04-28 11:42] Nagyhal commented on #414
Brilliant—I'd be happy to write a brief guide to using Clojure on kakoune as well. Looking forward to the update!

[2021-04-28 12:16] ericdallo commented on #414
@Nagyhal the latest release should fix that issue, LMK if any other issues

[2021-04-30 00:10] bpringe opened #416 "Make :source-path dependent features work for polylith (and similar?) projects"
**Is your feature request related to a problem? Please describe.**
I noticed that namespace auto creation does not work with the polylith project structure.

**Describe the solution you'd like**
When I create a new file in a source directory in a polylith project, I'd like the namespace to be created.

**Additional context**
If you clone the [polylith](https://github.com/polyfy/polylith) repo and

[2021-04-30 00:11] bpringe commented on #416
I mean like here: https://github.com/polyfy/polylith/blob/76936c752fb5b729c216b23d92c8a8d71cfdc92f/deps.edn#L20

[2021-04-30 00:23] ericdallo commented on #416
Unfortunately, this is related to #280 as polylith acts like mono-repo or multi-compoents project, so multiple features probably will not work since clojure-lsp will not scan correctly the classpath (as it checks only for deps.edn in the root)

[2021-05-04 18:53] snoe opened #417 "Major slow down on recent versions"
**Describe the bug**
did-change is now taking ~1-2 seconds to process whereas it was at ~2ms before

From 2bb8fc8
2021-05-04T18:48:56.170Z MacBook-Pro.local DEBUG [clojure-lsp.main:?] - :didChange 1389ms
From 034fdd0
2021-05-04T18:50:35.397Z MacBook-Pro.local DEBUG [clojure-lsp.main:?] - :didChange 0ms

Anything consistently over ~30ms should be considered too slow.

[2021-05-04 20:15] ericdallo commented on #417
Oh, odd, I'll take a look soon!

[2021-05-04 20:17] ericdallo commented on #417
@snoe that is a 1-month range, could you try other releases as well to try to find the offense commit?

[2021-05-04 20:40] ericdallo commented on #417
@snoe I think I found what caused that increase, but I don't think it's really a slow down: https://github.com/clojure-lsp/clojure-lsp/commit/857bdc186e5585771c3b50b2c444065fb2b2e018

I made this after realizing a issue with semantic tokens where we were handling the semantic tokens request after the didChange but since we was processing the changes async that could cause semantic tokens to get ou

[2021-05-04 22:08] snoe commented on #417
@ericdallo

So I think we should have a clearer delineation on what should be "immediate feedback" vs "later feedback". That should allow us to scope what work can be done on-change. It's not really about sync v async but how long it takes from typing something to getting feedback about that thing.

I think analyzing the changed the file and diagnostics needs to be done as quickly as possible - wi

[2021-05-04 22:15] ericdallo commented on #417
It makes sense! but it seems that we are already doing this way after https://github.com/clojure-lsp/clojure-lsp/commit/857bdc186e5585771c3b50b2c444065fb2b2e018, but sync, without debouncing (since for :full text-sync the client send text changes as batch, so we don't need debouncing)

So I imagine what changed was only the log, that now really logs the time spent during did-changes analysis, righ

[2021-05-05 19:03] snoe commented on #417
Eh, maybe it was still slow at that commit, without measuring it seems more responsive to me but hard to tell objectively.

Definitely when we first released the kondo changes the time was way down so maybe it's been from other changes between then but the feedback speed should be addressed regardless of what caused it.

[2021-05-05 19:40] ericdallo commented on #417
Yeah, I'll take a look, but LMK if you find some closer version which looks faster for you

[2021-05-09 18:22] wcerfgba opened #423 "High memory and CPU usage (on large files)"
I notice consistently high memory usage by clojure-lsp when I am using VSCode with Calva. Once I have a few files open memory usage rises from ~250MiB at start to ~750MiB in use, with 100% core CPU usage. One of these files is quite large, ~2000 LOC. After closing all tabs, the memory usage stays at ~750MiB, but the CPU usage does decrease.

[2021-05-09 22:16] ericdallo commented on #423
clojure-lsp uses high cpu when scanning for the first time the project (using clj-kondo to scan all the paths), we already had issues with cpu and mem and them were improved a lot, not sure there's anything more to improve that

[2021-05-10 11:13] ericdallo commented on #423
Maybe, could you check if there is a .lsp/sqlite.db file in your project, if so, could you try to remove it, restart the server (restart VSCode) and check if after some time the file is created?
Also you can check clojure-lsp log

[2021-05-15 01:31] ericdallo commented on #423
@wcerfgba could you test latest release? we had a huge performance improvement on latest release

[2021-05-15 01:34] ericdallo commented on #417
Fixed on latest release

[2021-05-15 01:34] #417 closed

[2021-05-15 12:00] wcerfgba commented on #423
Hi @ericdallo sorry for the slow response. I've just tried the latest release and it seems to be doing very well, no CPU spike, slightly lower memory usage :) I've deleted my `.lsp/sqlite.db` but it hasn't reappeared yet.

[2021-05-15 14:04] ericdallo commented on #423
@wcerfgba check the logs (if using emacs you can get the path via `lsp-clojure-server-info`), it should save the sqlite file after scanning the project successfully

[2021-05-15 15:00] andreyorst opened #426 "Wrong completion item type is reported"
**Describe the bug**
Completion items assigned wrong types, resulting wrong icons and wrong descriptions in completion frontends

**To Reproduce**
Steps to reproduce the behavior:
1. Open some project
2. Start clojure-lsp in Emacs, or VS Code
3. type `(->`
4. `->` is not a variable, but the server reports it as a variable:

![image](https://user-images.githubusercontent.com/19470159/118365539-da33

[2021-05-15 15:03] ericdallo commented on #426
Thanks for the report!
Yeah, ATM we are returning incorrectly variable for everything in clojure.core/cljs.core 😅, I'll try to improve it in a simple way

[2021-05-15 16:48] ericdallo commented on #426
@andreyorst Fixed on master, available on next release!

[2021-05-15 17:35] andreyorst commented on #426
thanks!

[2021-05-15 17:35] #426 closed

[2021-05-15 18:19] #423 closed

[2021-05-21 15:35] DeLaGuardo opened #430 "Unable to use clojure-lsp-native binary with SublimeText LSP"
**Describe the bug**
native binary throws an error when started from SublimeText

**To Reproduce**
Steps to reproduce the behavior:
1. Open SublimeText with LSP plugin
2. Follow configuration steps described here - https://lsp.sublimetext.io/language_servers/#clojure
3. Use `["bash", "-c", "/usr/local/bin/clojure-lsp"]` as a "command"
4. See error

**User details (please complete the following inf

[2021-05-21 15:43] ericdallo commented on #430
Thank you for the report, fixed on master! It should be available on next release as well

[2021-05-22 14:01] #430 closed

[2021-05-23 17:45] andreyorst opened #434 "duplicated info in lens"
From https://github.com/emacs-lsp/lsp-mode/issues/2249#issuecomment-846569224:

Recently I've encountered this in some clojure file:

![image](https://user-images.githubusercontent.com/19470159/119270872-8eb5bc80-bc07-11eb-9e00-8972d241b12f.png)

Sadly I have no reproduction steps yet. I'll update the issue if I will find small example.

Since the screenshot was taken some time ago and I didn't go

[2021-05-23 19:05] ericdallo commented on #434
Thanks for the report!

Yeah, we need to know what code made that happen

[2021-05-27 17:54] ericdallo commented on #434
Any news on a repro for this issue @andreyorst  ?

[2021-05-27 18:10] andreyorst commented on #434
No, wasn't able to reproduce this yet. I'm using this every day, but so far nothing broke.

[2021-06-01 11:35] LuisThiamNye opened #442 "Duplicate test in features.completion-test/test-completion"
In the test `features.completion-test/test-completion`, the two testing contexts "complete-a" and "complete-alpaca" have identical bodies.

I suspect one of them needs to be changed.

[code]
[code]

[2021-06-01 15:25] ericdallo commented on #442
I took a look and at some time in the past they were different, but we had a lot of changes on that code, probably we left that duplicated code, we are safe to remove, LMK if you wanna open a PR :)

[2021-06-01 16:21] LuisThiamNye commented on #442
Which one do you want to keep?

[2021-06-01 16:23] ericdallo commented on #442
we can rename one of them to `complete-alp` to match the test content and remove the other.

[2021-06-01 17:00] #442 closed

[2021-06-11 17:23] seancorfield commented on #416
@ericdallo Perhaps add an LSP config that provides one or more aliases that should be used when computing the classpath from the root `deps.edn` file? Polylith uses `:dev` and `:test` as development-time aliases that include "all code" and at work in our monorepo we have an `:everything` alias that brings in all source and test code.

[2021-06-11 17:31] ericdallo commented on #416
@seancorfield I'd like to add support for polylith on clojure-lsp, I'm just not sure the best way to handle it.

ATM clojure-lsp only check for `:source-paths` config if provided by user, if not found it uses a default value of `#{"src" "test"}`. I know this doesn't work for polylith, your idea is to clojure-lsp read the deps.edn file from the configured project root (in this case the mono-repo ro

[2021-06-11 17:39] seancorfield commented on #416
When you mentioned `deps.edn`, I assumed LSP was reading it with `tools.deps.alpha` and processing `:paths` etc?

Polylith's workspace-level `deps.edn` file **always** contains `:dev` and `:test` aliases and those **always** contain `:extra-paths` which have all the `src` folders (and `resources`) and all the `test` folders respectively, so you can rely on that structure.

In the general case, you

[2021-06-11 18:41] ericdallo commented on #416
I see, ATM clojure-lsp doesn't read anything on deps.edn but we already use rewrite-edn from @borkdude so I think this could be easily handled.

If we follow your suggestion of folders that always exists on a polylith project and this is enough for building the project classpath, that could work :)

One more question: polylith only works with deps.edn? No lein or other tool is supported to handle

[2021-06-11 18:55] seancorfield commented on #416
If you just want to support it via filesystem structure then you can do it. There are always three top-level folders: `bases`, `components`, and `projects`. Each contains a "subproject" folder. Each of those may contain `src` and `test` (and `resources` but you don't care about that. There may also be `development/src` and/or `development/test` (for dev/test-only code).

Here's what's currently in

[2021-06-11 21:12] ericdallo commented on #416
Great, thanks for the time spent on this!

Alright, so we could scan and get those folder hierarchy and add to classpath, the only missing part now is know if the project is or not a polylith project. We could check deps.edn I think for the polylith deps, do you recommend any other (better?) way to get that?

[2021-06-11 23:05] seancorfield commented on #416
If it has `bases` and `components` as top-level folders, it's very likely to be a Polylith workspace :)

While the generated `deps.edn` file has a `:poly` alias, it's common for folks working with Polylith to use the `poly` shell script instead so I don't think you can guarantee the `:poly` alias would be present.

[2021-06-12 00:41] ericdallo commented on #416
Nice, thanks for the info, I'll take a look at this soon and try to make it work :)
I'll generate some sample project with polylith but let me know if you have another project where I can test it as well

[2021-06-12 03:26] seancorfield commented on #416
The `poly` tool creates a completely employ workspace, and then you need to create components etc as needed.

If you use `clj-new` to create a new Polylith workspace, it will have `bases`, `components`, and `projects`:
[code]
The other example to look at is https://github.com/seancorfield/usermanager-example/tree/polylith (the `polylith` branch is a refactoring of the original app to the Polylith

[2021-06-12 17:29] ericdallo commented on #416
@seancorfield I was taking a look at polylith docs and setting up the sample project and I noticed that it seems IntelliJ just checks the aliases like `dev`/`test` ([ref](https://github.com/polyfy/polylith#development)). Maybe we could try to make something more generic to clojure-lsp where it reads the deps.edn like IntelliJ and consider the extra-paths for some default aliases (user could config

[2021-06-12 18:16] seancorfield commented on #416
That's what I was suggesting several comments ago so... yeah... reading `deps.edn` and selecting `:extra-paths` based on a configurable set of aliases in the LSP config would be great.

[2021-06-12 18:18] ericdallo commented on #416
Yeah, sorry for didn't understand that at the time, I didn't know IntelliJ was doing that and only after I saw the example that it makes sense to me 😅, looks like a valid idea indeed, I'll check it closer

[2021-06-13 03:33] ericdallo commented on #416
@bpringe @seancorfield I made a PR improving support for `deps.edn` projects [here](https://github.com/clojure-lsp/clojure-lsp/pull/445),

I tested on my [polylith-sample](https://github.com/ericdallo/polylith-sample) and the [suggested project](https://github.com/furkan3ayraktar/clojure-polylith-realworld-example-app) by @seancorfield and it worked great :)
The necessary documentation is on the b

[2021-06-13 05:48] seancorfield commented on #416
Thanks, @ericdallo I've no idea how to test a PR against LSP -- I don't know enough about how it integrates into stuff like Calva -- but I appreciate the work, and I'm pleased to see more `deps.edn` support that actually uses the aliases!

[2021-06-13 13:23] ericdallo commented on #416
No problem :)
 I'll make more many tests on other mono-repo deps.edn projects and check if it's working good, LMK if you have non polylith mono-repo examples like that

[2021-06-13 23:11] bpringe commented on #416
@ericdallo Awesome! What features should I be testing with that PR?

@seancorfield Just FYI, if you want to test something like this in the future, after making the clojure-lsp binary from the branch you're testing, you can tell Calva to use that binary as mentioned here: https://calva.io/clojure-lsp/#using-a-custom-clojure-lsp-native-binary.

[2021-06-13 23:57] ericdallo commented on #416
@bpringe features that depends on the source-paths, testing renaming and correct ns form creation would be enough I think

[2021-06-14 00:49] bpringe commented on #416
Works well! Thanks for the work on this!

[2021-06-14 09:34] borkdude commented on #416
@ericdallo Side-note: I recently came across a project that _only_ had a `shadow-cljs.edn` file with `:deps` in it, without a `deps.edn` in the project. I think that might also make sense to fall back on when no `deps.edn` or `project.clj` can be found.

[2021-06-14 13:22] ericdallo commented on #416
@borkdude clojure-lsl already has a project-spec for shadow-cljs.edn [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/crawler.clj#L63), so the classpath scan works for those projects, what we are solving here are the source-paths. I imagine shadow-cljs.edn can have different source-paths as well, so in the future we can check for those as well

[2021-06-14 13:27] borkdude commented on #416
@ericdallo cool! thanks

[2021-06-14 16:44] #416 closed

[2021-06-14 21:19] tengstrand commented on #416
Thanks for this!

[2021-06-17 20:40] ericdallo commented on #266
I think this was fixed on master finally @gdanov :) It was a performance issue on cljfmt fixed: https://github.com/weavejester/cljfmt/issues/226

It'd be great if you could confirm the improvements, it works great on my side.
I should release in a couple of days

[2021-06-18 05:18] weihua-lu opened #447 "lsp clean ns issues"
From the before we can see for `frontend.util`, only the `profile` function is not used, `util` is used.
![before](https://user-images.githubusercontent.com/9002575/122509283-168bbc80-d036-11eb-8b47-d37f74f87624.png)
After clean ns, the whole `frontend.util` is gone, instead i'd expect `[frontend.util :as util]` to be there
![after](https://user-images.githubusercontent.com/9002575/122509286-18ee1

[2021-06-18 11:16] gdanov commented on #266
Thanks! Do I guess correctly that I need to be using latest master clojure-lsp ? no need to build cljfmt

[2021-06-18 12:58] ericdallo commented on #266
Yes @gdanov or wait for next clojure-lsp release

[2021-06-18 13:08] ericdallo commented on #447
Thanks for the report! I confirmed this is an issue, I'll work on a fix.

about the duplicate ones, maybe we can do that if the aliases are exactly the same otherwise we could not remove one of them as both aliases may be used in the code

[2021-06-18 13:54] #447 closed

[2021-06-18 13:57] #266 closed

[2021-06-18 13:57] ericdallo commented on #447
Fixed on master, it should be available on next release soon

[2021-06-18 13:59] weihua-lu commented on #447
that was quick! lsp is a great companion to cider, thanks :+1:

[2021-06-18 14:02] ericdallo commented on #329
This was improved and smart handled by clojure-lsp now :) Check the docs for more details, thanks!

[2021-06-18 14:02] #329 closed

[2021-06-18 20:06] ericdallo commented on #191
I tested the [example project](https://github.com/amperity/lein-monolith/tree/master/example) from `lein-monolith`, creating a function in a subproject and using in another subproject and everything works fine with latest clojure-lsp and lsp-mode, the key here to make it work is to import the mono-repo root as the project root for lsp-mode (in this case lein-monolilth/example was the imported proj

[2021-06-18 20:06] #191 closed

[2021-06-22 12:40] gdanov commented on #266
Testing report: using rev /HEAD-f3f975c (via brew) is still significantly slower than cider/clojure mode reformatting. I took into account that the sexp must not be top-level, but this does not make any difference.

Reverting to the latest brew release (20210601) makes the performance ~2 times worse than the latest release so there is some improvement.

Cljfmt is not my preferred formatting tool s

[2021-06-22 14:37] ericdallo commented on #266
@gdanov yeah, for huge buffers this is still noticable, but it was a great improvement, maybe @LuisThiamNye knows if there is more to be improved on cljfmt side?

[2021-06-22 14:57] LuisThiamNye commented on #266
I would expect there to be micro-performance improvements to be had in clojure-lsp, cljfmt, and rewrite-clj. Perhaps [clj-fast](https://github.com/bsless/clj-fast) and [Naked Performance (with Clojure) – Tommi Reiman - YouTube](https://www.youtube.com/watch?v=3SSHjKT3ZmA) could be an inspiration.

The tricky thing is that there are no individual operations that stand out to be consuming a particul

[2021-06-23 14:05] dharrigan opened #449 "clojure-lsp fails to start, issuing a reflection warning."
**Describe The Bug**

Receiving this stack, on `CocCommand workspace.showOutput`

[code]

**To Reproduce**

[code]

CoC plugin for neovim.

**User details (please complete the following information):**
ArchLinux

[2021-06-23 14:54] #449 closed

[2021-06-23 14:55] ericdallo commented on #449
It should be fixed on master!

[2021-06-23 15:22] dharrigan commented on #449
Thank you! :-)

[2021-06-23 18:51] ericdallo opened #450 "Custom LSP method which return server-info data"
Calva team reported that they would like to use `:source-paths` from clojure-lsp, ATM we have a command `server-info` that prints to user this data.

We should create a new LSP custom method `clojure/serverInfo/Raw` which will return the server-info data following the json LSP spec.

We can improve that as well by creating a new LSP custom method `clojure/serverInfo/log` deprecating the command `s

[2021-06-23 20:10] PEZ commented on #450
Another use case is getting the version of the running clojure-lsp server. As well as the clj-kondo version it is using.

[2021-06-23 20:53] ericdallo commented on #450
Fixed on master, I should release soon.

There is a new LSP custom method called `clojure/serverInfo/raw`, it should return all the info and a new keyword `:final-settings` that is the merge of client + project + default settings The `:source-paths` info should be accessible there.

@bpringe Also, I'm deprecating the `server-info` and `cursor-info` command, It'd be great if the `Calva diagnostics`

[2021-06-23 20:53] #450 closed

[2021-06-23 22:36] bpringe commented on #450
@ericdallo Thanks. I've created an issue to make Calva use the new command.

[2021-06-24 08:47] dharrigan opened #451 "clojure-lsp 2021.06.24-01.20.01 fails with reflection error."
[code]

[2021-06-24 08:47] dharrigan commented on #451
I have a PR ready, just pushing.

[2021-06-24 14:15] ericdallo commented on #451
my bad, I fixed now on lsp-mode for next times, thanks! I'll release a fix for that now

[2021-06-24 14:15] #451 closed

[2021-06-25 18:56] snoe opened #453 "`clj -M:run` doesn't run"
On master
Run `clj -M:run`

[code]

[code]

java version java -version
openjdk version "1.8.0_265"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_265-b01)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.265-b01, mixed mode)

[2021-06-25 19:02] snoe commented on #453
Doing some minimal bisecting - it was working on 79e6f25839d056ab290235660ec6d58b48f7e4b

[2021-06-25 20:52] ericdallo commented on #453
@snoe this started to happen probably after we started using `org.suskalo/americano` that compiles the java classes before, I think you can make it work with `clj -X:javac` or `make classes` and then `clj -M:run` should work

[2021-06-26 11:09] simon-brooke opened #454 "Makefile does not work on Linux with older versions of the Clojure launcher bash script"
**Describe the bug**

Makefile does not work on Linux with older versions of the Clojure launcher bash script, due to the `-X` flag not being supported.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and install `https://download.clojure.org/install/linux-install-1.10.1.536.sh` (note:this is not the current version, but may still exist on many people's machines
2. In the `clojure-l

[2021-06-26 14:57] ericdallo commented on #454
Thanks for the heads up, but if you are not developing clojure-lsp the recommend binary to install/download is the Graalvm one, are you aware of that?

[2021-06-26 19:55] ericdallo commented on #215
Hey @vemv, I'm started working on a new POC that already works for cleaning ns of a project both via REPL and CLI :)
I'd love to hear your opinion on the public API, ATM it's on a `clojure-lsp.api` namespace and for the `clean-ns!` it'd be something like:
[code]

That is using the keyword arguments feature routing to the `internal-api` that is used by the CLI which receives only a map with those o

[2021-06-26 20:15] vemv commented on #215
Hey there! Thanks so much for the work and pinging me.

As some very superficial feedback, maybe `:namespaces` should be a coll of symbols? That's clojure.core's API in general for all its ns-related functions (e.g. `find-ns`, `resolve`).

I'd normally expect a string to denote a filename, having underscores instead of dashes etc

Will take a look to the branch asap.

[2021-06-26 20:38] ericdallo commented on #215
@vemv very much agreed :) I'll change to symbols.
Thank you!

[2021-06-27 02:03] vemv opened #456 "Use of deprecated method .getRootUri"
Hey there,

I was checking out the codebase and found out this is a deprecated method call:

https://github.com/clojure-lsp/clojure-lsp/blob/534831574ccaae0aafe60ed87c14a59ce85b2e52/src/clojure_lsp/main.clj#L298

It looks like this would be a fix:

[code]

But I coudn't get it to pass GH actions (I'd get `Timeout running integration tests!` and no more info).

Perhaps you'd find this worth fixing?

[2021-06-27 02:57] ericdallo commented on #456
Oh, I didn't know `.getRootUri` was deprecated, good to know I'l ltake a look!

Yeah, we heavily rely on this field, so integration tests would fail probably.

[2021-06-27 09:22] simon-brooke commented on #454
I saw the downloads but am looking at a wee patch to Calva and wanted to
have source for the entire stack.

On Sat, 26 Jun 2021, 15:57 Eric Dallo, ***@***.***> wrote:

[2021-06-27 09:27] simon-brooke commented on #454
This thread refers:
https://github.com/clj-kondo/clj-kondo/discussions/1307#discussioncomment-924127

It's possible that what needs to be patched is clojure-lsp, but I haven't
identified where in the stack the issue is yet.

On Sun, 27 Jun 2021, 10:22 Simon Brooke, ***@***.***> wrote:

[2021-06-27 14:11] ericdallo commented on #454
I see, feel free to open an PR adding the comment to the makefile, I think this should be rare to happen though

[2021-06-27 14:44] ericdallo commented on #456
@vemv I noticed that the new field is not sent from emacs (lsp-mode) and maybe it's used for when the client support different workspaces, so I think we will have to keep using the .getRootUri until most clients use the new field

[2021-06-27 14:48] ericdallo commented on #456
Actually it's supported in lsp-mode but they send as null, and according to the LSP spec, this means server should consider there is no workspace configured and discover the root itself, ATM we don't have that logic on the server so for now we should keep supporting the old .getRootUri I think

[2021-06-27 21:22] vemv commented on #456
Kudos for giving this a shot!

[2021-06-27 23:04] simon-brooke commented on #454
OK, will do.

On Sun, 27 Jun 2021 at 15:11, Eric Dallo ***@***.***> wrote:

--
Simon Brooke :: http://www.journeyman.cc/~simon/

        ;; Stultus in monte

[2021-06-28 14:26] thecontinium opened #460 "Question : WorkSpaces & RenameSymbol"
Hi

First thanks to everyone for writing this; it's super helpful.

**Workspaces**: for cloure can we think of a lsp workspace as a typical lein project ? Can you have more than one workspace setup and will it work across them.

**Rename Symbol**: Is the rename functionality for the symbols across the workspace/project ? Can it work across multiple workspaces/projects ? In particular can you renam

[2021-06-28 15:11] ericdallo commented on #460
Hi @thecontinium!

Yes, you can think of a workspace as a group of files/folders that you work, for clojure it's pretty common to be the lein/deps project root. You can have multiple workspaces if the server supports it, in this case we do not as is not common. For mono-repos, importing the mono-repo root seems to work fine ATM.

The rename will rename all symbols from the current workspace only,

[2021-06-28 15:21] thecontinium commented on #460
Thanks for the quick reply @ericdallo. Perhaps the rename across workspaces is something for the future. Cheers and thanks again.

[2021-06-28 15:21] #460 closed

[2021-06-28 15:24] ericdallo commented on #460
Yes, a good idea, but first we'd need to support multiple workspaces which is something not simple at the moment :/

You're welcome!

[2021-06-29 23:25] wandersoncferreira opened #461 "Support to add project dependencies"
**Is your feature request related to a problem? Please describe.**
While working with clojure projects is common to include new libraries as dependencies. Right now, I am using `clj-refactor` to provide this functionality (https://github.com/clojure-emacs/clj-refactor.el/wiki/cljr-add-project-dependency) but would be nice to have this in clojure-lsp also.

**Describe the solution you'd like**
Same

[2021-06-30 12:49] ericdallo commented on #461
Thank you for the report!

It's a nice custom addition to clojure-lsp IMO, not so easy though. We'd need to create a custom LSP method for that that would request clojars/maven about the available artifacts and return to client so the client could ask for user which one use, after selected the client send again to server asking the available versions, which server requests again and return to clie

[2021-07-01 01:57] ericdallo commented on #215
@vemv, I introduced the rename feature 🚀

API - `(api/rename! :from 'foo/bar :to 'foo/baz)`
CLI - `clojure-lsp rename --from foo/bar --to foo/bar`

I should release soon a new release from master :)

[2021-07-01 01:57] #215 closed

[2021-07-01 09:52] vemv commented on #215
Awesome, thanks so much!

Looking forward to hack on this ⚡️

[2021-07-01 16:36] rafaeldelboni opened #463 "clojure-lsp terminal cli - clean-ns don't find project files if --project-root isn't provided"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone `https://github.com/parenthesin/microservice-boilerplate`
2. CD into the project dir `cd microservice-boilerplate`
3. Change a namespace order in any `/src` file
3. Run `clojure-lsp clean-ns`
4. No files changed

**Expected behavior**
Expected to clean-ns to fix the

[2021-07-01 17:07] ericdallo commented on #463
Thanks for the report!
It's a issue with Graalvm detecting the user.dir I'd guess.
I'll take a look!

[2021-07-01 17:08] andreyorst commented on #434
I wasn't able to reproduce this so far, so I'll close this. I'll reopen it if I ever find a way to repro this issue.

[2021-07-01 17:08] #434 closed

[2021-07-01 17:55] #463 closed

[2021-07-02 02:18] rafaeldelboni commented on #463
Just tested this version and now is working as expected, thank you for your work!

[2021-07-08 13:55] mauricioszabo opened #466 "Can't clean namespaces with CLI - java.io.FileNotFoundException"
**Describe the bug**

While I was trying to use the CLI to clean ns from the `repl-tooling` project, it failed with the error below:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/mauricioszabo/repl-tooling.git
2. cd repl-tooling
3. clojure-lsp clean-ns --verbose -p .
4. See error:

[code]

(BTW, `lain` is the current hostname configured on my Linux)

**

[2021-07-08 15:35] oconnor0 opened #467 "Markdown hover link on Windows is missing slashes"
**Describe the bug**
When I hover a symbol in Sublime Text, I get a popup with a link to the symbol's definition. But the link doesn't have slashes in it and, because it's a URI-less link, it doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. On Windows using Sublime Text with LSP and connected to clojure-lsp.
2. Hover a symbol.
3. See the link has no slashes.
4. Click on it to no

[2021-07-08 16:13] ericdallo commented on #466
Thank you for the report, I can take a look on this soon!

[2021-07-08 22:38] ericdallo commented on #467
Thank you for the report @oconnor0, I suspect this is some issue with SublimeText or Windows10 as this works well with other clients like emacs and vscode:
![image](https://user-images.githubusercontent.com/7820865/124999205-06a73d00-e024-11eb-86b1-c2abfb5a872e.png)

@LuisThiamNye may confirm that, if the URI we are sending is conforming the spec as well

[2021-07-08 23:46] LuisThiamNye commented on #467
clojure-lsp returns `"[C:\\src\\path\\to\\file.clj](C:\\src\\path\\to\\file.clj)"` in the markdown. The reason the backslashes are not showing is because the markdown parser tries to escape the characters `s`, `p`, `t` etc. This would be solved by doubling the backslashes in the link label.

However, I do not think that will solve clicking the link. After very briefly searching the internet, I sus

[2021-07-09 00:01] ericdallo commented on #467
I thought we were already sending the link as URI

[2021-07-09 00:01] ericdallo commented on #467
Willing to make that change @LuisThiamNye ?

[2021-07-09 01:36] #466 closed

[2021-07-09 01:38] ericdallo commented on #466
Fixed on master, should be available on next release :)

[2021-07-09 17:44] LuisThiamNye commented on #467
Unfortunately, I’ll be away from My Emacs for a week, so I can’t do any testing myself.

I’m eyeing line 53 of `feature/hover.clj`:
[code]
Maybe try something like this:
[code]
Also, wrapping with `str` isn’t necessary right?
[code]

[2021-07-09 17:50] ericdallo commented on #467
Makes sense, thanks for the help! I'll make the proper changes soon so you can confirm it works for you @oconnor0

[2021-07-09 19:28] NoahTheDuke opened #468 "Symbols marked as `var-usage` if `:to` is `:clj-kondo/unknown-namespace`"
**Describe the bug**
In my `project.clj`, I have entries in my `:dependency` vector that don't have a groupId/namespace. Each dependency without a namespace is treated as a `var-usage` and is highlighted as a function. When `clojure/cursorInfo/log` is called on one of these dependencies, it outputs a `:to` value of `:clj-kondo/unknown-namespace`. For example:
[code]

**To Reproduce**
Steps to repr

[2021-07-09 20:49] ericdallo commented on #468
Thanks for the report!

Oh, I just realize this is project.clj file, I was thinking you were in a `(:require ...)` block 😅

I'll take a look at this soon

[2021-07-09 21:05] NoahTheDuke commented on #468
It happens in both! I initially asked about a `:require` block and then demonstrated it happens in the project.clj file as well, hah. Sorry for the confusion.

[2021-07-09 21:18] ericdallo commented on #468
I can't repro on the require block though:
![image](https://user-images.githubusercontent.com/7820865/125136901-0c635800-e0e2-11eb-8344-ac4b7942e67e.png)
[code]
You can see kondo is finding the namespace, for some reason it's not finding in your project

[2021-07-09 21:20] ericdallo commented on #468
It happens only for project.clj:
![image](https://user-images.githubusercontent.com/7820865/125137059-4e8c9980-e0e2-11eb-8a0f-bbf41002298e.png)

[2021-07-09 21:21] ericdallo commented on #468
this happens because:
- project.clj is a clj file, so it's analyzed with clojure-lsp
- clj-kondo see `org.clojure/clojure` as a namespace which makes sense, but cheshire is a not found namespace/symbol (as it's only understandable by lein)

Maybe we should change to only don't return tokens for unknown synmbols like the initial idea indeed

[2021-07-09 21:43] ericdallo commented on #468
FIxed on master, should be available on next release :)
It should now return no tokens for unknown symbols.

[2021-07-09 21:43] #468 closed

[2021-07-09 22:19] #467 closed

[2021-07-09 22:20] ericdallo commented on #467
I just realized the file uri location in markdown should be a uri indeed and it was not working for other editors like Calva 😅
Your suggestion works like a charm @LuisThiamNye, I just needed to keep the `str` as for some reason format doesn't return an string exactly and it doesn't work well with LSP classes during serialization.

Fixed on master @oconnor0, you can try building clojure-lsp manuall

[2021-07-09 22:21] ericdallo commented on #467
FYI @bpringe this fixed on calva as well:
![calva-fixed-issue](https://user-images.githubusercontent.com/7820865/125141276-ea220800-e0ea-11eb-8c04-0d42a51da24a.png)

[2021-07-09 22:23] NoahTheDuke commented on #468
Thanks for the quick solution! I'll see about the issue you couldn't reproduce, try to remember what the heck I did.

[2021-07-10 01:10] bpringe commented on #467
Awesome!

[2021-07-11 11:56] oryband opened #470 "Neovim: All syntax highlighting colors changes to the same color after clojure-lsp is loaded"
Clojure syntax highlighting is proper before clojure-lsp is loaded, but after it does (takes a few seconds) syntax highlighting changes where almost all text is in the same color/highlight. The color depends on the colorscheme currently in use, but no matter the colorscheme, it's a single color.

I executed `:echo synIDattr(synID(line("."), col("."), 1), "name")` on multiple symbols under the curs

[2021-07-11 13:13] ericdallo commented on #470
This is an lint side issue, as clojure-lsp is returning the correct tokens and the client is using the same color/face to highlight them.
A proof of this is that it works perfect with emacs lsp-mode which has different colors for each token

[2021-07-11 13:17] oryband commented on #470
I forgot to mention this only happens with clojure-lsp, not python or java or any other language. Do you have examples of other LSP clients I can test this with?

[2021-07-11 13:56] ericdallo commented on #470
Python and java mostly have other kind of tokens, like enums, classes, methods etc, clojure-lsp return keywords, namespace, functions so that may be a bug on these tokens on nvim.
I don't know any other clients that has that feature for sure besides lsp-mode and VSCode (but Calva has not implemented it yet)

[2021-07-11 13:58] ericdallo commented on #470
Also, I'd suggest test it with another theme, maybe a famous one

[2021-07-11 18:24] oryband commented on #470
I did this with base16, a popular one. It doesn't matter: This also happens with all plugins turned off except clojure-lsp.

[2021-07-11 18:31] ericdallo commented on #470
@oryband, I still think it's a client issue, I added a new `:semantic-tokens` debug info into `cursor-info` custom method to help understand what token clojure-lsp is returning, maybe you can try that. Example of that:
[code]

[2021-07-11 19:51] bpringe opened #472 "clojure/serverInfo/raw command is returning no result"
**Describe the bug**
When using the new `clojure/serverInfo/raw` command, no result is returned.

**To Reproduce**
Steps to reproduce the behavior:

1. Call the `clojure/serverInfo/raw` command once the clojure-lsp server is running
2. See that no result is returned.

**Expected behavior**
I expect for server info to be returned in the command response.

<details>
 <summary><b>clojure-lsp output</

[2021-07-11 19:52] bpringe commented on #472
Sorry, I think I incorrectly created this as an API issue.

[2021-07-11 19:53] bpringe commented on #472
CC @pratik97

[2021-07-11 19:58] ericdallo commented on #472
Probably some missing Graalvm config, let me check

[2021-07-11 20:32] ericdallo commented on #472
@bpringe actually everything seems to be working even with graalvm binary, just to make clear, this is a new custom LSP method, not a new command, the request log should be something like:
[code]
and not:
[code]

[2021-07-11 20:36] ericdallo commented on #472
I just saw you log output, yeah, the call is incorrect indeed 😅

[2021-07-11 20:37] bpringe commented on #472
Thanks! I think I can make it work.

[2021-07-11 20:38] bpringe commented on #472
I'll close this and reopen if there's an issue.

[2021-07-11 20:38] #472 closed

[2021-07-12 15:09] NoahTheDuke opened #473 "Extra line breaks in documentation hover"
**Describe the bug**
When showing the documentation of a given function, each line is padded with blank lines.

**To Reproduce**
Press your editors key combo or hover over any function.

**Expected behavior**
Show the same info, just squished together more.

**Screenshots**
Using clojure-lsp:
<img width="733" alt="Screen Shot 2021-07-12 at 10 56 56 AM" src="https://user-images.githubusercontent.co

[2021-07-12 15:10] NoahTheDuke commented on #473
Seems like it's happening here:

https://github.com/clojure-lsp/clojure-lsp/blob/dd2d3082a08022a3d5a2ca8896de031dc08c2a94/src/clojure_lsp/feature/hover.clj#L58-L61

[2021-07-12 15:19] oconnor0 commented on #467
https://github.com/clojure-lsp/clojure-lsp/commit/510f964dc2a63effc6640efc3b841bf154406f48#diff-8231bfc49f0fa86ecfc60d11fed711dd0168ec5e57da0a04873bcd36adfb989cR55 looks like a typo (the # is inside the quotes). I am seeing the paths in the response markdown as `C:#\\src#\\path#\\to#\\file.clj`, but the links work now.

[2021-07-12 15:22] ericdallo commented on #467
yes, it's a typo 🤦🏻

[2021-07-12 15:34] andreyorst opened #474 "Empty XDG_CONFIG_HOME should default to "$HOME/.config""
Not all GNU/Linux distributives set the `XDG_CONFIG_HOME` variable to some value. For example Fedora doesn't. [According to XDG spec](https://specifications.freedesktop.org/basedir-spec/latest/ar01s03.html):

Right now, `clojure-lsp` is checking if variable is set, and if it is not it defaults to `$HOME/.lsp`:

https://github.com/clojure-lsp/clojure-lsp/blob/dd2d3082a08022a3d5a2ca8896de031dc08c2a9

[2021-07-12 18:56] #474 closed

[2021-07-12 19:13] andreyorst commented on #474
@ericdallo sorry for bumping recently closed thread, but I forgot to ask why `.lsp` directory name is used, and not `.clojure_lsp`/`.clojure-lsp`?

`.lsp` feels very generic, for a configuration specific to clojure, and storing hidden directory under `$HOME/.config/` is quite not a standard. Usually users expect `$HOME/.config/programname/` or `$HOME/.programname/` (or `$HOME/.programname.d`) styl

[2021-07-12 19:17] ericdallo commented on #474
`.lsp` was defined long ago when the project started, I agree `clojure-lsp` would be a better name, but changing that right now would be a bad breaking-change, maybe we could add support for `$HOME/.config/lsp` instead of `$HOME/.config/.lsp`, WDYT?

[2021-07-12 19:26] andreyorst commented on #474
Now that the path construction for home and for XDG case are separate we can do that, I guess.

But could we, potentially, gradually move from `.lsp` under several releases by deprecating `.lsp` in favor of `$HOME/.clojure-lsp` and `$HOME/.config/clojure-lsp`? Maybe displaying a warning in the server logs

[2021-07-12 19:31] ericdallo commented on #474
It sounds the best approach indeed, we would need to change every reference on the docs as well, feel free to open an PR :)
A warning on server log looks good too.

[2021-07-12 19:37] andreyorst commented on #474
I'll start with the issue :)

[2021-07-12 19:50] andreyorst opened #476 "Rename configuration directory to reference project's name"
Right now `clojure-lsp` uses `.lsp` directory for storing server configuration file. This has several problems:

1. `.lsp` is overly-generic name, other language servers may use it.
2. `~/.lsp` and `~/.config/.lsp` doesn't tell what exactly is being configured - is it a general settings for all language servers or config for a particular client, or a server config, and if so what server?
3. `~/.co

[2021-07-12 19:54] ericdallo commented on #476
Just linking my opinion on this [here](https://github.com/clojure-lsp/clojure-lsp/issues/474#issuecomment-878530175).

TLDR: agree with all points proposed, so we should keep the old .lsp for a while displaying a warning message on server log.

c/c @snoe if see any issues with this approach.

[2021-07-12 19:58] NoahTheDuke commented on #473
Seems that this is a facet of how coc.nvim handles returned markdown from all LSPs, so this has nothing to do with clojure-lsp.

[2021-07-12 19:58] #473 closed

[2021-07-12 20:00] ericdallo commented on #473
Closing as it seems to be a issue on client side: https://clojurians.slack.com/archives/CPABC1H61/p1626102656361200

[2021-07-13 03:05] tuh8888 opened #477 "Not finding documentation using textDocument/hover"
**Describe the bug**
In Emacs, using `lsp-describe-thing-at-point` on a clojure fn, such as `map` or `filter` returns markdown only containing the source location and the function name.

**To Reproduce**
Steps to reproduce the behavior:
1. Open clojure file
2. Navigate to a symbol representing a function such as `map`.
3. Type `M-x lsp-describe-thing-at-point`
4. A help buffer pops with the minima

[2021-07-13 12:44] ericdallo commented on #477
I can't repro the issue:
![image](https://user-images.githubusercontent.com/7820865/125453431-1a1fcddc-2daa-4763-8e00-91596300d6fd.png)

@tuh8888, this usually happens when server didn't scan the project properly.
1. make sure you have the project root configured properly, check it with `lsp-workspace-folders-remove` and then `lsp` again.
2. make sure servers analyze the classpath properly, check

[2021-07-14 12:49] ericdallo opened #481 "Suppress diagnostics with `#_:linter/ignore` comment"
**Is your feature request related to a problem? Please describe.**
It'd be good to suppress clojure-lsp linters (ATM unused-public-var only) via comment code just like clj-kondo does.
We could use a standard like `#_:linter/ignore` where clj-kondo could support that as well and make that simpler for users.

**Describe the solution you'd like**
A global ignore linter for the next form which has a `

[2021-07-15 15:44] ericdallo commented on #467
Fixed the typo on master @oconnor0

[2021-07-17 14:52] sittim opened #484 "Project analysis in loop during startup"
When running `clojure-lsp` command on a repo such as [fulcro-template](https://github.com/fulcrologic/fulcro-template), the project analysis gets stuck.  The output is the following:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Clone project https://github.com/fulcrologic/fulcro-template
2. Run clojure-lsp clean-ns --verbose
3. See error

**Expected behavior**
Analysis should be

[2021-07-17 14:57] ericdallo commented on #484
@sittim the message probably could be improved but this is expected to happen every new time you run clojure-lsp in a project that doesn't has the .lsp/sqlite.db yet.
Does that message happens on the next try after the analysis is done for the first time?

[2021-07-17 14:59] ericdallo commented on #484
I confirmed this happens only the first time clojure-lsp runs which is expected, next time works without that error. I'll improve the message to avoid confusion like this

[2021-07-17 15:25] sittim commented on #484
@ericdallo, for some reason, it never completes analysis.  I wonder if it got into an infinite loop.  It ran for 15 or so minutes and than something killed it:

[code]

[2021-07-17 15:27] ericdallo commented on #484
15 minutes is to much, for me it worked in less than 30s. It seems that it's not completing the clj-kondo analysis, could you try to remove a `.clj-kondo` folder in your project if any.

[2021-07-17 15:30] sittim commented on #484
I tried it, did not help.  Did you run it on the repo I provided?

[2021-07-17 15:31] ericdallo commented on #484
Yes, this is the output running from your project:
[code]

[2021-07-17 15:33] ericdallo commented on #484
Could you try with the non graalvm binary?
the `clojure-lsp` one from [here](https://github.com/clojure-lsp/clojure-lsp/releases/tag/2021.07.12-12.30.59)

[2021-07-17 15:39] sittim commented on #484
[code]

Same thing, does not finish the analysis.  What is strange is it works fine on a clean repo I start using `clj-new`

[2021-07-17 15:43] ericdallo commented on #484
Yeah, that's new to me, no exception is thrown, what is the output of `clojure -A:dev -Spath` ? I'm also working on improve error handling for the classpath lookup command on clojure-lsp, I'm suspecting it's ignoring if that command is returning an error.